<div data-type="closer" class="infobox__close">
    <i class="fa-times"></i>
</div>
<div class="soft-half">
    <p class="flush">
      <strong>{{name}} : </strong>
      <br>
      {{address}}
    </p>
</div>
