= side_menu_currently_at 'website'

= render partial: 'pro/structures/website_parameters/tabs', locals: { current: 'pages' }

%h1 Ajouter un article à la page « #{@website_page.title} »
= render 'form'
