= side_menu_currently_at 'activity'

.panel
  = render partial: 'pro/shared/activity_tabs', locals: { current: params[:info] ? 'info_messages' : 'all_messages' }

  .panel__body.soft
    - @conversations.each do |conversation|
      - structure = conversation.recipients.select{|r| r.is_a? Admin}.first.structure
      = link_to pro_structure_conversation_path(structure, conversation), class: 'muted-link' do
        = render partial: 'conversations/conversation', locals: { conversation: conversation }
