<button class="btn v-middle" data-toggle="collapse" data-target="#advanced-filters">
    <i class="fa fa-filter soft-half--right"></i>FILTRES
</button>

{{#each breadcrumbs}}
  <span class="lbl v-middle pointer" data-trigger="clear" data-target="{{target}}">
    <i class="fa fa-times soft-half--right"></i>{{name}}
  </span>
{{/each}}
