<button class="one-eigth btn" data-toggle="collapse" data-target="#advanced-filters">
    <i class="fa fa-filter soft-half--right"></i>FILTRES
</button>

<button class="one-eigth btn" data-trigger="clear" data-target="level" data-value="0">
    <i class="fa fa-times soft-half--right"></i>Tous niveaux
</button>

<button class="one-eigth btn" data-trigger="clear" data-target="level" data-value="1">
    <i class="fa fa-times soft-half--right"></i>Débutant
</button>

