<a class="v-middle palm-one-whole push-half--right" data-toggle="collapse" data-target="#advanced-filters" data-behavior="scroll-to" href="#subjects-filter-view" data-bubble="true" data-wrapper=".filtered-search__list-wrapper">
    <i class="fa fa-filter soft-half--right"></i>Plus de critères
</a>

{{#each breadcrumbs}}
  <span class="lbl v-middle pointer" data-type="clear" data-target="{{target}}" {{#if title}} data-behavior="tooltip" title="{{ title }}" data-placement="bottom"{{/if}}>
    <i class="fa fa-times soft-half--right"></i>{{name}}
  </span>
{{/each}}
