= side_menu_currently_at "Journées Portes Ouvertes"

= render partial: 'pro/structures/open_courses/tabs', locals: { current: 'list' }

%table.table--data.white-box.table--striped
  %thead
    %tr
      %th Email
      %th S'est créé un compte
  %tbody
    - @structure.invited_users.each do |invited_user|
      %tr
        %td= invited_user.email
        %td
          - if invited_user.registered?
            %i.fa-check

