= side_menu_currently_at "Journées Portes Ouvertes"

= render partial: 'pro/structures/open_courses/tabs', locals: { current: 'invite-jpo-list' }

%h2 Invitations

%table.table--striped.table--data.white-box
  %thead
    %tr
      %th Email
      %th A vu votre invitation
  %tbody
    - @invited_users.each do |invited_user|
      %tr
        %td= invited_user.email
        %td
          - if invited_user.registered?
            %i.fa.fa-check

