- stick    = false unless stick.present?
- expanded = false unless expanded.present?
- medium   = false if medium.nil?
%header.header.print--hidden{ data: { behavior: (stick ? 'sticky' : '') } }
  .hard.flexbox
    .flexbox__item.palm-one-whole.v-middle.relative.nowrap.text--left>
      .coursavenue-header-logo-wrapper.v-middle
        = link_to '', root_url(subdomain: 'www'), class: 'v-middle coursavenue-header-logo mixpanel-tracker', title: 'CoursAvenue | Tous les cours autour de vous', data: { info: 'header' }
      - unless layout_locals[:hide_top_menu_search]
        = form_tag root_search_page_without_subject_path('paris'), class: 'inline-block v-middle push--left visuallyhidden--palm', method: :get, authenticity_token: false, data: { behavior: 'coursavenue-search' } do
          .v-middle.header-search{ data: { type: 'subjects' } }
          %input#h-search-address-lat{ type: 'hidden', name: 'lat', value: cookies[:lat] || '48.8592' }
          %input#h-search-address-lng{ type: 'hidden', name: 'lng', value: cookies[:lng] || '2.3417' }
          %input#h-search-address-city{ type: 'hidden', name: 'address_name', value: cookies[:city] || 'Paris' }
    - unless layout_locals[:hide_user_nav]
      %nav.text--right.flexbox__item.v-middle.nowrap.visuallyhidden--palm.print--hidden>
        #user-nav.inline-block.v-middle

= content_for :scripts do
  :javascript
    // ---------------- Comments slideshow
    $(function() {
        if (window.location.hash == '#connection') {
            $('#connection').click();
        }
    });
