- stick    = false unless stick.present?
- expanded = false unless expanded.present?
- medium   = false if medium.nil?
%header.header.print--hidden{ data: { behavior: (stick ? 'sticky' : '') } }
  .flexbox.palm-block
    .flexbox__item.palm-block.palm-one-whole.v-middle.relative.nowrap.text--left.palm-text--center>
      .coursavenue-header-logo-wrapper.v-middle.palm-one-whole
        = link_to '', root_url(subdomain: 'www'), class: 'v-middle coursavenue-header-logo mixpanel-tracker', title: 'CoursAvenue | Tous les cours autour de vous', data: { info: 'header' }

    .flexbox__item.palm-block.v-middle.nowrap.print--hidden.palm-text--center.text--right>
      = form_tag root_search_page_without_subject_path('paris'), class: 'inline-block v-middle', method: :get, authenticity_token: false do
        .header-search-input.inline-block.v-middle
          .relative
            %input.palm-one-whole{ name: 'discipline', type: 'search', placeholder: 'Cherchez une activité...', size: 50}
              %i.fa.fa-search.blue-green
      #user-nav.inline-block.push--left.v-middle.visuallyhidden--palm

= content_for :scripts do
  :javascript
    // ---------------- Comments slideshow
    $(function() {
        if (window.location.hash == '#connection') {
            $('#connection').click();
        }
    });
