%header.header.header--pro.palm-text--center
  .main-container.grid--full
    %h1.accessibility
      CoursAvenue
    .grid__item.one-third.v-middle.palm-one-whole>
      = link_to '', root_path, class: 'v-middle coursavenue-header-logo', title: 'Recrutez de nouveaux élèves'

    .grid__item.two-thirds.v-middle.text--right
      %ul.nav
        %li.soft--right.visuallyhidden--palm
          = link_to 'Bienvenue', root_path
        %li.soft--right.visuallyhidden--palm
          = link_to 'Fonctionnalités', pro_pages_features_path, class: (action_name == 'features' ? 'active' : '')
        %li.soft--right.visuallyhidden--palm
          = link_to 'Essayer gratuitement', inscription_pro_structures_path, class: 'btn btn--green'
