= side_menu_currently_at 'Mes paramètres'

= render partial: 'form'

- if current_pro_admin.super_admin?
  %p.text--center
    = link_to "Supprimer #{resource.name}", pro_admin_path(resource), class: 'btn btn--danger', method: 'delete'
