= menu_currently_at 'nowhere'
.text--center
  %h2
    Merci de votre inscription

  %h4.flush--bottom
    Pour valider votre identité, un email vient de vous être envoyé pour l'activation de votre compte.
  %p
    Une fois votre compte activé vous aurez accès à votre espace pro.
    %br
    %i
      Si l'email ne vous parvient pas dans les 10 minutes et n'apparaît pas dans vos courriers indésirables,
      = link_to 'contactez-nous.', pages_contact_path, target: '_blank'
