= menu_currently_at 'nowhere'
.text--center
  %h2
    Merci de votre inscription

  %h4.flush--bottom
    Pour valider votre identité, un email vient de vous être envoyé pour l'activation de votre compte.
  %h5
    Une fois votre compte activé vous aurez accès à votre espace pro.
