<div data-type="container"></div>
<div data-empty-courses class="hidden">
    <p class="flush--bottom">
        {{ capitalize about }} n'affiche pas de stage ni d'atelier.
        <a class="cursor-pointer" data-behavior="show-contact-panel" data-info-planning="true" href="#">Contactez-{{ about_genre }} pour demander son planning.</a>
    </p>
</div>
