= side_menu_currently_at 'pages'

= render partial: 'pro/shared/pages_tabs', locals: { current: 'portraits' }

.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Portrait
  .flexbox__item.v-middle.text--right
    = link_to new_pro_portrait_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Ajouter un portrait

= render 'form'
