- if @structure.subscription
  - url = change_plan_pro_structure_subscription_path(@structure, @structure.subscription, plan_id: plan.id)
  - method = :patch
- else
  - url = pro_structure_subscriptions_path(@structure, plan_id: plan.id)
  - method = :post
= link_to url, class: 'block muted-link text--center', method: method do
  .soft.rounded.bordered.bg-white.shadowed--bottom
    %h2.flush Pro +
    %h4.flush= plan.price
    %p.flush 14 jours gratuits. Sans engagement
  .btn.soft--sides.btn--green{ style: 'margin-top: -15px; margin-bottom: -15px;'} Essayer
  .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
    -# .text--center.line-height-1-5.v-middle.yellow.soft--top>
    -#   .f-weight-bold.gamma Site Internet
    -#   %div Pour présenter ses activités à tous les internautes
    .text--center.line-height-1-5.v-middle.yellow.soft-half--bottom>
      .f-weight-bold.epsilon Site web & mobile
      %div Optimisé Google
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.yellow>
      Nom de domaine & hébergement
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.yellow>
      Statistiques de trafic avancées
    %hr.push--ends
    -# .text--center.line-height-1-5.v-middle.orange.soft--top>
    -#   .f-weight-bold.gamma Visibilité
    -#   %div Pour recruter de nouveaux élèves grâce à Internet
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
      Profil CoursAvenue
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange>
      Avis & Livre d'Or
    %hr.push--ends
    .text--center.line-height-1-5.v-middle.green>
      -# .f-weight-bold.gamma Attractivité
      -# %div Pour convertir les visiteurs de votre site en inscrits
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green.soft-half--bottom>
      Page planning sur votre site Internet
      %br
      optimisée mobiles & tablettes
    .text--center.line-height-1-5.v-middle.green.soft-half--bottom>
      .epsilon.f-weight-bold Inscriptions en ligne
      %div avec ou sans paiement en ligne
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
      Bons cadeaux
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
      Statistiques de trafic
    %hr.push--ends
    -# .text--center.line-height-1-5.v-middle.dark-blue>
    -#   .f-weight-bold.gamma Fidélisation
    -#   %div Pour faire revenir plus souvent vos élèves
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
      Newsletters
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
      Multi-postage sur les réseaux sociaux
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
      Questionnaire de satisfaction
  %p.textt--center.soft--sides.epsilon
    %i
      Idéal pour tirer le meilleur d'Internet garder
      %br
      le contrôle de sa communication sur Internet
