- data                       = {}
- is_subscribed_to_this_plan = false
- if @structure and @structure.subscription and @structure.subscription.plan == plan
  - url                        = 'javascript:void(0)'
  - is_subscribed_to_this_plan = true
- if @structure
  - url  = confirm_choice_pro_structure_subscriptions_path(@structure, plan_id: plan.id)
  - data = { behavior: 'modal', width: 800, padding: 0 }
- else
  - url = inscription_pro_structures_path(plan_id: plan.id)

= link_to url, class: ['block muted-link text--center', (@structure ? 'fancybox.ajax' : '')], data: data do
  .soft.rounded.bordered.bg-white.shadowed--bottom
    %h2.flush Modules
    %h4.flush= plan.price
    %p.flush 14 jours gratuits. Sans engagement
  - if is_subscribed_to_this_plan
    .btn.soft--sides.btn--gray.btn--disabled{ style: 'margin-top: -15px; margin-bottom: -15px;'} Déjà abonné
  - else
    .btn.soft--sides.btn--green{ style: 'margin-top: -15px; margin-bottom: -15px;'}
      - if @structure and @structure.subscription
        Choisir
      - else
        Activer mes 14 jours gratuits
  .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
    .text--center.line-height-1-5.v-middle.soft-half--ends>
      .f-weight-bold.delta Annonce sur CoursAvenue
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
      Profil complet
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
      Inscriptions en ligne
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange>
      Avis & Livre d'Or
    .text--center.v-middle.soft-half--ends.push-half--top>
      .line-height-1-3.f-weight-bold.delta
        Modules à installer
        %br
        sur votre propre site Internet
    .text--center.epsilon.line-height-1-5.v-middle.green.soft-half--bottom>
      .epsilon.f-weight-bold Page planning
      %div optimisée mobiles & tablettes
    .text--center.line-height-1-5.v-middle.green.soft-half--bottom>
      .epsilon.f-weight-bold Inscriptions en ligne 24h/24
      %div avec ou sans paiement en ligne
    .text--center.epsilon.line-height-1-5.v-middle.green.soft-half--bottom>
      .epsilon.f-weight-bold Bons cadeaux
      %div pour que vos activités soient offertes
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
      Livre d'Or
    .text--center.v-middle.soft-half--ends.push-half--top>
      .line-height-1-3.f-weight-bold.delta Outils de gestion
    .text--center.epsilon.line-height-1-5.v-middle.dark-blue.soft-half--bottom>
      .epsilon.f-weight-bold Centralisation de vos inscriptions
      %div Notifications e-mail & SMS
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
      Newsletters
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
      Multi-postage sur les réseaux sociaux
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
      Statistiques de trafic
  %p.textt--center.soft--sides.epsilon
    %i
      Equipez votre site Internet des meilleurs outils pour booster vos inscriptions
