- if params[:discuss_only].present?
  - simple_form_url = discuss_pro_structure_public_participation_request_path(@structure, @participation_request)
- else
  - simple_form_url = modify_date_pro_structure_public_participation_request_path(@structure, @participation_request)

= render partial: 'admin/participation_requests/modify_date', locals: { simple_form_array: [:pro, @structure, @participation_request], simple_form_url: simple_form_url, discuss_only: params[:discuss_only], show_course_select: params[:show_course_select], new_date: params[:new_date] }
