= user_menu_currently_at 'share'

.panel
  = render partial: 'users/invited_users/tabs', locals: { current: 'list' }
  .panel__body.soft
    %h2 Invitations

    %table.table--striped.table--data
      %thead
        %tr
          %th Email
          %th S'est créé un compte
      %tbody
        - @invited_users.each do |invited_user|
          %tr
            %td= invited_user.email
            %td
              - if invited_user.registered?
                %i.fa.fa-check

