= user_menu_currently_at 'Mes cours'

.panel
  = render partial: 'users/participations/tabs', locals: { current: 'invite-jpo-list' }
  .panel__body.soft
    - if @invited_users.any?
      %h2 Invitations
      %table.table--striped.table--data
        %thead
          %tr
            %th Email
        %tbody
          - @invited_users.each do |invited_user|
            %tr
              %td= invited_user.email

    - else
      %h2.text--center Vous n'avez pas encore invité vos proches à l'événement
      .text--center
        = link_to 'Inviter mes proches', jpo_new_user_invited_users_path(current_user), class: 'btn btn--large btn--blue'
