= user_menu_currently_at 'Mes cours'

= render partial: 'users/participations/tabs', locals: { current: 'invite-jpo' }

= render template: 'users/invite_entourage_to_jpo_page'

%h4.push--top Ou alors envoyez leur un message facebook
= render 'users/participations/send_message_to_facebook_friends'
