= side_menu_currently_at "Parrainer"

= render partial: 'pro/structures/invited_teachers/tabs', locals: { current: 'list' }

%table.table--data.white-box.table--striped
  %thead
    %tr
      %th Email
      %th S'est créé un compte
  %tbody
    - @structure.invited_users.each do |invited_user|
      %tr
        %td= invited_user.email
        %td
          - if invited_user.registered?
            %i.fa.fa-check

