= side_menu_currently_at "Parrainer"

= render partial: 'pro/structures/invited_teachers/tabs', locals: { current: 'list' }

%table.table--data.white-box.table--striped
  %thead
    %tr
      %th Email
      %th S'est créé un compte
      - if current_pro_admin.super_admin?
        %th
  %tbody
    - @invited_teachers.each do |invited_teacher|
      %tr
        %td= invited_teacher.email
        %td
          - if invited_teacher.registered?
            %i.fa.fa-check
        - if current_pro_admin.super_admin?
          %td= link_to 'Supprimer', pro_structure_invited_teacher_path(@structure, invited_teacher), method: :delete, class: 'red'
