.panel
  .panel__body.soft.epsilon
    %p.line-height-1-5
      Equipez votre site Internet d'une page
      %strong "Bons cadeaux"
      et augmentez votre nombre d'inscrits :
    %ol.line-height-1-5
      %li
        Créez un bouton ou une rubrique
        %strong "Bons cadeaux"
        sur votre site Internet
      %li
        Copiez et associez le lien suivant à votre rubrique "Bons cadeaux" :
        %strong.bg-gray-light.very-soft.inline-block
          = link_to structure_website_structure_gift_certificate_vouchers_url(@structure), structure_website_structure_gift_certificate_vouchers_url(@structure), target: :_blank
      %li C'est fait ! Vous recevrez une notification à chaque achat de bon cadeau
    .grid.push--top
      .grid__item
        .text--center
          %a.btn.btn--full{ onclick: '$.fancybox.close()' } Fermer
