.panel
  .panel__body.soft.epsilon
    Equipez votre site Internet d'une page "Bons cadeaux" et augmentez votre nombre d'inscrits :
    %ol
      %li Créez un bouton ou une rubrique "Bons cadeaux" sur votre site Internet
      %li Copiez et associez le lien suivant à votre rubrique "Bons cadeaux" : www.coursavenue.com/#{@structure.slug}/bons cadeaux
      %li C'est fait ! Vous recevrez une notification à chaque achat de bon cadeau
    .grid.push--top
      .grid__item
        .text--center
          %a.btn.btn--green.btn--full{ onclick: '$.fancybox.close()' } Fermer
