.panel.center-block{ style: 'width: 700px;'}
  .panel__header.soft
    .grid
      .grid__item.one-tenth.v-middle>
        %i.fa.fa-check.fa-3x.green
      .grid__item.nine-tenths.v-middle>
        %h3.flush Demande d'inscription envoyée
  .panel__body.soft
    %p.epsilon
      Dès que #{@structure.name} valide votre réservation, un e-mail vous sera envoyé. A tout moment, consultez l'état de vos demandes d'inscription depuis votre compte,
      = link_to 'rubrique Pass Découverte.', user_participation_requests_path(current_user)
      Continuez à réserver tous les cours qui vous intéressent ! Chaque jour, nous ajoutons de nouveaux cours à notre catalogue :
    %div{ style: 'height: 20em; overflow-y: scroll; overflow-x: hidden;'}
      - PlanningSearch.search({ limit: 12, discovery_pass: true }, group: :structure_id_str).group(:structure_id_str).groups.each do |planning_group|
        - structure = planning_group.results.first.try(:structure)
        - next if @structure == structure or structure.medias.empty?
        .inline-block.one-half.very-soft.relative>
          = render partial: "structures/similar_profile", locals: { structure: structure, show_promotion: false }

