.panel.center-block{ style: 'width: 700px;'}
  .panel__header.soft
    .grid
      .grid__item.one-tenth.v-middle>
        %i.fa.fa-check.fa-3x.green
      .grid__item.nine-tenths.v-middle>
        %h3.flush Demande d'inscription envoyée
        %h5.flush Vous recevrez un message dès que #{@structure.name} valide votre inscription.
  .panel__body.soft
    %h5 Ne vous arrêtez pas et contactez d'autres profils !
    %p.epsilon
      Les élèves qui ont réservé ce cours ont également découvert :
    %div{ style: 'height: 20em; overflow-y: scroll; overflow-x: hidden;'}
      - PlanningSearch.search({ limit: 12, discovery_pass: true }, group: :structure_id_str).group(:structure_id_str).groups.each do |planning_group|
        - structure = planning_group.results.first.try(:structure)
        - next if @structure == structure or structure.medias.empty?
        .inline-block.one-half.very-soft.relative>
          = render partial: "structures/similar_profile", locals: { structure: structure, show_promotion: false }
    %p.epsilon.text--center.push--top.flush--bottom
      = link_to 'Revenir au moteur de recherche', discovery_pass_search_structures_path, class: 'btn btn--green'
