.main-container
  .grid
    .grid__item.one-third.text--center>
      .soft-half--bottom
        %i.fa.fa-star-o.fa-5x
      %h4 Qualité

      %p Les cours disponibles à la réservation ont fait l'objet d'une sélection par l'équipe CoursAvenue. Les 10 000 avis de nos clients collectés par avis-verifies.com vous permettent également d'être guidés vers les séances les plus appréciées de notre communauté. Ainsi, votre Pass vous guide vers les meilleures activités.
    .grid__item.one-third.text--center>
      .soft-half--bottom
        %i.fa.fa-eur.fa-5x
      - if params[:gift].present?
        %h4 Cadeau idéal

        %p A l'issue de ses séances d'essai, dès qu'un cours lui convient, le bénéficiaire du Pass déduira du prix de l'abonnement souscrit auprès du professeur la valeur du Pass, soit 100€. Par exemple, un abonnement trimestriel à 250€ ne lui reviendra qu'à 150€ seulement.
      - else
        %h4 Économique

        %p Si à l'issue de vos séances d'essai un cours vous convient, abonnez-vous directement auprès du professeur qui déduira la valeur de votre Pass, soit 100€. Par exemple, vous paierez 100€ pour un abonnement trimestriel à 200€ : comme votre Pass vous a coûté 70€, vous économisez 30€. Si rien ne vous plaît, nous vous remboursons.
    .grid__item.one-third.text--center>
      .soft-half--bottom
        %i.fa.fa-bolt.fa-5x
      %h4 Efficacité

      %p Grâce au Pass CoursAvenue, trouver un cours de qualité n'a jamais été aussi simple, l'inscription en ligne vous fait gagner beaucoup de temps, et votre satisfaction est garantie : nous vous remboursons si aucun cours ne vous convient, sinon vous gagnez 30€ sur votre 1er abonnement. A ce jour, 46 893 élèves nous ont fait confiance et ont trouvé leur passion !


%footer.main-footer.soft.white
  .main-container
    .text--center
      = image_tag 'logos/logo_white@2x.png', height: 25, class: 'muted center-block push--ends'
      %p.push--bottom.epsilon
        %strong Rejoignez-nous sur
      %p
        = link_to 'https://www.facebook.com/CoursAvenue', target: :_blank, rel: :nofollow, class: 'push--right' do
          %i.fa.fa-2x.fa-facebook
        = link_to 'http://twitter.com/CoursAvenue', target: :_blank, rel: :nofollow, class: 'push--right' do
          %i.fa-2x.fa-twitter
        = link_to 'https://instagram.com/coursavenue', target: :_blank, rel: :nofollow do
          %i.fa-2x.fa-instagram
      %p.push-half--bottom.gray-very-light.epsilon
        © CoursAvenue 2015
