- is_xhr = false if is_xhr.nil?
- if @is_sleeping and @structure.phone_numbers.any?
  .push--bottom#contact-panel
    = link_to 'javascript:void(0);', data: { behavior: 'toggleable', el: '.phone_number' }, class: 'btn btn--green btn--full' do
      %i.fa.fa-phone.v-middle
      %span.v-middle Contacter
    .phone_number.hidden
      .white-box.soft.text--center
        - @structure.phone_numbers.map{ |phone_number| readable_phone_number(phone_number.number) }.uniq.each_with_index do |formatted_phone_number, index|
          - if index > 0
            %br
          %strong.epsilon.v-middle{ itemprop: "telephone" }=formatted_phone_number
          - if @structure.premium?
            %i.soft-half--left.v-middle.fa.fa-check-circle.green
            %i.v-middle.green.milli vérifié
- elsif !@is_sleeping
  .push--bottom{ data: { type: 'contact-form' } }
