.grid.push-half--bottom#medias
  - medias[0..3].each_with_index do |media, index|
    .grid__item.relative.one-quarter{ class: ((index == 1 or index == 2) ? 'visuallyhidden--palm' : 'palm-one-half') }>
      - if index == 3 and medias.length > 4
        %a.relative.media-photo.rounded.soft-black-box-shadow.muted-link.text--center.block.bg-cover{ href: media.url, rel: 'slideshow', style: "height: 100px; background-image: url('#{media.image.url(:thumbnail_blurry)}')", data: { behavior: "fancy" } }
          .black-curtain.north.west.one-whole.absolute
          .white.smooth-black-text-shadow.relative
            %i.fa.fa-camera.fa-2x.white.soft--top.push-half--top.smooth-black-text-shadow
            %br
            %strong.block.epsilon.very-soft Tout voir (#{medias.count})
      - else
        %a.media-photo.rounded.soft-black-box-shadow.muted-link.text--center.block.bg-cover{ href: media.url, rel: 'slideshow', style: "height: 100px; background-image: url('#{media.thumbnail_url}')", data: { behavior: "fancy" } }
          - if media.video?
            %i.fa-youtube-play.fa-3x.white.soft--top.push-half--top.smooth-black-text-shadow.inline-block

  - if medias.length > 4
    - medias[4..-1].each do |media|
      %a.muted-link.text--center.block.bg-cover{ href: media.url, rel: 'slideshow', data: { behavior: "fancy" } }
