.gray-box.push--bottom
  .rslides-wrapper.rslides--big#media-grid{ style: 'height: 420px;'}>
    %ul.galery-rslides.hidden>
      %li
        %div{ data: { type: "google-maps" }}>
      - medias[0..20].each_with_index do |media, index|
        %li
          %a.rslides_nav.rslides_nav--icon{rel: 'slideshow', href: media.url, class: (media.video? ? 'visible' : ''), data: {behavior: "fancy"}}
            - if media.video?
              %i.fa.fa-youtube-play
            - else
              %i.fa.fa-eye
          .one-whole.media__item.media__item--slides>
            %a.block.break-all{href: media.url, title: media.caption, data: {behavior: "fancy"}}
              = media.thumbnail_url_html
              %i.fa.fa-expand
  -# .grid--full
  -#   .grid__item{class: medias.any? ? 'one-half' : 'one-whole'}>
  -#     %div{ data: { type: 'places-collection' }}
  -#   - if medias.any?
  -#     .grid__item.one-half>
  -#       .text--center
  -#         %a.very-soft.block.f-weight-bold#show-gallery{href: 'javascript:void(0)'} Voir la galerie (#{medias.count})


  -# - if medias.any?
  -#   #gallery.hidden
  -#     .media-gallery>
  -#       = render partial: 'medias/media', collection: medias[1..medias.length], locals: { lazy: true }

= content_for :scripts do
  :javascript
    $(function() {
        // Start slideshow
        // Removing images and adding the image url to background image in order to have the image being covered
        $('.galery-rslides img').each(function(){
            var $this = $(this);
            $this.closest('.media__item').hide();
            $this.closest('li').css('background-image', 'url(' + $this.attr('src') + ')')
        });
        $(".galery-rslides").responsiveSlides({
            auto: false,
            nav: true,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
        });
        // Set the height of the slides
        var media_height = $('#media-grid').height();
        $('.galery-rslides li').css('height', media_height);
        $('.galery-rslides').removeClass('hidden');
        // End slideshow
        var gallery_is_hidden   = true;
        $('#show-gallery').click(function() {
            $(".media__item img").trigger('gallery:show');
            if (gallery_is_hidden) {
                $(this).text('Cacher la galerie');
            } else {
                $(this).text('Voir la galerie');
            }
            gallery_is_hidden = !gallery_is_hidden;
            $('#gallery').slideToggle();
        });
        $('[href=#tab-medias]').click(function(){
            if ($('.media-gallery').length > 0) {
                $('#show-gallery').click();
            }
        });
        $("#gallery .media__item img").lazyload({
            effect : "fadeIn",
            event: 'gallery:show',
            skip_invisible: true,
            load: function(elements_left, settings) {
                if (elements_left == 0) {
                   $('#gallery .media-gallery').masonry({ itemSelector: '.media__item' });
                }
            }
        });
    });
