- without_map = false if without_map.nil?
.gray-box.push--bottom.relative
  .rslides-wrapper.rslides--big#media-grid{ style: 'height: 500px;'}>
    %ul.galery-rslides.hidden>
      - unless without_map
        %li
          %div{ data: { type: "google-maps" } }>
      - medias.each_with_index do |media, index|
        %li.relative.bg-contain
          %a.rslides_nav.rslides_nav--icon{ rel: 'slideshow', href: media.url, class: (media.video? ? 'visible' : ''), data: { behavior: "fancy" } }
            - if media.video?
              %i.fa.fa-youtube-play
            - else
              %i.fa.fa-eye
          .one-whole.media__item.media__item--slides>
            %a.block.break-all{ href: media.url, title: media.caption, data: { behavior: "fancy" } }
              = media.thumbnail_url_html
              %i.fa.fa-expand
          - if media.caption.present?
            %p.one-whole.absolute.south.soft-half.flush.white.media-caption.f-weight-bold= media.caption
  .thumbnails-container.relative
    %a.thumbnails-container__nav.prev.pointer{ data: { 'slide-prev' => true } }
      %i.delta.fa-chevron-left.v-middle.gray-light
    .thumbnails-viewport.relative
      %ul.nav.rslides__custom-pager.push-half--bottom.slideshow-thumbnails.thumbnails-slide-panel#galery-controls-thumb
        - unless without_map
          %li.rslides-thumbnail
            %a.pointer.media-photo.media-slideshow#map-thumbnail
              = image_tag 'icons/google-maps-thumb.jpg', height: 70, width: 70
        - medias.each do |media|
          %li.rslides-thumbnail
            %a.pointer.media-photo
              %img{ src: media.thumbnail_url, height: 70, width: 70}
    %a.thumbnails-container__nav.next.pointer{ data: { 'slide-next' => true } }
      %i.delta.fa-chevron-right.v-middle.gray-light
  %a.absolute.north.east.push--right.push--top.on-under-top.heart-link{ href: '#', data: { behavior: 'add-to-favorite', toggle: 'tooltip', added_title: 'Retirer de mes favoris', not_added_title: 'Ajouter à mes favoris', placement: 'left' } }
    %i.fa.fa-heart-o.fa-4x

= content_for :scripts do
  :javascript
    $(function() {
        // Start slideshow
        // Removing images and adding the image url to background image in order to have the image being covered
        $('.galery-rslides img').each(function(){
            var $this = $(this);
            $this.closest('.media__item').hide();
            $this.closest('li').css('background-image', 'url(' + $this.attr('src') + ')')
        });
        $galery_controls_thumb = $('#galery-controls-thumb');
        $('.thumbnails-container [data-slide-prev]').click(function() { $('.rslides_nav.prev').click(); });
        $('.thumbnails-container [data-slide-next]').click(function() { $('.rslides_nav.next').click(); });
        $(".galery-rslides").responsiveSlides({
            auto: false,
            nav: true,
            prevText: '<i class="fa-2x fa-chevron-left soft-black-text-shadow"></i>',
            nextText: '<i class="fa-2x fa-chevron-right soft-black-text-shadow"></i>',
            manualControls: '#galery-controls-thumb',
            before: function(currentlySelectedIndex) {
                //------
                // Code that move the selected thumb
                //------
                var $galery_controls_thumb_parent = $galery_controls_thumb.parent(),
                    parent_width                  = $galery_controls_thumb_parent.width(),
                    thumb_width                   = $('#galery-controls-thumb .rslides_here').width(),
                    li_nb                         = $('#galery-controls-thumb li').length,
                    last_li_right_offset          = - ($('#galery-controls-thumb li').last()[0].offsetLeft + thumb_width),
                    new_left_position, absolute_left_offset, absolute_right_offset, left_parent_offset, right_parent_offset, relative_right_offset;
                    // parent_offset_left            = $galery_controls_thumb_parent.offset().left;
                currentlySelectedIndex = (currentlySelectedIndex === -1 ? (li_nb - 1) : currentlySelectedIndex)
                // I take the offset from the parent from the right of the thumbnail, that's why I add the width
                // Using offsetLeft to have the offset relative to the parent
                absolute_left_offset  = $($('#galery-controls-thumb li')[currentlySelectedIndex % li_nb]).offset().left;
                absolute_right_offset = absolute_left_offset + thumb_width;
                left_parent_offset    = $galery_controls_thumb_parent.offset().left;
                right_parent_offset   = left_parent_offset + parent_width;
                relative_right_offset = $('#galery-controls-thumb li')[currentlySelectedIndex % li_nb].offsetLeft + thumb_width;
                // Too much in the right
                if (absolute_right_offset > right_parent_offset) {
                    new_left_position =  - (relative_right_offset - parent_width);
                    // Don't add half a thumb width if it's the last element, because we don't want to show white space
                    if (currentlySelectedIndex < (li_nb - 1)) { new_left_position = new_left_position - (thumb_width / 2)}
                    // new_left_position = (new_left_position < last_li_right_offset ? last_li_right_offset : new_left_position);
                    $galery_controls_thumb.css('left', new_left_position);
                } else if (absolute_left_offset < left_parent_offset) {
                    new_left_position =  - relative_right_offset + 1.5 * thumb_width
                    new_left_position = (new_left_position > 0 ? 0 : new_left_position);
                    $galery_controls_thumb.css('left', new_left_position);
                }
            }
        });
        if ($('.rslides__custom-pager li a').length > 1) { $('.rslides__custom-pager li a')[1].click(); }
        // Set the height of the slides
        var media_height = $('#media-grid').height();
        $('.galery-rslides li').css('height', media_height);
        $('.galery-rslides').removeClass('hidden');
        // End slideshow
    });
