- dont_register = false if dont_register.nil?
- index = 0
- @structure.courses.trainings.each_with_index do |training|
  - next if training.plannings.future.count == 0
  - if index == 0
    %h2.soft--sides#stages-ateliers Stages

  = react_component('Course', { show_course_info: true, dont_register: dont_register, show_location: true, structure_id: @structure.id, course_id: training.id }, { prerender: false })

- index = 0
- @structure.courses.lessons.each_with_index do |lesson|
  - next if lesson.plannings.future.count == 0
  - if index == 0
    %h2.soft--sides#cours-collectifs Cours collectifs

  = react_component('Course', { show_course_info: true, dont_register: dont_register, show_location: true, structure_id: @structure.id, course_id: lesson.id }, { prerender: false })

- index = 0
- @structure.courses.privates.each_with_index do |private|
  - next if private.plannings.future.count == 0
  - if index == 0
    %h2.soft--sides#cours-particuliers Cours particuliers

  = react_component('Course', { show_course_info: true, dont_register: dont_register, show_location: true, structure_id: @structure.id, course_id: private.id }, { prerender: false })

