.white-box.text--center.soft#welcome-popup.hidden
  %h1 #{@subject.name} : vous souhaitez vous lancer ?
  %p.epsilon.line-height-1-3
    Vous avez bien raison :-) Pour réserver une séance d'essai auprès de #{@structure.name}, obtenez votre Pass #{pass_name} à 70€ d’une valeur de 100€ : si le cours vous convient, votre professeur déduira 100€ du prix de votre 1er abonnement et vous économisez ainsi 30€. Si vous ne trouvez rien, essayez 2679 autres séances à Paris ou faites-vous rembourser. Ainsi, vous ne prenez aucun risque et votre satisfaction est garantie.

= content_for :scripts do
  :javascript
    $(function() {
        $.fancybox.open($('#welcome-popup'), { padding: 0, width: 600, maxWidth: 600 });
    });
