- structure_decorator = @structure.decorate
.push--bottom.bg-white.bordered.soft
  .gamma.line-height-1-7
    %strong  S'agit-il de votre établissement ?
  %p Prenez gratuitement le contrôle de votre profil CoursAvenue pour :
  %ul
    %li Mettre immédiatement à jour vos informations et votre planning de cours
    %li Remonter dans les résultats de recherche et recruter plus d'élèves
    %li Afficher les recommandations de vos élèves pour votre bouche à oreille
    %li Suivre le nombre de personnes qui consultent votre profil
  %div
    = link_to 'Mettre à jour cette page', new_pro_admin_structure_registration_url(@structure, subdomain: 'pro'), class: 'btn btn--white'
