.panel.push--bottom
  .panel__header.soft-half--ends.soft--left
    .epsilon.f-weight-bold
      Cet établissement n'a pas encore activé son profil
  .panel__body.soft
    - if @structure.sleeping_logo.present?
      .media-photo.float--right.push--left= image_tag @structure.sleeping_logo.url(:thumb), class: 'block', height: 200, width: 200
    .gamma.f-weight-bold S'agit-il de votre profil ?
    %p Prenez gratuitement le contrôle de votre profil CoursAvenue pour :
    %ul
      %li Mettre immédiatement à jour vos informations et votre planning de cours
      %li Remonter dans les résultats de recherche et recruter plus d'élèves
      %li Afficher les recommandations de vos élèves pour votre bouche à oreille
      %li Suivre le nombre de personnes qui consultent votre profil
    %div
      = link_to 'Gérer ce profil', new_pro_admin_structure_registration_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--orange'

.panel.push--bottom
  .panel__header.soft-half--ends.soft--sides
    %h5.flush Bons plans & suggestions
  .panel__body.soft
    - similars = StructureSearch.search({lat: (params[:lat] || @structure.latitude), lng: (params[:lng] || @structure.longitude), without_id: @structure.id, radius: 10, sort: 'premium', has_logo: true,per_page: 6, subject_id: @structure.subjects.roots, medias_count: 1}).results
    - similars += StructureSearch.search({lat: (params[:lat] || @structure.latitude), lng: (params[:lng] || @structure.longitude), without_id: @structure.id, radius: 100, sort: 'premium', has_logo: true,per_page: 6, medias_count: 1}).results if similars.length < 6
    - similars.each do |structure|
      - next if structure.medias.cover_first.first.nil?
      .inline-block.one-half.very-soft.relative>
        - cache ['sleeping_content', structure] do
          = render partial: "structures/similar_profile", locals: { structure: structure }
