#structure-profile-menu.visuallyhidden--palm.one-whole.west.fixed.on-top-of-the-world{ style: 'top: -100px;', data: { behavior: 'header-stick-on-scroll' } }
  - cache [@structure, 'structure/show/sticker_header'] do
    .bg-dark-gray
      .main-container.soft--sides
        .top-page-menu
          - unless @is_sleeping
            .flexbox__item
              %ul.nav.flush.v-middle.inline-block
                %li.soft-half
                  %a.link-not-outlined.muted-link.white{ href: '#presentation', data: { behavior: 'scroll-to', offset_top: '-55' } } Présentation
                - if @structure.plannings.trainings_future.any?
                  %li.soft-half
                    %a.link-not-outlined.muted-link.white{ href: '#stages-ateliers', data: { behavior: 'scroll-to', offset_top: '-55' } } Stages & ateliers
                - if @structure.courses.lessons.any?
                  %li.soft-half
                    %a.link-not-outlined.muted-link.white{ href: '#cours-collectifs', data: { behavior: 'scroll-to', offset_top: '-55' } } Cours réguliers
                - if @structure.courses.privates.any?
                  %li.soft-half
                    %a.link-not-outlined.muted-link.white{ href: '#cours-particuliers', data: { behavior: 'scroll-to', offset_top: '-55' } } Cours particuliers
                %li.soft-half
                  %a.link-not-outlined.muted-link.white{ href: '#messages-publics', data: { behavior: 'scroll-to', offset_top: '-50' } } Messages publics
                %li.soft-half
                  %a.link-not-outlined.muted-link.white{ href: '#avis', data: { behavior: 'scroll-to' } } Avis

= content_for :scripts do
  :javascript
      $(function() {
          $('body').addClass('relative').scrollspy({ target: '#structure-profile-menu .top-page-menu', offset: 85 })
      });
