= content_for :right_after_head do
  %meta{ name: 'robots', content: 'noindex,follow' }

= render partial: 'structures/checkout_header', locals: { current: 4 }

.text--center.soft--ends
  %h1 Félicitation, votre demande a été envoyée.

  = link_to 'Voir mon inscription', user_participation_request_path(@participation_request.user, @participation_request), class: 'btn btn--green'

- if cookies[:test] == '100_dolls_pass'
  :javascript
    var test_name = "TEST PASS"
- else
  :javascript
    var test_name = "TEST 1"

= content_for :scripts do
  :javascript
    $(function() {
        mixpanel.track(test_name + " | Success", { });
    });
