%ul.tabs.push--bottom
  %li{class: (current == 'courses' ? 'active' : '')}
    = link_to pro_structure_course_opens_path(@structure) do
      %i.fa.fa-list
      Mes ateliers
  %li{class: (current == 'new' ? 'active' : '')}
    = link_to new_pro_structure_invited_student_path(@structure) do
      %i.fa.fa-bullhorn
      Solliciter mes élèves
  %li{class: (current == 'list' ? 'active' : '')}
    = link_to pro_structure_invited_students_path(@structure) do
      %i.fa.fa-group
      Suivi des invitations
