%ul.tabs.push--bottom
  %li{class: (current == 'courses' ? 'active' : '')}
    = link_to pro_structure_course_opens_path(@structure) do
      %i.fa.fa-list
      Mes ateliers
  %li{class: (current == 'new' ? 'active' : '')}
    = link_to invite_students_pro_structure_path(@structure) do
      %i.fa.fa-bullhorn
      Solliciter mes élèves
