= side_menu_currently_at 'Journées Portes Ouvertes'

= render partial: 'pro/structures/open_courses/tabs', locals: { current: 'ca-communication' }

.white-box.soft
  %p
    Chaque jour, toute l'équipe de CoursAvenue est mobilisée pour que cet événement soit une réussite pour tous. Pour attirer un maximum de personnes à vos ateliers, nous avons dépensé de larges montants. Voici la liste (non exhaustive) de nos actions :

  %ul
    %li
      %strong Relations Presse :
      2 attachées de presse sont mobilisées pendant le mois de mars pour relayer l'information auprès de la presse écrite, radio, TV, et blogs. Nous savons déjà que des grands quotidients vont parler de vous ! Cependant, la majorité des articles seront publiés pendant les 7 jours précédents l'événément.

    %li
      %strong Affiches et flyers :
      à partir du 15 mars, 1 000 affiches seront déposées chez les commerçants indépendants de Paris, et 20 000 flyers seront distribués à la sortie des métros en semaine, et dans les parcs le week-end.

    %li
      %strong Réseaux sociaux :
      nous relayons l'information auprès de notre réseau Facebook et Twitter. Nous allons payer des campagnes de publicité sur Facebook.

  %p
    Mais la réussite de l'événement tient aussi de vous : relayez l'information et communiquez !
  .text--center
    = link_to 'Communiquer sur mes Portes Ouvertes', communicate_pro_structure_course_opens_path(@structure), class: 'btn btn--blue'
