= side_menu_currently_at 'premium'

= render partial: 'pro/structures/subscriptions/tabs', locals: { current: 'invoices' }

%h1 Mes factures

%p
  Cette partie est en cours de réalisation. On a bientôt fini, promis !
