{{#if structure.is_sleeping}}
  {{#if structure.phone_numbers}}
    {{#if structure.phone_numbers}}
    <a href="javascript:void(0)" class="btn btn--green btn--full" data-behavior="show-phone-numbers">
        <i class="fa fa-phone v-middle"></i>
        <span class="v-middle">Contacter</span>
    </a>
    <div class="phone_number hidden white-box">
        <div class="soft text--center">
            {{#each structure.phone_numbers}}
                {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
            {{/each}}
        </div>
    </div>
    {{/if}}
  {{/if}}
{{else}}
<div class="panel__header soft-half--ends soft--sides">
    <div class="flexbox">
      <div class="flexbox__item v-middle">
          <h4 class="flush">Demande d'inscription</h5>
      </div>
      <div class="flexbox__item v-middle text--right green f-weight-bold delta" data-pr-total>
      </div>
    </div>
</div>
<div class="panel__body soft--bottom">
    <article id="structure-request-form-wrapper">
        <form action="{{participation_request.url}}">
            <div data-element="first-step-form-wrapper">
                <div class="push-half--bottom" data-type="participation-request-form-content"></div>
                <div class="push-half--bottom" data-type="participation-request-participants"></div>
                {{#if in_two_steps}}
                  <div class="soft--sides">
                      <a data-behavior="show-second-step-form" class="btn btn--green btn--full">
                          Valider
                      </a>
                  </div>
                {{/if}}
            </div>
            <div data-element="second-step-form-wrapper" {{#if in_two_steps}}class="hidden"{{/if}}>
                {{#if in_two_steps}}
                  <div class="soft--sides soft-half--top push-half--bottom">
                    <div class="soft-half--bottom"><a href="#" data-behavior="show-first-step-form">← Changer les informations</a></div>
                    <div class="epsilon f-weight-500">
                        Envoyez un message personnalisé avec votre inscription
                    </div>
                  </div>
                {{/if}}
                <div class="push-half--bottom soft--sides">
                    <div class="input-addon">
                        <div class="input-prefix">
                            <i class="fa-user"></i>
                        </div>
                        <input type="text" class="input--large one-whole hard--right" name='user[name]' type='text' placeholder='Votre Prénom Nom' value="{{#if user.name}}{{ user.name }}{{/if}}">
                    </div>

                    <div data-error="user_name" class="{{#unless errors.user.name}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.user.name}}</div>
                </div>
                <div class="push-half--bottom soft--sides">
                    <div class="input-addon">
                        <div class="input-prefix">
                            <i class="fa-envelope-o"></i>
                        </div>
                        <input type="text" class="input--large one-whole hard--right" name='user[email]' type='text' placeholder='Votre e-mail' value="{{#if user.email}}{{ user.email }}{{/if}}">
                    </div>

                    <div data-error="user_email" class="{{#unless errors.user.email}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.user.email}}</div>
                </div>
                <div class="push-half--bottom soft--sides">
                    <div class="input-addon">
                        <div class="input-prefix">
                            <i class="fa-phone-o"></i>
                        </div>
                        <input type="text" class="input--large one-whole hard--right" name='user[phone_number]' type='text' placeholder='Votre téléphone' data-toggle="popover" data-content="Nous vous recommandons de laisser votre numéro de portable : si la séance est annulée ou modifiée, un SMS pourra vous être envoyé." data-trigger="hover" data-placement="left">
                    </div>

                    <div data-error="user_phone_number" class="{{#unless errors.user.phone_number}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.user.phone_number}}</div>
                </div>
                <div class="input flush--top push-half--bottom soft--sides">
                    <textarea name="message[body]" id="" cols="30" rows="12" class="one-whole input--large" style='height: 185px;' data-behavior='autoresize'>{{#unless errors.body}}{{ participation_request.message.body }}{{/unless}}</textarea>
                </div>
                <div data-error="message_body" class="soft--sides {{#unless errors.body}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.body}}</div>
                {{#if in_two_steps}}
                <div class="soft--sides">
                  <a data-behavior="show-third-step-form" class="hidden btn btn--green btn--full">
                    Payer
                  </a>
                </div>

                <div class="soft--sides">
                  <button type="submit" class="btn btn--green btn--full" data-disable-with="Message en cours d'envoi..." data-behavior='skip-third-step-form'>
                    Confirmer
                  </button>
                </div>
                {{/if}}
            </div>
            <div data-element="third-step-form-wrapper" class="hidden">
                {{#if in_two_steps}}
                  <div class="soft--sides soft-half--top push-half--bottom">
                    <div class="soft-half--bottom"><a href="#" data-behavior="show-second-step-form">← Changer le message</a></div>
                    <div class="epsilon f-weight-500">
                      Le paiement ne sera effectué que lorsque votre demande sera acceptée.
                    </div>
                  </div>
                {{/if}}

                <div data-error="stripe-error" class="text--center hidden input_field_error red f-weight-bold"></div>
                <div class="push-half--bottom soft--sides">
                    <label class="label--large block">Numéro de carte</label>
                    <div class="input-addon">
                        <div class="input-prefix">
                            <i class="fa-credit-card"></i>
                        </div>
                        <input type="tel" class="input--large one-whole hard--right" name='card[number]' data-stripe='number' autocomplete="cc-number" placeholder="•••• •••• •••• ••••">
                    </div>
                </div>

                <div class="push-half--bottom soft--sides">
                    <div class="grid">
                        <div class='grid__item one-half v-top'>
                            <label class="label--large block">Date d'expiration</label>
                            <div class="input-addon">
                                <div class="input-prefix">
                                  <i class="fa-calendar"></i>
                                </div>
                                <input type="tel" class="input--large one-whole hard--right" name='card[exp]' data-stripe='exp' placeholder="MM / AAAA">
                                <input type="hidden" name='card[exp_month]' type='text' data-stripe='exp_month'>
                                <input type="hidden" name='card[exp_year]' type='text' data-stripe='exp_year'>
                            </div>
                        </div>{{!--
                     --}}<div class='grid__item one-half v-top'>
                            <label class="label--large block">Code de sécurité</label>
                            <div class="input-addon">
                              <div class="input-prefix">
                                <i class="fa-lock"></i>
                              </div>
                              <input type="tel" class="input--large one-whole hard--right" name='card[cvc]' data-stripe='cvc'>
                            </div>
                        </div>
                    </div>
                </div>


                <input type='hidden' class='hidden' name='card[token]' data-stripe='token'>

                <div class="soft--sides">
                    <button type="submit" class="btn btn--green btn--full" data-disable-with="Inscription en cours...">
                        Valider
                    </button>
                </div>
            </div>
            <div class="soft--sides hidden" data-element='form-submit'>
                <button type="submit" class="btn btn--green btn--full" data-disable-with="Message en cours d'envoi...">
                    Confirmer
                </button>
            </div>
        </form>
    </article>
</div>
{{/if}}
