%table.table--striped.table--data.table--selectable
  %thead
    %tr
      %th Jour
      %th.text-center Créneau horaire
      %th.text-center Durée
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td= week_day_for planning
        %td.text-center= readable_time_slot planning
        %td.text-center= readable_duration planning
