.p
  Vous pouvez suivre la discussion sur
  = link_to "votre profil", structure_url(@structure, subdomain: 'www')
  %br
  Les questions publiques posées sur votre profil CoursAvenue sont transmises à vous et à votre communauté de pratiquants qui peuvent également répondre. Plus votre communauté est grande, plus elle participe au bouche-à-oreille, et plus elle vous apporte de nouvelles inscriptions. Les réponses aux questions publiques sont également visibles de tous sur votre profil.

.p
  L'équipe CoursAvenue

.p
  %i CoursAvenue est la première communauté d'entraide entre pratiquants d'activités de loisirs.
