%h3.flush.text--center Vous avez déjà une inscriptions en cours
%p.gray.text--center.push-half--bottom
  - if @planning.for_kid? and !@planning.for_adult? and !@planning.for_senior?
    %i Vous n'avez le droit qu'a 1 seule inscription par personne, pour vous ou pour votre enfant.
  - else
    %i Vous n'avez le droit qu'a 1 seule inscription par personne.


.text--center
  = link_to 'Voir mon inscription', user_participations_path(current_user), class: 'btn btn--green btn--large'
