= simple_form_for [:pro, @structure], html: { autocomplete: 'false', class: 'wizard-form' }, remote: true do |f|
  .push--bottom#description-wizard-helper-container{ data: { behavior: 'wizard-helper', content: t('pro.structures.wizard_helper.description') } }
    %h4
      Il nous manque une description sur vous et vos cours : rédigez-la maintenant

    = f.input :description, label: false, wrapper_html: { class: 'flush one-whole' }, input_html: { id: 'description-textarea', class: 'input--large one-whole', placeholder: 'Quels types de cours proposez-vous et en quoi consistent-ils ? Présentez-vous sans renseigner vos coordonnées de contact ni votre planning de cours.', data: { behavior: 'text-counter', 'average-words-nb' => 30, 'good-words-nb' => 100, 'bad-text' => 'Votre description doit comporter au moins 30 mots. Nos Partenaires qui ont le plus de succès ont plus de 100 mots.', 'average-text' => 'Encore quelques mots et vous aurez une superbe description !', 'good-text' => 'Superbe description !'}}

= content_for :scripts do
  :javascript
    $(function() {
        $('#description-textarea').textareaResizer();
    });
    $('#skip-wizard').click(function() {
        $('#description-wizard-helper-container').trigger('wizard:close');
    })
