= simple_form_for [:pro, @structure], html: { class: 'wizard-form', id: 'form' }, remote: true do |f|
  %h4#title
    %i.fa-map-marker.fa.fa-2x.v-middle.soft-half--right
    %span.v-middle.soft-half--right Enseignez-vous dans plusieurs lieux ?
    = link_to 'Oui, ajouter un lieu', pro_structure_places_path(@structure), class: 'btn', target: '_blank'
    = link_to 'Non', 'javascript:void(0)', class: 'btn', target: '_blank', id: 'only-one-place'
  = f.input :has_only_one_place, as: :hidden, label: false, input_html: { id: 'only-one-place-input' }

:javascript
  var submit_form = function submit_form () {
      $('#save-wizard').hide();
      $('#title').append($('#skip-wizard').addClass('milli'));
      $('#only-one-place').click(function() {
          $('#only-one-place-input')[0].checked = true;
          $('#only-one-place-input').val('1');
          $('#save-wizard').click();
      });
  };
  if (typeof($) == 'function') {
    submit_form();
  } else {
    document.addEventListener('DOMContentLoaded', submit_form, false);
  }
