.panel__header.soft#share_your_profile.hidden
  %a.closer{ href: 'javascript:void(0)', data: { behavior: 'closer', el: '#share_your_profile' } }
    %i.fa-times

  %h4.flush
    %span.v-middle Partagez votre profil sur Facebook
    %span.soft-half--left.v-middle
      = link_to 'Partager', "https://www.facebook.com/sharer/sharer.php?u=#{new_structure_comment_url(@structure, facebook: '', subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)}", class: 'btn btn--facebook', target: '_blank', onclick: "ga('send', 'event', 'Pro / Share on Facebook', 'click', 'From dashboard page')"
