= simple_form_for [:pro, @structure], html: { class: 'wizard-form' }, remote: true do |f|
  %h4
    Collez ici le lien de votre page web contenant votre livre d'or, nous la mettrons en avant sur CoursAvenue
  = f.input :widget_url, placeholder: 'Ex. : http://www.mon-site.com/livre-d-or', label: "Lien vers votre livre d'or", as: :string
