{{#if total_not_filtered}}
  <div class="soft--ends">
      <strong>
        {{#ifCond total_not_filtered '!=' 0}}
            Des cours sont proposés à d'autres lieux ou pour d'autres disciplines :
            <a href="{{ data_url }}" data-action="show-all-courses">voir tous les cours</a>
        {{/ifCond}}
      </strong>
  </div>
{{/if}}
<img src="<%= asset_path 'gifs/loading-indicator.gif' %>" class="center-block push-half--top" height="10" data-loader style="display: none;">

