<div class="bg-blue one-whole very-soft white soft--sides push-half--bottom">
    <span class="soft--sides">{{ courses_count }} cours ({{ plannings_count }} seances) de $12 a $100 correspondent a votre recherche</span><!--
 --><a href="{{ data_url }}" class="bg-green soft--sides pointer" data-type="button">Visualizer les {{ courses_not_shown }} autres</a>
</div>

<div class="islet white-box">
    <div class="two-thirds" data-type="container">
    </div>
</div>
