<strong>
{{#if plannings_not_shown}}
    {{#ifCond plannings_not_shown '!=' '0'}}
        <!-- {{ courses_count }} cours ({{ plannings_count }} seances) correspondent a votre recherche -->
        {{ plannings_count }} seances correspondent a votre recherche
        <a href="{{ data_url }}" data-action="show-all-courses">Visualiser les {{ plannings_not_shown }} autres seances</a>
    {{/ifCond}}
{{else}}
    {{ courses_count }} cours ({{ plannings_count }} seances) correspondent a votre recherche
{{/if}}
</strong>
<img src="<%= asset_path 'gifs/loading-indicator.gif' %>" class="center-block push-half--top" height="10" data-loader style="display: none;">

