<div data-summary-container class="blue-box soft-half push-half--bottom">
    <div data-breadcrumb></div>
    <div data-summary></div>
</div>

<div class="islet white-box">
    <div data-type="container">
    </div>
</div>
