<div data-type="container"></div>
<div data-empty-courses class="hidden soft-half">
    <p class="flush">
        Ce profil n'a pas mis à jour son planning.
        <a class="pointer" data-behavior="show-contact-panel" href="#">Contacter pour demander son planning.</a>
    </p>
</div>
