<div class="panel border-none--sides push-half--bottom">
    <div class="soft-half panel__header">
        <h3 class="epsilon push-half--bottom">{{ name }}</h3>
        <div class="gray">
            {{#if subjects }}
                <i class="fa fa-tags"></i>
                {{ subjects }}
            {{/if}}
        </div>
    </div>
    <div class="flexbox panel__body">
        <ul class="tabs--stacked flexbox__item v-top one-fifth">
            <li class="active">
                <a data-toggle="tab" href="#tab-plannings-course-{{id}}">Planning</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-description-course-{{id}}">Description</a>
            </li>
            <li class="relative">
                <a data-toggle="tab" href="#tab-price-course-{{id}}">
                    Tarifs
                    {{#if has_premium_prices}}
                        <img src="<%= asset_path 'icons/premium-ribbon.png' %>" class='north west absolute on-top' height='40', width='40' style='width: 40px; height: 40px;' />
                        <div><strong class="green">Offres découvertes</strong></div>
                    {{/if}}
                </a>
            </li>
        </ul>
        <div class="flexbox__item v-top four-fifths soft-half--sides">
            <div class="tab-content">
                <article id="tab-plannings-course-{{id}}" class="tab-pane active hard--top">
                    <table class="table--striped table--data-small">
                        <thead>
                            <tr>
                                <th>Jour</th>
                                <th>Horaire</th>
                                <th>Niveau</th>
                                <th>Public</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-type="plannings-container"></tbody>
                    </table>
                </article>
                <article id="tab-description-course-{{id}}" class="tab-pane">
                    <table class="float--right one-third table--data-small table--striped bordered">
                        <tbody>
                            {{#if teaches_at_home}}
                                <tr>
                                    <td class="f-size-12">
                                        <i class="fa fa-home"></i> Cours à domicile {{#if teaches_at_home_radius}}(dans un rayon de {{teaches_at_home_radius}}km){{/if}}
                                    </td>
                                </tr>
                            {{/if}}
                            {{#if is_individual}}
                                <tr>
                                    <td class="f-size-12"><i class="fa fa-user"></i> Cours individuel</td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td class="f-size-12"><i class="fa fa-group"></i> Cours collectif</td>
                                </tr>
                            {{/if}}
                            {{#if is_lesson}}
                                <tr>
                                    <td class="f-size-12"><i class="fa fa-clock-o"></i> Cours régulier</td>
                                </tr>
                                <tr>
                                    <td class="f-size-12">{{frequency}} du {{start_date}} au {{end_date}}</td>
                                </tr>
                            {{/if}}
                            {{#if cant_be_joined_during_year}}
                                <tr>
                                    <td class="f-size-12">Pas d'inscription en cours d'année</td>
                                </tr>
                            {{/if}}
                            {{#if no_class_during_holidays}}
                                <tr>
                                    <td class="f-size-12">Pas de cours pendant les vacances scolaires</td>
                                </tr>
                            {{/if}}
                        </tbody>
                    </table>
                    {{{ simple_format description }}}
                </article>
                <article id="tab-price-course-{{id}}" class="tab-pane">
                    <table class="table--striped table--data">
                        <thead>
                            <tr>
                                <th class="three-twelfths">Type de formule</th>
                                <th class="one-twelfth  text--center">Prix</th>
                                {{#if has_premium_prices}}
                                    <th class="one-twelfth  text--center">Offre découverte</th>
                                {{/if}}
                                <th class="{{#if has_premium_prices}}six-twelfths{{else}}eight-twelfths{{/if}}">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each book_tickets}}
                                <tr>
                                    <td>{{libelle}}</td>
                                    <td class="text--right {{#if promo_amount}}line-through{{/if}}">{{amount}}€</td>
                                    {{#if ../premium}}
                                        <td class="green">
                                            {{#if promo_amount}}{{promo_amount}}€{{/if}}
                                        </td>
                                    {{/if}}
                                    <td>{{info}}</td>
                                </tr>
                            {{/each}}
                            {{#each subscriptions}}
                                <tr>
                                    <td>{{libelle}}</td>
                                    <td class="text--right {{#if promo_amount}}line-through{{/if}}">{{amount}}€</td>
                                    {{#if ../premium}}
                                        <td class="green">
                                            {{#if promo_amount}}{{promo_amount}}€{{/if}}
                                        </td>
                                    {{/if}}
                                    <td>{{info}}</td>
                                </tr>
                            {{/each}}
                            {{#if premium}}
                                <tr>
                                    <th colspan="4" class=" soft-half--ends text--left bordered--top epsilon green">Offres découvertes</th>
                                </tr>
                                {{#each trials}}
                                    <tr>
                                        <td>{{libelle}}</td>
                                        <td class="text--right">
                                            {{#ifCond amount '==' '0'}}
                                                Gratuit
                                            {{else}}
                                                {{amount}}€
                                            {{/ifCond}}
                                        </td>
                                        <td></td>
                                        <td>
                                            {{info}}
                                    </td>
                                    </tr>
                                {{/each}}
                                {{#each premium_offers}}
                                    <tr>
                                        <td>{{libelle}}</td>
                                        <td class="text--right">{{promo_amount}}{{promo_amount_type}}</td>
                                        <td></td>
                                        <td>{{info}}</td>
                                    </tr>
                                {{/each}}
                                {{#each discounts}}
                                    <tr>
                                        <td>{{libelle}}</td>
                                        <td class="text--right">{{promo_amount}}{{promo_amount_type}}</td>
                                        <td></td>
                                        <td>{{info}}</td>
                                    </tr>
                                {{/each}}
                            {{/if}}
                            {{#each registrations}}
                                <tr>
                                    <td>Adhésion</td>
                                    <td class="text--right">
                                        {{#ifCond amount '==' '0'}}
                                            Gratuite
                                        {{else}}
                                            {{amount}}€
                                        {{/ifCond}}
                                    </td>
                                    <td>
                                        {{info}}
                                </td>
                                </tr>
                            {{/each}}
                            {{#if price_details}}
                                <tr>
                                    <th colspan="3" class=" text--left bordered--top">Autres infos</th>
                                </tr>
                                <tr>
                                    <td class="text--left" colspan="3">{{price_details}}</td>
                                </tr>
                            {{/if}}
                        </tbody>
                    </table>
               </article>
            </div>
        </div>
    </div>
</div>
