<div data-type="container"></div>
<div data-empty-courses class="hidden">
    <p class="flush--bottom push--top">
        __about__ n'a pas mis à jour son planning.
        <a class="pointer" data-behavior="show-contact-panel" href="#">Contacter pour demander son planning.</a>
    </p>
</div>
