{{#if has_no_prices}}
    {{capitalize about}} n'a pas mis à jour ses tarifs : <a class="cursor-pointer" data-behavior="show-contact-panel">contactez-{{ about_genre }}</a>.
{{/if}}
<table class="table--striped table--data flush {{#if has_no_prices}}hidden{{/if}}">
    <thead class="gray-light">
        <tr>
            <th class="four-twelfths">Formule</th>
            <th class="two-twelfths text--center">Prix</th>
            <th class="six-twelfths"><i class="fa-info"></i></th>
        </tr>
    </thead>
    <tbody data-type="container">
    </tbody>
</table>
