<span class="soft--sides">{{ courses_count }} cours ({{ plannings_count }} seances) de $12 a $100 correspondent a votre recherche</span><!--
 --><a href="{{ data_url }}" class="bg-green soft--sides pointer white" data-type="button">Visualizer les {{ plannings_not_shown }} autres seances</a>
