.warning-buble, .green-bubble {
    color           : white;
    @include border-radius(2em);
    text-align      : center;
    padding         : 0em 0.6em;
    display         : inline-block;
    cursor          : help;
    font-weight     : bold;
}
.warning-buble {
    background-color: $red;
    border          : 1px solid darken($red, 10%);
}
.green-bubble {
    background-color: $green;
    border          : 1px solid darken($green, 10%);
}
.alert {
    padding         : 8px 14px;
    margin-bottom   : 20px;
    display         : inline-block;
    @include border-radius($brand-round);
}
.alert--info {
    @extend .alert;
    color           : $alert-info-text-color;
    background-color: $alert-info-background-color;
    border          : 1px solid $alert-info-border-color;
}
.alert--warning {
    @extend .alert;
    color           : $alert-warning-text-color;
    background-color: $alert-warning-background-color;
    border          : 1px solid $alert-warning-border-color;
}

.alert--error, .alert-error {
    @extend .alert;
    color           : $alert-error-text-color;
    background-color: $alert-error-background-color;
    border          : 1px solid $alert-error-border-color;
}

.alert--success {
    @extend .alert;
    color           : $alert-success-text-color;
    background-color: $alert-success-background-color;
    border          : 1px solid $alert-success-border-color;
}
.form-alert {
    margin-left: 250px;
    width      : 35em;
}
.inline-inputs {
    .error {
        margin: 0;
    }
}
