.alert {
    padding         : 8px 14px;
    display         : inline-block;
    border-radius: $brand-round;
}
.alert--info {
    @extend .alert;
    color           : $alert-info-text-color;
    background-color: $alert-info-background-color;
}
.alert--warning {
    @extend .alert;
    color           : $alert-warning-text-color;
    background-color: $alert-warning-background-color;
}

.alert--error, .alert-error {
    @extend .alert;
    color           : $alert-error-text-color;
    background-color: $alert-error-background-color;
}

.alert--success {
    @extend .alert;
    color           : $alert-success-text-color;
    background-color: $alert-success-background-color;
}
