.badge {
    margin          : 0;
    position        : absolute;
    left            : 0;
    padding         : 0.2em 0.7em 0.2em 0.5em;
    color           : white;
    font-weight     : bold;
}
.badge--exclu {
    @extend .badge;
    background-color: $orange;
    top             : 1em;
}

.badge--price {
    @extend .badge;
    background-color: $green-success;
    bottom          : 1em;
}

.badge--step {
    @extend .badge;
    @include border-radius(4em);
    background-color: $green-success;
    top         : -0.5em;
    left        : -1em;
    width       : 2.5em;
    height      : 2.5em;
    line-height : 2em;
    text-align  : center;
}
