.free-trial-badge {
    position         : absolute;
    top              : -4px;
    left             : -4px;
    width            : 5em;
    height           : 100%;
    background-repeat: no-repeat;
    background-image : asset-url('badges/free_trial.png');
    @include background-size(100%);
    @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('badges/free_trial.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('badges/free_trial.png')}',sizingMethod='scale')";
    }
}

.promotion-badge {
    position           : absolute;
    bottom             : -4px;
    right              : -4px;
    width              : 5em;
    height             : 100%;
    background-repeat  : no-repeat;
    background-image   : asset-url('badges/promotion.png');
    background-position: bottom;
    @include background-size(100%);
    @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('badges/promotion.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('badges/promotion.png')}',sizingMethod='scale')";
    }
}

.badge {
    margin          : 0;
    position        : absolute;
    left            : 0;
    padding         : 0.2em 0.7em 0.2em 0.5em;
    color           : white;
    font-weight     : bold;
}
.badge--exclu {
    @extend .badge;
    background-color: $orange;
    top             : 1em;
}

.badge--price {
    @extend .badge;
    background-color: $green-success;
    bottom          : 1em;
}

.badge--step {
    @extend .badge;
    @include border-radius(4em);
    background-color: $green-success;
    top         : -0.5em;
    left        : -1em;
    width       : 2.5em;
    height      : 2.5em;
    line-height : 2em;
    text-align  : center;
}
