/*------------------------------------*\
    $BLOCK-LIST override
\*------------------------------------*/

.block-list {
    border-top-width: 0;
    border-color    : $gray-smooth;
    li {
        border-color: $gray-smooth;
    }
}
