.blog-article__image {
    max-height: 550px;
    margin    : auto;
}
.blog-article__content {
    p, ul, div {
        color      : #1E1E1E;
        &.white {
            color: white;
        }
        font-size  : 16px;
        line-height: 28px;
    }
    blockquote {
        p {
            font-style : italic;
            font-size  : 20px;
            color      : #777;
            line-height: 30px;
        }
        border-left : 4px solid #CCC;
        padding-left: 1em;
    }
}

.blog-feed {
    margin-left: 0;
    list-style: none;
    li {
        border-bottom : 1px solid #CCC;
        padding-bottom: 1em;
        margin-bottom : 1em;
    }
}
    .blog-feed__title{
        line-height: 1;
        a {
            color: #666;
            font-size: 16px;
        }
    }
    .blog-feed__date {
        color: #999;
        font-size: 14px;
    }
    .blog-feed__content {
        font-size: 14px;
    }
