/*
 * To be used like:
 * .rotate-on-hover__wrapper
     .blog_article__image-icon.text--center.absolute.absolute--center.rotate-on-hover__child.bg-white-faded
       %i.fa-chevron-right
 */
.blog_article__image-icon {
    @include border-radius(50px);
    width      : 46px;
    height     : 46px;
    margin-left: -23px;
    margin-top : -23px;
    line-height: 46px;
    font-size  : 14px;
    &.blog_article__image-icon--double {
        width      : 60px;
        height     : 60px;
        margin-left: -30px;
        margin-top : -30px;
        line-height: 60px;
        font-size  : 18px;
    }
}

.blog-article__image {
    max-height: 550px;
    margin    : auto;
}
.blog-article__show-wrapper {
    max-width: 750px;
    margin   : auto;
}
.pro-blog-article__content {
    h2 {
        @media screen and (min-width: 1200px)  {
            margin-left : -75px;
            margin-right: 0;
        }
    }
}
.blog-article__content {
    h2 {
        @media screen and (min-width: 950px)  {
            margin-left : -75px;
            margin-right: -75px;
        }
    }
}
.blog-article__content, .pro-blog-article__content {
    &:not(.pro-blog-article__content) iframe {
        width : 100% !important;
        height: 400px !important;
    }
    &:not(.pro-blog-article__content) img {
        width  : 100% !important;
        height : auto !important;
        display: block;
    }
    strong { font-weight: 600; }
    p, ul, div {
        &.white {
            color: white;
        }
        font-size  : 17px;
        line-height: 28px;
        @include media-query(palm) { font-size: 15px;}
    }
    h2 {
        font-family: 'lexia';
        @extend .f-weight-400;
        @extend .bordered--bottom;
        padding-bottom: 10px;
    }
    blockquote {
        &, p {
            font-style : italic;
            font-size  : 20px;
            color      : #777;
            line-height: 30px;
        }
        border-left : 4px solid #CCC;
        padding-left: 1em;
    }
}

    .blog-article__image-with-legend {
        display: inline-block;
        .blog-article__legend { opacity: 0; }
        &:hover {
          .blog-article__legend { opacity: 1; }
        }
    }
    .blog-article__legend {
        font-style : normal !important;
        line-height: 1.7 !important;
        font-weight: 600;
        text-align : left !important;
        font-size  : 14px !important;
        @include media-query(palm) { opacity: 1!important; }
    }

.blog-feed {
    margin-left: 0;
    list-style: none;
    li {
        border-bottom : 1px solid #CCC;
        padding-bottom: 1em;
        margin-bottom : 1em;
    }
}
    .blog-feed__title{
        line-height: 1;
        a {
            color: #666;
            font-size: 16px;
        }
    }
    .blog-feed__date {
        color: #999;
        font-size: 14px;
    }
    .blog-feed__content {
        font-size: 14px;
    }
.yellow-box {
    p:last-child {
        margin-bottom: 0;
    }
    blockquote {
        color       : white;
        border-color: white;
        margin      : 0;
    }
}
