// -------------------- PANELS ------------------------- //
.panel {
    background-color: white;
    border          : 1px solid $pane-border-color;
}
    .panel__header {
        background-color: #EFEFEF;
        padding-top     : 0.5em;
        &.tabs {
            border-bottom: none;
            li:first-child {
                margin-left: 1em;
            }
            li {
                margin-bottom: -1px;
                border          : 1px solid $pane-border-color;
                background-color: #EFEFEF;
                a {
                    color           : #393C3D;
                    font-weight     : bold;
                    border          : none;
                    padding         : 0.6em 1.3em;
                }
                &.active {
                    border-bottom-color: white;
                    background-color   : white;
                    &:hover {
                        background-color: white;
                        a {
                            cursor          : default;
                        }
                    }
                }
                &:hover {
                    background-color: #F2F2F2;
                }
            }
        }
    }
    // .panel__body {
    .panel__header + .panel__body {
        border-top: 1px solid $pane-border-color;
    }
// -------------------- PANELS ------------------------- //
.white-box, .blue-box {
    @include border-radius($brand-round);
    // @include box-shadow(1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE);
}
.white-box {
    background: white;
    border    : 1px solid #DDD;
    &.white-box--rounded {
        @include border-radius(10em);
    }
}

.orange-box {
    background-color: $orange_pale;
}
.blue-box {
    color     : white;
    border    : 1px solid darken($blue, 5%);
    background: $blue;
    a {
        &.btn {
            text-decoration: none;
            color          : black;
        }
        &.btn.btn--green, &.btn.btn--orange, &.btn.btn--facebook {
            color: white;
        }
        text-decoration: underline;
        color          : white;
        &.semi-muted-link, &.muted-link {
            text-decoration: none;
        }
        &.semi-muted-link:hover {
            text-decoration: underline;
        }
    }
}

.white-box--hoverable:hover {
    background-color: $orange;
    &, a { color: white }
}
.white-box--rounded {
    @include border-radius(5em);
}
.white-box--noshadow, .blue-box--noshadow {
    @include box-shadow(none!important);
}
.white-box--small {
    @extend .white-box;
    max-width: 400px;
}
.form-white-box {
    @extend .white-box;
    @include media-query(palm) {
        margin-left : 0;
    }
    @include media-query(lap) {
        margin-left : 0;
    }
    max-width   : 1000px;
    margin      : 1em 0;
    padding     : 1em;
}
.form-white-box--centered {
    @extend .form-white-box;
    margin: 1em auto;
}
.form-white-box--large {
    @extend .form-white-box;
    max-width: 1000px;
}

.gray-box {
    background: #EFEFEF;
    border    : 1px solid $pane-border-color;
}
    .gray-box__footer {
        background: #EFEFEF;
        border    : 1px solid $pane-border-color;
        border-top: none;
    }
