.pro-homepage-advantage-box {
    min-height: 130px;
}
.white-box, .blue-box {
    @include border-radius($brand-round);
}
.blue-box .textarea-counter { color: white!important; }
.white-box {
    background: white;
    border    : 1px solid #DDD;
    &.white-box--rounded {
        @include border-radius(10em);
    }
}

.orange-transparent-box { background-color: transparentize($orange, 0.15); }
.transparant-white-box {
    background-color: transparentize(black, 0.6);
    border          : 2px solid white;
    @include transition(all 200ms linear);
}
.yellow-box                    { background-color: $yellow }
.orange-box                    { background-color: $orange; }
.orange-box--on-hover:hover    { background-color: $orange; }
.red-box                       { background-color: $red; }
.dark-blue-box--on-hover:hover { background-color: $dark_blue; }
.dark-blue-box                 { background-color: $dark_blue; }
.green-box                     { background-color: $green; }
.green-box--on-hover:hover     { background-color: $green; }
.blue-box {
    color     : white;
    background: $blue;
    a {
        &.btn {
            text-decoration: none;
            color          : black;
        }
        &.btn.btn--green, &.btn.btn--orange, &.btn.btn--facebook {
            color: white;
        }
        text-decoration: underline;
        color          : white;
        &.semi-muted-link, &.muted-link {
            text-decoration: none;
        }
        &.semi-muted-link:hover {
            text-decoration: underline;
        }
    }
}

.white-box--hoverable:hover {
    background-color: $orange;
    &, a { color: white }
}
.white-box--rounded {
    @include border-radius(5em);
}
.white-box--small {
    @extend .white-box;
    max-width: 400px;
}
.form-white-box {
    @extend .white-box;
    @include media-query(palm) {
        margin-left : 0;
    }
    @include media-query(lap) {
        margin-left : 0;
    }
    max-width   : 1000px;
    margin      : 1em 0;
    padding     : 1em;
}
.form-white-box--centered {
    @extend .form-white-box;
    margin: 1em auto;
}
.form-white-box--large {
    @extend .form-white-box;
    max-width: 1000px;
}

.gray-box {
    background: $pane-background-color;
    border    : 1px solid $pane-border-color;
}
.darkgray-box {
    // border-top      : 1px solid #1D1D1D;
    border-bottom   : 1px solid #1D1D1D;
    background-color: $pro-header-color;
    @include background-image(linear-gradient($pro-header-color, #4C4F50));
}
    .gray-box__footer {
        background: $pane-background-color;
        border    : 1px solid $pane-border-color;
        border-top: none;
    }
