// -------------------- PANELS ------------------------- //
.panel {
    background-color: white;
    border          : 1px solid $pane-border-color;
}
    .panel__header {
        background-color: $pane-background-color;
        padding-top     : 0.5em;
    }
    // .panel__body {
    .panel__header + .panel__body {
        border-top: 1px solid $pane-border-color;
    }
    .panel__header.tabs--blue + .panel__body {
        border-top-color: $blue;
    }
// -------------------- PANELS ------------------------- //
.white-box, .blue-box {
    @include border-radius($brand-round);
    // @include box-shadow(1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE);
}
.white-box {
    background: white;
    border    : 1px solid #DDD;
    &.white-box--rounded {
        @include border-radius(10em);
    }
}

.orange-box {
    background-color: $orange_pale;
}
.blue-box {
    color     : white;
    border    : 1px solid darken($blue, 5%);
    background: $blue;
    a {
        &.btn {
            text-decoration: none;
            color          : black;
        }
        &.btn.btn--green, &.btn.btn--orange, &.btn.btn--facebook {
            color: white;
        }
        text-decoration: underline;
        color          : white;
        &.semi-muted-link, &.muted-link {
            text-decoration: none;
        }
        &.semi-muted-link:hover {
            text-decoration: underline;
        }
    }
}

.white-box--hoverable:hover {
    background-color: $orange;
    &, a { color: white }
}
.white-box--rounded {
    @include border-radius(5em);
}
.white-box--noshadow, .blue-box--noshadow {
    @include box-shadow(none!important);
}
.white-box--small {
    @extend .white-box;
    max-width: 400px;
}
.form-white-box {
    @extend .white-box;
    @include media-query(palm) {
        margin-left : 0;
    }
    @include media-query(lap) {
        margin-left : 0;
    }
    max-width   : 1000px;
    margin      : 1em 0;
    padding     : 1em;
}
.form-white-box--centered {
    @extend .form-white-box;
    margin: 1em auto;
}
.form-white-box--large {
    @extend .form-white-box;
    max-width: 1000px;
}

.gray-box {
    background: $pane-background-color;
    border    : 1px solid $pane-border-color;
}
.darkgray-box {
    border-top      : 1px solid #1D1D1D;
    border-bottom   : 1px solid #1D1D1D;
    background-color: #575A5D;
    @include background-image(linear-gradient(#575A5D, #4C4F50));
    // @include box-shadow(0 2px 3px 0 rgba(0, 0, 0, 0.2),inset 0 1px 1px 0 rgba(255, 255, 255, 0.2));
}
    .gray-box__footer {
        background: $pane-background-color;
        border    : 1px solid $pane-border-color;
        border-top: none;
    }


.premium-box {
    background-color: transparentize($yellow, 0.5);
}
