/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn a:hover{
    text-decoration:none;
}

.btn.btn--large {
  font-size: 20px;
  padding  : 0.6em 2.5em;
}

.btn.btn--small {
    padding: 0.5em;
}

.btn.btn--plus {
    font-size: 16px;
    padding  : 5px 8px;
}
.btn {
    white-space     : normal;
    line-height     : 1;
    font-weight     : bold;
    background-color: $light-grey;
    border          : 1px solid #DBD9D9;
    text-shadow     : 0 1px 0 white;
    padding         : 0.8em;
    color           : #555;
    font-size       : 12px;
    @include border-radius($brand-round);
    @include background-image(linear-gradient(top, #fefefe,#f8f8f8));
    @include box-shadow(0px 1px 2px rgba( 0, 0, 0, 0.2 ), inset 0px 0px 1px rgba(255, 255, 255, .5));
    &:hover {
      @include background-image(linear-gradient(top, darken(#fefefe, 3%), darken(#f8f8f8, 3%)));
    }
}

.btn:active, .btn--active, .btn.active, .btn--active:hover, .btn.active:hover {
    background-color: #ebebeb;
    @include background-image(linear-gradient(top, #dad9d9, #ebebeb));
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.22),0 1px 0 rgba(255,255,255,0.4));
}

.btn.disabled, .btn:disabled{
    opacity: 0.55;
}

.btn--orange {
    text-transform: uppercase;
    color       : white;
    text-shadow : -1px -1px 0 #a34c30;
    border-color: darken($btn-primary-background, 3%);
    background-color: $orange;
    @include background-image(linear-gradient(top, $btn-primary-background-highlight, $btn-primary-background));
    &:hover {
        @include background-image(linear-gradient(top, lighten($btn-primary-background-highlight, 6%), lighten($btn-primary-background, 6%)));
    }
    &:active, &.btn--active, &.btn--active:hover, &.active, &.active:hover {
        background-color: $btn-primary-background-highlight;
        border-color: darken($btn-primary-background, 10%);
        border-bottom: none;
        @include background-image(linear-gradient(top, darken($btn-primary-background-highlight, 5%), lighten($btn-primary-background-highlight, 5%)));
    }
}
.btn--red {
    text-transform: uppercase;
    font-weight: bold;
    @include buttonBackground($btn-danger-background, $btn-danger-background-highlight);
    &:hover {
        @include buttonBackground(lighten($btn-danger-background, 6%), lighten($btn-danger-background-highlight, 6%));
    }
}
// Danger and error appear as red
// Success appears as green
.btn--green {
    text-transform: uppercase;
    @include buttonBackground($btn-success-background, $btn-success-background-highlight);
    &:hover, &:active {
        @include buttonBackground(lighten($btn-success-background, 6%), lighten($btn-success-background-highlight, 6%));
    }
    &.disabled, &[disabled] {
        cursor: default;
        @include buttonBackground(lighten($btn-success-background, 15%), lighten($btn-success-background-highlight, 15%));
    }
}
// Success appears as green
.btn--blue {
    text-transform: uppercase;
    color         : white;
    @include buttonBackground($btn-blue-background, $btn-blue-background-highlight);
    &:hover, &:active {
        @include buttonBackground(lighten($btn-blue-background, 6%), lighten($btn-blue-background-highlight, 6%));
    }
    &.disabled, &[disabled] {
        cursor: default;
        @include buttonBackground(lighten($btn-blue-background, 15%), lighten($btn-blue-background-highlight, 15%));
    }
}

.btn--social {
    text-transform  : uppercase;
    text-shadow     : -1px -1px 0 darken($facebook-blue, 10%);
    color           : white;
    padding         : 1em;
    vertical-align  : middle;
    display         : inline-block;
    @include background-image(none);
    &:hover {
        @include background-image(none);
    }
    &:before {
        text-transform  : lowercase;
        display         : inline-block;
        padding-left    : 15px;
        font-size       : 25px;
        vertical-align  : middle;
        margin-right    : 15px;
        padding-right   : 15px;
        margin-top      : -2px;
    }
}

.btn--facebook {
    @extend .btn--social;
    border-color    : darken($facebook-blue, 3%);
    background-color: $facebook-blue;
    &:hover {
        background-color: lighten($facebook-blue, 5%);
    }
    &:before {
        content         : 'f';
        border-right    : 1px solid darken($facebook-blue, 8%);
    }
}
.btn--facebook.btn--small {
    padding      : 0.4em;
    padding-right: 0.7em;
    &:before {
        font-size: 19px;
    }
}


.btn--twitter {
    @extend .btn--social;
    border-color    : darken($twitter-blue, 3%);
    background-color: $twitter-blue;
    &:hover {
        background-color: lighten($twitter-blue, 5%);
    }
    &:before {
        content         : "\f099";
        font-family     : 'FontAwesome';
        border-right    : 1px solid darken($twitter-blue, 8%);
    }
}

.outlined-btn {
    white-space     : normal;
    line-height     : 1;
    font-weight     : bold;
    background-color: $light-grey;
    border          : 1px solid #DBD9D9;
    text-shadow     : 0 1px 0 white;
    padding         : 0.8em;
    color           : #555;
    font-size       : 12px;
    cursor          : pointer;
    @include border-radius($brand-round);
    @include background-image(linear-gradient(top, #fefefe,#f8f8f8));
    @include box-shadow(0px 1px 2px rgba( 0, 0, 0, 0.2 ), inset 0px 0px 1px rgba(255, 255, 255, .5));
    &:hover {
      @include background-image(linear-gradient(top, darken(#fefefe, 3%), darken(#f8f8f8, 3%)));
    }
    &.active {
        border: 1px solid $orange;
        @include box-shadow(0px 0px 5px transparentize($orange, 0.5));
    }
}

//  .btn-group
//    .btn
//      %a text
.btn-group {
    i {
        font-size: 1em;
    }
    .btn, .btn.active {
        padding: 0.8em;
        @include background-image(linear-gradient(top, #fefefe,#f8f8f8));
        @include border-radius(0);
        @include box-shadow(0px 1px 1px rgba( 0, 0, 0, 0.2 ), inset 0px 0px 1px rgba(255, 255, 255, .5));
    }
    .btn--blue {
        color: white;
    }
        a {
            color  : black;
            display: inline-block;
        }
    .btn.btn--active, .btn.active {
        border     : 1px solid $orange;
        @include box-shadow(0px 0px 5px rgba(233, 104, 61, 0.5));
        // @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.22),0 1px 0 rgba(255,255,255,0.4));
        & + .btn.active {
            border-left: none;
        }
        &:first-child {
            border-left: 1px solid $orange;
        }
    }

    .btn:first-child {
        // border-right: none;
        @include border-left-radius($brand-round);
    }
    .btn:last-child {
        // border-left: none;
        @include border-right-radius($brand-round);
    }
    input {
        display: none;
    }
}
