/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn a:hover{
    text-decoration:none;
}

.btn.btn--enormous {
  font-size  : 30px;
  padding    : 0.6em 2.5em;
  line-height: 1;
  @include media-query(palm) { font-size: 20px; }
}

.btn.btn--large {
  font-size  : 20px;
  padding    : 0.6em 2.5em;
  line-height: 1;
}

.btn.btn--bigger {
  font-size: 15px;
}

.btn.btn--small {
    padding: 0.5em;
}

.btn.btn--plus {
    font-size: 16px;
    padding  : 5px 8px;
}
.btn {
    text-transform  : uppercase;
    white-space     : normal;
    line-height     : 1.2;
    font-weight     : 700;
    padding         : 0.8em;
    font-size       : 12px;
    @include border-radius($brand-round);
    border          : 1px solid #DEDEDE;
    background-color: #fefefe;
    color           : #555555;
    @include text-shadow(0 1px 0 white);
    &[type=submit] {
        font-weight: 600;
    }
    &:active {
        cursor: default;
    }
    &:active, &:hover {
        background-color: #f2f2f2;
    }
}

.btn.disabled, .btn:disabled, .btn[disabled]{
    background-color: #F3F3F3;
    color           : #888888;
    cursor          : default;
}

.btn--gray {
    text-transform  : uppercase;
    color           : #555555;
    border-color    : #D5D5D5;
    background-color: #f2f2f2;
    &:active, &:hover {
        background-color: lighten(#f2f2f2, 5%);
    }
    &.disabled:hover, &:disabled, &[disabled] {
        background-color: #f2f2f2;
    }
    &:active, &.btn--active, &.btn--active:hover, &.active, &.active:hover {
        border-bottom: none;
        background-color: lighten(#f2f2f2, 15%);
    }
}

.btn--orange {
    text-transform  : uppercase;
    color           : white;
    border-color    : darken($orange, 5%);
    background-color: $orange;
    @include text-shadow(-1px -1px 0 #a34c30);
    &:active, &:hover {
        background-color: lighten($orange, 5%);
    }
    &:active, &.btn--active, &.btn--active:hover, &.active, &.active:hover {
        border-bottom: none;
        background-color: lighten($orange, 15%);
    }
}
.btn--red {
    text-transform: uppercase;
    background-color: $btn--red;
    border          : none;
    color           : white;
    @include text-shadow(-1px -1px 1px darken($btn--red, 10%));
    &:hover, &:active {
        background-color: lighten($btn--red, 5%);
    }
    &.disabled, &[disabled] {
        background-color: lighten($btn--red, 15%);
        color           : #EEE;
    }
}
// Danger and error appear as red
// Success appears as green
.btn--green {
    text-transform: uppercase;
    background-color: $btn--green;
    border          : none;
    color           : white;
    @include text-shadow(-1px -1px 1px darken($btn--green, 10%));
    &:hover, &:active {
        background-color: lighten($btn--green, 5%);
    }
    &.disabled, &[disabled] {
        background-color: lighten($btn--green, 15%);
        color           : #EEE;
    }
}

.btn--blue , .btn--blue-green {
    text-transform  : uppercase;
    background-color: $blue-green;
    border          : none;
    color           : white;
    @include text-shadow(-1px -1px 1px darken($blue-green, 10%));
    &:hover, &:active, &.active {
        background-color: lighten($blue-green, 5%);
    }
    &.disabled, &[disabled] {
        background-color: lighten($blue-green, 15%);
    }
}

.btn--yellow {
    text-transform  : uppercase;
    color           : darken($yellow, 35%);
    background-color: $yellow;
    border          : none;
    @include text-shadow(0 1px 0 darken($yellow, 5%));
    // @include text-shadow(-1px -1px 1px #486762);
    &:hover, &:active {
        color           : darken($yellow, 35%);
        background-color: lighten($yellow, 5%);
        @include text-shadow(0 1px 0 darken($yellow, 5%));
    }
}

.btn--purple {
    text-transform  : uppercase;
    color           : #FFF;
    background-color: $purple;
    border          : none;
    @include text-shadow(0 1px 0 $purple);
    &:hover, &:active {
        color           : #FFF;
        background-color: lighten($purple, 10%);
    }
}

.btn--social {
    text-transform  : uppercase;
    @include text-shadow(-1px -1px 0 darken($facebook-blue, 5%));
    color           : white;
    vertical-align  : middle;
    display         : inline-block;
    &:before {
        font-family     : Helvetica, Arial;
        text-transform  : lowercase;
        display         : inline-block;
        padding-left    : 15px;
        font-size       : 35px;
        vertical-align  : middle;
        padding-right   : 15px;
        margin-top      : -2px;
    }
    span {
        padding     : 15px;
        padding-left: 20px;
        border-left : 1px solid darken($facebook-blue, 5%);
    }
}

.btn--facebook {
    white-space     : nowrap;
    text-transform  : none;
    font-size       : 1.1em;
    @extend .btn--social;
    line-height     : 1;
    overflow        : hidden;
    border-color    : darken($facebook-blue, 3%);
    background-color: $facebook-blue;
    @include background-image(linear-gradient(lighten($facebook-blue, 8%), $facebook-blue));
    padding         : 0.5em 0.6em;
    &:hover {
        background-color: lighten($facebook-blue, 5%);
    }
    &:before {
        font-size       : 45px;
        margin-top      : -15px;
        padding-right   : 15px;
        margin-right    : 0;
        content         : 'f';
        position        : relative;
        top             : 0.4em;
    }
}
.btn--twitter {
    @extend .btn--social;
    padding         : 8px;
    border-color    : darken($twitter-blue, 3%);
    background-color: $twitter-blue;
    &:hover {
        background-color: lighten($twitter-blue, 5%);
    }
    &:before {
        content         : "\f099";
        font-size       : 26px;
        font-family     : 'FontAwesome';
    }
    span {
        border-color: darken($twitter-blue, 5%);
    }
}

.btn-group {
    i {
        font-size: 1em;
    }
    .btn, .btn.active {
        display: table-cell;
        padding: 0.8em;
        @include border-radius(0);
        &.btn--small {
            padding: 0.5em;
        }
    }
    .btn--blue {
        color: white;
    }
        .active a {
            color  : white;
        }
        a {
            color  : black;
            display: inline-block;
        }
    .btn.btn--active, .btn.active, .active .btn {
        background-color: $blue-green;
        border          : 1px solid $blue-green;
        color           : white !important;
        @include text-shadow(none);
        & + .btn.active {
            border-left: none;
        }
    }

    .btn:first-child, .btn:first-of-type {
        @include border-left-radius($brand-round);
    }
    .btn:last-child, .btn:last-of-type {
        @include border-right-radius($brand-round);
    }
    input {
        display: none;
    }
}
.btn-group--column {
    display       : flex;
    flex-direction: column;
    .btn, .btn.active {
        display: block;
    }
}
.btn--white-transparent {
    color     : white;
    border    : 2px solid white;
    background: none;
    @include text-shadow(none);
    @include transition(all 200ms linear);
    &:hover {
        border-color    : $btn--green;
        background-color: $btn--green;
        &.btn--white-transparent--white {
            border-color    : white;
            background-color: white;
            color           : black;
        }
    }
}
