/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn.btn--large {
    font-size: 20px;
    padding  : 0.6em 2.5em;
}

.btn.btn--bigger{
    font-size: 15px;
}

.btn.btn--small {
    padding: 0.5em;
}

.btn.btn--plus {
    font-size: 16px;
    padding  : 5px 8px;
}
.btn {
    white-space     : normal;
    line-height     : 1;
    font-weight     : bold;
    padding         : 0.8em;
    font-size       : 12px;
    border          : 1px solid #DEDEDE;
    background-color: #fefefe !important;
    color           : #555555;
}

// Danger and error appear as red
// Success appears as green
.btn--green, .btn--blue {
    text-transform: uppercase;
    background-color: $blue-green !important;
    border          : none;
    color           : #FFFFFF !important;
}

.btn--yellow {
    text-transform  : uppercase;
    color           : darken($yellow, 35%) !important;
    background-color: $yellow !important;
    border          : none;
}
.btn--full {
    width: 100%;
}
