.comment-list {
    list-style : none;
    margin-left: 0;
}

.quoted {
    line-height  : 14px;
}
.quoted.quoted--large {
    line-height: 20px;
}
.quoted:after, .quoted:before {
    font-family: Georgia, serif;
    font-size  : 1.7em;
    position   : relative;
    top        : 0.2em;
    line-height: 14px;
}
.quoted:after {
    content     : "\201D";
    right       : 0;
    padding-left: 0.1em;
}
.quoted:before {
    content      : "\201C";
    left         : 0;
    padding-right: 0.1em;
}
.comment__content {
    p {
        margin     : 0;
    }
}
