.course-info {
    border       : $graySmooth 1px solid;
    margin-bottom: 1em;
    padding      : 0 1em 0.5em 1em;
    @include border-radius($brand-round);
    form {
        margin-top: 0.5em;
    }
    small {
        color: $gray;
    }
}
    .course-info-price {
        border-top   : 1px solid $graySmooth;
        border-bottom: 1px solid $graySmooth;
        padding      : 0.5em 0;
        margin       : 1em 0;
        text-align   : right;
        h2 {
            margin-bottom: 0;
            line-height  : 1;
        }
    }
    .course-info-heading-caption {
        margin-bottom: 0.5em;
        font-size    : 12px;
    }
    .course-info-heading {
        font-weight  : bold;
        margin-top   : 1em;
    }
    .course-info-delimiter {
        margin-bottom: 0;
        margin-top   : 1em;
        border       : none;
        border-top   : 1px solid $graySmooth;
    }
