.datepicker-input {
    width        : 7.5em !important;
    padding-left : 0 !important;
    padding-right: 0 !important;
    text-align   : center;
}

.timepicker-input {
    width     : 5em;
    text-align: center;
}
