.draggable { cursor: move; }

.draggable.transition-on {
    @include transition(all linear 0.2s);
}
.dropzone {
    @include transition(background-color linear 0.2s);
}

.dropzone {
    &.discoverable {
        &, & td { background-color: #FFFF9D !important; }
    }
    &.dragenter {
        &, & td { background-color: #FFFF66 !important; }
    }
}
