.drop-down__wrapper {
    position: relative;
    &:hover .drop-down__el {
        opacity    : 1;
        z-index    : 2000; // To be on top of redactor edition bar
    }
}
    .drop-down__el {
        position   : absolute;
        left       : 0;
        top        : 100%;
        z-index    : -1;
        opacity    : 0;
        &.drop-down__el--left {
            left      : auto;
            right     : 0;
        }
        &.drop-down__el--appears-on-text {
            right: -1.3em;
            top  : -0.8em;
        }
    }
        .drop-down__el-inner-box {
            list-style      : none;
            background-color: white;
            margin-left     : 0;
            padding         : 0;
            border-radius: $brand-round;
            box-shadow: 0 2px 3px rgba(56,67,67,0.2);
        }
        .drop-down__el {
            transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            li:first-child {
                position: relative;
                padding-right: 0.8em;
            }
            .fa-chevron-down {
                position  : absolute;
                right     : 1.6em;
                top       : 50%;
                margin-top: -0.4em;
                font-size : 0.8em;
            }
            a {
                display      : block;
                padding      : 0.8em 2em 0.8em 1.5em;
                color        : #777777;
                font-weight  : bold;
                &:hover, &:hover > .green {
                    color          : $blue-green;
                    text-decoration: none;
                }
                &.not-hoverable:hover {
                    text-decoration : inherit;
                    background-color: inherit;
                    border-color    : #EEE;
                    color           : inherit !important;
                }
            }
        }
