.drop-down__wrapper {
    position: relative;
    &:hover .drop-down__el {
        display: block;
    }
}
    .drop-down__el {
        padding-top: 5px;
        display    : none;
        position   : absolute;
        left       : 0;
        top        : 100%;
        z-index    : 2000; // To be on top of redactor edition bar
        &.drop-down__el--left {
            left : auto;
            right: 0;
        }
    }
        .drop-down__el-inner-box {
            list-style      : none;
            background-color: white;
            margin-left     : 0;
            padding         : 0;
            border          : 1px solid #BBBBBB;
            @include border-radius($brand-round * 2);
            @include box-shadow(0 2px 3px rgba(56,67,67,0.2));
        }
        .drop-down__el {
            li:last-child a {
                border-bottom: none !important;
            }
                a {
                    display      : block;
                    padding      : 0.8em 1.8em;
                    border-bottom: 1px solid #EEE;
                    color        : #393C3D;
                    font-weight  : bold;
                    i {
                        width       : 30px;
                        margin-right: 0.8em;
                        font-size   : 15px;
                    }
                    @extend .btn-hover-transition;
                    @extend .btn-hover-transition--from-left;
                    &::after, &.btn--active { background-color: $blue_green; }
                    &:hover, &:hover > .green {
                        text-decoration : none;
                    }
                    //     background-color: $blue_green;
                    //     border-color    : $blue_green;
                    //     color           : white !important;
                    // }
                    &.not-hoverable:hover {
                        text-decoration : inherit;
                        background-color: inherit;
                        border-color    : #EEE;
                        color           : inherit !important;
                    }
                }
        }
