.drop-down__wrapper {
    position    : relative;
}
    .drop-down__el {
        display         : none;
        position        : absolute;
        left            : 0;
        top             : 100%;
        list-style      : none;
        background-color: white;
        margin          : 0;
        padding         : 0;
        z-index         : 10;
        text-align      : center;
        border          : 1px solid #D0D0D0;
        overflow-y      : hidden;
        &, ul { max-height: 30em; }
        ul {
            overflow-y: scroll;
        }
        @include box-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
        a {
            display      : block;
            padding      : 0.5em 1em;
            border-bottom: 1px solid #EEE;
            color        : #393C3D;
            font-weight  : bold;
            i {
                margin-right: 0.8em;
                font-size   : 15px;
            }
            &:hover {
                text-decoration : none;
                background-color: $blue;
                border-color    : $blue;
                color           : white;
            }
            &.not-hoverable:hover {
                text-decoration : inherit;
                background-color: inherit;
                border-color    : #EEE;
                color           : inherit;
            }
        }
    }
