quote {
    font-style: italic;
}
u {
    text-decoration: underline;
}
.red {
    color: $red-light;
}

hr {
    border       : none;
    border-bottom: 1px inset $beige-darker;
}

hr.hr--blue   { border-color: #0688BE; }
hr.hr--white  { border-color: #EEE; }
hr.hr--orange { border-color: lighten($orange, 5%); }
