quote {
    font-style: italic;
}
u {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.red {
    color: $red-light;
}

hr {
    border       : none;
    border-bottom: 1px inset $beige-darker;
}

hr.hr--clear {
    border-color: #0688BE;
}
