.flex-stretch {
    display: flex;
    align-items: stretch;

    .faux-column {
        background: none repeat scroll 0 0 #FFFFFF;
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
    }

    &:first-child {
        .faux-column {
            border-top: 1px solid #DDDDDD;
        }
    }

    &:last-child {
        .faux-column {
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 1em;
        }
    }
}

