$list_wrapper_width: 800px;
.search-wrapper {
    position: absolute;
    top     : 0;
    width   : 100%;
}

.filtered-search-wrapper {
    margin-top: 50px;
}
.filtered-search__map-wrapper:before {
    content : '';
    position: absolute;
    height  : 100%;
    right   : 0;
    width   : 2px;
    z-index : 2;
    @include box-shadow(inset -1px 0 1px rgba(0, 0, 0, 0.3));
}

.filtered-search__map-wrapper {
    left  : $list_wrapper_width;
    height: 100%;
    @include transition(all 250ms linear);
    > div,  > div > div, > div > div > div, .google-map {
        height: 100%;
    }
}
    .filtered-search__map-control {
        position: absolute;
        top     : 1em;
        left    : 6em;
    }
        .filtered-search__location-input {
            .tt-hint {
                border: none;
                height: 100%;
            }
            .tt-query {
                padding-left: 1em;
            }
        }

.filtered-search__list-filters {
    top  : 50px;
    width: $list_wrapper_width;
}
.filtered-search__list-wrapper {
    width         : $list_wrapper_width;
    top           : 50px;
    bottom        : 0;
    padding-bottom: 2em;
    webkit-overflow-scrolling: touch;
    @include transition(all 250ms linear);
    @include media-query(palm) {
        position: static;
    }
}

    .filtered-search__list {
        padding-top : 6px;
        padding-left: 6px;
    }
    .filtered-search__loader {
        position        : absolute;
        top             : 50px;
        left            : 50%;
        height          : auto;
        width           : 16em;
        margin-left     : -8em;
        background-color: white;
        z-index         : 10;
        padding         : 0.5em;
        border          : 1px solid #EEE;
        border-top      : none;
        @include border-bottom-radius(3px);
    }
.filtered-search-loader {
    position        : absolute;
    z-index         : 20;
    background-color: $site-background-color;
    width           : 100%;
    height          : 100%;
    top             : 10em;
    left            : 0;
    padding-top     : 10em;
}

