.flash {
    overflow    : hidden;
    position    : fixed;
    top         : -1000px;
    left        : 50%;
    width       : 40em;
    margin      : 0;
    margin-left : -20em;
    text-align  : center;
    text-shadow : none;
    font-weight : bold;
    color       : white;
    padding     : 1em;
    z-index     : 1000000;
    border      : 1px solid black;
    @include border-radius(0);
    @include border-bottom-radius($brand-round);
    background-color: $green-success;
    border-color    : darken($green-success, 5%);
    &.notice {
        background-color: $green-success;
        border-color    : darken($green-success, 5%);
    }
    &.error, &.alert {
        background-color: $red;
        border-color    : darken($red, 5%);
    }
}
