.main-footer {
    background-color: #1F2933;
    padding-top     : 2em;
    padding-bottom  : 2em;
    border-top      : 1px solid #222222;
    &, a { color: #DDDDDD; }
    a {
        font-weight: 500;
    }
}
