.main-footer {
    background-color: #333;
    padding-top     : 2em;
    padding-bottom  : 2em;
    border-top      : 1px solid darken($homescreen-background, 10%);
    &, a { color: #DDD; }
    a {
        font-weight: 500;
    }
}
