.input .chosen-container {
    width: 100% - $label-width - 0.5 !important;
    &.one-whole { width: 100% !important; }
    @include multiple-media-query(palm, lap) {
        width: 100%!important;
    }
}
.input.chosen-input .chosen-container {
    width: 100% !important;
}

.checkbox-at-left {
    &:before, &:after {
        display    : table;
        content    : "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
    label, input {
        float: left;
    }
    input {
        margin-top: 11px;
    }
    label.boolean {
        margin-left: 8px;
        text-align : left;
        width      : 85%;
    }
}
//.simple_form {
    input.float, input.integer {
        max-width: 5em;
    }
    .check_boxes {
        .checkbox {
            vertical-align: middle;
            margin-right: 1em;
            label {
                padding-left: 0.3em; // In order that the user can still clicks
                vertical-align: middle;
            }
            input, label {
                display: inline-block;
                width  : auto;
                vertical-align: middle;
            }
        }
    }
    .input {
        margin: 10px 0;
        input, textarea, .text, .input-container {
            width    : 100% - $label-width;
            &.one-whole {
                width: 100%;
            }
        }
        .multiple-select {
            // -1 Because chosen generate a slightly bigger input (or maybe it includes a space...)
            width: 100% - $label-width - 1;
        }
        select {
            width: auto;
            &.one-whole { width: 99%; }
        }
        &.city-autocomplete-wrapper {
            > .input.select {
                width: auto;
            }
            > .input, input {
                min-width    : 100px;
                margin-bottom: 0;
            }
        }
        .control-label {
            width: $label-width;
        }
        .control-label, input, textarea, .input-container, .input.text {
            @include multiple-media-query(palm, lap) {
                width     : 100% !important;
                text-align: left;
            }
        }
        input.file {
            border     : none;
            padding    : 0;
            line-height: 1;
            box-shadow: none;
        }
        > select, > input, > select, > textarea, > div, > label, .input-container {
            &.hidden { display: none; }
            display       : inline-block;
            vertical-align: top;
        }
        > label.text {
            vertical-align: top;
        }
        .radio {
            margin-right: 1.5em;
            label, input {
                display       : inline-block;
                width         : auto;
                vertical-align: middle;
                padding-left  : 0.5em;
            }
            label.collection_radio_buttons {
                margin-right: 1em;
            }
            input {
                width       : auto;
            }
        }
    }
      .control-label {
          text-align    : right;
          padding-right : 1em;
      }
    .label--header{
        font-weight: bold;
        width      : auto;
    }
    .textarea-with-info {
        max-width: 60em;
    }
    textarea.text {
        height: 5em;
    }
    .required {
        abbr {
            border: none;
        }
    }
    // Inline checkbox list
    .checkbox-block-list {
        .checkbox {
            display: block;
            margin: 7px 0;
            label {
                width: 85%; // Prevent text from falling under checkbox
            }
        }
    }
    // Inline checkbox list
    .checkbox-list {
        .input.boolean {
            input {
                width     : auto;
                margin-top: 0;
            }
            label {
                margin-left: 0.5em;
                float      : none;
                text-align : left;
                min-width  : auto;
                width      : auto;
            }
        }
    }
    .input.boolean {
        label {
            float: left;
        }
    }

.simple_form.wizard-form {
    .input {
        .control-label {
            display   : block;
            text-align: left;
            width     : 100%;
        }
        input, textarea {
            width    : 100%;
            &.boolean {
                width: auto;
            }
        }
        label.boolean {
            display: inline-block;
            width  : auto;
        }
    }
}
.simple_form.half-form {

    .form-actions {
        padding-left: $label-width / 1.4;
        @include multiple-media-query(palm, lap) { padding-left: 0; };
    }
    .field-form-info {
        padding-left: $label-width / 1.4;
        @include multiple-media-query(palm, lap) { padding-left: 0; };
    }
    .input {
        .control-label {
            width: $label-width / 1.4;
        }
        .control-label, input, textarea {
            @include multiple-media-query(palm, lap) {
                width     : 100%;
                text-align: left;
            }
        }
        input, textarea {
            @include media-query(palm) { width: 100%; };
        }
    }

}
.form-actions {
    padding-left: $label-width;
    @include multiple-media-query(palm, lap) { width: 100%; }
}

.field-form-info {
    padding-left: $label-width;
    font-style  : italic;
    color       : $gray-light;
    @include multiple-media-query(palm, lap) { padding-left: 0; };
}

.field_with_errors {
    .chosen-choices input {
        box-shadow: none !important;
    }
    textarea, input, .chosen-choices {
        border-color: opacify($red, 0.8) !important;
    }
    .input_field_error {
        display    : block !important;
        font-size  : 12px;
        line-height: 22px;
    }
}

// Be2Bill
#b2b-errors, .invalid {
    color: red;
}
#b2b-table {
    margin-bottom: 0;
    th, td {
        padding: 3px !important;
    }
    tbody tr th:first-child {
        text-align: right;
    }
    #b2b-submit {
        @extend .btn;
        @extend .btn--green;
        @extend .btn--large;
        @extend .btn--full;
    }
    #b2b-fullname-input, #b2b-email-input { width: 250px; }
}
.input > .cke_1 { width: 100% !important; }
.datepicker-input {
    width: 7em;
}
