.inline-form {
    display: inline;
}

//.simple_form {
    .error {
        padding    : 5px 10px !important;
        margin     : 0;
        margin-left: $label-width;
        @extend .alert--error;
    }
    .check_boxes {
        .checkbox {
            display     : inline;
            margin-right: 1em;
            label {
                padding-left: 0.3em; // In order that the user can still clicks
            }
            input, label {
                display: inline;
                width  : auto;
            }
        }
    }
    .input {
        margin: 10px 0;
        input, textarea, .text {
            width    : 100% - $label-width;
            &.one-whole {
                width: 100%;
            }
        }
        &.city-autocomplete-wrapper {
            > .input, input {
                width        : 10em;
                margin-bottom: 0;
            }
        }
        .control-label {
            width: $label-width;
        }
        .control-label, input, textarea {
            @include multiple-media-query(palm, lap) {
                width     : 100%;
                text-align: left;
            }
        }
        input.file {
            border     : none;
            padding    : 0;
            line-height: 1;
            @include box-shadow(none);
        }
        > select, > input, > select, > textarea, > div, > label {
            display       : inline-block;
            vertical-align: middle;
        }
        > label.text {
            vertical-align: top;
        }
        > input, > select, > textarea, > div, > label {
            font-size: $base-font-size;
        }

        select {
            width: auto;
        }
        .radio {
            label, input {
                display       : inline-block;
                width         : auto;
                vertical-align: middle;
                padding-left  : 0.5em;
            }
            label.collection_radio_buttons {
                margin-right: 1em;
            }
            input {
                width       : auto;
                margin-right: 5px;
            }
        }
        &.boolean input {
            width: auto
        }
    }
    .inline-inputs {
        .control-label {
            width  : auto;
            padding: 0 0.5em;
        }
        input[type="submit"] {
            margin-left: 1em;
        }
    }
        .control-label {
            text-align    : right;
            padding-right : 1em;
        }
    .form-header-group {
        border-bottom: solid 1px $gray-smooth;
        // text-align   : right;
        width        : $left-form-margin;
        margin-top   : 1em;
    }
    .label--header{
        font-weight: bold;
        width      : auto;
    }
    .textarea-with-info {
        max-width: 60em;
    }
    textarea.text {
        height: 5em;
        &.textarea-description--tall {
            height: 30em;
        }
        &.textarea-description {
            height: 20em;
        }
        &.textarea-description--tall, &.textarea-description {
            width : 100%;
        }
    }
    .required {
        abbr {
            border: none;
        }
    }
    .checkbox-list {
        .input.boolean {
            input {
                width     : auto;
                margin-top: 0;
            }
            label {
                margin-left: 0.5em;
                float      : none;
                text-align : left;
                min-width  : auto;
                width      : auto;
            }
        }
    }
    .input.boolean {
        @extend .cf;
        label {
            float: left;
        }
    }

.simple_form.wizard-form {
    .input {
        .control-label {
            display   : block;
            text-align: left;
            width     : 100%;
        }
        input, textarea {
            width    : 100%;
            max-width: 30em;
            &.boolean {
                width: auto;
            }
        }
        label.boolean {
            display: inline-block;
            width  : auto;
        }
    }
}
.simple_form.half-form {

    .form-actions {
        padding-left: $label-width / 1.4;
        @include multiple-media-query(palm, lap) { padding-left: 0; };
    }
    .field-form-info {
        padding-left: $label-width / 1.4;
        @include multiple-media-query(palm, lap) { padding-left: 0; };
    }
    .form-header-group { width       : $label-width / 1.4; }
    .input {
        .control-label {
            width: $label-width / 1.4;
        }
        .control-label, input, textarea {
            @include multiple-media-query(palm, lap) {
                width     : 100%;
                text-align: left;
            }
        }
        input, textarea {
            @include media-query(palm) { width: 100%; };
        }
    }

}
.form-actions {
    padding-left: $label-width;
    @include multiple-media-query(palm, lap) { width: 100%; }
}

.field-form-info {
    padding-left: $label-width;
    font-style  : italic;
    color       : $gray-light;
    @include multiple-media-query(palm, lap) { padding-left: 0; };
}

.helper-label:after {
    cursor              : pointer;
    content             : '?';
    display             : inline-block;
    vertical-align      : middle;
    width               : 25px;
    height              : 25px;
    text-align          : center;
    font-weight         : bold;
    margin-left         : 3px;
    background-image    : image-url('icons/bulle.png');
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : 100%;
    color               : white;
    text-shadow         : $gray;
    @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}',sizingMethod='scale')";
    }
}
