.header {
    @include media-query(palm) { text-align: center; };
    @include media-query(lap) { text-align: center; };
    height: $header-height;
    padding         : 0;
    overflow        : visible;
    display         : table;
    width           : 100%;
    background-color: #FFF;
    position        : relative;
    z-index         : 230;
    .nav {
        margin-bottom: 0;
        margin-left  : 1em;
    }
}

    .header-search-input {
        display : inline-block;
        input {
            padding-left: 1em;
            max-width   : 300px;
            font-size   : 17px;
            line-height : 1.5em;
            font-weight : 600;
            @include border-radius(40px);
            &:hover .fa-search { color: white; }
        }
        .fa-times {
            color           : $blue_green;
            cursor          : pointer;
            font-size       : 9px;
            border          : 1px solid #EEE;
            background-color: white;
            padding         : 6px;
            border-radius   : 14px;
            top             : 1em;
        }
        i {
            font-size: 15px;
            color: $blue_green;
            position: absolute;
            top     : 0.8em;
            right   : 1em;
        }
        ::-webkit-input-placeholder { color: #EEEEEE; } /* WebKit browsers */
        :-moz-placeholder           { color: #EEEEEE; opacity: 1; } /* Mozilla Firefox 4 to 18 */
        ::-moz-placeholder          { color: #EEEEEE; opacity: 1; } /* Mozilla Firefox 19+ */
        :-ms-input-placeholder      { color: #EEEEEE; } /* Internet Explorer 10+ */
    }

    .coursavenue-header-logo-wrapper {
        background-color: $blue-green;
        padding         : 0 2em;
        height          : $header-height;
        @extend .inline-block;
    }
    .coursavenue-header-logo {
        background-position: center;
        background-repeat  : no-repeat;
        @include background-image-retina('logos/logo_white.png', 'logos/logo_white@2x.png');
        @include background-size(100%);
        width  : 150px;
        height : $header-height;
        display: inline-block;
        &.coursavenue-header-logo--pro {
            width: 222px;
            @include background-image-retina('logos/logo-pro.png', 'logos/logo-pro@2x.png');
            &.coursavenue-header-logo--white {
                width : 153px;
                height: 22px;
                @include background-image-retina('logos/logo-pro-white.png', 'logos/logo-pro-white@2x.png');
            }
        }
        img {
            width: 100%;
        }
    }
.header--pro {
    padding: 5px 0;
    &, .main-container {
        line-height: 1;
        height     : auto;
    }
    .logo {
        display: inline-block;
        height : 42px;
        width  : 262px;
    }
}
    .header--pro__background {
        @include background-image-retina('pro/homepage/bg.jpg', 'pro/homepage/bg@2x.jpg');
    }
    .header--pro__link {
        @include transition(all 200ms linear);
        border-color: transparentize(white, 0.2);
        &:hover {
            border-color   : white;
            color          : white;
            text-decoration: none;
        }
    }
