.header {
    @include media-query(palm) { text-align: center; };
    @include media-query(lap) { text-align: center; };
    height: $header-height;
    padding         : 0;
    overflow        : visible;
    display         : table;
    width           : 100%;
    background-color: #FFF;
    position        : relative;
    z-index         : 230;
    .nav {
        margin-bottom: 0;
        margin-left  : 1em;
    }
}

    .header-search-input {
        @include media-query(palm) {
            padding         : 0.4em;
            background-color: $blue-green;
        }
        display : inline-block;
        input {
            padding-left : 1em;
            padding-right: 2em;
            width        : 300px;
            @include media-query(palm) {
                width    : 100%;
            }
            font-size    : 17px;
            line-height  : 1.5em;
            font-weight  : 600;
            border-radius: 40px;
            &:hover .fa-search { color: white; }
            &::-webkit-input-placeholder { color: #777777 !important; } /* WebKit browsers */
            &:-moz-placeholder           { color: #777777 !important; } /* Mozilla Firefox 4 to 18 */
            &::-moz-placeholder          { color: #777777 !important; } /* Mozilla Firefox 19+ */
            &:-ms-input-placeholder      { color: #777777 !important; } /* Internet Explorer 10+ */
            &:focus {
                background-color: $blue-green;
                color           : white;
                &::-webkit-input-placeholder { color: white !important; } /* WebKit browsers */
                &:-moz-placeholder           { color: white !important; } /* Mozilla Firefox 4 to 18 */
                &::-moz-placeholder          { color: white !important; } /* Mozilla Firefox 19+ */
                &:-ms-input-placeholder      { color: white !important; } /* Internet Explorer 10+ */
            }
        }
        .fa-times {
            color           : $blue_green;
            cursor          : pointer;
            font-size       : 9px;
            border          : 1px solid #EEE;
            background-color: white;
            padding         : 6px;
            border-radius   : 14px;
            top             : 1em;
        }
        i {
            font-size: 15px;
            color: $blue_green;
            position: absolute;
            top     : 0.8em;
            right   : 1em;
        }
        ::-webkit-input-placeholder { color: #EEEEEE; } /* WebKit browsers */
        :-moz-placeholder           { color: #EEEEEE; opacity: 1; } /* Mozilla Firefox 4 to 18 */
        ::-moz-placeholder          { color: #EEEEEE; opacity: 1; } /* Mozilla Firefox 19+ */
        :-ms-input-placeholder      { color: #EEEEEE; } /* Internet Explorer 10+ */
    }

    .coursavenue-header-logo-wrapper {
        background-color: $blue-green;
        padding         : 0 2em;
        height          : $header-height;
        @extend .inline-block;
    }
    .coursavenue-header-logo {
        background-position: center;
        background-repeat  : no-repeat;
        @include background-image-retina('logos/logo_white.png', 'logos/logo_white@2x.png');
        background-size: 100%;
        width  : 150px;
        height : $header-height;
        display: inline-block;
        img {
            width: 100%;
        }
    }
.header--pro {
    padding: 5px 0;
    &, .main-container {
        line-height: 1;
        height     : auto;
    }
    .logo {
        display: inline-block;
        height : 42px;
        width  : 262px;
    }
}
    .header--pro__background {
        @include background-image-retina('pro/homepage/bg.jpg', 'pro/homepage/bg@2x.jpg');
    }
    .header--pro__link {
        transition: all 200ms linear;
        border-color: transparentize(white, 0.2);
        &:hover {
            border-color   : white;
            color          : white;
            text-decoration: none;
        }
    }
