.header {
    @include media-query(palm) { text-align: center; };
    @include media-query(lap) { text-align: center; };
    padding         : 0;
    border-bottom   : 1px solid #EEE;
    overflow        : visible;
    display         : table;
    width           : 100%;
    background-color: #FFF;
    position        : relative;
    z-index         : 230;
    .nav {
        margin-bottom: 0;
        margin-left  : 1em;
    }
    .jpo-header-logo {
        @include background-image-retina('jpo_2014/logo_1_line_without_coursavenue.png', 'jpo_2014/logo_1_line_without_coursavenue@2x.png');
        @include background-size(100%);
        height: 40px;
        width : 146px;
        background-repeat: no-repeat;
    }
}
    .coursavenue-header-logo {
        @include background-image-retina('logos/logo.png', 'logos/logo@2x.png');
        background-repeat: no-repeat;
        &.coursavenue-header-logo--white {
            @include background-image-retina('logos/logo_white.png', 'logos/logo_white@2x.png');
        }
        @include background-size(100%);
        height  : 40px;
        width   : 200px;
        display : inline-block;
        &.coursavenue-header-logo--pro {
            width: 222px;
            @include background-image-retina('logos/logo-pro.png', 'logos/logo-pro@2x.png');
        }
        img {
            width: 100%;
        }
    }
.header--pro {
    padding: 5px 0;
    &, .main-container {
        line-height: 1;
        height     : auto;
    }
    .logo {
        display: inline-block;
        height : 42px;
        width  : 262px;
    }
}
    .header--pro__background {
        @include background-image-retina('pro/homepage/bg.jpg', 'pro/homepage/bg@2x.jpg');
    }
    .header--pro__link {
        @include transition(all 200ms linear);
        border-color: transparentize(white, 0.2);
        &:hover {
            border-color   : white;
            color          : white;
            text-decoration: none;
        }
    }
