.icon-question-sign {
    cursor: pointer;
}
.super-muted {
    @include opacity(0.3);
}
.semi-muted {
    @include opacity(0.75);
}

.relative          { position: relative; }
.absolute          { position: absolute; }
.inherit-font-size { font-size: inherit; }
.italic            { font-style: italic; }
.weight-normal     { font-weight: normal; }
.bold              { font-weight: bold; }
.hidden            { display: none; }
.flip {
    @include vendor(transform, scaleX(-1));
    filter: FlipH; /* IE 6/7/8 */
}

.v-top      { vertical-align: top!important; }
.v-middle   { vertical-align: middle!important; }
.v-bottom   { vertical-align: bottom!important; }

.white      { color: white; }
.orange     { color: $orange; }
.yellow     { color: $yellow; }
.red        { color: $red; }
.green      { color: $green-success; }
.blue       { color: $blue-green !important; }
.fb-blue    { color: $facebook-blue;}
.orange     { color: $orange; }
.brand      { color: $orange !important; }
.gray-light { color: $gray-light;}
.bg-green   { background-color: $green-success; }
.bg-red     { background-color: $red; }
.margin-bottom {
    margin-bottom: 1em;
}
.small-margin-bottom {
    margin-bottom: 0.5em;
}
.b-white {
    background: white;
}

.smaller-print {
    font-size: 0.8em;
}

.line-through { text-decoration: line-through; }

.base-font-style {
    font-size  : $base-font-size;
    font-weight: 400;
}

.bordered--right { border-right  : 1px solid $gray-smooth; }
.bordered--left  { border-left   : 1px solid $gray-smooth; }
.bordered--bottom{ border-bottom : 1px solid $gray-smooth; }
.bordered--top   { border-top    : 1px solid $gray-smooth; }
.center-block    { margin-left: auto; margin-right: auto; display: block; }
.block           { display: block; }
.inline          { display: inline;}
.inline-block    { display: inline-block!important;}


.width-auto         { width: auto !important; }
.line-height-1      { line-height: 1;}
.line-height-normal { line-height: normal;}

.or {
    border-bottom: 1px solid #CCC;
    margin       : 1em 0 2em 0;
    text-align   : center;
    span {
        font-size       : 14px;
        position        : relative;
        bottom          : -10px;
        padding         : 0 1em;
        background-color: #F9F9F9;
    }
}
.nowrap    { white-space : nowrap; }
.break-all { word-break : break-all; }
.milli {
    p {
        line-height: 1.5;
    }
}
.word-break-normal { word-break: normal; }
.thin              { font-weight: 300; }
.very-soft         { padding: 5px;}

.darker-background {
 background-color: $beige-darker;
}
