.home-screen-comment {
    position   : absolute;
    bottom     : 1em;
    right      : 1em;
    max-width  : 500px;
    color      : white;
    margin-left : auto;
    @include text-shadow(0 0 5px $gray, 0 0 10px $gray-dark, 0 0 20px $gray-darker);
    img {
        @include border-radius(5em);
    }
}
.home-screen {
    background-color: black;
    width           : 100%;
    min-height      : 24em;
    position        : relative;
    overflow        : visible;
}
    .home-page-search {
        position        : relative;
        z-index         : 5;
    }

.home-screen-promotion-wrapper--blue {
    color           : white;
    background-color: $blue-green;
}

.home-screen-promotion-wrapper {
    background-color: $homescreen-background;
    border          : 1px solid #DBDBDB;
    .home-screen-promotion {
        padding-top: 0;
    }
}
    .home-screen-promotion {
        @include media-query(palm) { text-align: center; }
        @include media-query(lap)  { text-align: center; }
    }
