.top-right-hidden-button {
    max-width: 0;
    overflow : hidden;
    @include transition(all 300ms ease-out);
    &.in {
        max-width: 300px;
    }
}
.home-page-fullscreen-video {
    position  : absolute;
    left      : 50%;
    top       : 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width : 100%;
    min-height: 100%;
    z-index   : 0;
    @include transform(translate(-50%,-50%));
}

.home-screen-gallery__title {
    color      : #FFF;
    position   : absolute;
    top        : 50%;
    left       : 50%;
    width      : 100%;
    margin-left: -50%;
    margin-top : -1em;
    font-size  : 1.5em;
    @include text-shadow(0 0 20px $gray-darker);
    // @include text-shadow(0 0 5px $gray, 0 0 10px $gray-dark, 0 0 20px $gray-darker);
    &.home-screen-gallery__title--bigger {
        font-size  : 2em;
    }
}

.home-screen-comment {
    position   : absolute;
    bottom     : 1em;
    right      : 1em;
    max-width  : 500px;
    color      : white;
    margin-left : auto;
    @include text-shadow(0 0 5px $gray, 0 0 10px $gray-dark, 0 0 20px $gray-darker);
    img {
        @include border-radius(5em);
    }
}
.home-screen {
    background-color: black;
    width           : 100%;
    min-height      : 24em;
    position        : relative;
    overflow        : visible;
}
    .home-page-search {
        position        : relative;
        z-index         : 5;
    }


.home-screen-promotion-wrapper {
    background-color: $homescreen-background;
    border          : 1px solid #DBDBDB;
    .home-screen-promotion {
        padding-top: 0;
    }
}
    .home-screen-promotion {
        @include media-query(palm) { text-align: center; }
        @include media-query(lap)  { text-align: center; }
    }

.homescreen-header {
    background-color: white;
    background      : white;
    border-bottom   : 1px solid $gray-smooth;
    @include transition(all 200ms linear);
    &.homescreen-header--transparent {
        border: none;
        @extend .gradient-black-to-white;
        a {
            color      : white;
            font-weight: 500;
            &.f-color-black {
                color: black;
            }
        }
    }
}

.home-screen-box-bg          { height: 400px; }
.home-screen-box-bg-belly    { @include background-image-retina('home-page/danse_orientale.jpg'     , 'home-page/danse_orientale@2x.jpg'); }
.home-screen-box-bg-actors   { @include background-image-retina('home-page/formations_d_acteurs.jpg', 'home-page/formations_d_acteurs@2x.jpg'); }
.home-screen-box-bg-singers  { @include background-image-retina('home-page/techniques_vocales.jpg'  , 'home-page/techniques_vocales@2x.jpg'); }
.home-screen-box-bg-yoga     { @include background-image-retina('home-page/yoga.jpg'                , 'home-page/yoga@2x.jpg'); }
.home-screen-box-bg-hip-hop  { @include background-image-retina('home-page/hip-hop.jpg'             , 'home-page/hip-hop@2x.jpg'); }
.home-screen-box-bg-painting { @include background-image-retina('home-page/dessin.jpg'           , 'home-page/dessin@2x.jpg'); }
.home-screen-box-bg-zumba    { @include background-image-retina('home-page/zumba.jpg'               , 'home-page/zumba@2x.jpg'); }
