.subject_icon {
    height              : 20px;
    margin-left         : auto;
    margin-right        : auto;
    margin-bottom       : 5px;
    background-position : center center;
    background-repeat   : no-repeat;
    @include background-size(contain);
}

.subject_icon__danse{
    width            : 15px;
    @include background-image-retina('icons/subjects/danse.png', 'icons/subjects/danse@2x.png');
    @include background-size(15px 20px);
}
.subject_icon__theatre-scene {
    width            : 27px;
    @include background-image-retina('icons/subjects/theatre-scene.png', 'icons/subjects/theatre-scene@2x.png');
    @include background-size(27px 20px);
}
.subject_icon__yoga-bien-etre-sante {
    width            : 22px;
    @include background-image-retina('icons/subjects/yoga-bien-etre-sante.png', 'icons/subjects/yoga-bien-etre-sante@2x.png');
    @include background-size(22px 20px);
}
.subject_icon__musique-chant {
    width            : 20px;
    @include background-image-retina('icons/subjects/musique-chant.png', 'icons/subjects/musique-chant@2x.png');
    @include background-size(20px 20px);
}
.subject_icon__dessin-peinture-arts-plastiques {
    width            : 22px;
    @include background-image-retina('icons/subjects/dessin-peinture-arts-plastiques.png', 'icons/subjects/dessin-peinture-arts-plastiques@2x.png');
    @include background-size(22px 20px);
}
.subject_icon__sports-arts-martiaux {
    width            : 21px;
    @include background-image-retina('icons/subjects/sports-arts-martiaux.png', 'icons/subjects/sports-arts-martiaux@2x.png');
    @include background-size(21px 20px);
}
.subject_icon__cuisine-vins {
    width            : 21px;
    @include background-image-retina('icons/subjects/cuisine-vins.png', 'icons/subjects/cuisine-vins@2x.png');
    @include background-size(21px 20px);
}
.subject_icon__deco-mode-bricolage {
    width            : 23px;
    @include background-image-retina('icons/subjects/deco-mode-bricolage.png', 'icons/subjects/deco-mode-bricolage@2x.png');
    @include background-size(23px 20px);
}
.subject_icon__photo-video {
    width            : 26px;
    @include background-image-retina('icons/subjects/photo-video.png', 'icons/subjects/photo-video@2x.png');
    @include background-size(26px 20px);
}

.subject-active, .keyword-subjects {
    .subject_icon__danse{
        @include background-image-retina('icons/subjects/danse-white.png', 'icons/subjects/danse-white@2x.png');
    }
    .subject_icon__theatre-scene {
        @include background-image-retina('icons/subjects/theatre-scene-white.png', 'icons/subjects/theatre-scene-white@2x.png');
    }
    .subject_icon__yoga-bien-etre-sante {
        @include background-image-retina('icons/subjects/yoga-bien-etre-sante-white.png', 'icons/subjects/yoga-bien-etre-sante-white@2x.png');
    }
    .subject_icon__musique-chant {
        @include background-image-retina('icons/subjects/musique-chant-white.png', 'icons/subjects/musique-chant-white@2x.png');
    }
    .subject_icon__dessin-peinture-arts-plastiques {
        @include background-image-retina('icons/subjects/dessin-peinture-arts-plastiques-white.png', 'icons/subjects/dessin-peinture-arts-plastiques-white@2x.png');
    }
    .subject_icon__sports-arts-martiaux {
        @include background-image-retina('icons/subjects/sports-arts-martiaux-white.png', 'icons/subjects/sports-arts-martiaux-white@2x.png');
    }
    .subject_icon__cuisine-vins {
        @include background-image-retina('icons/subjects/cuisine-vins-white.png', 'icons/subjects/cuisine-vins-white@2x.png');
    }
    .subject_icon__deco-mode-bricolage {
        @include background-image-retina('icons/subjects/deco-mode-bricolage-white.png', 'icons/subjects/deco-mode-bricolage-white@2x.png');
    }
    .subject_icon__photo-video {
        @include background-image-retina('icons/subjects/photo-video-white.png', 'icons/subjects/photo-video-white@2x.png');
    }
}
