.lbc-icon-calendar, .lbc-icon-clock, .lbc-brand-icon, .lbc-subject-icon {
    display          : inline-block;
    width            : 14px;
    height           : 14px;
    vertical-align   : middle;
    position         : relative;
    top              : -1px;
    background-size  : 14px;
    background-repeat: no-repeat;
    @include background-size(100%);
}

.btn .lbc-icon-calendar {
    height: 11px;
    background-size: 10px;
}
.lbc-icon-calendar {
    height           : 16px;
    background-image : image-url('icons/calendar.png');
     @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/calendar.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/calendar.png')}',sizingMethod='scale')";
    }
}
.lbc-icon-clock {
    background-image : image-url('icons/clock.png');
     @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/clock.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/clock.png')}',sizingMethod='scale')";
    }
}

.lbc-icon-info {
    font-size  : 1.1em;
    font-style : italic;
    font-family: Baskerville, Time New Roman;
    font-weight: bold;
}

.lbc-brand-icon {
    cursor           : pointer;
    height           : 16px;
    width            : 16px;
    background-image : image-url('icons/bulle.png');
     @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}',sizingMethod='scale')";
    }
}
.lbc-subject-icon {
    width            : 24px;
    height           : 16px;
    background-image : image-url('icons/subject.png');
     @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/subject.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}',sizingMethod='scale')";
    }
}


.subject_icon {
    height           : 35px;
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(35px);

}
.subject_icon__danse                           { background-image : image-url('icons/subjects/danse.png'); }
.subject_icon__theatre-scene                   { background-image : image-url('icons/subjects/theatre-scene.png'); }
.subject_icon__yoga-bien-etre-sante            { background-image : image-url('icons/subjects/yoga-bien-etre-sante.png'); }
.subject_icon__musique-chant                   { background-image : image-url('icons/subjects/musique-chant.png'); }
.subject_icon__dessin-peinture-arts-plastiques { background-image : image-url('icons/subjects/dessin-peinture-arts-plastiques.png'); }
.subject_icon__sports-arts-martiaux            { background-image : image-url('icons/subjects/sports-arts-martiaux.png'); }
.subject_icon__cuisine-vins                    { background-image : image-url('icons/subjects/cuisine-vins.png'); }
.subject_icon__other                           { background-image : image-url('icons/subjects/other.png'); }
