.lbc-icon-calendar, .lbc-icon-clock, .lbc-brand-icon, .lbc-subject-icon {
    display          : inline-block;
    width            : 14px;
    height           : 14px;
    vertical-align   : middle;
    position         : relative;
    top              : -1px;
    background-size  : 14px;
    background-repeat: no-repeat;
    @include background-size(100%);
}

.btn .lbc-icon-calendar {
    height: 11px;
    background-size: 10px;
}
.lbc-icon-calendar {
    height           : 16px;
    background-image : image-url('icons/calendar.png');
}
.lbc-icon-clock {
    background-image : image-url('icons/clock.png');
}

.lbc-icon-info {
    font-size  : 1.1em;
    font-style : italic;
    font-family: Baskerville, Time New Roman;
    font-weight: bold;
}

.lbc-brand-icon {
    cursor           : pointer;
    height           : 16px;
    width            : 16px;
    background-image : image-url('icons/bulle.png');
}
.lbc-subject-icon {
    width            : 24px;
    height           : 16px;
    background-image : image-url('icons/subject.png');
}


.subject_icon {
    height              : 30px;
    margin-left         : auto;
    margin-right        : auto;
    margin-bottom       : 5px;
    background-position : center center;
    background-repeat   : no-repeat;
    @include background-size(contain);
}

.subject_icon__danse{
    width            : 3.6em;
    background-image : image-url('icons/subjects/danse.png');
}
.subject_icon__theatre-scene {
    width            : 3.2em;
    background-image : image-url('icons/subjects/theatre-scene.png');

}
.subject_icon__yoga-bien-etre-sante {
    width            : 3em;
    background-image : image-url('icons/subjects/yoga-bien-etre-sante.png');
}
.subject_icon__musique-chant {
    width            : 1.8em;
    background-image : image-url('icons/subjects/musique-chant.png');
}
.subject_icon__dessin-peinture-arts-plastiques {
    width            : 2.7em;
    background-image : image-url('icons/subjects/dessin-peinture-arts-plastiques.png');
}
.subject_icon__sports-arts-martiaux {
    width            : 4.1em;
    background-image : image-url('icons/subjects/sports-arts-martiaux.png');
}
.subject_icon__cuisine-vins {
    width            : 5em;
    background-image : image-url('icons/subjects/cuisine-vins.png');
    @include background-size(60px 25px);
    background-size  : 60px 25px;
}

.subject-active, .keyword-subjects {
    .subject_icon__danse{
        background-image : image-url('icons/subjects/danse-white.png');
    }
    .subject_icon__theatre-scene {
        background-image : image-url('icons/subjects/theatre-scene-white.png');
    }
    .subject_icon__yoga-bien-etre-sante {
        background-image : image-url('icons/subjects/yoga-bien-etre-sante-white.png');
    }
    .subject_icon__musique-chant {
        background-image : image-url('icons/subjects/musique-chant-white.png');
    }
    .subject_icon__dessin-peinture-arts-plastiques {
        background-image : image-url('icons/subjects/dessin-peinture-arts-plastiques-white.png');
    }
    .subject_icon__sports-arts-martiaux {
        background-image : image-url('icons/subjects/sports-arts-martiaux-white.png');
    }
    .subject_icon__cuisine-vins {
        background-image : image-url('icons/subjects/cuisine-vins-white.png');
    }
}
.subject_icon__other {
    height     : 68px;
    line-height: 48px!important;
}

.keyword-subjects {
    .active:before {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
      border-image: none;
      border-style: solid;
      border-width: 9px 8px;
      content: "";
      height: 0;
      position: absolute;
      bottom: 0;
      width: 0;
    }
}
