.image-quote {
    position        : absolute;
    bottom          : 0;
    right           : 0;
    width           : 350px;
    background-color: #faf9f8;
    background-color: transparentize(#faf9f8, 0.1);
    border-right    : 1px solid #CCC;
    border-bottom   : 1px solid #CCC;
    padding         : 0.5em 1em;
    @include border-top-left-radius($brand-round);
}
.image-quote--footer {
    font-variant: italic;
    font-weight : bold;
}
