.gm-style {
    div {
        box-shadow: none!important;
    }
    .infoBox {
        position        : relative;
        font-size       : 13px;
        line-height     : 18px;
        font-weight     : 200;
        font-family     : $brand-face;
        background-color: #FFF;
        border          : 1px solid #DDD;
        padding         : 5px;
        color           : #393C3D;
        border-radius: $brand-round;
        > img {
          display: none;
        }
    }

    .infoBox:before {
        border-color: #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 12px 10px;
        bottom      : -24px;
        content     : "";
        height      : 0;
        // 150px - 12px (half of the size of the infobox minus the width of the triangle)
        // left        : 139px;
        // (200 / 2) - 12px (half of the size of the infobox minus the width of the triangle)
        left        : 88px;
        position    : absolute;
        width       : 0;
      }

    .infobox__title {
        font-size    : 15px;
        font-weight  : bold;
        display      : block;
        margin-bottom: 5px;
    }
    .infobox__close {
        position   : absolute;
        top        : -8px;
        right      : -8px;
        width      : 22px;
        height     : 22px;
        line-height: 20px;
        background : #FFF;
        border     : 1px solid #EEE;
        text-align : center;
        color      : #666;
        z-index    : 10;
        cursor     : pointer;
        padding-left: 1px;
        border-radius: 10px;
        i {
            font-size: 17px;
        }
        &:hover {
          color: black;
        }
    }
}
