/*------------------------------------*\
    $Input
\*------------------------------------*/

input[type="search"] {
    @include box-sizing(border-box);
}
input[type=search][disabled], input[type=text][disabled] {
    color: #888;
}
input[type=search] {
    -webkit-appearance: none;
}
input{
    &[type=checkbox], &[type=radio]{
        cursor: pointer;
    }
}
input, textarea {
    cursor: text;
    border        : 1px solid #ccc;
    padding       : 6px 9px;
    vertical-align: middle;
    // @include box-sizing(border-box);
    @include border-radius(3px);
    // @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 #000);
    @include transition(border-color 0.3s, box-shadow 0.3s);
    &::-webkit-input-placeholder { font-weight: 300; }
    &:-moz-placeholder           { font-weight: 300; } // Firefox 18-
    &::-moz-placeholder          { font-weight: 300; } // Firefox 19+
    &:-ms-input-placeholder      { font-weight: 300; }
}

.input--large {
    padding-top   : 9px;
    padding-bottom: 9px;
    font-size     : 15px;
}
.input--small {
    padding: 2px 5px;
    font-size: 14px;
}
.label--large {
    font-size     : 15px;
    line-height   : 1;
    padding-top   : 10px;
    padding-bottom: 10px;
}
textarea:focus, input:focus {
    border-color: opacify($blue-green, 0.8);
    outline     : none;
    // outline     : 0;
    // @include box-shadow(0 0 4px opacify($blue-green, 0.8),0 0 0 #000);
    @include box-shadow(inset 0 1px 1px 0 rgba(0, 0, 0, 0.08),0 0 2px 2px #CEEAF6);
}

.input-with-icon {
    position: relative;
    input {
        padding-right: 30px !important;
    }
    i {
        position   : absolute;
        right      : 10px;
        top        : 50%;
        margin-top : -0.5em;
        line-height: 1;
        color      : black;
    }
}

select {
    -webkit-appearance  : none;
    -moz-appearance     : none;
    appearance          : none;
    outline             : 0;
    color               : #444;
    background          : #EFEFEF;
    padding             : 5px 5px 4px 8px;
    border              : 1px solid #AFAFAF;
    box-shadow          : 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius       : 3px;
    outline             : 0;
    text-align          : left;
    margin              : 1px;
    @media (-webkit-min-device-pixel-ratio: 0) {
        padding-right       : 25px;
        background-image    : image-url("icons/caret-down-with-right-padding.png");
        background-repeat   : no-repeat;
        background-size     : 20px;
        background-position : right center;
    }
    &:hover {
        background-color: #DDD;
    }
    &[disabled] {
        cursor          : default;
        color           : #777;
        background-color: #F4F4F4;
    }
}
