.jpo-banner-warpper {
    background-color: #d15630;
}
    .jpo-banner {
        background-image: asset-url('jpo_2014/home_page_background.png');
        height          : 361px;
        width           : 1400px;
        margin          : auto;
        background-repeat: none;
        @include background-size('1400px 361px');
    }

        .jpo-banner-logo {
            margin-left: 100px;
        }
        .jpo-fanion {
            background-image: asset-url('jpo_2014/fanion.png');
            height          : 151px;
            width           : 466px;
            color           : white;
            margin-left     : 100px;
            @include background-size('466px 151px');
            .jpo-fanion__text {
                top        : 30px;
                left       : 90px;
                line-height: 1.4;
                color      : white;
                font-size  : 24px;
                @include transform(rotate(-5.5deg));
            }
        }
        .jpo-call-to-actions {
            margin-top : -16px;
            margin-left: 210px;
        }
        .jpo-map {
            right: 100px;
            top  : -16px;
        }
        .jpo-bubble {
            right: 200px;
            top  : 190px;
        }

.jpo-frise {
    background-image: asset-url('jpo_2014/frise.png');
    background-repeat: repeat-x;
    @include background-size('105px 4px');
    height: 4px;
}
