/* -----------------------------*/
/* BANNER                       */
/* -----------------------------*/
.jpo-banner-warpper {
    background-color: #d15630;
    background-image: url('jpo_2014/orange_home_page_background.png');
    background-repeat: repeat;
    @include background-size('1px 1px');
    @include media-query(palm) {
        background-image: none;
        background-color: $orange_pale;
    }
}
    .jpo-banner {
        background-image : url('jpo_2014/home_page_background.png');
        height           : 361px;
        max-width        : 1400px;
        margin           : auto;
        background-repeat: no-repeat;
        overflow         : visible;
        @include background-size('1400px 361px');
        @include media-query(palm) {
            background-image: none;
            max-width       : none;
            height          : auto;
            padding         : 0 !important;
        }
    }
        .video-strip {
            z-index                   : 200;
            width                     : 200px;
            left                      : 50%;
            margin-left               : -100px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius : 50px;
            background-color          : rgba(0, 0, 0, 0.2);
        }
        .jpo-banner-logo {
            @include background-image-retina('jpo_2014/logo_1_line.png', 'jpo_2014/logo_1_line@2x.png');
            @include background-size(100%);
            background-repeat : no-repeat;
            width      : 331px;
            height     : 100px;
            margin-left: 100px;
            @include media-query(palm) {
                margin-left: 0;
                width      : 100%;
                max-width  : 300px;
                margin     : auto;
            }
        }
        .jpo-fanion {
            background-image: url('jpo_2014/fanion.png');
            height          : 151px;
            width           : 466px;
            color           : white;
            margin-left     : 100px;
            @include background-size('466px 151px');
            @include media-query(palm) {
                position   : static;
                margin-left: 0;
                width      : 100%;
            }
            .jpo-fanion__text {
                top        : 30px;
                left       : 90px;
                line-height: 1.4;
                color      : white;
                font-size  : 24px;
                @include transform(rotate(-5.5deg));
                @include media-query(palm) {
                    position   : static;
                    margin-left: 0;
                    padding-top: 34px;
                    padding-left: 54px;
                }
            }
        }
        .jpo-call-to-actions {
            margin-left: 135px;
            @include media-query(palm) {
                margin-top : 20px;
                margin-left: 0 !important;
                width      : 100%;
            }
        }
        .jpo-map {
            @include background-image-retina('jpo_2014/map.png', 'jpo_2014/map@2x.png');
            @include background-size(100%);
            background-repeat: no-repeat;
            width            : 704px;
            height           : 436px;
            z-index          : 100;
            right            : 100px;
            top              : 5px;
            -webkit-filter: drop-shadow(7px 11px 14px rgba(0,0,0,0.3));
            filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='7' dy='11' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.3)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=7, OffY=11, Color='#777')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=7, OffY=11, Color='#777')";
            @media only screen and (max-width: 1223px) and (min-width: 1023px) {
                right  : 0px;
                width  : 600px;
                height : 372px;
            }
            @include media-query(lap) {
                width : 429px;
                height: 266px;
                right : 0;
                top   : 50px;
            }
            @include media-query(palm) {
                width      : 100%;
                margin-top : 25px;
                margin-left: 0;
                height     : 350px;
                position   : static;
            }
        }
        .jpo-bubble {
            z-index: 200;
            right  : 200px;
            top    : 190px;
            width  : 180px;
            height : 153px;
            @include background-image-retina('jpo_2014/bubble_text.png', 'jpo_2014/bubble_text@2x.png');
            @include background-size(100%);
            @media only screen and (max-width: 1223px) and (min-width: 1023px) {
                right  : 20px;
            }
            @include media-query(lap) {
                right  : 20px;
            }
            @include media-query(palm) {
                top         : 550px;
                right       : 50%;
                margin-right: -90px;
            }
        }

.jpo-frise {
    @include background-image-retina('jpo_2014/frise.png', 'jpo_2014/frise@2x.png');
    background-repeat: repeat-x;
    @include background-size('105px 4px');
    height: 4px;
}


/* -----------------------------*/
/* POPUP                        */
/* -----------------------------*/
.jpo-popup{
    background-image: url('jpo_2014/popup_background.png');
    background-repeat: no-repeat;
    @include background-size('100% 100%');
    @include border-radius($brand-round);
}
    .jpo-popup-rotation {
        @include transform(rotate(-5.5deg));
    }
    .popup-jpo-sticker {
        background-image : url('jpo_2014/sticker.png');
        background-repeat: no-repeat;
        width            : 130px;
        height           : 130px;
        top              : 4px;
        left             : 400px;
        @include background-size('130px 130px');
    }

    .popup-photos {
        top: -75px;
    }
    .popup-jpo-arrow {
        bottom: -25px;
    }
    .popup-jpo-fanion {
        background-image: url('jpo_2014/popup_fanion.png');
        height          : 150px;
        width           : 580px;
        color           : white;
        margin-top      : 50px;
        margin-left     : -52px;
        @include background-size('580px 150px');
        .popup-jpo-fanion__text {
            top        : 42px;
            left       : 100px;
            line-height: 1.4;
            color      : white;
            font-size  : 30px;
        }
    }
    .jpo-popup-tick-marks {
        margin-left: 50px;
        margin-top : -30px;
        line-height: 2;
    }
    .popup-jpo-logo {
        margin-top: 20px;
    }
