/*------------------------------------*\
    $LABELS
\*------------------------------------*/

.lbl {
    display         : inline-block;
    font-weight     : 500;
    padding         : 0.5em 0.7em;
    background-color: #FFF;
    @include text-shadow(none);
    @include border-radius(30px);
    @include box-shadow(none);
}

.lbl.lbl--rounded {
    @include border-radius(2em);
}

.lbl.lbl--small {
    padding  : 0.2em 0.6em;
    font-size: 0.8em;
}

.lbl.lbl--gray {
    background-color: $gray-light;
    border          : none;
    color           : white;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl.lbl--gray-light {
    background-color: $gray-lighter;
    border          : none;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl.lbl--red {
    background-color: $red;
    border          : none;
    color           : white;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl.lbl--yellow {
    background-color: $yellow_bg;
    border          : none;
    color           : #222;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl.lbl--blue {
    background-color: $blue;
    border          : none;
    color           : white;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl.lbl--green {
    background-color: $green-success;
    border          : none;
    color           : white;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl.lbl--green-light {
    background-color: $green-light;
    border          : none;
    color           : white;
    @include text-shadow(none);
    @include box-shadow(none);
}

.lbl--chip {
    height: 20px;
    width : 20px;
    @include border-radius(10px);
    &.lbl--small {
        padding: 0;
        height : 10px;
        width  : 10px;
    }
}
