/*------------------------------------*\
    $LABELS
\*------------------------------------*/

.lbl {
    display         : inline-block;
    font-weight     : 500;
    padding         : 0.5em 0.7em;
    background-color: #FFF;
    @include border-radius(30px);
}

.lbl.lbl--rounded {
    @include border-radius(2em);
}

.lbl.lbl--small {
    padding  : 0.2em 0.6em;
    font-size: 0.8em;
}

.lbl.lbl--gray {
    background-color: $gray-light;
    color           : white;
}

.lbl.lbl--gray-light {
    background-color: $gray-lighter;
}

.lbl.lbl--red {
    background-color: $red;
    color           : white;
}

.lbl.lbl--purple {
    background-color: $purple;
    color           : white;
}

.lbl.lbl--yellow {
    background-color: $yellow;
    color           : #222;
}

.lbl.lbl--blue {
    background-color: $blue;
    color           : white;
}

.lbl.lbl--blue-green {
    background-color: $blue-green;
    color           : white;
}

.lbl.lbl--orange {
    background-color: $orange;
    color           : white;
}

.lbl.lbl--green {
    background-color: $green-success;
    color           : white;
}

.lbl.lbl--green-light {
    background-color: $green-light;
    color           : white;
}

.lbl--chip {
    height: 20px;
    width : 20px;
    @include border-radius(10px);
    &.lbl--small {
        padding: 0;
        height : 10px;
        width  : 10px;
    }
}
