/*------------------------------------*\
    $LABELS
\*------------------------------------*/
/**
 * Basic button structural styling. Extend in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/RqHcp
 *
 */
.lbl{
    font:inherit;
    cursor:pointer;
    border:none;
    display:inline-block;
    margin: 0;
    line-height:1;
    /**
     * Set padding in ems so we can change the size of a button by merely
     * altering its `font-size`.
     */
    padding:0.5em;
}
    .lbl,
    .lbl:hover{
        text-decoration:none;
    }

/**
 * Basic button modifiers
 */
.lbl--sml { font-size: .75em; }
.lbl--lrg { font-size:1.50em; }

.lbl--full{
    display:block;
    text-align:center;
    /**
     * The following is so that `.lbl-full` works properly on `input`s as well
     * as `a`s.
     */
    padding-right:0;
    padding-left: 0;
    width:100%;
}
