.discrete-list {
    margin-left: 0;
    list-style: none;
    a {
        color: $gray-light;
    }
}

ul.alternate-color {
    li:nth-of-type(odd){
        background-color: $alternative-background;
    }
}

.blog-feed {
    margin-left: 0;
    list-style: none;
    li {
        border-bottom : 1px solid #CCC;
        padding-bottom: 1em;
        margin-bottom : 1em;
    }
}
    .blog-feed__title{
        line-height: 1;
        a {
            color: #666;
            font-size: 14px;
        }
    }
    .blog-feed__date {
        color: #999;
        font-size: 12px;
    }
    .blog-feed__content {
        font-size: 12px;
    }

.selectable-list {
    li:hover {
        background-color: $alternative-background;
        cursor          : pointer;
    }
}
