.loading-indicator {
    width              : 100%;
    background-repeat  : no-repeat;
    background-position: center center;
    background-color   : white;
    background-image   : image-url('gifs/loading-indicator.gif');
    background-size: 35px;
}
