.small-container {
    width: 800px;
}
.large-container {
    max-width: 1400px;
    margin   : auto;
}
.main-container {
    max-width: $siteMaxWidth;
    min-width: 1000px;
    margin   : auto;
    @include media-query(lap) {
        min-width: 0;
        padding  : 8px;
    }
    @include media-query(palm) {
        min-width: 0;
        padding  : 8px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1185px;
    }
}
