.small-container {
    width: 800px;
    @media screen and (max-width: 1300px) { width: 700px; }
    @media screen and (max-width: 1200px) { width: 650px; }
    @media screen and (max-width: 1150px) { width: 600px; }
    @media screen and (max-width: 1100px) { width: 500px; }
    @media screen and (max-width: 1000px) { width: 500px; }
    @media screen and (max-width: 1000px) { width: 500px; }
    @media screen and (max-width: 950px)  { width: 400px; }
}
.large-container {
    max-width   : 1400px;
    margin-left : auto;
    margin-right: auto;
}

.main-container {
    max-width: $siteMaxWidth;
    &.main-container--medium       { max-width: $siteMaxWidth - 100; }
    &.main-container--medium-small { max-width: $siteMaxWidth - 150; min-width: $siteMaxWidth - 150; }
    &.main-container--1000 { max-width: 1000px; }
    min-width   : 1000px;
    margin-left : auto;
    margin-right: auto;
    @include media-query(lap) {
        min-width: 0;
        padding  : 8px;
    }
    @include media-query(palm) {
        min-width: 0;
        padding  : 8px;
    }
    @media screen and (min-width: 1441px) {
        max-width: 1185px;
    }
}
