.map_container {
    padding       : 0;
    margin        : 0;
    width         : 100%;
    @include border-radius(2px);
    @include box-sizing(border-box);
}
.gm-style, .map_container {
    img {
       max-width: none;
    }
}
.google-map {
    width     : 100%;
    min-height: 20em;
    img {
        max-width: none;
    }
    &.google-map--small {
        min-height: 10em;
    }
    &.google-map--medium-smaller {
        min-height: 27em;
    }
    &.google-map--medium-small {
        min-height: 30em;
    }
    &.google-map--medium {
        min-height: 40em;
    }
    &.google-map--large {
        min-height: 60em;
    }
}

.map-marker:after {
    content         : '';
    display         : inline-block;
    border-left     : 4px solid transparent;
    border-right    : 4px solid transparent;
    border-top      : 6px solid darken($orange, 10%);
    position        : absolute;
    bottom          : -6px;
    left            : 50%;
    margin-left     : -4px;
}

.map-marker:before {
    content         : '';
    display         : inline-block;
    border-left     : 5px solid transparent;
    border-right    : 5px solid transparent;
    border-top      : 7px solid darken($brand-color, 10%);
    position        : absolute;
    bottom          : -7px;
    left            : 50%;
    margin-left     : -5px;
}


.ca-leaflet-popup {
    .leaflet-popup-content-wrapper {
        border : none;
        padding: 0;
    }
    .leaflet-popup-close-button {
        color       : white;
        background  : none;
        text-indent : 0;
        font-size   : 30px;
        margin-right: 5px;
        font-weight : bold;
        opacity     : 1;
        &:hover {
            background: none;
        }
    }
        .leaflet-popup-content {
            padding: 0 !important;
        }
}
.leaflet-control-zoom {
    @include border-radius(15px);
}
