.map-box-marker__user {
    margin-left     : -7px !important;
    margin-top      : -8px !important;
    width           : 16px !important;
    height          : 16px !important;
    border          : solid rgba(255, 255, 255, 0.8) 4px;
    background-color: $blue-green;
    border-radius   : 30px;
    > div {
        padding      : 8px;
        border       : 10px solid transparentize($blue-green, 0.5);
        width        : 32px !important;
        height       : 32px !important;
        margin-left  : -14px;
        margin-top   : -14px;
        border-radius: 30px;
        animation    : breath 8s infinite ease-in-out;
    }
}
@keyframes breath {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(0.7); }
}

.map-box-marker--circle {
    @extend .fa-circle;
    @extend .fa;
    width: 10px;
    height: 10px;
    margin-left: -3px;
    &:before {
      font-size: 8px;
    }
}
.map-box-marker {
    @extend .fa-mapbox-marker;
    margin-top : 0;
    margin-left: -9px;
    position   : relative;
    &.map-box-marker--inline {
        width      : 30px;
        height     : 45px;
        margin-left: 0;
        display    : inline-block;
        div { top: 8px; left: 0; }
        &::before, &::after { top: 0; left: -5px; }
    }
    &::after {
      content: $font-CoursAvenueIconFont-mapbox-marker;
      display                : inline-block;
      font-family            : "CoursAvenueIconFont";
      font-style             : normal;
      font-weight            : normal;
      font-variant           : normal;
      line-height            : 1;
      text-decoration        : inherit;
      text-rendering         : optimizeLegibility;
      text-transform         : none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing : antialiased;
      font-smoothing         : antialiased;
    }
    &::before, &::after {
        font-size: 40px;
        position : absolute;
        left      : -12px;
        top       : -40px;
    }
    &::before {
        transform: scale(1.06) rotate(2deg) translate(-0.5%, 1%);
    }
    i {
        color: white;
    }
    div {
        position   : absolute;
        color      : white;
        top        : -35px;
        left       : -7px;
        font-size  : 1.1em;
        width      : 30px;
        text-align : center;
        font-weight: bold;
        z-index    : 1;
    }
}
    .map-box-marker--active {
        &::before{ transform: scale(1.12) rotate(3deg) translate(-0.5%, 1%); }
        &::after{ color: white; }
        z-index: 1000;
    }

    .map-box-marker__undefined {
        color: $blue-green;
    }
    .map-box-marker__danse {
        @extend .danse-color;
        &::before { color: darken($color-dance, 8%); }
        &.map-box-marker--active div {
            color: $color-dance;
        }
    }
    .map-box-marker__theatre-scene {
        @extend .theatre-scene-color;
        &::before { color: darken($color-theatre, 8%); }
        &.map-box-marker--active div {
            color: $color-theatre;
        }
    }
    .map-box-marker__deco-mode-bricolage {
        @extend .deco-mode-bricolage-color;
        &::before { color: darken($color-deco, 8%); }
        &.map-box-marker--active div {
            color: $color-deco;
        }
    }
    .map-box-marker__musique-chant {
        @extend .musique-chant-color;
        &::before { color: darken($color-music, 8%); }
        &.map-box-marker--active div {
            color: $color-music;
        }
    }
    .map-box-marker__photo-video {
        @extend .photo-video-color;
        &::before { color: darken($color-photo, 8%); }
        &.map-box-marker--active div {
            color: $color-photo;
        }
    }

    .map-box-marker__dessin-peinture-arts-plastiques {
        @extend .dessin-peinture-arts-plastiques-color;
        &::before { color: darken($color-arts, 8%); }
        &.map-box-marker--active div {
            color: $color-arts;
        }
    }
    .map-box-marker__cuisine-vins {
        @extend .cuisine-vins-color;
        &::before { color: darken($color-cooking, 8%); }
        &.map-box-marker--active div {
            color: $color-cooking;
        }
    }
    .map-box-marker__yoga-bien-etre-sante {
        @extend .yoga-bien-etre-sante-color;
        &::before { color: darken($color-yoga, 8%); }
        &.map-box-marker--active div {
            color: $color-yoga;
        }
    }
    .map-box-marker__sports-arts-martiaux {
        @extend .sports-arts-martiaux-color;
        &::before { color: darken($color-sports, 8%); }
        &.map-box-marker--active div {
            color: $color-sports;
        }
    }
