.map_container {
    .map-marker-image {
        position : absolute;
        font-size: 13px;
        top      : -43px;
        left     : -10px;
        &.map-marker-image--small {
            top : -5px !important;
            left: 0px;
        }
    }
    .map-marker-image.disabled {
        a {
            @include background-image-retina('icons/map-marker.png', 'icons/map-marker@2x.png');
        }
    }
    .map-marker-image.disabled:hover, .map-marker-image.active {
        z-index: 10;
        a {
            @include background-image-retina('icons/map-marker-blue.png', 'icons/map-marker-blue@2x.png');
        }
        &.map-marker-image--small {
            a {
                @include background-image-retina('icons/map-marker-blue-small.png', 'icons/map-marker-blue-small@2x.png');
            }
        }
    }
}
.map-marker-image {
    display : inline-block;
    width   : 30px;
    height  : 43px;
    a {
        width               : 30px;
        height              : 43px;
        line-height         : 28px;
        position            : relative;
        display             : block;
        background-image    : image-url('icons/map-marker.png');
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : 100%;
    }
    span {
        position        : absolute;
        color           : white;
        width           : 21px;
        left            : 50%;
        margin-left     : -10px;
        text-align      : center;
        text-shadow     : -1px -1px 0 #a34c30;
        font-size       : 12px;
        vertical-align  : middle;
        z-index         : 2;
    }
}
.map-marker-image--small {
    @extend .map-marker-image;
    width   : 13px;
    height  : 13px;
    a {
        width       : 13px;
        height      : 13px;
        line-height : 13px;
        top         : -3px;
        @include background-image-retina('icons/map-marker-small.png', 'icons/map-marker-small@2x.png')
    }
    span {
        width           : 13px;
        margin-left     : -8px;
        font-size       : 10px;
    }
}
.map-marker {
    display         : inline-block;
    padding         : 2px 5px;
    background-color: $orange;
    border          : solid 1px darken($brand-color, 10%);
    text-align      : center;
    min-width       : 1.3em;
    text-shadow     : -1px -1px 0 #a34c30;
    font-size       : 12px;
    &, a {color: white;}
    @include border-radius($brand-round);
}
.map-box-marker__user {
    margin-left: -7px !important;
    margin-top : -8px !important;
    width     : 16px !important;
    height    : 16px !important;
    border    : solid rgba(255, 255, 255, 0.8) 4px;
    background-color: $blue-green;
    @include border-radius(30px);
    > div {
        padding    : 8px;
        border     : 10px solid transparentize($blue-green, 0.5);
        width      : 32px !important;
        height     : 32px !important;
        margin-left: -14px;
        margin-top : -14px;
        @include border-radius(30px);
        @include animation(breath 8s infinite ease-in-out);
    }
}
@include keyframes(breath) {
    0%, 100% { @include transform(scale(1)); }
    50% { @include transform(scale(0.7)); }
}

.map-box-marker--circle {
    @extend .fa-circle;
    @extend .fa;
    width: 10px;
    height: 10px;
    margin-left: -3px;
    &:before {
      font-size: 8px;
    }
}
.map-box-marker {
    @extend .fa-mapbox-marker;
    margin-top : 0;
    margin-left: -9px;
    &:before {
        font-size: 40px;
        position: relative;
        left      : -12px;
        top       : -40px;
    }
    i {
        color: white;
    }
    div {
        position   : absolute;
        color      : white;
        top        : -35px;
        left       : -7px;
        font-size  : 1.1em;
        width      : 30px;
        text-align : center;
        font-weight: bold;
    }
}
.map-box-marker--active {
    color  : white;
    z-index: 1000;
}

.map-box-marker__danse {
    @extend .danse-color;
    @include text-shadow(darken($color-dance, 10%) 0px 1px, darken($color-dance, 10%) -1px 1px, darken($color-dance, 10%) -1px -1px, darken($color-dance, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-dance, 10%) -2px -2px, darken($color-dance, 10%) 2px -2px, darken($color-dance, 10%) -2px 2px, darken($color-dance, 10%) 2px 2px, darken($color-dance, 10%) 0px 3px, darken($color-dance, 10%) 0px -3px);
    }
}
.map-box-marker__theatre-scene {
    @extend .theatre-scene-color;
    @include text-shadow(darken($color-theatre, 10%) 0px 1px, darken($color-theatre, 10%) -1px 1px, darken($color-theatre, 10%) -1px -1px, darken($color-theatre, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-theatre, 10%) -2px -2px, darken($color-theatre, 10%) 2px -2px, darken($color-theatre, 10%) -2px 2px, darken($color-theatre, 10%) 2px 2px, darken($color-theatre, 10%) 0px 3px, darken($color-theatre, 10%) 0px -3px);
    }
}
.map-box-marker__deco-mode-bricolage {
    @extend .deco-mode-bricolage-color;
    @include text-shadow(darken($color-deco, 10%) 0px 1px, darken($color-deco, 10%) -1px 1px, darken($color-deco, 10%) -1px -1px, darken($color-deco, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-deco, 10%) -2px -2px, darken($color-deco, 10%) 2px -2px, darken($color-deco, 10%) -2px 2px, darken($color-deco, 10%) 2px 2px, darken($color-deco, 10%) 0px 3px, darken($color-deco, 10%) 0px -3px);
    }
}
.map-box-marker__musique-chant {
    @extend .musique-chant-color;
    @include text-shadow(darken($color-music, 10%) 0px 1px, darken($color-music, 10%) -1px 1px, darken($color-music, 10%) -1px -1px, darken($color-music, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-music, 10%) -2px -2px, darken($color-music, 10%) 2px -2px, darken($color-music, 10%) -2px 2px, darken($color-music, 10%) 2px 2px, darken($color-music, 10%) 0px 3px, darken($color-music, 10%) 0px -3px);
    }
}
.map-box-marker__photo-video {
    @extend .photo-video-color;
    @include text-shadow(darken($color-photo, 10%) 0px 1px, darken($color-photo, 10%) -1px 1px, darken($color-photo, 10%) -1px -1px, darken($color-photo, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-photo, 10%) -2px -2px, darken($color-photo, 10%) 2px -2px, darken($color-photo, 10%) -2px 2px, darken($color-photo, 10%) 2px 2px, darken($color-photo, 10%) 0px 3px, darken($color-photo, 10%) 0px -3px);
    }
}

.map-box-marker__dessin-peinture-arts-plastiques {
    @extend .dessin-peinture-arts-plastiques-color;
    @include text-shadow(darken($color-arts, 10%) 0px 1px, darken($color-arts, 10%) -1px 1px, darken($color-arts, 10%) -1px -1px, darken($color-arts, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-arts, 10%) -2px -2px, darken($color-arts, 10%) 2px -2px, darken($color-arts, 10%) -2px 2px, darken($color-arts, 10%) 2px 2px, darken($color-arts, 10%) 0px 3px, darken($color-arts, 10%) 0px -3px);
    }
}
.map-box-marker__cuisine-vins {
    @extend .cuisine-vins-color;
    @include text-shadow(darken($color-cooking, 10%) 0px 1px, darken($color-cooking, 10%) -1px 1px, darken($color-cooking, 10%) -1px -1px, darken($color-cooking, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-cooking, 10%) -2px -2px, darken($color-cooking, 10%) 2px -2px, darken($color-cooking, 10%) -2px 2px, darken($color-cooking, 10%) 2px 2px, darken($color-cooking, 10%) 0px 3px, darken($color-cooking, 10%) 0px -3px);
    }
}
.map-box-marker__yoga-bien-etre-sante {
    @extend .yoga-bien-etre-sante-color;
    @include text-shadow(darken($color-yoga, 10%) 0px 1px, darken($color-yoga, 10%) -1px 1px, darken($color-yoga, 10%) -1px -1px, darken($color-yoga, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-yoga, 10%) -2px -2px, darken($color-yoga, 10%) 2px -2px, darken($color-yoga, 10%) -2px 2px, darken($color-yoga, 10%) 2px 2px, darken($color-yoga, 10%) 0px 3px, darken($color-yoga, 10%) 0px -3px);
    }
}
.map-box-marker__sports-arts-martiaux {
    @extend .sports-arts-martiaux-color;
    @include text-shadow(darken($color-sports, 10%) 0px 1px, darken($color-sports, 10%) -1px 1px, darken($color-sports, 10%) -1px -1px, darken($color-sports, 10%) 1px -1px);
    &.map-box-marker--active {
        @include text-shadow(darken($color-sports, 10%) -2px -2px, darken($color-sports, 10%) 2px -2px, darken($color-sports, 10%) -2px 2px, darken($color-sports, 10%) 2px 2px, darken($color-sports, 10%) 0px 3px, darken($color-sports, 10%) 0px -3px);
    }
}
