.map_container {
    .map-marker-image {
        position : absolute;
        font-size: 13px;
        top      : -43px;
        left     : -10px;
        &.map-marker-image--small {
            top : -5px !important;
            left: 0px;
        }
    }
    .map-marker-image.disabled {
        a {
            @include background-image-retina('icons/map-marker.png', 'icons/map-marker@2x.png');
        }
    }
    .map-marker-image.disabled:hover, .map-marker-image.active {
        z-index: 10;
        a {
            @include background-image-retina('icons/map-marker-blue.png', 'icons/map-marker-blue@2x.png');
        }
        &.map-marker-image--small {
            a {
                @include background-image-retina('icons/map-marker-blue-small.png', 'icons/map-marker-blue-small@2x.png');
            }
        }
    }
}
.map-marker-image {
    display : inline-block;
    width   : 30px;
    height  : 43px;
    a {
        width               : 30px;
        height              : 43px;
        line-height         : 28px;
        position            : relative;
        display             : block;
        background-image    : image-url('icons/map-marker.png');
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : 100%;
    }
    span {
        position        : absolute;
        color           : white;
        width           : 21px;
        left            : 50%;
        margin-left     : -10px;
        text-align      : center;
        text-shadow     : -1px -1px 0 #a34c30;
        font-size       : 12px;
        vertical-align  : middle;
        z-index         : 2;
    }
}
.map-marker-image--small {
    @extend .map-marker-image;
    width   : 13px;
    height  : 13px;
    a {
        width       : 13px;
        height      : 13px;
        line-height : 13px;
        top         : -3px;
        @include background-image-retina('icons/map-marker-small.png', 'icons/map-marker-small@2x.png')
    }
    span {;
        width           : 13px;
        margin-left     : -8px;
        font-size       : 10px;
    }
}
.map-marker {
    display         : inline-block;
    padding         : 2px 5px;
    background-color: $orange;
    border          : solid 1px darken($brand-color, 10%);
    text-align      : center;
    min-width       : 1.3em;
    text-shadow     : -1px -1px 0 #a34c30;
    font-size       : 12px;
    &, a {color: white;}
    @include border-radius($brand-round);
}
.map-box-marker__user {
    width   : 15px !important;
    height  : 15px !important;
    background: $old_blue;
    border: solid white 2px;
    @include border-radius(10px);
    @include box-shadow(0 0 30px lighten($old_blue, 10%), 0 0 20px lighten($old_blue, 10%), 0 0 10px lighten($old_blue, 10%));
}
.map-box-marker--circle {
    margin-left    : -7px !important;
    margin-top     : -13px !important;
    width          : 8px !important;
    height         : 8px !important;
    background-size: 100%;
    @include background-image-retina('icons/map-marker-small.png', 'icons/map-marker-small@2x.png');
}
.map-box-marker {
    margin-left    : -15px !important;
    margin-top     : -43px !important;
    width          : 30px !important;
    height         : 43px !important;
    color          : white;
    text-align     : center;
    font-size      : 14px;
    padding-top    : 5px;
    background-size: 100%;
    font-weight    : bold;
    @include text-shadow(1px 1px 0 rgba(0,0,0,0.2), -1px -1px 0 rgba(0,0,0,0.2));
    @include background-image-retina('icons/map-marker-empty.png', 'icons/map-marker-empty@2x.png');
}

.map-box-marker__danse {
    @include background-image-retina('icons/markers/red.png', 'icons/markers/red@2x.png');
}
.map-box-marker__theatre-scene {
    @include background-image-retina('icons/markers/blue.png', 'icons/markers/blue@2x.png');
}
.map-box-marker__deco-mode-bricolage {
    @include background-image-retina('icons/markers/orange.png', 'icons/markers/orange@2x.png');
}
.map-box-marker__musique-chant {
    @include background-image-retina('icons/markers/yellow.png', 'icons/markers/yellow@2x.png');
}
.map-box-marker__photo-video {
    @include background-image-retina('icons/markers/purple.png', 'icons/markers/purple@2x.png');
}
.map-box-marker__dessin-peinture-arts-plastiques {
    @include background-image-retina('icons/markers/yellow.png', 'icons/markers/yellow@2x.png');
}
.map-box-marker__cuisine-vins {
    @include background-image-retina('icons/markers/yellow.png', 'icons/markers/yellow@2x.png');
}
.map-box-marker__yoga-bien-etre-sante {
    @include background-image-retina('icons/markers/yellow.png', 'icons/markers/yellow@2x.png');
}
.map-box-marker__sports-arts-martiaux {
    @include background-image-retina('icons/markers/yellow.png', 'icons/markers/yellow@2x.png');
}
.map-box-marker__multi {
    @include background-image-retina('icons/markers/yellow.png', 'icons/markers/yellow@2x.png');
}
