/*------------------------------------*\
    $Medias
\*------------------------------------*/

.media__item {
    iframe, object {
        width: 100%;
    }
    &:hover {
        text-decoration: none;
    }
}

.media__img {
    background-color: white;
    border: 1px solid #CCC;
    @include border-radius(2px);
}
