/*------------------------------------*\
    $Medias
\*------------------------------------*/

.hoverable-media {
    transition: all 200ms linear;
    &:hover {
        filter: brightness(120%);
    }
}
.media-photo {
    position: relative;
    border-radius: 2px;
}
.media-photo:before, .media-photo:after {
    content      : "";
    position     : absolute;
}
.media-caption {
    padding         : 25px 13px 13px;
    background-color: rgba(0, 0, 0, 0);
    text-shadow     : 0 1px 1px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    border-radius: 2px;
}
.media-photo:before {
    top          : 0;
    right        : 0;
    bottom       : 0;
    left         : 0;
    border       : 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.media-photo:after {
    top          : 1px;
    right        : 1px;
    bottom       : 1px;
    left         : 1px;
    box-shadow   : inset 0 0 2px rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}

.media__item {
    display : inline-block;
    position: relative;
    img, iframe, object {
        width : 100%;
    }
    &.media__item--video {
        .fa-youtube-play {
            position   : absolute;
            top        : 50%;
            left       : 50%;
            font-size  : 60px;
            margin-left: -30px;
            margin-top : -35px;
            color      : white;
            text-shadow: 0px 0px 3px #333;
            &:hover {
                text-shadow: 0px 0px 6px black;
            }
        }
    }
    &.media__item--slides{
        background-size: cover;
        background-position: center;
        img {
            width  : auto;
        }
        img, iframe, object {
            height : 100%;
            margin : auto;
            display: block;
        }
        > a {
            display: block;
            height : 100%;
        }
    }
    &:hover {
        text-decoration: none;
        i.fa-expand {
            padding    : 10px;
            font-size  : 1.3em;
        }
    }
    i.fa-expand {
        position        : absolute;
        top             : 6px;
        right           : 6px;
        background-color: white;
        padding         : 4px;
        font-weight     : normal;
        font-size       : 1em;
        border-radius: 3px;
        transition: all 200ms linear;
    }
}

.media__img {
    background-color: white;
    border-radius: 2px;
}

.show-on-hover-wrapper {
    .show-on-hover {
        visibility: hidden;
    }
    &:hover {
        .show-on-hover {
            visibility: visible;
        }
    }
}

.fancybox-type-iframe .fancybox-nav {
    width: 60px;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -60px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}

iframe {
  @extend .bordered;
}
