/*------------------------------------*\
    $Medias
\*------------------------------------*/

.media__item {
    display : inline-block;
    position: relative;
    iframe, object {
        width: 100%;
    }
    &:hover {
        text-decoration: none;
    }
    img {
        width: 100%;
    }
    i.fa-expand {
        position        : absolute;
        top             : 6px;
        right           : 6px;
        background-color: white;
        padding         : 4px;
        @include border-radius(3px);
    }
}

.media__img {
    background-color: white;
    @include border-radius(2px);
}
