.top-page-menu {
    .active {
        border-bottom: 3px solid $orange;
        a {
            font-weight: bold !important;
        }
    }
}
.page-menu {
    padding: 0;
    li {
        a {
            padding  : 0.5em 0;
            font-size: 1em;
            width    : 100%;
            border-top   : 2px solid $beige;
            border-bottom: 2px solid $beige;
            @include transition(border-color 250ms);
        }
        &:hover a {
            text-decoration : none;
            border-top      : 2px solid lighten($orange, 20%);
            border-bottom   : 2px solid lighten($orange, 20%);
        }
        &.active a {
            border-top   : 2px solid $orange;
            border-bottom: 2px solid $orange;
            background   : white;
        }
    }
}

.nav-menu {
    ul {
        a {
            padding: 1em;
        }
    }
}

.submenu-link {
    margin-right: 1em;
}

$side-menu-width: 120px;
.side-menu-width {
    width: $side-menu-width;
}
body {
    position: relative;
    // http://matthewlein.com/ceaser/
    // easeOutExpo
    @include transition(left 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000));
    left: 0;
}
body.side-menu-opened {
    left: $side-menu-width !important;
}
.side-menu-wrapper {
    @extend .side-menu-width;
    @include media-query(palm) {
        display     : table;
        position    : absolute;
        border-right: 1px solid darken($pro-header-color, 10%) !important;
        top         : 0;
        left        : 0;
        height      : 100%;
        left        : -$side-menu-width;
        background  : $pro-header-color;
        z-index     : 1;
        .side-menu-link { color: white !important; }
        li.active, li.active:hover {
            .side-menu-link { color: #555555 !important; }
            background: $beige-dark;
        }
        ul {
            margin-left: 5px !important;
        }
    }
}
.side-menu {
    right         : -1px;
    overflow      : hidden;
    padding-bottom: 150px;
    @include transition(width 150ms ease);
    ul {
        margin      : 0;
        list-style  : none;
        width       : 100%;
        li {
            border      : 1px solid transparent;
            border-right: none;
            &.active {
                @include box-shadow(0 2px 3px rgba(56,67,67,0.2));
            }
            font-weight: 600;
            .side-menu-link {
                color: #999999;
                @include transition(all 150ms linear);
            }
            &.active, &:hover {
                .side-menu-link { color: #555555; }
            }
            &.active, &.active:hover {
                background-color: white;
            }
        }
    }
}

.pro-top-menu {
    a {
        outline: none;
        color  : rgba(255, 255, 255, 0.8);
        @include transition(all 150ms linear);
        &:hover {
            color: white;
        }
    }
    .active a, .active-without-caret a { color: white; }
    .active a {
        position: relative;
        &:after {
            bottom       : -10px;
            left         : 50%;
            content      : '';
            display      : inline-block;
            border-left  : 10px solid transparent;
            border-right : 10px solid transparent;
            border-top   : 10px solid $orange;
            border-bottom: 0;
            position     : absolute;
            margin-left  : -10px;
        }
    }
}
.pro-public-top-menu {
    height: 45px;
}
.user-top-menu {
    > div:hover {
        border-bottom: 4px solid #AAAAAA;
    }
    .active, .active:hover {
        border-bottom: 4px solid #EEE;
    }
    > div {
        position: relative;
        top   : 1px;
    }
}

.faq-menu-link.active {
    @extend .bg-gray-light;
    a { @extend .f-weight-bold };
}
