.user-menu {
    margin    : 0;
    padding   : 0;
    list-style: none;
}
    .user-menu__item {
        text-align     : right;
        padding        : 1em;
        display        : block;
        border-bottom  : 1px solid $beige-darker;
        &:hover {
            background: $beige;
            text-decoration: none;
        }
        &.active {
            background: $beige-darker;
        }
    }
.user-menu {
    li:last-child {
        .user-menu__item {
            border-bottom: none;
        }
    }
}


.page-menu {
    padding: 0;
    li {
        a {
            padding  : 0.5em 0;
            font-size: 1em;
            width    : 100%;
            border-top   : 2px solid $beige;
            border-bottom: 2px solid $beige;
            @include transition(border-color 250ms);
        }
        &:hover a {
            text-decoration : none;
            border-top      : 2px solid lighten($orange, 20%);
            border-bottom   : 2px solid lighten($orange, 20%);
        }
        &.active a {
            border-top   : 2px solid $orange;
            border-bottom: 2px solid $orange;
        }
    }
}

.nav-menu {
    ul {
        a {
            padding         : 1em;
        }
    }
}

.submenu-link {
    margin-right: 1em;
}

.side-menu {
    width           : 250px;
    background-color: darken($beige-dark, 7%);
    ul {
        list-style: none;
        margin    : 0;
        width     : 100%;
        li {
            @include transition(background-color 150ms linear);
            &.active {
                font-weight : bold;
            }
            &:hover {
                background-color: $beige-darker;
            }
            &.active, &.active:hover {
                background-color: darken($beige-darker, 7%);
                box-shadow      : inset 0px 0px 10px darken($beige-darker, 7%);
                border-right    : 3px solid darken($beige-darker, 30%);
            }
            border-bottom: 1px solid darken($beige-darker, 10%);
            a {
                & { text-decoration: none; }
                color       : darken($beige-darker, 40%);
                text-shadow : 1px 1px 1px darken($beige-darker, 7%);;
                display     : block;
                padding     : 1em;
            }
        }
    }
}
