.message {
    p:last-child {
        margin-bottom: 0;
    }
}
    .message__avatar {
        height: 60px;
        width : 60px;
    }

.message__body {
    border  : 1px solid $gray-smooth;
    @include border-radius($brand-round);
}
.message__appendix {
    position: relative;
    &:before, &:after {
        @include media-query(palm) {
            display: none;
        }
        left      : -9px;
        top       : 11px;
        position  : absolute;
        content   : '';
        display   : inline-block;
        border-top: 0;
    }
    &:before {
        border-top   : 9px solid transparent;
        border-right : 9px solid #BBB;
        border-bottom: 9px solid transparent;
    }
    &:after {
        border-top   : 9px solid transparent;
        border-right : 9px solid $pane-background-color;
        border-bottom: 9px solid transparent;
        top          : 11px;
        left         : -8px;
    }
    &.message__appendix--white:after {
        border-right : 9px solid white;
    }
}

.message__appendix--top {
    position: relative;
    &:before, &:after {
        position  : absolute;
        content   : '';
        display   : inline-block;
        border-top: 0;
    }
    &:before {
        left         : 10px;
        top          : -9px;
        border-left  : 10px solid transparent;
        border-bottom: 10px solid #D3D3D3;
        border-right : 10px solid transparent;
    }
    &:after {
        border-left  : 9px solid transparent;
        border-bottom: 9px solid $pane-background-color;
        border-right : 9px solid transparent;
        top          : -8px;
        left         : 11px;
    }
    &.message__appendix--top--white:after {
        border-bottom-color: white;
    }
}
