.message {
    p:last-child {
        margin-bottom: 0;
    }
}
    .message__avatar {
        padding-top: 2px;
        height     : 50px;
        width      : 50px;
    }

.conversation {
    .white-box {
        background-color: #FFF;
        @include transition(background-color 150ms linear);
    }
    .white-box:hover {
        background-color: #F9F9F9;
    }
}
