$metro_line_1_color: #FECC2F;
$metro_line_2_color: #106FB6;
$metro_line_3_color: #9B9842;
$metro_line_3_bis_color: #8BD3DE;
$metro_line_4_color: #B94D9A;
$metro_line_5_color: #F58F53;
$metro_line_6_color: #7AC597;
$metro_line_7_color: #7AC597;
$metro_line_7_bis_color: #F39FB2;
$metro_line_8_color: #C4A4CC;
$metro_line_9_color: #CEC83D;
$metro_line_10_color: #DFAF47;
$metro_line_11_color: #8C653D;
$metro_line_12_color: #128B5B;
$metro_line_13_color: #8BD3DE;
$metro_line_14_color: #65318F;

.metro-line {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
.metro-line-1 {
    border-color: $metro_line_1_color;
    color       : $metro_line_1_color;
}
.metro-line-2 {
    background-color: $metro_line_2_color;
    border-color    : $metro_line_2_color;
    color           : white;
}
.metro-line-3 {
    background-color: $metro_line_3_color;
    border-color    : $metro_line_3_color;
    color           : white;
}
.metro-line-3-bis {}
.metro-line-4 {
    background-color: $metro_line_4_color;
    border-color    : $metro_line_4_color;
    color           : white;
}
.metro-line-5 {
    background-color: $metro_line_5_color;
    border-color    : $metro_line_5_color;
    color           : black;
}
.metro-line-6 {
    background-color: $metro_line_6_color;
    border-color    : $metro_line_6_color;
    color           : black;
}
.metro-line-7 {
    background-color: $metro_line_7_color;
    border-color    : $metro_line_7_color;
    color           : black;
}
.metro-line-7-bis {
    background-color: $metro_line_7_bis_color;
    border-color    : $metro_line_7_bis_color;
    color           : black;
}
.metro-line-8 {
    background-color: $metro_line_8_color;
    border-color    : $metro_line_8_color;
    color           : black;
}
.metro-line-9 {
    background-color: $metro_line_9_color;
    border-color    : $metro_line_9_color;
    color           : black;
}
.metro-line-10 {
    background-color: $metro_line_10_color;
    border-color    : $metro_line_10_color;
    color           : black;
}
.metro-line-11 {
    background-color: $metro_line_11_color;
    border-color    : $metro_line_11_color;
    color           : white;
}
.metro-line-12 {
    background-color: $metro_line_12_color;
    border-color    : $metro_line_12_color;
    color           : white;
}
.metro-line-13 {
    background-color: $metro_line_13_color;
    border-color    : $metro_line_13_color;
    color           : black;
}
.metro-line-14 {
    background-color: $metro_line_14_color;
    border-color    : $metro_line_14_color;
    color           : white;
}
