/*------------------------------------*\
    $PAGINATION override
\*------------------------------------*/
/*
    Usage:
    <div class="flexbox pagination">
        <div class="flexbox__item">
            <a class="pagination__prev"> // Add visibility-hidden if first page
                <i class="fa-chevron-left"></i>
                Précédent
            </a>
        </div>
        <div class="flexbox__item text--center">
            <a class="pagination__page">1</a>
            <a class="pagination__page pagination__page--active">2</a>
            <a class="pagination__page pagination__page--disabled">...</a>
            <a class="pagination__page">3</a>
            <a class="pagination__page">4</a>
        </div>
        <div class="flexbox__item text--right">
            <a class="pagination__next">
                Suivant
                <i class="fa-chevron-right"></i>
            </a>
        </div>
    </div>
*/
.pagination--large{
    font-size: 1.3em;
}
.pagination{
    color      : #5B5B5B;
    padding    : 2em 0;
    font-weight: bold;
    a {
        outline        : none;
        text-decoration: none;
    }
}
.pagination__next, .pagination__prev {
    color      : #5B5B5B;
    i { color: $blue_green; }
}
.pagination__next i { padding-left : 1em; }
.pagination__prev i { padding-right: 1em; }

    .pagination__page {
        display     : inline-block;
        text-align  : center;
        color       : #5B5B5B;
        width       : 2.5em;
        height      : 2.5em;
        line-height : 2.3em;
        margin-right: -2px;
        border      : 2px solid transparent;
        @include transition(all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000));
        &:hover {
            border: 2px solid #C7C7C7;
        }
    }
    .pagination__page--active {
        border     : 2px solid #C7C7C7;
        color      : #999999;
    }
    .pagination__page--disabled {
        cursor: default;
        &:hover { border: 2px solid transparent !important }
    }
