/*------------------------------------*\
    $PAGINATION override
\*------------------------------------*/
.pagination {
    margin-bottom: 0;
    margin-left  : 0;
    word-spacing: 0;
    li {
        padding: 0;
        margin : 0;
        @include border-radius(0);
        a {
            margin : 0;
            display: block;
        }
    }
    .btn--active {
        background-color: #EEE;
    }
}
.text--right .pagination {
    text-align: right;
}
