// -------------------- PANELS ------------------------- //
.panel {
    background-color: white;
    border          : 1px solid $pane-border-color;
}
    .panel__header {
        background-color: $pane-background-color;
        padding-top     : 0.5em;
    }
    .panel__header + .panel__body {
        border-top: 1px solid $pane-border-color;
    }
    .panel__header.tabs--blue + .panel__body {
        border-top-color: $blue;
    }

.panel--red {
    border: none;
    .panel__header {
        background-color: $red;
        color           : white;
    }
    .panel__body {
        border    : 2px solid $red;
        border-top: none;
    }
}
// -------------------- PANELS ------------------------- //

.panel-background-blue-radial {
    @include box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.6));
    background: $blue-green;
    @include background-image(radial-gradient(farthest-side circle at center center, lighten($blue-green, 10%) 20%, $blue-green 100%));
    // Old Airbnb blue
    // background: #0F92CD;
    // @include background-image(radial-gradient(farthest-side circle at center center, #30B9F1 20%, #0F92CD 100%));
    .input_field_error {
        font-weight: bold;
        @include text-shadow(#FBEFEF 0px 0px 4px);
    }
}
