.panel {
    background-color: white;
    border          : 1px solid $pane-border-color;
}
    .panel__header {
        background-color: $pane-background-color;
        padding-top     : 0.5em;
    }
    .panel__header + .panel__body {
        border-top: 1px solid $pane-border-color;
    }
    .panel__header.tabs--blue + .panel__body {
        border-top-color: $blue;
    }

.panel--red {
    border: none;
    .panel__header {
        background-color: $red;
        color           : white;
    }
    .panel__body {
        border    : 2px solid $red;
        border-top: none;
    }
}
