// -------------------- PANELS ------------------------- //
.panel {
    background-color: white;
    border          : 1px solid $pane-border-color;
}
    .panel__header {
        background-color: $pane-background-color;
        padding-top     : 0.5em;
    }
    // .panel__body {
    .panel__header + .panel__body {
        border-top: 1px solid $pane-border-color;
    }
    .panel__header.tabs--blue + .panel__body {
        border-top-color: $blue;
    }
// -------------------- PANELS ------------------------- //
