.popover {
    display         : none;
    opacity         : 0;
    position        : absolute;
    left            : 50%;
    max-width       : 30em;
    border          : 1px solid darken($gray, 5%);
    padding         : 0.3em 0.6em;
    margin          : 0;
    margin-left     : -15em;
    background-color: $gray;
    color           : $gray-lighter;
    font-size       : 0.9em;
    text-align      : center;
    z-index         : 10;
    @include border-radius($brand-round);
}
