.profile-picture {
    text-align      : center;
    background-color: $orange;
    width           : 60px;
    height          : 60px;
    line-height     : 60px;
    color           : #FFF;
    font-size       : 40px;
    &.profile-picture-variation-1 {
        background-color: $blue;
    }
    &.profile-picture-variation-2 {
        background-color: $blue;
    }
    &.profile-picture-variation-3 {
        background-color: $facebook-blue;
    }
    &.profile-picture-variation-4 {
        background-color: $twitter-blue;
    }
    &.profile-picture-variation-5 {
        background-color: $blue-dark;
    }
    &.profile-picture-variation-6 {
        background-color: $green-success;
    }
    &.profile-picture-variation-7 {
        background-color: $green;
    }
    &.profile-picture-variation-8 {
        background-color: $blue-green;
    }
    &.profile-picture-variation-9 {
        background-color: $green-light;
    }
    &.profile-picture-variation-10 {
        background-color: $red;
    }
    &.profile-picture-variation-11 {
        background-color: $yellow;
    }
    &.profile-picture-variation-12 {
        background-color: $orange;
    }
    &.profile-picture-variation-13 {
        background-color: $pink;
    }
    &.profile-picture-variation-14 {
        background-color: $purple;
    }
}
.profile-picture--small {
    @extend .profile-picture;
    width           : 30px;
    height          : 30px;
    line-height     : 30px;
    font-size       : 20px;
}
