
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow         : hidden;
  height           : 20px;
  line-height      : 20px;
  background-color : $beige-darker;
  @include background-image(linear-gradient(top, lighten($beige-darker, 5%), $beige-darker));
  background-repeat: repeat-x;
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
  @include border-radius($brand-round);
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #ffffff;
  white-space: nowrap;
  float: left;
  font-size: 12px;
  text-align: center;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  @include text-shadow(-1px -1px 1px #888);
  background-color: #0e90d2;
  @include background-image(linear-gradient(top, #149bdf, #0480be));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.15));
  @include transition(width 0.6s ease);
}
.progress .bar + .bar {
  @include box-shadow(inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15));
}
.progress-striped .bar {
  background-color: #149bdf;
  @include background-image(gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
  @include background-size(40px 40px);
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  @include background-image(linear-gradient(top, #ee5f5b, #c43c35));
  background-repeat: repeat-x;
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  @include background-image(gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
}
.progress-success .bar,
.progress .bar-success {
  background-color: $blue-green;
  @include background-image(none);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  @include background-image(gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  @include background-image(linear-gradient(top, #5bc0de, #339bb9));
  background-repeat: repeat-x;
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  @include background-image(gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  @include background-image(linear-gradient(top, #fbb450, #f89406));
  background-repeat: repeat-x;
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  @include background-image(gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
}
