/*------------------------------------*\
    $Search
\*------------------------------------*/
.home-screen {
    .header-search-bar {
        .search-input-wrapper:first-child {
            padding-left: 6px;
        }
        .button-wrapper {
            padding-right: 6px;
        }
    }
    .header-search-bar {
        .btn, input[type=text], input[type=search], input[type=date] {
            height   : 40px;
            font-size: 14px;
        }
    }
}
.header-search-bar--dark {
    .header-search-bar {
        width           : auto;
        color           : $gray-light;
        padding         : 0;
        border-bottom   : none;
        @include border-radius($brand-round);
        @include background-image(none);
        &, .town-chooser {
            background-color: black;
            background-color: transparentize($black, 0.3);
            border-color    : black;
            border-color    : transparentize($black, 0.25);
        }
    }
}

.header-search-bar {
    width           : 100%;
    padding         : 6px 0;
    padding-bottom  : 1em;
    position        : relative;
    border-bottom   : 1px solid #e3dcd4;
    display         : table;
    .search-input-wrapper {
        padding-left: 0;
    }
    .button-wrapper {
        padding-right: 0;
    }

    @include font-size(12px);
    @include media-query(palm) { display: block; };
    .visuallyhidden--lap {
        @include media-query(lap) { display: none; };
    }
    .visuallyhidden--palm {
        @include media-query(palm) { display: none; };
    }
    .visuallyhidden--semipalm {
        @media screen and (max-width: 800px) and (min-width: $lap-start) {
            display: none;
        }
    }
    .visuallyhidden--semilap {
        @media screen and (max-width: 1200px) and (min-width: $lap-start) {
            display: none;
        }
    }
    .button-wrapper {
        text-align  : right;
        width       : 10em;
        @include media-query(palm) {
            text-align: center;
            float: none!important;
        }
    }
    > div {
        //display       : inline-block;
        display       : table-cell;
        vertical-align: middle;
        padding       : 6px;
        // &:first-child {
        //     padding-left: 6px;

        // }
        // &.search-input-wrapper {
            padding-left: 0;
        // }
        @include media-query(palm) {
            display     : block;
            margin      : 6px auto;
            padding     : 0;
            text-align  : center;
        }
        &.town-chooser {
            padding: 0.5em 1em;
        }
    }
    input[type=text], input[type=search], input[type=date] {
        padding: 5px 1em;
        height : 35px;
        @extend .milli;
        @include box-sizing(border-box);
    }
}
    .town-chooser {
        position        : absolute;
        left            : 0;//-1px; // Because of the border on header-search-bar
        top             : -44px;
        height          : 2em;
        font-size       : 1.2em;
        border          : 1px solid $beige-darker;
        border-bottom   : none;
        @include media-query(palm) {
            top        : -44px; // Because of the margin of the child divs
            left       : 50%;
            width      : 8em;
            text-align : center;
            margin-left: -4.5em!important;
        }
        @include box-sizing(content-box);
        @include border-top-radius($brand-round);
    }
    .days-options {
        border-bottom   : 1px solid #CCC;
        padding-bottom  : 0.5em;
        margin-bottom   : 0.5em;
    }
    .dropped-options-subject {
        > ul, > div { width: 20em; }
    }
    .search-input-wrapper, .dropped-options-subject {
        @media screen and (max-width: 600px) and (min-width: $lap-start) {
            min-width    : 12em;
        }

        min-width    : 19em;
        padding-left : 0;
        padding-right: 0;
    }
        .search-input.search-input--dark {
            background-color: $gray-lighter;
        }
        input.search-input {
            width           : 100%;
            padding         : 5px 3px;
            @include font-size(12px);
        }


.side-search-map {
    #map {
        height: 30em;
    }
}

.course-list-wrapper {
    position: relative;
    left    : 40%;
    @include multiple-media-query(palm, lap) { left: 0; };
}
.course-list {
    min-height: 60em;
}

.side-search-panel {
    margin-top  : 1em;
    border      : 1px solid $gray-smooth;
    background  : white;
    @include border-radius(2px);
}
    .side-search-panel-header {
        padding         : 0.5em 1em;
        margin-bottom   : 0;
        background-color: $beige;
        @include font-size(16px);
    }
    .side-search-panel-header:first-child {
        .search-panel-header {
            border-top: none;
        }
    }
        .search-panel-header {
            padding         : 0.3em 1em;
            background-color: $beige;
            border-bottom   : 1px solid $gray-smooth;
            border-top   : 1px solid $gray-smooth;
            margin-bottom   : 0;
            @include box-shadow(0 2px 2px -2px rgba(0,0,0,0.2),0 0 0 #000);
        }
        .search-panel-content {
            overflow  : hidden;
            padding   : 1em 0.5em 1em 2em;
            box-shadow: inset 0px 1px 3px #DDD;
            @include font-size(14px);
            label {
                display: inline-block;
            }
        }
            .check-list {
                .check-list {
                    margin-left: 2em;
                }
            }
        .search-panel-footer {
            border-top: 1px solid $gray;
            text-align: center;
            padding   : 1em;
            background: darken($beige-dark, 5%);
            @include font-size(14px);
        }

.inline-checkboxes {
    label {
        margin-right: 1.5em;
    }
}
