/*------------------------------------*\
    $Search
\*------------------------------------*/

.header-search-bar {
    max-width       : 650px;
    color           : $gray-light;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    border-color    : black;
    border-color    : transparentize($black, 0.25);
    .search-input-wrapper {
        @media screen and (max-width: 600px) and (min-width: $lap-start) {
            width: 12em;
        }
        min-width: 19em;
    }

    @include media-query(palm) { display: block; };
    .visuallyhidden--lap {
        @include media-query(lap) { display: none; };
    }
    .visuallyhidden--palm {
        @include media-query(palm) { display: none; };
    }
    .visuallyhidden--semipalm {
        @media screen and (max-width: 800px) and (min-width: $lap-start) {
            display: none;
        }
    }
    .visuallyhidden--semilap {
        @media screen and (max-width: 1200px) and (min-width: $lap-start) {
            display: none;
        }
    }
    > div {
        @include media-query(palm) {
            display     : block;
            margin      : 6px auto;
            padding     : 0;
            text-align  : center;
        }
    }
}
