/*------------------------------------*\
    $Search
\*------------------------------------*/

.header-search-bar {
    max-width       : 670px;
    color           : $gray-light;
    border-color    : black;
    border-color    : transparentize($black, 0.25);
    .search-input-wrapper{
        border: 1px solid #DDD;
        &:first-child{ border-right: 2px solid #DDD; }
    }
    .search-input-wrapper {
        border-right: none;
    }
    input {
        border: none !important;
    }
    .btn--blue {
        border: 1px solid $blue-green;
    }
    input, button {
        border-radius: 0px !important;
    }
    .input--large, .tt-hint, .tt-input {
        font-size     : 14px;
        padding-top   : 13px;
        padding-bottom: 13px;
    }
    .search-input-wrapper {
        @media screen and (max-width: 600px) and (min-width: $lap-start) {
            width: 12em;
        }
        min-width: 19em;
    }

    @include media-query(palm) { display: block; };
    .visuallyhidden--lap {
        @include media-query(lap) { display: none; };
    }
    .visuallyhidden--palm {
        @include media-query(palm) { display: none; };
    }
    .visuallyhidden--semipalm {
        @media screen and (max-width: 800px) and (min-width: $lap-start) {
            display: none;
        }
    }
    .visuallyhidden--semilap {
        @media screen and (max-width: 1200px) and (min-width: $lap-start) {
            display: none;
        }
    }
    > div {
        @include media-query(palm) {
            display     : block;
            margin      : 6px auto;
            padding     : 0;
            text-align  : center;
        }
    }
}
