.similar-course {
    padding-left: 1em;
}
    .similar-course--image {
        position      : relative;
        vertical-align: middle;
        img { width: 100%; }
    }
    .similar-course--course-name {
        margin-bottom: 0;
        font-size    : 13px;
    }
    .similar-course--structure-name {
        margin-bottom: 0;
        font-size    : 12px;
        font-weight  : normal;
    }
