.similar-course {
    margin-left: 1em;
}
    .similar-course--image {
        vertical-align: middle;
    }
    .similar-course--course-name {
        margin-bottom: 0;
        font-size    : 13px;
    }
    .similar-course--structure-name {
        margin-bottom: 0;
        font-size    : 12px;
        font-weight  : normal;
    }
