// Found at: http://tobiasahlin.com/spinkit/
/* Usage:
      <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
          <div class="double-bounce3"></div>
      </div>
 */
.btn .spinner {
    width: 15px;
    height: 15px;
    margin: 0em 2em;
}
.spinner {
    width   : 40px;
    height  : 40px;

    position: relative;
    margin  : 3em auto;
}

.double-bounce1 { background-color: $blue-green; }
.double-bounce2 { background-color: $yellow; }
.double-bounce3 { background-color: $blue; }
.double-bounce1, .double-bounce2, .double-bounce3 {
    width        : 100%;
    height       : 100%;
    border-radius: 50%;
    opacity      : 0.8;
    position     : absolute;
    top          : 0;
    left         : 0;
    @include animation(sk-bounce 3.0s infinite ease-in-out);
}

.double-bounce2 {
    @include animation-delay(-1.0s);
}
.double-bounce3 {
    @include animation-delay(-2.0s);
}

@include keyframes(sk-bounce) {
    0%, 66%, 100% {
        @include transform(scale(0.0));
    } 33% {
        @include transform(scale(1.0));
    }
}
