.stickit {
  position: fixed;
  top     : 10px;
}

.stickit-end {
  top     : 10px;
  position: fixed;
}

.sticky {
    .hidden-on-stick      { display: none; }
    .visible-on-stick     { display: block !important; }
    .visible-on-stick-ilb { display: inline-block !important; }
}
    .visible-on-stick-ilb, .visible-on-stick {
        display: none !important;
    }
