.stickit {
  position: fixed;
  top     : 10px;
}

.stickit-end {
  top     : 10px;
  position: fixed;
}

.sticky {
    &.bordered--bottom-on-stick { @extend .bordered--bottom; }
    .hidden-on-stick      { display: none; }
    .visible-on-stick     { display: block !important; }
    .visible-on-stick.inline-block { display: inline-block !important; }
}
    .visible-on-stick {
        display: none !important;
    }
