.structure-item-view {
    @include transition(all 200ms linear);
    &:hover {
        background-color: $site-background-color;
    }
}
.heart-link:hover {
    i {
        @extend .fa-heart;
    }
}
.structure__header-icon {
    line-height: 18px;
    div {
        font-size: 13px;
    }
}

#structure-header {
    &, h1, #coordinate-buttons, #comments-count {
        @include transition(all 250ms linear);
    }
    &.sticky {
        border-bottom: 1px solid #CCC;
        background-color: $site-background-color;
        h1 { font-size: 19px; }
    }
}
