.heart-link:hover {
    i {
        @extend .fa-heart;
    }
}
.structure__header-icon {
    line-height: 18px;
    div {
        font-size: 13px;
    }
}

#structure-header {
    &, h1, #coordinate-buttons, #comments-count {
        @include transition(all 250ms linear);
    }
    &.sticky {
        border-bottom: 1px solid #CCC;
        background-color: $site-background-color;
        h1 { font-size: 19px; }
    }
}

// ------------------ AS ON SHOW PAGE
.structure__logo {
    width: 70px;
}

// ------------------ ITEM AS ON SEARCH PAGE
$structure-item-height: 140px;
.structure-item {
    position      : relative;
    z-index       : 2;
    height        : $structure-item-height;
    @include media-query(palm) {
        height: $structure-item-height / 2;
    }
}
    .structure-item__logo {
        min-width: $structure-item-height;
        max-height: 200px;
        @include media-query(palm) {
            vertical-align: middle;
            min-width     : $structure-item-height / 2;
        }
    }
    .structure-item__play-button {
        position   : absolute;
        opacity    : 0;
        color      : white;
        top        : 0;
        left       : 50%;
        margin-top : -0.5em;
        font-size  : 3em;
        margin-left: -0.4em;
        @include text-shadow(0px 0px 3px #333);
        @include transition(all 200ms linear);
        &:hover {
            @include text-shadow(0px 0px 6px black);
        }
    }
    .structure-item__play-button--no-image {
        color: black;
        opacity: 1;
    }
    .structure-item__button {
        cursor  : pointer;
        position: relative;
        @include transition(all 200ms linear);
        &.active, &:hover {
            background-color: #f0f8ff;
        }
        &.active {
            &, .thin { font-weight: bold; }
        }
        &:hover {
            .structure-item__play-button {
                opacity: 1;
            }
        }
    }

    .structure-item__comment-list {
        position: relative;
        top     : -1px;
        z-index : 1;
        .structure-item__comment-item{
            border-bottom: 1px solid #EEE;
        }
        .structure-item__comment-item:last-child {
            border-bottom: none;
        }
    }

    .structure-item__comment-author {
        position: absolute;
        right   : 1em;
    }

    .structure-item__medias-count {
        position         : absolute;
        right            : 0;
        bottom           : 4px;
        padding          : 1px 3px;
        // background-color : $beige-darker;
        background-color : white;
        background-color : rgba(255, 255, 255, 0.9);
        // color            : darken($beige-darker, 35%);
        color            : black;
        font-size        : 12px;
        @include border-left-radius(2px);
    }

    .structure-item__see-all-wrapper {
        .structure-item__see-all {
            @include transition(all 200ms linear);
            opacity   : 0;
            position  : absolute;
            bottom    : 0;
            width     : 100%;
            display   : block;
            left      : 0;
            text-align: center;
        }
        &.active {
            .structure-item__see-all span {
                display: none;
            }
            .structure-item__see-all:after {
                content: 'Cacher';
            }
        }
        &:hover, &.active {
            .structure-item__see-all {
                opacity : 1;
            }
        }
    }
