.structure-item {
    position: relative;
    z-index : 2;
}
    .structure-item__button {
        cursor  : pointer;
        position: relative;
        @include transition(background-color 150ms linear);
        &.active, &:hover {
            background-color: #EEE;
        }
    }

    .structure-item__comment-list {
        position: relative;
        top     : -1px;
        z-index : 1;
        .structure-item__comment-item{
            border-bottom: 1px solid #EEE;
        }
        .structure-item__comment-item:last-child {
            border-bottom: none;
        }
    }
