.switch-button:after {
    content         : '';
    display         : block;
    position        : absolute;
    width           : 22px;
    height          : 100%;
    background: image-url('icons/slider-toggler.png') no-repeat;
    top             : 0;
}
.switch-button {
    position      : relative;
    padding       : 2px 8px;
    color         : white;
    display       : inline-block;
    text-transform: uppercase;
    font-size     : 12px;
    font-weight   : normal;
    white-space   : nowrap;
    @include border-radius(11px);
    &:hover {
        text-decoration: none;
    }
    &.on:after {
        right: -5px;
    }
    &.on {
        @include box-shadow(inset 1px 1px 3px darken($green-light, 20%));
        background-color: $green-light;
        padding-right   : 20px;
    }
    &.off:after {
        left: -5px;
    }
    &.off {
        @include box-shadow(inset 1px 1px 3px darken($red, 20%));
        background-color: $red;
        padding-left    : 20px;
    }
}

