.tabs--link {
    li.active a {
        font-weight: bold;
    }
}
.tabs, .tabs--stacked {
    li.active {
        background-color   : white;
        &:hover {
            background-color: white;
            a {
                cursor: default;
            }
        }
    }
    li:hover {
        a {
            cursor             : pointer;
            text-decoration    : none;
        }
    }
}

.tabs--stacked {
    text-align      : right;
    list-style      : none;
    margin-left     : 0;
    border-right    : 1px solid $pane-border-color;
    border-top      : 1px solid $pane-background-color;
    top         : -1px;
    position    : relative;

    li:last-child {
        margin-bottom: 1em;
    }
    li:first-child {
        border-top: 1px solid $pane-border-color;
    }
    li {
        background-color: $pane-background-color;
        top         : -1px;
        position    : relative;
        border      : 1px solid $pane-border-color;
        border-right: none;
        border-top  : none;
        margin-right: -1px;
        margin-left : 1em;
        a {
            display: block;;
            padding: 10px;
            color  : #393C3D;
        }
        &:hover {
            background-color: #F2F2F2;
        }
    }
}
.tabs {
    @extend .nav;
    border-bottom: 1px solid $gray-smooth;
    margin       : 0em;
    li {
        margin-right: 0.2em;
        border       : 1px solid $beige-dark; // To prevent size to change on hover
        border-bottom: none;
        a {
            padding                : 0.4em 1em;
            color                  : $brand-color;
            border-top-left-radius : 3px;
            border-top-right-radius: 3px;
        }
        &:hover {
            background-color   : $beige;
            border             : 1px solid darken($gray-lighter, 5%);
            border-bottom-color: $beige;
        }
        &.active {
            a {
                // color               : black;
                // border              : 1px solid $gray-smooth;
                position            : relative;
                top                 : 1px;
                border-bottom-color : $pane-border-color;
            }
            &:hover {
                background-color: $pane-border-color;
                cursor       : default;
                [href] {
                    cursor: pointer;
                }
            }
        }
    }
    &.panel__header {
        &.tabs--thin li a {
            padding: 0.7em;
        }
        border-bottom: none;
        li:first-child {
            margin-left: 0.7em;
        }
        li {
            margin-bottom: -1px;
            border          : 1px solid $pane-border-color;
            background-color: $pane-background-color;
            a {
                color           : #393C3D;
                font-weight     : bold;
                border          : none;
                padding         : 0.6em 1.3em;
            }
            &:hover {
                background-color: #F2F2F2;
            }
            &.active {
                border-bottom-color: white;
                background-color   : white;
                a { position: static; }
            }
        }
        &.tabs--blue {
            li {
                border-bottom: 1px solid $blue;
                &.active {
                    background: $blue;
                    a { color: white; }
                    &:hover a { background: lighten($blue, 5%); }
                }
            }
        }
    }
}

.tabs.tabs--large li {
    a {
        padding: 1em 3em;
        background-color: $beige-dark;
        &:hover {
            background-color: $beige;
        }
    }
    &.active a {
        background-color: white;
    }
}

.tab-pane {
    display    : none;
    padding-top: 1em;
    &.active.inline-block {
        display: inline-block;
    }
    &.active{
        display: block;
    }
}

.subject-tabs {
    i { color: $gray-light }
    &.active:hover {
      font-weight: 600;
    }
    &.active {
      font-weight: bold;
      i { color: black; }
    }
}
