.tabs {
    @extend .nav;
    border-bottom: 1px solid $gray-smooth;
    margin       : 0em;
    li {
        margin-right: 0.2em;
        border       : 1px solid $beige-dark; // To prevent size to change on hover
        border-bottom: none;
        a {
            padding     : 0.4em 1em;
            color        : $brand-color;
            @include border-top-radius(3px);
        }
        &:hover {
            background-color   : $beige;
            border             : 1px solid darken($gray-lighter, 5%);
            border-bottom-color: $beige;
            a {
                cursor             : pointer;
                text-decoration    : none;
            }
        }
        &.active {
            a {
                color               : black;
                border              : 1px solid $gray-smooth;
                position            : relative;
                top                 : 1px;
                border-bottom-color : $pane-border-color;
            }
            &:hover {
                background-color: $pane-border-color;
                cursor       : default;
                [href] {
                    cursor: pointer;
                }
            }
        }
    }
}

.tabs--white {
    border-bottom: none;
    .active a {
        background: white;
    }
}
.tabs--blue {
    li {
        a {
            position: relative;
            &:hover {
                border-bottom: none;
            }
        }
        &.active a {
            background: $blue;
            color     : white;
            top       : 2px;
            border    : none;
            &:hover {
                border    : none;
                background: lighten($blue, 5%);
            }
        }
    }
}
.tabs.tabs--large li {
    a {
        padding: 1em 3em;
        background-color: $beige-dark;
        &:hover {
            background-color: $beige;
        }
    }
    &.active a {
        background-color: white;
    }
}

.tab-pane {
    display    : none;
    padding-top: 1em;
    &.active{
        display: block;
    }
}
