table {
    font-size: inherit;
}
/**
 * Table white
 */
.table--white{
    td {
        background-color: white;
    }
}
/**
 * Striped tables
 */
.table-striped-like {
    > div:nth-of-type(even) { background-color: $alternative-background; }
}
.table-row-alternate-color{
    background-color: $alternative-background;
}
.table--striped{
    thead {
        tr {
            border-bottom: 1px solid #CCCCCC;
            th {
                padding: 6px 9px 4px 9px;
            }
        }
    }
    tbody {
        tr:nth-of-type(odd)                                                    { background-color: transparent; }
        tr:nth-of-type(odd) td, tr:nth-of-type(odd) th                         { background-color: $alternative-background; }
        tr.premium-box:nth-of-type(odd) td, tr.premium-box:nth-of-type(odd) th { background-color: inherit; }

        tr.active td, tr.active th {
            background-color: $hover-list-element;
        }
    }
    &.table--striped-reversed tbody {
        tr:nth-of-type(odd)                            { background-color: transparent; }
        tr:nth-of-type(odd) td, tr:nth-of-type(odd) th { background-color: transparent; }
        tr:nth-of-type(even)                            { background-color: $alternative-background; }
        tr:nth-of-type(even) td, tr:nth-of-type(even) th { background-color: $alternative-background; }
    }
    tbody, thead {
        tr.no-stripe td, tr td.no-stripe {
            background-color: transparent;
        }
    }
    td {
        font-weight: 500;
    }
}

.table--hoverable{
    tbody {
        tr:hover td, tr:hover th { background-color: $hover-list-element; }
    }
}

/**
 * Data table
 */
.table--data {
    font: inherit;
    font-size: 13px;
    td, thead tr th {
        padding    : 0.5em 0.8em;
        line-height: 1.5;
    }
    td {
        border-right: 1px solid #DDD;
        &:last-child {
            border-right: none;
        }
    }
}
/**
 * Data table
 */
.table-not-bordered {
    td {
        border-right: none;
    }
}

.table__cell--editable {
    // min-height needed for when the cells are empty.
    .editable-text {
        min-height : 1em;
    }
    input[type="text"] {
        width    : 100%;
        padding  : 3px 5px;
        font-size: 13px;
    }


}

.unfinished input:not(.taggy--input), .unfinished .editable-tag-bar.active {
    border-radius: 3px;

    border-color: opacify($orange, 0.8);
    outline     : 0;
    box-shadow: 0 0 4px opacify($orange, 0.8),0 0 0 #000;
}

th.sortAsc span, th.sortDesc span {
    position: relative;
}
th.sortAsc span:after, th.sortDesc span:after {
    display          : block;
    position         : absolute;
    content          : ' ';
    top              : 50%;
    right            : -15px;
    width            : 10px;
    height           : 10px;
    background-size  : 10px;
    background-repeat: no-repeat;
    vertical-align   : middle;
    background-size: 100%;
}
th.sortAsc span:after {
    background-image : image-url('icons/caret-up.png');
}
th.sortDesc span:after {
    background-image : image-url('icons/caret-down.png');
}
