.editable-tag-bar {

    &.active {
        background-color: white;
        cursor: text;
        border        : 1px solid #ccc;
        padding       : 5px;
        vertical-align: middle;
        @include vendor(border-box, box-sizing);
        @include border-radius(3px);

        border-color: opacify($blue-green, 0.8);
        outline     : 0;
        @include box-shadow(0 0 4px opacify($blue-green, 0.8),0 0 0 #000);
    }

    .tt-hint {
        display: none;
    }

    .tt-suggestion.tt-is-under-cursor:after {
        background-color: #3AB8AE;
    }

    .tt-suggestion {
        @extend .taggy--tag;
    }

    .tt-dropdown-menu {
        padding: 10px;
    }
}



.taggy--tag {
    display         : inline-block;
    border          : 1px solid #CCC;
    padding         : 0.5em;
    padding-right   : 15px;
    margin-top      : 4px;
    margin-right    : 15px;
    background-color: white;
    line-height     : 1em;
    position        : relative;

    &.tag--small {
        font-size: 0.9em;
        padding  : 0.2em 0.6em;
    }

    &:after {
        border  : 1px solid #CCC;
        border-left  : none;
        border-bottom  : none;
        content: "";
        height: 28px;
        position: absolute;
        right: -14px;
        top: -1px;
        transform: scale(0.707) rotate(45deg);
        width: 28px;
        border-radius: 0 5px 0 50px;
        background-color: white;
    }
}

.taggy--tag__saltier {
    position: absolute;
    right: -5px;
    z-index: 1;
    cursor: pointer;
    &:before {
        @extend .fa;
        @extend .fa-times;
        padding-right: 0.3em;
    }

}

.taggy--input:focus {
    border: none;
    box-shadow: none;
    outline     : 0;
}
