.time-slot {
    input, label{
        display       : inline-block;
        vertical-align: middle;
    }
    label {
        line-height : 1.5;
        text-align  : center;
        margin-right: 1em;
    }
}
