.vertical-page__content {
    img {
        width  : 100% !important;
        height : auto !important;
        display: block;
    }
    strong { font-weight: 600; }
    p, ul, div {
        color      : #1E1E1E;
        &.white {
            color: white;
        }
        font-size  : 17px;
        line-height: 28px;
        @include media-query(palm) { font-size: 15px;}
    }
    h2 {
        font-family: 'lexia';
        @extend .f-style-italic;
        @extend .f-weight-400;
        @extend .bordered--bottom;
        padding-bottom: 10px;
    }
    blockquote {
        p {
            font-style : italic;
            font-size  : 20px;
            color      : #777;
            line-height: 30px;
        }
        border-left : 4px solid #CCC;
        padding-left: 1em;
    }
}
