.white-box--noshadow {
    @extend .white-box;
    @include box-shadow(none!important);
}
.white-box {
    background: white;
    border    : 1px solid #DDD;
    @include border-radius($brand-round);
    @include box-shadow(1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE);
}
.form-white-box {
    @extend .white-box;
    max-width   : 800px;
    margin      : 1em 0 ;
    margin-left : 250px;
    padding     : 1em;
}
.form-white-box--large {
    @extend .form-white-box;
    max-width: 1000px;
}
