.white-box {
    background: white;
    border    : 1px solid #DDD;
    @include border-radius($brand-round);
    @include box-shadow(2px 2px 4px #CCC);
}
.form-white-box {
    @extend .white-box;
    max-width   : 800px;
    margin      : 1em 0 ;
    margin-left : 250px;
    padding     : 1em;
}
.form-white-box--large {
    @extend .form-white-box;
    max-width: 1000px;
}
