.modal-info-popup#modal-info-dashboard {
  top     : 165px;
  left    : 285px;
  position: fixed;
}
.modal-info-popup#modal-info-check-info-at-right {
  top : 160px;
  left: 500px;
  position: fixed;
}
.modal-info-popup#modal-info-mes-infos {
  top: 55px;
}
.modal-info-popup#modal-info-mes-avis {
  top: 105px;
}
.modal-info-popup#modal-info-mes-cours {
  top: 155px;
}
.modal-info-popup#modal-info-mes-photos {
  top: 210px;
}
.modal-info-popup#modal-info-conversation {
  top: 260px;
}
.modal-info-popup#modal-info-parainage {
  top: 310px;
}
.modal-info-popup#modal-info-lets-start {
  left: 385px;
  top : 105px;
}
.modal-info-popup {
  position  : absolute;
  z-index   : 10;
  width     : 40em;
  background: white;
  @include box-shadow(0 0 25px #777);
  @include border-radius(3px);
}
  .modal-info-popup__right-arrow, .modal-info-popup__left-arrow {
    @include text-shadow(2px 2px 9px #555, 2px 2px 38px #666);
  }
  .modal-info-popup__left-arrow {
    left        : -25px;
  }
  .modal-info-popup__right-arrow {
    right       : -25px;
  }
  .modal-info-popup__title{
    margin-bottom: 0;
    padding      : 0.3em 0.7em;
    background   : #F5F5F5;
    @include border-top-radius(3px);
  }
  .modal-info-popup__content{
    font-size  : 1.3em;
    padding    : 0.7em;
    @include border-radius(3px);
    p {
      margin-bottom: 0;
    }
  }
