%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    - blocs.each_with_index do |bloc, index|
      %td.content-block.soft-half--sides{ class: (index == 0 ? 'bordered--right' : ''), width: '300' }
        - bloc.sub_blocs.order('position ASC').each do |sub_bloc|
          - if sub_bloc.image?
            .soft-half--bottom
              = image_tag sub_bloc.image.url(:newsletter_body_half), alt: @newsletter.title, class: 'center-block', style: 'max-width: 300px', width: 300
          - elsif sub_bloc.content.present?
            = sub_bloc.content.html_safe
