- blocs.each do |bloc|
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
    %tr{ valign: 'top' }
      %td.content-block{ colspan: '2', width: '600', style: 'padding-bottom: 0; padding-left: 7px; padding-right: 7px;' }
        %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
          %tr{ valign: 'top' }
            - bloc.sub_blocs.order('position ASC').each do |sub_bloc|
              .text--center.media__item
                - if sub_bloc.image?
                  = image_tag sub_bloc.image.url, alt: @newsletter.title
                - else
                  = sub_bloc.content.html_safe
