%table{align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600'}
  %tr{valign: 'top'}
    %td.content-block{width: '600', style: 'padding-bottom: 0'}
      %h4.soft-half--left.soft-half--top Les 5-6 avril : + de 5 000 cours de loisirs GRATUITS
  %tr{valign: 'top'}
    %td.v-middle.cell.content-block.hard--ends
      = link_to 'https://www.coursavenue.com/#video', class: 'block', utm_source: 'email', utm_campaign: 'jpo', utm_medium: 'bottom_email_video' do
        = image_tag 'jpo_2014/video_banner.jpg', alt: 'CoursAvenue', height: '215', width: '600', style: '-ms-interpolation-mode:bicubic;', class: 'block'
  %tr{valign: 'top'}
    %td.v-middle.cell.content-block.hard--ends
      %p.soft-half--left.soft-half--top.flush--bottom
        Participez aux Portes Ouvertes des cours de loisirs du 1er week-end d'avril en Ile-de-France. Réservez l'un des 5 000 cours gratuits : danse, théâtre, chant, cuisine, yoga, arts martiaux... les places sont limitées !
  %tr{valign: 'top'}
    %td.v-middle.cell.content-block
      %p.action
        = link_to 'Participer à un cours gratuit les 5-6 avril', root_url(subdomain: 'www', utm_source: 'email', utm_campaign: 'jpo', utm_medium: 'bottom_email'), class: 'btn btn--blue'
