%table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600'}
  %tr{valign: 'top'}
    %td.cell.content-block{width: '600', colspan: '4', style: 'padding-bottom: 0'}
      %h4 Avantages de votre profil CoursAvenue
  %tr{valign: 'top'}
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/book.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Renseignez vos passions et visualisez tous les cours à moins de 15km de vous.
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/bullhorn.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Communiquez avec vos professeurs en toute simplicité.

  %tr{valign: 'top'}
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/people.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Recevez des cours d'essai gratuits et des promotions en lien avec vos passions.
    %td.v-middle.cell.content-block.push--bottom{width: '50'}
      = image_tag 'emails_logo/enveloppe.png', alt: 'CoursAvenue', height: '50', style: '-ms-interpolation-mode:bicubic;', width: '50'
    %td.v-middle.cell.content-block.push--bottom{width: '250', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Invitez tous vos proches à suivre les mêmes cours que vous.
