%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '600', colspan: '2', style: 'padding-bottom: 0' }
      .title Avantages de CoursAvenue
  %tr{ valign: 'top' }
    %td.v-middle{ width: '70' }
      = image_tag 'icons/icon-handshake-circle.png', width: 60
    %td.v-middle{ width: '530' }
      .p.soft--top
        %strong Mise en relation gratuite
        %br
        Inscrivez-vous gratuitement aux cours de votre choix
  %tr{ valign: 'top' }
    %td.v-middle{ width: '70' }
      = image_tag 'icons/icon-promotion-circle.png', width: 60
    %td.v-middle{ width: '530' }
      .p.soft--top
        %strong Essais gratuits & promotions
        %br
        Bénéficiez de cours d'essai gratuits et d'offres exclusives
  %tr{ valign: 'top' }
    %td.v-middle{ width: '70' }
      = image_tag 'icons/icon-money-circle.png', width: 60
    %td.v-middle{ width: '530' }
      .p.soft--top
        %strong Paiement sur place
        %br
        Payez directement votre professeur lors de votre séance
