%p Bonjour #{@comment.author_name.titleize},

%p
  Merci de nous avoir fait part de votre avis à propos de : #{@structure.name}. Il a été envoyé sur notre site Internet. Pour le visualiser, cliquez sur le lien suivant :

%p
  = link_to "Votre avis à propos de : #{@structure.name}", commentable_url(@comment)

%p Encore merci de nous avoir fait partager votre expérience, à très bientôt,

%p L'équipe de CoursAvenue
