%p Bonjour #{@comment.author_name.titleize},

%p
  Merci de nous avoir fait part de votre expérience. Votre avis vient d'être publié sur le profil de #{@structure.name}. Pour le visualiser, cliquez sur le lien suivant :

%p.action
  = link_to "Voir mon avis", commentable_url(@comment), class: 'btn btn--blue'

%p Encore merci de nous avoir fait partager votre expérience, à très bientôt,

%p L'équipe de CoursAvenue
