%p Bonjour #{@comment.author_name.titleize},

%p
  Merci d'avoir laissé un commentaire sur CoursAvenue.
  %br
  N'hésitez pas à solliciter vos proches pour qu'ils postent également des commentaires sur les cours qu'ils ont suivis ou sur les établissements qu'ils connaissent.

%p À très bientôt,

%p L'équipe de CoursAvenue
