%p Bonjour #{@comment.author_name.titleize},

%p
  #{@structure.name} vient de valider votre avis !

%p.action
  = link_to "Voir mon avis", structure_url(@structure), class: 'btn btn--blue'

%p Encore merci de nous avoir fait partager votre expérience, à très bientôt,

%p L'équipe de CoursAvenue

%p Bonjour #{@comment.author_name.titleize},
