
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" httpequiv="Content-Type">
<title>Plus que 3 jours avant les Portes Ouvertes : n'attendez pas pour vous inscrire</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body class="coursavenue-email-body" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important">
    <table border="0" cellpadding="0" cellspacing="0" class="coursavenue-email-body" width="100%" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important"><tr class="coursavenue-email-body" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important">
<td class="coursavenue-email-body" width="100%" style="-webkit-text-size-adjust:none;background:#f1f1f1;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;border:none;height:auto;width:100% !important">
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px; margin: auto;" width="600"><tr>
<td style="border:none;height:auto;width: 600px;" width="600">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 600px;" width="600"><tr valign="bottom">
<td class="email-title text--center logo-cell" style="color:#f1f1f1;font-size:9px;border:none;height:auto;text-align:center !important;width: 600px;" width="600">
                      Ce week-end, c'est gratuit ! Derniers jours pour réserver vos ateliers : faites vite, les places sont limitées.
                    </td>
                  </tr></table>
<table border="0" cellpadding="0" cellspacing="0" style="width: 600px;" width="600"><tr valign="bottom">
<td class="logo-cell" style="border:none;height:auto;width: 300px;" width="300">
                      <img border="0" class="hide" height="20" src="http://coursavenue.com" width="1"><br class="hide"><a class="block push-half--bottom" href="https://www.coursavenue.com?utm_campaign=jpo_j_moins_3&utm_medium=logo&utm_source=email" target="_blank" style="text-decoration:none;color:#e9683d;display:block;margin-bottom:11px !important"><img alt="CoursAvenue" height="89" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/logo_jpo_1_line_orange.png" style="width: 300px; height: 89px;" width="300"></a>
                    </td>
                    <td class="v-bottom soft-half--bottom text--right" style="height:auto;border:none;vertical-align:bottom !important;padding-bottom:11px !important;text-align:right !important;width: 300px;" width="300">
                    </td>
                  </tr></table>
<table border="0" cellpadding="0" cellspacing="0" class="promo-table" style="width: 600px;" width="600"><tr>
<td class="content-block white-box" style="-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;border:none;height:auto;width: 600px;" width="600">
                      <table border="0" cellpadding="0" cellspacing="0" class="promo-table" style="width: 600px;" width="600"><tr>
<td align="center" class="logo-cell" style="border:none;height:auto;padding-right: 0px;" valign="middle" width="100">
                            <a target="_blank" href="https://www.coursavenue.com/portes-ouvertes-cours-loisirs?utm_campaign=jpo_j_moins_3&utm_medium=logo_header&utm_source=email" style="color:#e9683d;text-decoration:none">
                              <img alt="Logo j moins 4" height="100" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/jpo/logo_j_moins_3.png" style="width: 100px; height: 100px;" width="100"></a>
</td>
                          <td style="border:none;height:auto;padding: 15px" valign="middle" width="500">
                            <h4 style="font-weight:bold;padding-bottom:0;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:0;margin-top:0;margin-bottom:0px;color:#444444 !important">
                              Ce week-end, c'est gratuit ! Derniers jours pour réserver vos ateliers : faites vite, les places sont limitées.
                            </h4>
                          </td>
                        </tr></table>
</td>
                  </tr></table>
</td>
            </tr></table>
<br><table align="center" border="0" cellpadding="0" cellspacing="0" class="under-content" style="width: 600px; margin: auto;" width="600"><tr>
<td class="content-block white-box" style="-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;border:none;height:auto;width: 600px;" width="600">
                <a target="_blank" href="https://www.coursavenue.com/portes-ouvertes-cours-loisirs?utm_campaign=jpo_j_moins_3&utm_medium=image&utm_source=email" style="color:#e9683d;text-decoration:none"><img alt="Illustration j 5" height="465" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/jpo/illustration_j_5.jpg" style="height: 465px; width: 600px;" width="600"></a>
              </td>
            </tr></table>
<br><table align="center" border="0" cellpadding="0" cellspacing="0" class="under-content" style="width: 600px; margin: auto;" width="600"><tr>
<td class="content-block white-box" style="-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;border:none;height:auto;width: 600px;" width="600">
                <div class="soft-half" style="padding:11px !important">
                  <p style="color:#666;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;font-weight:normal;padding-top:0;padding-bottom:0;margin-bottom:12px;font-size:13px">
                    Wutao, Aquazumba, Peinture à la tempera grasse, Baby karaté, Espéranto, Cuisine adaptée aux bébés, Méthode Feldenkrais, MAO ou encore Do In... vous connaissez ? Ce week-end des 5 et 6 avril, partez à la découverte de toutes ces disciplines réparties dans plus de 200 lieux à Paris :
                  </p>
                  <p class="action" style="color:#666;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;font-weight:normal;padding-bottom:0;padding-top:0;text-align:center;margin:30px auto;font-size:13px">
                    <a class="btn btn--yellow" target="_blank" href="https://www.coursavenue.com/portes-ouvertes-cours-loisirs?utm_campaign=jpo_j_moins_3&utm_medium=button&utm_source=email" style="-ms-border-radius:2px;line-height:1;font-weight:bold;padding:0.8em;font-size:12px;-webkit-border-radius:2px;-moz-border-radius:2px;white-space:normal;-o-border-radius:2px;border:1px solid #DEDEDE;text-transform:uppercase;background-color:#ffc40d;border-radius:2px;text-decoration:none;color:#5a4400">Réserver mon atelier gratuit</a>
                  </p>
                  <p class="blue blue-tip" style="line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-bottom:0;font-weight:normal;padding-top:0;margin-top:0;margin-bottom:0;font-size:13px;color:#3ab8ae !important">
                    <i>Trucs & astuces : réservez votre place dès maintenant, certains cours affichent déjà complet.</i>
                  </p>
                </div>
              </td>
            </tr></table>
<br><table align="center" border="0" cellpadding="0" cellspacing="0" class="under-content" style="width: 600px; margin: auto;" width="600"><tr>
<td class="content-block white-box" style="-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;border:none;height:auto;width: 600px;" width="600">
                <table align="center" border="0" cellpadding="15" cellspacing="0" class="table" width="600">
<tr valign="top">
<td class="soft-half hard--bottom content-block" colspan="2" width="600" style="height:auto;border:none;padding-bottom:0 !important;padding:11px !important">
                      <h4 class="flush" style="font-weight:bold;padding-bottom:0;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:0;margin-bottom:10px;margin-top:0;margin:0 !important;color:#444444 !important">Portes Ouvertes des cours de loisirs</h4>
                    </td>
                  </tr>
<tr valign="top">
<td class="hard--top soft-half v-middle content-block hard--ends" width="50" style="height:auto;border:none;padding-bottom:0 !important;vertical-align:middle !important;padding-top:0 !important;padding:11px !important">
                      <img alt="CoursAvenue" height="50" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/eye.png" style="width: 50px; height: 50px;" width="50">
</td>
                    <td class="hard--top soft-half v-middle content-block" style="height:auto;border:none;vertical-align:middle !important;padding-top:0 !important;padding:11px !important;padding-right: 0; padding-left: 0;" width="550">
                      <p class="flush--bottom" style="margin-top:0;color:#666;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;font-size:13px;margin-bottom:0 !important">
                        Plus de 5 000 cours de loisirs gratuits, 200 lieux, 100 disciplines pour tous dès 4 ans
                      </p>
                    </td>
                  </tr>
<tr valign="top">
<td class="hard--top soft-half v-middle content-block hard--ends" width="50" style="height:auto;border:none;padding-bottom:0 !important;vertical-align:middle !important;padding-top:0 !important;padding:11px !important">
                      <img alt="CoursAvenue" height="50" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/enveloppe.png" style="width: 50px; height: 50px;" width="50">
</td>
                    <td class="hard--top soft-half v-middle content-block" style="height:auto;border:none;vertical-align:middle !important;padding-top:0 !important;padding:11px !important;padding-right: 0; padding-left: 0;" width="550">
                      <p class="flush--bottom" style="margin-top:0;color:#666;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;font-size:13px;margin-bottom:0 !important">
                        Réservez votre place directement en ligne sur le moteur de recherche géolocalisé CoursAvenue.com
                      </p>
                    </td>
                  </tr>
<tr valign="top">
<td class="hard--top soft-half v-middle content-block hard--ends" width="50" style="height:auto;border:none;padding-bottom:0 !important;vertical-align:middle !important;padding-top:0 !important;padding:11px !important">
                      <img alt="CoursAvenue" height="50" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/people.png" style="width: 50px; height: 50px;" width="50">
</td>
                    <td class="hard--top soft-half v-middle content-block" style="height:auto;border:none;vertical-align:middle !important;padding-top:0 !important;padding:11px !important;padding-right: 0; padding-left: 0;" width="550">
                      <p class="flush--bottom" style="margin-top:0;color:#666;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;font-size:13px;margin-bottom:0 !important">
                        Une fois inscrit, invitez rapidement vos proches à participer à l'événement avec vous : les places sont limitées !
                      </p>
                    </td>
                  </tr>
</table>
</td>
            </tr></table>
<table align="center" border="0" cellpadding="5" cellspacing="0" style="width: 600px; margin: auto;" width="600"><tr>
<td class="soft-half--ends footer" style="height:auto;border:none;padding-bottom:11px !important;padding-top:11px !important;width: 600px;" width="600">
                <p style="color:#717171;font-size:12px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal">
                  <a href="[[UNSUB_LINK_FR]]" style="color:#8b8b8b;text-decoration:underline">Cliquez ici pour vous désabonner.</a>
                </p>
                <br><br class="hide">
</td>
            </tr></table>
</td>
      </tr></table>
</body>
</html>
