- content_for :email_title do
  Bienvenue sur la newsletter CoursAvenue

.p Bonjour,

.p
  Merci d’avoir rejoint la communauté CoursAvenue. Vous recevrez un concentré des meilleurs articles publiés dans notre blog de loisirs.

.p
  Pour vous souhaiter la bienvenue, n’hésitez pas à découvrir l’un de nos cours d’essai gratuits dès aujourd’hui.

.p.action
  = link_to "Trouver un cours d'essai gratuit", root_search_page_without_subject_path('paris'), class: 'btn btn--green'

= render 'shared/mailers/footer'
