.title Bienvenue sur CoursAvenue !

.p Félicitations,

.p Nous sommes heureux de vous confirmer votre inscription à la newsletter de CoursAvenue.com !
.p En tant que membre privilégié, vous allez pouvoir être tenu informé de nos meilleures offres par email.

= render 'shared/mailers/footer'
