- content_for :email_title do
  Un grand merci

.p Très chers utilisateurs,

.p{ style: 'font-weight: bold' } Triste nouvelle aujourd’hui : nous devons clôturer le site www.CoursAvenue.com

.p Cette décision, difficile à prendre, à été mûrement réfléchie. Durant ces trois dernières années, nous avons construit une équipe solide avec une plateforme efficace (4 000 partenaires, 10 000 inscriptions, 11 000 avis, 25 000 cours). Étendre le fonctionnement collaboratif aux cours de loisirs était une bonne idée, le service rendu aux élèves et professeurs plaisait mais la structure du marché et la faisabilité économique ont eu raison de cette belle initiative.


.p
  Le site fermera donc dans les prochains jours, pour nos utilisateurs comme pour nos professeurs, à qui nous avons envoyé tous les avis de leurs élèves pour qu'ils puissent les conserver. Si vous avez des cours à venir, vous pouvez récupérer toutes les informations des séances dans les emails qui vous ont déjà été envoyés lors de l'inscription.


.p Nous tenons à vous remercier profondément pour l’intérêt que CoursAvenue a pu susciter chez vous, et pour les nombreux échanges que nous avons pu avoir avec la majorité d'entre vous.

.p{ style: 'font-weight: bold' } Un grand merci,

.p Nicolas, Nima et toute l'équipe de CoursAvenue
