%p Bonjour #{@user.first_name} et bienvenue sur CoursAvenue !

%p
  Nous espérons que vous trouverez très vite des cours pour apprendre encore et toujours !

%p À très bientôt,

%p L'équipe de CoursAvenue
