<div class="soft epsilon flexbox line-height-2">
    <div class="flexbox__item soft--right v-middle">
      <i class="fa fa-3x fa-face-sad"></i>
    </div>
    <div class="flexbox__item v-middle">
      Hum... pas de cours de loisirs encore référencés dans les parages. Voici ce que nous vous conseillons :
      <br>
      - <a href="#" data-behavior="zoom-out">Faites un zoom arrière</a> pour une recherche plus élargie à partir de la carte
      <br>
      - Lancez une recherche plus générale ou <a href="#" data-behavior="remove-filters">supprimez tous les filtres</a>
    </div>
</div>
