<div class="text--center delta white-box island">
  Pas de résultat
  {{#if search_term}}
    correspondant à <strong>« {{search_term}} »</strong>
  {{/if}}
  {{#if subject_name}}
    dans la catégorie : <strong>« {{subject_name}} »</strong>
  {{/if}}
</div>
