= content_for :scripts do
  :javascript
    $(function() {
        var star;
        var rating_descriptions = [
          'Épouvantable',
          "Mauvais",
          'Moyen',
          'Très bon',
          "Excellent !"
        ]
        // Add events on stars
        $$('.rating .star').addEvent('click', function() {
            $('comment_rating').set('value', this.get('data-value'));
            $('comment_rating').fireEvent('change');
            this.getAllPrevious().addClass('icon-star').removeClass('icon-star-empty');
            this.addClass('icon-star').removeClass('icon-star-empty');
            this.getAllNext().removeClass('icon-star').addClass('icon-star-empty');
        });
        if ($('new-comment')) {
            $('new-comment').addEvent('submit', function(){
                if ($('comment_rating').value.length === 0) {
                    new GLOBAL.Objects.Flash('Vous devez mettre une note pour poster un commentaire.').showAndHide();
                    return false;
                }
            });
        }
        // Add animation on stars
        $$('.rating .star').addEvents({
            mouseenter:  function() {
                $('rating-description').set('text', rating_descriptions[parseInt(this.get('data-value')) - 1]);
                if ($('comment_rating').value.length === 0 || (parseInt($('comment_rating').value) < parseInt(this.get('data-value')))) {
                    this.getAllPrevious().addClass('icon-star').removeClass('icon-star-empty');
                    this.addClass('icon-star').removeClass('icon-star-empty');
                    this.getAllNext().removeClass('icon-star').addClass('icon-star-empty');
                }
            },
            mouseleave: function() {
                $$('.rating .star').removeClass('icon-star').addClass('icon-star-empty');
                if ($('comment_rating').value.length > 0) {
                    var value = parseInt($('comment_rating').value);
                    $('rating-description').set('text', rating_descriptions[value - 1]);
                    for (var i = 0; i < value; i += 1) {
                        $$('.rating .star')[i].addClass('icon-star').removeClass('icon-star-empty');
                    }
                } else {
                    $('rating-description').set('text', '');
                }
            }
        });
        // Initialization
        if ((star = $$('.rating .star[data-value=' + $('comment_rating').get('value') + ']')).length > 0) {
            star[0].click();
        }
        if ($('comment_rating').get('value').length > 0 || $('comment_content').get('value').length > 0) {
            scrollTo(0, $('comments').offsetTop);
        }
    });
