- if current_user
  = content_for :scripts do
    :javascript
      window.addEvent('domready', function() {
          var rating_descriptions = [
            'Épouvantable',
            "Mauvais",
            'Moyen',
            'Très bon',
            "Excellent !"
          ]
          $$('.rating .star').addEvent('click', function() {
              $('comment_rating').set('value', this.get('data-value'));
              this.getAllPrevious().addClass('icon-star').removeClass('icon-star-empty');
              this.addClass('icon-star').removeClass('icon-star-empty');
              this.getAllNext().removeClass('icon-star').addClass('icon-star-empty');
          });
          $('new_comment').addEvent('submit', function(){
              if ($('comment_rating').value.length === 0) {
                  new GLOBAL.Objects.Flash('Vous devez mettre une note pour poster un commentaire.').showAndHide();
                  return false;
              }
          });
          $$('.rating .star').addEvents({
              mouseenter:  function() {
                  $('rating-description').set('text', rating_descriptions[parseInt(this.get('data-value')) - 1]);
                  if ($('comment_rating').value.length === 0 || (parseInt($('comment_rating').value) < parseInt(this.get('data-value')))) {
                      this.getAllPrevious().addClass('icon-star').removeClass('icon-star-empty');
                      this.addClass('icon-star').removeClass('icon-star-empty');
                      this.getAllNext().removeClass('icon-star').addClass('icon-star-empty');
                  }
              },
              mouseleave: function() {
                  $$('.rating .star').removeClass('icon-star').addClass('icon-star-empty');
                  if ($('comment_rating').value.length > 0) {
                      var value = parseInt($('comment_rating').value);
                      $('rating-description').set('text', rating_descriptions[value - 1]);
                      for (var i = 0; i < value; i += 1) {
                          $$('.rating .star')[i].addClass('icon-star').removeClass('icon-star-empty');
                      }
                  } else {
                      $('rating-description').set('text', '');
                  }
              }
          });
      });
