<div class="taggy">
    <span data-type="taggies-container">
        {{#each tags}}
            <span class="taggy--tag" data-value="{{ this }}">
                {{ this }}
                <span class="taggy--tag__saltier" data-behavior="destroy"></span>
            </span>
        {{/each}}
    </span>

    <input class="taggy--input" type="text" style="display:none;"></input>
</div>
