<span data-type="taggies-container">
    {{#each tags}}
        {{!-- we need zero space around the tag text --}}
        <span class="taggy--tag" data-value="{{ this }}">{{!--
        --}}{{ this }}{{!--
        --}}<span class="taggy--tag__saltier" data-behavior="destroy"></span>
        </span>
    {{/each}}
</span>

<input class="taggy--input" type="text" style="display:none;"></input>
