<div class="inline-block taggies-container v-middle" data-type="taggies-container">
    {{#each tags}}
        {{!-- we need zero space around the tag text --}}
        <span class="taggy--tag" data-value="{{ this }}">{{!--
        --}}{{ this }}{{!--
        --}}<i class="fa-times cursor-pointer" data-behavior="destroy"></i>
        </span>
    {{/each}}
</div><input class="taggy--input" type="text" style="display:none;"></input>
