= side_menu_currently_at ''
%table.table--data.table--striped
  %thead
    %tr
      %th Structure
      %th Params
      %th Order ID
  %tbody
    - @notifications.each do |notification|
      %tr
        %td= link_to notification.structure.name, edit_pro_structure_path(notification.structure), target: :_blank
        %td= link_to notification.params, pro_be2bill_notification_path(notification)
        %td= notification.order_id
