
%ul
- @visitors.each do |visitor|
  %li.white-box.islet
    .visitor
      .delta.blue #{ visitor.fingerprint }
      .overview.push--left
        - best = visitor.best :address_name
        %span.push--right
          %i.fa.fa-home
            #{ best[0] } (searched #{ best[1] } times)
        - if visitor.warnings?
          %span.push--right
            %i.fa.fa-warning
              #{ visitor.warnings.join(",") }
