%script{ src: "http://d3js.org/d3.v3.min.js" }

%p fingerprint: #{ @visitor.fingerprint } 
%p collisions:  #{ @visitor.comment_collision? } 

%h3 Comments
- @comments.each do |comment|
  .white-box.islet
    .delta Structure: #{ comment.commentable.name }
    - if comment.submitted?
      .btn.btn--green Submitted
    - else
      .btn.btn--orange Abandoned

    = render partial: 'comments/comment', locals: { comment: comment.to_c }


