%script{ src: "http://d3js.org/d3.v3.min.js" }

%p fingerprint: #{ @visitor.fingerprint } 
%p collisions:  #{ @visitor.comment_collision? } 

%h3 Unfinished Comments
- @unfinished_comments.each do |comment|
  = render partial: 'comments/comment', locals: { comment: comment.to_c }


