%article#tab-planning.tab-pane.active
  .grid
    .grid__item.one-whole.palm--one-whole.lap--one-whole>
      - if @plannings.any?
        - if @course.is_lesson?
          = render 'lesson_schedule'
        - if @course.is_training?
          = render 'training_schedule'
        - if @course.is_workshop?
          = render 'workshop_schedule'
        %p.milli
          %i Dernière mise à jour le #{l(@course.updated_at, format: :date)}.
      - else
        %p.white-box.islet Pas de planning pour ce cours.
