%article#tab-teacher.tab-pane
  - if @course.teachers.any?
    - @course.teachers.each do |teacher|
      %p.white-box.islet
        %b= teacher.name
        %br
        = teacher.description
  - else
    %p.white-box.islet
      Aucun professeur n'est renseigné
