.soft--sides
  - @plans.each do |plan|
    .flexbox.push--bottom
      .flexbox__item.v-middle
        %h4.flush--bottom
          = plan.name
          %span.caps.bg-green.white.smaller-print active
        - if plan.stripe_plan_id.present?
          = link_to 'Voir sur Stripe', "https://dashboard.stripe.com/test/plans/#{plan.stripe_plan_id}"
