.panel
  .panel__body
    %table.table--data.table--striped.table--hoverable
      %thead
        %tr
          %th Structure
          %th Depuis
      %tbody
        - @subscriptions.each do |subscription|
          %tr
            %td
              = subscription.structure.name
            %td
              = l(subscription.created_at)
