- articles.each do |article|
  .grid__item.one-third.palm-one-whole.push--bottom>
    = link_to blog_article_path(article), class: 'block link-colored-on-hover', title: article.title do
      = image_tag article.image.url(:similar_article), class: 'block one-whole hoverable-media'
      %h4.text--center.tk-lexia.f-style-itali--fullc.f-weight-normal.flush.delta.soft-half--top.line-height-1-3= article.title
