.flexbox.palm-block
  - articles.each do |article|
    %a.muted-link.flexbox__item.v-middle.search-page-filters__image-button.search-page-filters__panel-height.palm-one-whole.palm-block.one-third.bg-cover{ style: "background-image: url(\"#{article.image.url(:user_index_vertical)}\");", href: blog_article_path(article) }>
      .search-page-filters__image-button-curtain
      .relative.flexbox.search-page-filters__panel-height
        .flexbox__item.v-middle.soft--sides.hide-for-fout= article.title

