- index = 0
- subjects.each do |subject|
  - subject.vertical_pages.each do |vertical_page|
    - if vertical_page.image.present?
      - image = vertical_page.image.url(:thumb)
    - else
      - image = subject_image(subject)
    - if @city
      - url = vertical_page_with_city_path(subject.root, vertical_page, @city)
    - elsif subject.depth == 0
      - url = root_vertical_page_path(vertical_page)
    - else
      - url = vertical_page_path(subject.root, vertical_page)
    .inline-block.flush.gamma.v-middle.search-page-filters__image-button.palm-one-whole.palm-block.bg-cover{ class: ( (index % 5 < 3) ? 'one-third' : 'one-half'), style: "background-image: url('#{vertical_page.image.url(:homepage_small)}');" }>
      .search-page-filters__image-button-curtain
      .flexbox.relative.search-page-filters__panel-half-height
        .flexbox__item.v-middle
          = link_to vertical_page.title, url, class: 'white semi-muted-link', title: "Cours de #{subject.name}"
    - index += 1
