.text--center
  %div= link_to "Connexion avec Facebook", user_omniauth_authorize_path('facebook'), class: 'btn btn--facebook', id: 'facebook_button'
.or
  %span ou

#form
  = render 'form'

#other_form.hidden
  = render 'users/registrations/form'


:javascript
  $('show_new_registration_form').addEvent('click', function(){
    $('other_form').removeClass('hidden');
    $('form').addClass('hidden');
    $('facebook_button').set('text', "S'enregistrer avec Facebook")
  });

  $('show_new_session_form').addEvent('click', function(){
    $('form').removeClass('hidden');
    $('other_form').addClass('hidden');
    $('facebook_button').set('text', "Se connecter avec Facebook")
  });

