.main-container.soft
  .push--sides.soft--ends
    %h2.soft--bottom.text--center.f-weight-300 Les avantages du Pass Découverte
    .grid--full
      .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/abundance.png', width: 70
      .grid__item.three-twelfths.palm-one-whole.palm-text--center>
        %h4.push-half--bottom Un choix unique
        %p.epsilon C'est la 1ère fois qu'un Pass vous permet d'essayer autant de cours de loisirs : plus de 1 3000 séances vous sont proposées, un chiffre qui augmente chaque jour.
      .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/free.png', width: 70
      .grid__item.three-twelfths.palm-one-whole.palm-text--center>
        %h4.push-half--bottom Réservation gratuite
        %p.epsilon
          Réservez chaque séance d'essai en prenant directement contact avec le professeur, l'association ou l'école de votre choix.
      .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right.v-middle>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/rocket.png', width: 70
      .grid__item.three-twelfths.palm-one-whole.palm-text--center>
        %h4.push-half--bottom En toute liberté
        %p.epsilon Votre pass est valable 1 mois et renouvelable autant de fois que vous le souhaitez. Satisfaction garantie.
