.grid
  .grid__item.one-third.palm-one-whole.text--center>
    .center-block.text--center.alpha 1
    .gamma.push-half--bottom.f-weight-300 Achetez votre Pass
    %p.epsilon Payez en ligne par carte bleue : votre Pass est nominatif et valable 30 jours
  .grid__item.one-third.palm-one-whole.text--center>
    .center-block.text--center.alpha 2
    .gamma.push-half--bottom.f-weight-300 Choisissez vos cours
    %p.epsilon Visualisez les séances sur une carte géographique puis réservez celles de votre choix
  .grid__item.one-third.palm-one-whole.text--center>
    .center-block.text--center.alpha 3
    .gamma.push-half--bottom.f-weight-300 Suivez vos cours
    %p.epsilon Pour chaque séance, vous avez le droit d'y revenir jusqu'à 3 fois !
