<section id="widgets-container" class="grid__item one-half stickem absolute visuallyhidden--palm" data-type="google-maps">
    {{#each widget}}
        <div id="{{ id }}" data-type="widget"></div>
    {{/each}}
</section>{{!--
 --}}<section class="grid__item one-half palm-one-whole palm-flush" style="margin-left: 50%;">
    <div id="structures">
    </div>
    <div class="soft-half--sides">
        <a class='btn btn--blue btn--full btn--large' href="http://www.coursavenue.com/etablissements">Et plein d'autres !</a>
    </div>
</section>
