<section id="widgets-container" class="grid__item one-half stickem absolute" data-type="google-maps">
    {{#each widget}}
        <div id="{{ id }}" data-type="widget"></div>
    {{/each}}
</section>{{!--
 --}}<section class="grid__item one-half" style="margin-left: 50%;">
    <div id="structures">
    </div>
    <a class='btn btn--blue btn--full btn--large' href="http://www.coursavenue.com/etablissements">Et plein d'autres !</a>
    <div class="home-index-structures__infinite-scroll text--center" data-type="infinite-scroll-button"></div>
</section>
