<tbody>
  <tr valign='top'>
    <td class='' colspan='3' width='600' style='padding-bottom: 0'>
      <div class='title text--center'>{{ title }}</div>
    </td>
  </tr>

  <tr valign='top' data-type='bridges'></tr>

  <tr>
    <td><a href="{{ link }}">{{ link_name }}</a></td>
  </tr>
</tbody>

<hr>
