%table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'margin-bottom: 20px;'}
  %tr
    %td.cell.content-block{width: '600'}
      %h4 Invitez vos proches à vous rejoindre
      %p N'attendez pas que le cours soit complet ! Invitez dès maintenant votre famille, vos amis ou vos collègues à s'inscrire au même atelier que vous :
      %p.action.flush--bottom
        = link_to "Inviter mes proches", invite_entourage_to_jpo_page_users_url(user_email: @user.try(:email), structure_id: @structure.id, subdomain: 'www'), class: 'btn btn--blue'
