%table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'margin-bottom: 20px;'}
  %tr
    %td.soft-half.cell.content-block{width: '600'}
      %h4.flush Offrez à vos élèves l'opportunité d'inviter leurs proches
      %p
        Faites plaisir à vos élèves : offrez-leur la chance de partager leurs passions à leurs proches, que vous pourrez ensuite fidéliser.
      %p.action.flush--bottom
        = link_to "Envoyer mon invitation", jpo_new_pro_structure_invited_students_url(@structure, subdomain: 'pro'), class: 'btn btn--blue'
