%table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600', style: 'margin-bottom: 20px;'}
  %tr
    %td.cell.content-block{width: '600'}
      %h4 Offrez à vos élèves l'opportunité d'inviter tous leurs proches
      %p
        Faites plaisir à vos élèves : offrez-leur la chance de partager leurs passions à tous leurs proches, que vous pourrez ensuite fidéliser.
      %p.action
        = link_to "Envoyer mon invitation", invite_entourage_to_jpo_page_users_url(subdomain: 'pro'), class: 'btn btn--blue'
