%table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600'}
  %tr{valign: 'top'}
    %td.soft-half.hard--bottom.content-block{width: '600', colspan: '2'}
      %h4.flush Avantages des Portes Ouvertes
  %tr{valign: 'top'}
    %td.hard--top.soft-half.v-middle.content-block.hard--ends{width: '50'}
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/eye.png', alt: 'CoursAvenue',  height: '50', width: '50', style: 'width: 50px; height: 50px;'
    %td.hard--top.soft-half.v-middle.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Faites partie du 1er événement réunissant autant de cours de loisir : les médias vont parler de vous !
  %tr{valign: 'top'}
    %td.hard--top.soft-half.v-middle.content-block.hard--ends{width: '50'}
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/enveloppe.png', alt: 'CoursAvenue',  height: '50', width: '50', style: 'width: 50px; height: 50px;'
    %td.hard--top.soft-half.v-middle.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Fidélisez de nouveaux élèves : toutes les coordonnées des inscrits seront visibles directement sur votre profil privé
  %tr{valign: 'top'}
    %td.hard--top.soft-half.v-middle.content-block.hard--ends{width: '50'}
      = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/people.png', alt: 'CoursAvenue',  height: '50', width: '50', style: 'width: 50px; height: 50px;'
    %td.hard--top.soft-half.v-middle.content-block{width: '550', style: 'padding-right: 0; padding-left: 0;'}
      %p.flush--bottom
        Proposez à vos élèves d'inviter leurs proches à participer à vos ateliers : ils adoreront faire découvrir leurs passions

