- content_for :email_logo do
  = image_tag 'jpo_2014/logo_1_line_orange.png', alt: 'CoursAvenue', height: 89, width: 300, style: 'width: 300px; height: 89px;'

- content_for :promo do
  %h4 Vous participez aux Portes Ouvertes avec d'autres adultes : renseignez leurs e-mails pour les tenir informés des détails pratiques

%p
  Bonjour !

%p
  Nous sommes très heureux de vous compter parmi nos participants aux Portes Ouvertes des cours de loisirs qui se dérouleront ce week-end des 5 et 6 avril.

%p
  Nous venons de remarquer que votre réservation concerne plusieurs adultes : pour pouvoir leur communiquer toutes les informations pratiques (adresse exacte, station de métro la plus proche, code d’entrée, etc.), pouvez-vous renseigner les e-mails de tous les participants ? Indiquez-les directement depuis votre profil en cliquant sur le bouton jaune dans l’onglet « Mes cours » :


%p.action
  = link_to 'Renseigner les emails des autres participants', user_participations_url(@user, subdomain: 'www'), class: 'btn btn--yellow'

%p
  D’ici là, nous vous souhaitons une très belle semaine !

%p
  L’équipe de CoursAvenue
