- content_for :logo do
  = image_tag 'emails_logo/jpo.jpg', alt: 'CoursAvenue', height: '75', width: '75', style: '-ms-interpolation-mode:bicubic;'

- content_for :promo do
  %h4
    Votre inscription sur liste d'attente aux Journées Portes Ouvertes est validée.

%p
  Dès qu'une place se libère, vous recevrez un email automatique vous indiquant que votre inscription est bien enregistrée. Retrouvez toutes les informations relatives à votre atelier depuis votre profil :

%p.action
  = link_to "Visualiser mon atelier", user_participations_url(@user), class: 'btn btn--green'

%p.blue.blue-tip
  %i Trucs & astuces : depuis votre profil, invitez vos amis, familles et collègues à participer aux Journées Portes Ouvertes avec vous.

- content_for :under_content do
  = render 'invite_friends_to_jpos'

- content_for :under_content_2 do
  = render 'user_mailer/footer_info'
