%ul.tabs.push--bottom
  %li{ class: current == 'jpo' ? 'active' : '' }
    = link_to pro_open_courses_path do
      %i.fa-list
      Créneaux JPOs
  %li{ class: current == 'participations' ? 'active' : '' }
    = link_to pro_participations_path do
      %i.fa-tags
      Suivi des inscriptions
  %li{ class: current == 'fulfillment' ? 'active' : '' }
    = link_to fulfillment_pro_open_courses_path do
      %i.fa.fa-ellipsis-h
      Remplissage des inscriptions
  %li{ class: current == 'fulfillment_per_courses' ? 'active' : '' }
    = link_to fulfillment_per_courses_pro_open_courses_path do
      %i.fa.fa-ellipsis-h
      Remplissage des inscriptions / cours
