= side_menu_currently_at 'Mes élèves'

-# #user-search.filtered-search{ :data => { :type => "filtered-search-root" }}

.text--center
  = link_to 'Ajouter un élève', new_pro_structure_user_profile_path(@structure), class: 'btn btn--blue'
