= side_menu_currently_at 'Mes élèves'

= render partial: 'tabs', locals: { current: 'list' }

#user-management{ :data => { :type => "user-management-root" }}

.text--center
  = link_to 'Ajouter un élève', new_pro_structure_user_profile_path(@structure), class: 'btn btn--blue'
