- content_for :email_link do
  = buy_now_discovery_passes_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)

- content_for :email_title do
  Rappel : réclamez votre Pass Découverte avant ce soir minuit !

.title.title--large.text--center
  Dernière Chance pour Obtenir votre Pass Découverte !

.p Bonjour,

.p Rappel : réclamez votre Pass Découverte avant ce soir minuit !

.p Pour obtenir le Pass Découverte maintenant :

.p
  = link_to 'CLIQUEZ ICI POUR OBTENIR VOTRE PASS DECOUVERTE', buy_now_discovery_passes_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'f-weight-bold', target: :_blank
  et partir à la rencontre des meilleurs cours de loisirs de Paris.

.p
  Ne tardez pas ! Votre Pass est réservé pendant 48 heures : après, il risque d'être pris par la personne suivante.

.p
  En tant que titulaire du Pass, vous aurez un accès exclusif aux meilleurs cours de loisirs de Paris. Il inclut pour vous et vos enfants :
  %br
  \- Des séances de Yoga, Bien-être & Santé : <strong>Yoga, Pilates, OstéoGym, Wutao, Sophrologie, Méditation, Arts énergétiques</strong>... ;
  %br
  \- Des cours de Dessin, Peinture & Arts : <strong>Croquis au Musée du Louvre, Sculpture, Ecriture créative, Gravure, Calligraphie, Dessin Manga, Vernis au tampon, Coloriste BD</strong>... ;
  %br
  \- Des cours de Danse : <strong>Tango, Danses de couple, Zumba, Salsa, Rock, Danses Africaines avec percussionnistes, Danse orientale, Danse indienne</strong>...

.p
  Sans parler des cours de <strong>Musique</strong> (éveil pour les tout-petits, instruments, solfège), de <strong>Chant</strong>, de <strong>Théâtre</strong>, de <strong>Sports</strong> et <strong>d'Arts martiaux</strong>. Certains cours sont même proposés à domicile !

.p
  Pour seulement 19€, chaque professeur, association ou école partenaire du Pass vous ouvre les portes de leurs cours pendant 30 jours : vous pouvez assister à une séance au minimum, certains vous proposent même d'y revenir jusqu'à 3 fois !

.p
  La valeur de ce Pass est exceptionnelle. Préparez-vous à une nouvelle vie créative, sportive, artistique... et passionnante ! Très belles découvertes,

.p
  L'équipe Pass Découverte
