- content_for :email_title do
  Félicitations ! Vous êtes sur la liste pour le Pass Découverte

.title
  Félicitations !

.p
  Vous êtes sur la liste d'attente pour le Pass Découverte. Nous vous enverrons un e-mail dès qu'il devient disponible pour vous. Nous ajoutons chaque jour de nouveaux cours et nous faisons tout pour que vous puissiez profiter pleinement de votre Pass dans les plus brefs délais.
