- content_for :email_title do
  Un Pass est réservé pour vous pendant 48h

.title.text--center
  Vous Avez 48 Heures pour Réclamer votre Pass Découverte !

.p
  Bonjour,

.p
  Merci pour votre patience. Nous avons une bonne nouvelle pour vous : l'attente est terminée et un Pass Découverte est maintenant disponible pour vous !

.p
  Cliquez sur le lien ci-dessous pour l'obtenir :

.p
  = link_to 'CLIQUEZ ICI POUR OBTENIR VOTRE PASS DECOUVERTE', create_account_discovery_passes_path
  et partir à la rencontre des meilleurs cours de loisirs de Paris.

.p
  Ne tardez pas ! Votre Pass est réservé pendant 48 heures : après, il risque d'être pris par la personne suivante.

.p
  En tant que titulaire du Pass, vous aurez un accès exclusif aux meilleurs cours de loisirs de Paris. Il inclut notamment :
  %br
  \- Des séances de Yoga, Bien-être & Santé : Yoga, Pilates, OstéoGym, Wutao, Sophrologie, Méditation, Arts énergétiques, Upcylcing... ;
  %br
  \- Des cours de Dessin, Peinture & Arts : Croquis au Musée du Louvre, Sculpture, Ecriture créative, Gravure, Calligraphie, Dessin Manga, Vernis au tampon, Coloriste BD... ;
  %br
  \- Des cours de Danse : Tango, Danses de couple, Zumba, Salsa, Rock, Danses Africaines avec percussionnistes, Danse orientale, Danse indienne... ;

.p
  Sans parler des cours de Musique (éveil pour les tout-petits, instruments, solfège), de Chant, de Théâtre, de Sports et d'Arts martiaux. Certains cours sont même proposés à domicile !

.p
  Pour seulement 19€ par mois, chaque professeur, association ou école partenaire du Pass vous ouvre les portes de leurs cours : vous pouvez assister à au moins une séance chez chacun d'eux, certains vous proposent même d'y revenir jusqu'à 3 fois !

.p
  La valeur de ce Pass est exceptionnelle. Préparez-vous à une nouvelle vie créative, sportive, artistique... et passionnante !

.p
  Très belles découvertes,
  L'équipe Pass Découverte
