- content_for :email_link do
  = buy_now_discovery_passes_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN)

- content_for :email_title do
  Un Pass est réservé pour vous pendant 48h

.title.title--large.text--center
  Vous Avez 48 Heures pour Réclamer votre Pass Découverte !

.p
  Bonjour,

.p
  Merci pour votre patience. Nous avons une bonne nouvelle : l'attente est terminée et un Pass Découverte est maintenant disponible pour vous !

.p
  Cliquez sur le lien ci-dessous pour l'obtenir :

.p
  = link_to 'CLIQUEZ ICI POUR OBTENIR VOTRE PASS DECOUVERTE', buy_now_discovery_passes_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'f-weight-bold', target: :_blank
  et partir à la rencontre des meilleurs cours de loisirs de Paris.

.p
  Ne tardez pas ! Votre Pass est <strong>réservé pendant 48 heures</strong> : après, il risque d'être pris par la personne suivante.

.p
  En tant que titulaire du Pass, vous aurez un accès exclusif aux meilleurs cours de loisirs de Paris. Il inclut pour vous et vos enfants :
  %br
  \- Des séances de Yoga, Bien-être & Santé :
  %strong Yoga, Pilates, OstéoGym, Wutao, Sophrologie, Méditation, Arts énergétiques... ;
  %br
  \- Des cours de Dessin, Peinture & Arts :
  %strong Croquis au Musée du Louvre, Sculpture, Ecriture créative, Gravure, Calligraphie, Dessin Manga, Vernis au tampon, Coloriste BD... ;
  %br
  \- Des cours de Danse :
  %strong Tango, Danses de couple, Zumba, Salsa, Rock, Danses Africaines avec percussionnistes, Danse orientale, Danse indienne...

.p
  Sans parler des cours de <strong>Musique</strong> (éveil pour les tout-petits, instruments, solfège), de <strong>Chant</strong>, de <strong>Théâtre</strong>, de <strong>Sports</strong> et d'<strong>Arts martiaux</strong>. Certains cours sont même proposés à domicile !

.p
  Pour seulement 19€ par mois, chaque professeur, association ou école partenaire du Pass vous ouvre les portes de leurs cours : vous pouvez assister à une séance au minimum, certains vous proposent même d'y revenir jusqu'à 3 fois !

.p
  La valeur de
  = link_to 'ce Pass', buy_now_discovery_passes_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'f-weight-bold', target: :_blank
  est exceptionnelle. Préparez-vous à une nouvelle vie créative, sportive, artistique... et passionnante ! Très belles découvertes,

.p
  L'équipe Pass Découverte
