- content_for :email_title do
  Votre Pass Découverte vient d'être activé.

.title
  Félicitations

.p
  Votre Pass Découverte vient d'être activé. Inscrivez-vous dès maintenant aux cours qui vous intéressent le plus :

.p.action
  = link_to "Réserver mes premiers cours", discovery_pass_search_structures_url(subdomain: CoursAvenue::Application::WWW_SUBDOMAIN), class: 'btn btn--green'

.p
  Grâce au moteur de recherche géolocalisé CoursAvenue, visualisez tous les cours autour de vous, les disciplines concernées, les plannings, les avis d'autres élèves, puis inscrivez-vous directement auprès du partenaire : vous avez droit à 1, 2 parfois même 3 cours d'essai !

.p
  Nous vous souhaitons de bien belles découvertes,

= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'participation_request_mailer/shared/user_faq'
