= simple_form_for [:admin, @author], as: :blog_author, url: (@author.new_record? ? admin_blog_authors_path : admin_blog_author_path(@author)) do |f|
  = f.input :name, input_html: { class: 'input--large one-whole' }, label: false
  = f.input :description, input_html: { class: 'input--large one-whole' }, label: false
  = f.submit 'Enregistrer', class: 'btn btn--green btn--full'
