= side_menu_currently_at 'blog'

= render partial: 'pro/shared/pages_tabs', locals: { current: 'blog_pro' }

%ol.nav.breadcrumb.epsilon.flush
  %li.delta= link_to 'Articles', pro_blog_articles_path
  %li.delta Nouvel auteur
= render 'form'
