= side_menu_currently_at 'messages'

.panel
  .panel__header.soft
    %ol.nav.flush.breadcrumb{itemprop: 'breadcrumb'}
      %li.delta= link_to 'Boîte de réception', pro_structure_conversations_path(@structure)
      %li.delta Nouveau message
  .panel__body.soft{ data: { behavior: 'wizard-helper', content: t('messages.wizard.grouped_conversation') } }
    = render 'form'
