<div class="islet">
  <div class="grid--full">
    <div class="grid__item one-tenth">
        <div class="media-photo">
            <img src='{{ image }}' class='block' />
        </div>
    </div>{{!--
 --}}<div class="grid__item nine-tenths soft--left">
        <p><strong>{{ name }}</strong></p>
        {{#if description}} {{{ simple_format description }}} {{/if}}
    </div>
  </div>
</div>
