- additional_classes = '' if additional_classes.nil?
.inline-block.soft.gray-box.delta.line-height-1-7.text--center{ class: additional_classes }>
  %p Pour recevoir tous nos conseils spécialisés pour les professeurs de loisirs, inscrivez-vous à notre newsletter !
  %input.push-half--bottom.one-whole.input--large{ placeholder: 'Email' }
  %button.btn.btn--full.btn--green M'inscrire
