= user_menu_currently_at 'Mes favoris'

.panel
  .panel__header.soft
    %h4.flush Mes favoris
  .panel__body.soft
    - if current_user.followings.any?
      - current_user.followings.each do |following|
        = link_to structure_path(following.structure) do
          .grid--full
            .grid__item.two-twelfths>
              = image_tag following.structure.logo.url(:thumb)
            .grid__item.ten-twelfths>
              = following.structure.name
    - else
      %p
        Vous n'avez aucun favoris.
