= user_menu_currently_at 'profile'

.flexbox
  = render partial: 'users/left_menu', locals: { current: 'followings' }
  .flexbox__item.four-fifths.v-top
    .panel
      .panel__body.soft
        %h3 Mes favoris
	- if @user.favorites.any?
	  - @user.favorites.each do |following|
            - structure = following.structure
            .inline-block.one-half.very-soft.relative>
              = render partial: "structures/similar_profile", locals: { structure: structure }
              %i.fa.fa-heart.north.east.absolute.push.fa-4x.orange
        - else
          %p
            Vous n'avez aucun favoris.
