#first-time-popup.hidden.jpo-popup.white.ff-open-sans.soft
  %h3.flush.text--center Les Portes Ouvertes des cours de loisirs des 5 et 6 avril
  %h5.text--center
    %i Evénement inédit : plus de 200 associations, professeurs et écoles offrent + de 5 000 cours gratuits à tous les Parisiens le temps d'un week-end.
  .grid.text--center
    .grid__item.one-third>
      %h3.push-half--bottom
        %i.fa-search
        Explorez
      %p Sélectionnez les disciplines de votre choix et trouvez tous les ateliers gratuits sur la carte.
    .grid__item.one-third>
      %h3.push-half--bottom
        %i.fa.fa-hand-o-up
        Réservez
      %p Une fois votre atelier choisi, cliquez sur le profil pour réserver votre place.
    .grid__item.one-third>
      %h3.push-half--bottom
        %i.fa-group
        Participez
      %p Nous vous enverrons un récapitulatif de vos ateliers quelques jours avant votre séance. N'y allez pas seul, invitez vos proches à vous rejoindre !
