{{#if discovery_pass_danse_test}}
<div class="bg-cover text--center soft--top" data-stellar-background-ratio="0.6" style="height: 250px; background-image: url(https://coursavenue-public.s3.amazonaws.com/public_assets/home_backgrounds/danse.jpg); background-position: 0% -102.4px;">
    <div class="white beta soft-black-text-shadow line-height-1-5 text--center">
      Testez les <strong>meilleurs cours de danse</strong> de Paris
    </div>
    <div id="subjects-filter-view">
      <div data-type="button-wrapper" data-value="danse" style="width: 200px;" class="center-block">
        <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="danse">
          <div class="subject_icon subject_icon__danse"></div>
          <div class="f-size-13"><br>Danse</div>
        </div>
      </div>
    </div>
    <div data-value="dessin-peinture-arts-plastiques" class="center-block"></div>
    <ol data-type="subjects-breadcrumb" class="hidden nav breadcrumb epsilon push--top flush--bottom" itemprop='breadcrumb'></ol>
    <div data-type="menu" class="on-top hidden white-box one-whole absolute no-text-shadow no-text-transform" style="margin-top: -1px; max-width: 600px;">
        <div data-type="subject-children-view"></div>
    </div>
</div>
{{ else }}
<div class="grid--full" id="subjects-filter-view">
    <div class="grid--full">
        <div class="grid__item one-third very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="danse">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="danse">
                <div class="subject_icon subject_icon__danse"></div>
                <div class="f-size-13"><br>Danse</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-third very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="theatre-scene">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="theatre-scene">
                <div class="subject_icon subject_icon__theatre-scene"></div>
                <div class="f-size-13"><br>Théâtre & Scène</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-third very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="yoga-bien-etre-sante">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="yoga-bien-etre-sante">
                <div class="subject_icon subject_icon__yoga-bien-etre-sante"></div>
                <div class="f-size-13"><br>Yoga, Bien-être & Santé</div>
              </div>
            </div>
        </div>
    </div>
    <div class="grid--full">
        <div class="grid__item one-third very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="musique-chant">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="musique-chant">
                <div class="subject_icon subject_icon__musique-chant"></div>
                <div class="f-size-13"><br>Musique & Chant</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-third very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="dessin-peinture-arts-plastiques">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="dessin-peinture-arts-plastiques">
                <div class="subject_icon subject_icon__dessin-peinture-arts-plastiques"></div>
                <div class="f-size-13"><br>Dessin, Peinture & Arts</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-third very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="sports-arts-martiaux">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="sports-arts-martiaux">
                <div class="subject_icon subject_icon__sports-arts-martiaux"></div>
                <div class="f-size-13"><br>Sports & Arts martiaux</div>
              </div>
            </div>
        </div>
    </div>
    <ol data-type="subjects-breadcrumb" class="hidden nav breadcrumb epsilon push--top flush--bottom" itemprop='breadcrumb'></ol>
    <div data-type="menu" class="on-top hidden white-box one-whole absolute no-text-shadow no-text-transform" style="margin-top: -1px; max-width: 600px;">
        <div data-type="subject-children-view"></div>
    </div>
</div>
{{/if}}
