<div class="bordered--top soft--top">
    <div class="soft line-height-1-7">
        <strong class="v-middle gamma">Avis </strong>
        <i class="v-middle epsilon fa fa-question-circle" data-toggle="popover" data-content="<div class='f-size-normal'>Avis déposés par des élèves ayant réservé leur première séance sur CoursAvenue</div>" data-html="true"></i>
    </div>
    <article class="soft--sides" data-type="container"></article>
    <div class="push--bottom" data-not-empty-comments data-type="bottom-pagination-tool"></div>
</div>
