<div class="panel">
    <div class="panel__header soft-half--ends soft--sides">
        <h4 class="flush">Recommandations
        </h4>
    </div>
    <div class="panel__body">
        <div class="push--ends" data-type="top-pagination-tool"></div>
        <p class="text--center">
          <a href="{{ new_comments_path }}" target="_blank" rel="nofollow">Déposer ma recommandation</a>
        </p>
        <article id="recommandations" class="tab-pane active hard" data-type="container">
          <div data-empty-comments class="soft hard--top hidden">
            Cet établissement n'a encore aucune recommandations.
          </div>
        </article>
        <div class="push--bottom" data-type="bottom-pagination-tool"></div>
    </div>
</div>
