<article class="push--bottom" itemtype="http://schema.org/Review" itemscope="" itemprop="review">
    <div class="grid--full">
        <div class="grid__item two-twelfths text--center">
            <img height="60" src="<%= asset_path 'icons/avatar.png' %>" alt="Avatar" class="bordered rounded--circle center-block push-half--bottom">
            <div class="text--center"><strong>{{ author_name }}</strong></div>
        </div>{{!--
    --}}<div class="grid__item ten-twelfths">
            <div class="gray-box soft message__appendix">
                <div itemprop="reviewBody">
                    {{#if title}}
                      <h6 class="quoted inline-block push-half--bottom" itemprop='headline' content="{{title}}">{{title}}</h6>
                      {{#if course_name}}
                        <i class="v-middle">— {{course_name}}</i>
                      {{/if}}
                    {{/if}}
                    {{{ simple_format content }}}
                </div>
                <p class="text--right flush">
                    <i itemprop="datePublished" content="{{ created_at }}" class="semi-muted">
                        Il y a {{ distance_of_time }}
                    </i>
                </p>
                {{#if reply}}
                    <hr class="push-half--ends message__appendix--top">
                    <p><strong>{{structure_name}} a répondu à cet avis :</strong></p>
                    <div itemprop="reviewBody" data-behavior="read-more" class="read-more" style="max-height: none;">
                        {{{ simple_format_hide_contacts reply.content }}}
                    </div>
                {{/if}}
            </div>
            <meta itemprop='ratingValue' content="5">
            <meta itemprop='bestRating' content="5">
            <meta itemprop='worstRating' content="1">
            <meta itemprop='url' content="{{comment_url}}">
            <meta itemprop='name' content="{{structure_name}}">
        </div>
    </div>
</article>
