<div class="panel">
      <ul class="tabs panel__header">
          <li class="active">
              <a href="#avis" data-toggle="tab" data-view="comments"><i class="fa fa-comments"></i> Avis</a>
          </li>
      </ul>
    <div class="panel__body">
        <div class="push--ends" data-type="top-pagination-tool"></div>
        <article id="avis" class="tab-pane active hard" data-type="container">
          <div data-empty-comments class="soft hard--top hidden">
            Cet établissement n'a encore aucun avis.
          </div>
        </article>
        <div class="push--bottom" data-type="bottom-pagination-tool"></div>
    </div>
</div>
