<div class="panel push--bottom" id="avis">
    <div class="panel__header soft-half--ends soft--sides">
        <h4 class="flush">Avis</h4>
    </div>
    <div class="panel__body soft">
        <p class="text--center">
          <a href="{{ new_comments_path }}" target="_blank" rel="nofollow">Déposer mon avis</a>
        </p>
        <article class="tab-pane active hard" data-type="container">
          <div data-empty-comments class="soft hard--top hidden">
            __about__ n'a encore aucun avis.
          </div>
        </article>
        <div class="push--bottom" data-type="bottom-pagination-tool"></div>
    </div>
</div>
