<div class="panel">
      <ul class="tabs panel__header">
          <li class="active">
              <a href="#avis" data-toggle="tab" data-view="comments"><i class="fa fa-comments"></i> Avis</a>
          </li>
      </ul>
    <div class="panel__body">
        <article id="avis" class="tab-pane active soft--top" data-type="container">
          <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-comments-loader>
          <div data-empty-comments class="soft hard--top hidden">
            Cet établissement n'a encore aucun avis.
          </div>
        </article>
    </div>
</div>
