= side_menu_currently_at 'Invitations'

%h2 Invitations

%table.table--striped.table--data.white-box
  %thead
    %tr
      %th Email
      %th Structure
      %th S'est créé un compte
  %tbody
    - @invited_teachers.each do |invited_teacher|
      %tr
        %th= invited_teacher.email
        %th= link_to invited_teacher.structure.name, pro_structure_path(invited_teacher.structure)
        %th
          - if invited_teacher.registered?
            %i.fa.fa-check-o

