%table.table--striped.table--data
  %thead
    %tr
      %th
      %th Dates
      %th Horaires
      %th Niveau
      %th Public
      %th.three-twelfths Lieu
      %th.text--center
        %i.fa.fa-info
  %tbody
    - course.plannings.future.ordered_by_day.each do |planning|
      = render partial: 'pro/structures/courses/plannings/discovery_pass/training_row', locals: { planning: planning, course: course }
