
<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Date</strong>
    </div><!--
--><div class="grid__item v-middle four-fifths">
        <div class="btn-group" data-toggle="buttons"><!--
         --><label class="btn">
                <input type="checkbox" name="week_days[]" value="6">Samedi 5 avril
            </label><!--
         --><label class="btn">
                <input type="checkbox" name="week_days[]" value="0">Dimanche 6 avril
            </label><!--
    --></div>
    </div>
</div>
