.visitor
  = link_to visitor.fingerprint, visitor_path(visitor.fingerprint), class: "delta blue"
  .overview.push--left
    - best = visitor.best :address_name
    %div
      %i.fa.fa-home
      #{ best[0] } (searched #{ best[1] } times)
    - if visitor.warnings?
      %div.red
        %i.fa.fa-warning
        #{ visitor.warnings.join(",") }
