= side_menu_currently_at 'visitors'

.panel
  .panel__header.soft
    %h3.flush Visiteurs (béta)
  .panel__body.soft
    %ul
    - @visitors.each do |visitor|
      %li.white-box.islet
        = render partial: "visitor_summary", locals: { visitor: visitor }
