.on-top.absolute.north.west.one-whole.soft.text--left
  .grid
    .grid__item.v-middle.one-half.palm-one-whole.palm-text--center>
      = link_to root_path, target: :_blank, class: 'not-outlined' do
        = image_tag 'logos/logo_white.png', width: 250, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo_white@2x.png') }, class: 'v-middle opacity-75'
    .grid__item.v-middle.one-half.text--right.palm-one-whole.palm-text--center>
      = link_to 'Retour aux offres', jobs_url(subdomain: 'www'), class: 'white f-weight-bold'
