.relative.height-35vh.bg-position-top.flexbox.home-screen-promotion-wrapper.soft.bg-cover.white{ style: "background-image: url(#{asset_path('pages/colored_pencils.jpg')})", data: { behavior: 'parallax' } }
  .black-curtain.north.west.one-whole.absolute
  .flexbox__item.v-middle.text--center.relative
    %h1.f-size-really-big.flush Jobs
    %h2 Vous voulez apporter un peu de couleur dans le quotidien des gens ? Nous aussi.

.main-container.soft.epsilon.text--center
  %h1.f-weight-300 Postes actuellement ouverts
  .grid
    .grid__item.one-half.palm-one-whole>
      %h2.f-weight-300
        %i.fa-eiffel-tower
        Paris
      %ul.no-bullet-list.line-height-2
        %li= link_to 'Développeur Front-end', jobs_frontend_developper_path, class: 'delta'
    .grid__item.one-half.palm-one-whole>
      %h2.f-weight-300
        %i.fa-rugby-ball
        Toulouse
      %ul.no-bullet-list.line-height-2
        %li= link_to 'Responsable Business Development', jobs_business_developper_path, class: 'delta'
        %li= link_to 'Responsable Marketing', jobs_marketing_path, class: 'delta'
