.bg-fixed.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" }
  .main-container.soft
    %h1.flush Jobs

.main-container.soft.epsilon
  %h1.f-weight-300 Postes actuellement ouvert
  %h2.f-weight-300 Toulouse
  %h2.f-weight-300 Paris
  %p
    = link_to 'Développeur frontend', jobs_frontend_developper_path, class: 'delta'
