#id.panel
  .panel__body
    .soft
      = link_to 'Importer', '#', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }, data: { behavior: 'select-emails' }
    %table.table--data.table--striped.table--hoverable
      %thead
        %tr
          %th
          %th
            E-mail
            %a.float--right#unselect-all{ href: '#' } Tout désélectionner
      %tbody
        - @contacts.each do |contact|
          - uuid = Digest::SHA256.hexdigest contact[:email]
          %tr
            %td.text--center
              %input{ type: 'checkbox', name: contact[:email], id: uuid, checked: true }
            %td.hard
              %label.block.soft-half.epsilon{ for: uuid }
                %span.f-weight-bold= contact[:name].capitalize
                (#{contact[:email]})
    .soft
      = link_to 'Importer', '#', class: 'btn btn--green btn--full', data: { disable_with: "En cours d'envoi" }, data: { behavior: 'select-emails' }

- content_for :scripts do
  :javascript
      $('#unselect-all').click(function() {
          $('input').prop('checked', function( i, val ) {
              return !val;
          });
      });
      $('[data-behavior=select-emails]').click(function(e) {
          e.preventDefault();
          var email_list       = $('input:checked').map(function(i, elem) { return (elem.name); });
          var emails           = [].join.call(email_list, ', ');
          var previous_content = $('textarea[name=emails]', opener.window.document).val();
          if (previous_content == '') {
              previous_content = emails;
          } else {
              previous_content += ', ' + emails;
          }
          $('textarea[name=emails]', opener.window.document).val(previous_content);
          opener.window.COURSAVENUE.helperMethods.flash('Contact importés avec succés.', 'notice');
          window.close();
      });
