= side_menu_currently_at 'dashboard'

%table.white-box.table--data.table--striped#dataTable
  %thead
    %tr
      %th Nom
      %th #
  %tbody
    - @search_term_logs.each do |search_term_log_name, count|
      %tr
        %td= search_term_log_name
        %td= count
