= user_menu_currently_at 'Mes messages'

%h3 Mes messages
- @conversations.each do |conversation|
  = link_to user_conversation_path(current_user, conversation), class: 'muted-link' do
    = render partial: 'conversations/conversation', locals: {conversation: conversation}
