<div class="white-box push--bottom">
    <div id="media-grid" class="grid--full">
        <div class="grid__item one-half"></div>


        <div class="grid__item one-half">
            <div id="map-places" data-type="google-maps" class="google-map"></div>
        </div>{{!--
        
    --}}<div class="grid__item one-half rslides-wrapper rslides--big">
            <div data-type="medias">
            
                {{!-- placeholder data --}}
                <ul class="rslides rslides1">
                    <li style="background-image: url(&quot;http://b.vimeocdn.com/ts/443/683/443683588_640.jpg&quot;); display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s; height: 22px;" id="rslides1_s0" class="rslides1_on">
                    <a rel="slideshow" href="http://vimeo.com/70444306" data-behavior="fancy" class="rslides_nav rslides_nav--icon visible">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <div class="one-whole media__item media__item--slides" style="display: none;">
                        <a title="" href="http://vimeo.com/70444306" data-behavior="fancy" class="block break-all">
                            <img class="" title="" src="http://b.vimeocdn.com/ts/443/683/443683588_640.jpg">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid--full">
        <div class="grid__item one-half">
            <div class="text--center">
                <a id="show-all-places" href="javascript:void(0)">Voir les adresses</a>
            </div>
        </div>{{!--
    --}}<div class="grid__item one-half">
            <div class="text--center">
                <a id="show-gallery" href="javascript:void(0)">Voir la galerie (1)</a>
            </div>
        </div>
    </div>

    <ul id="place-list" class="block-list hidden flush">
        <li class="grid--full"><div class="grid__item width-auto v-middle soft-half--right">
            <div class="map-marker-image center-block">
                <a>
                    <span>1</span>
                </a>
            </div>
        </div><div class="grid__item seven-eighths v-middle">
            Centre de danse du Marais
            <br>
            <i>41 Rue du Temple, Paris 04</i>
        </div><div itemtype="http://schema.org/Place" itemscope="">
            <div itemtype="http://schema.org/GeoCoordinates" itemscope="" itemprop="geo" class="visuallyhidden">
                <meta itemprop="latitude" content="48.8595496">
                <meta itemprop="longitude" content="2.3539897">
            </div>
        </div>
        </li>
    </ul>
    <div id="gallery" class="hidden"><div class="media-gallery">

    </div></div>
</div>

