<div data-type="loader" class="filtered-search__loader" style="display: none;">
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>" class="center-block" height="10">
</div>
<div id="map-places" data-type="google-maps" class="google-map">
</div>
