<div class="grid--full">
    <div class="grid__item v-middle one-fifth palm-one-whole palm-text--center">
        <strong class="gray-light">ÂGE</strong>
    </div><!--
--><div class="grid__item v-middle four-fifths palm-one-whole">
        <div class="btn-group inline-block v-middle" data-toggle="buttons"><!--
        --><% Audience.all.each do |audience| %><!--
             --><label class="btn soft--sides">
                    <input type="checkbox" name="audience_ids[]" value="<%= audience.id %>"><%= I18n.t(audience.name) %>
                </label><!--
        --><% end %><!--
    --></div>
        <div data-behavior="age-picker" class="push-half--left inline-block v-middle">
            De <select id="min-age"></select>
            à <select id="max-age"></select> ans.
        </div>
    </div>
</div>

