<div class="grid--full">
    <div class="grid__item one-fifth">
        <h5>Type de cours</h5>
    </div><!--
 --><div class="grid__item four-fifths">
        <div class="grid--full"><!--
            --><div class="grid__item one-third">
                <label class="inline soft-half--right" for="lesson">Cours régulier</label>
                <input id="lesson" name="course_type" value="lesson" type="checkbox">
            </div><!--

            --><div class="grid__item one-third">
                <label class="inline soft-half--right" for="training">Cours-atelier</label>
                <input id="training" name="course_type" value="training" type="checkbox">
            </div><!--

            --><div class="grid__item one-third">
                <label class="inline soft-half--right" for="workshop">Stage</label>
                <input id="workshop" name="course_type" value="workshop" type="checkbox">
            </div><!--
      --></div>
    </div>
</div>
