<div class="drop-down__wrapper" data-behavior="drop-down" data-el="> .drop-down__el" data-position="center">
    <div class="btn btn--gray btn--full text-transform-none btn--small soft-half--sides" data-behavior="clear-filter">
      Type de cours
      <i class="fa fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="drop-down__el soft-half on-top">
        <div class="btn-group btn-group--column" data-toggle="buttons">
            <label class="btn btn--gray text-transform-none nowrap" for="lesson">
                <input id="lesson" name="course_types[]" value="lesson" type="checkbox">
                Cours réguliers
            </label>
            <label class="btn btn--gray text-transform-none nowrap" for="private">
                <input id="private" name="course_types[]" value="private" type="checkbox">
                Cours particulier
            </label>
            <label class="btn btn--gray text-transform-none nowrap" for="training">
                <input id="training" name="course_types[]" value="training" type="checkbox">
                Stages / Ateliers
            </label>
        </div>
    </div>
</div>




