<h5>Course Type</h5>
<div class="grid--full"><!--
    --><div class="grid__item one-third">
        <label for="lesson">Lesson</label><input  id="lesson"          name="course-type" value="lesson"          type="radio">
    </div><!--

    --><div class="grid__item one-third">
        <label for="training">Training</label><input  id="training"   name="course-type" value="training"   type="radio">
    </div><!--

    --><div class="grid__item one-third">
        <label for="workshop">Workshop</label><input  id="workshop"     name="course-type" value="workshop"     type="radio">
    </div><!--

--></div>
