<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Type de cours</strong>
    </div><!--
 --><div class="grid__item v-middle four-fifths">
        <div class="inline-block btn-group" data-toggle="buttons"><!--
            --><label class="btn" for="lesson">
                    <input id="lesson" name="course_types[]" value="lesson" type="checkbox">
                    Cours régulier
               </label><!--
            --><label class="btn" for="training">
                    <input id="training" name="course_types[]" value="training" type="checkbox">
                    Cours-atelier
               </label><!--
            --><label class="btn" for="workshop">
                    <input id="workshop" name="course_types[]" value="workshop" type="checkbox">
                    Stage
                </label><!--
      --></div>
        <i class="push-half--left pointer fa fa-question-circle" data-toggle="popover" data-html="true" data-content="<strong>Cours régulier</strong><p>Cours proposé tout au long de l'année à heure fixe. Ex. : un cours de danse donné tous les mardis entre 19h et 20h30, dès la rentrée de septembre jusqu'à fin juin. Parfois, pour respecter la progression des élèves, ces cours ne peuvent pas être rejoints en cours d'année.</p><strong>Cours-atelier</strong><p>Cours ponctuel qui ne se répète pas forcément tout au long de l'année, et qui n'implique pas une notion de progression dans le temps. Ex. : un cours de cuisine de 2h qui se déroule samedi prochain sera proposé en cours-atelier.</p><strong>Stage</strong><p>Un stage est un cours-atelier étalé sur plusieurs jours.</p>", data-trigger="hover" data-placement="left"></i>
    </div>
</div>




