<h5>Course Type</h5>
<label for="lesson">Lesson</label><input  id="lesson"          name="course-type" value="lesson"          type="radio">

<label for="training">Training</label><input  id="training"   name="course-type" value="training"   type="radio">

<label for="workshop">Workshop</label><input  id="workshop"     name="course-type" value="workshop"     type="radio">
