<div class="grid--full">
    <div class="grid__item v-top one-fifth">
        <strong class="gray">Tarifs réduits</strong>
    </div><!--
 --><div class="grid__item v-top four-fifths">
      <select>
        <% Price::Discount::TYPES.each do |s| %>
        <option value="<%= s %>"><%= I18n.t(s) %></option>
        <% end %>
      <select>
    </div>
</div>
