<div class="drop-down__wrapper">
    <div class="btn btn--gray btn--full text-transform-none btn--small soft-half--sides" data-behavior="clear-filter">
      Tarifs réduits
      <i class="fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="drop-down__el on-top">
        <div class="drop-down__el-inner-box soft-half">
            <div class="btn-group btn-group--column" data-toggle="buttons">
                <% Price::Discount::TYPES.each do |discount_name| %>
                  <label class="btn btn--gray text-transform-none nowrap">
                        <input type="checkbox" name="discounts[]" value="<%= discount_name.split('.').last %>"><%= I18n.t(discount_name) %>
                    </label>
                <% end %>
            </div>
        </div>
    </div>
</div>
