<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Tarifs réduits</strong>
    </div><!--
 --><div class="grid__item v-middle four-fifths">
      <select data-behavior="chosen" multiple style="width: 100%;">
        <% Price::Discount::TYPES.each do |discount| %>
          <option value="<%= discount.split(',').last %>"><%= I18n.t(discount) %></option>
        <% end %>
      <select>
    </div>
</div>
