<div class="grid--full relative">
    <div class="grid__item v-middle one-fifth palm-one-whole palm-text--center ">
        <strong class="gray-light">MOT CLÉ</strong>
        <i class="gray-light push-half--left cursor-pointer fa fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Indiquez le mot clé correspondant à votre recherche : il peut s'agir d'une discipline précise, mais également du nom d'un profil"></i>
    </div><!--
  --><div class="grid__item v-middle four-fifths palm-one-whole" data-type="search-input-wrapper">
        <div class="search-input-wrapper relative" style="display:block;">
            <input id="search-input" size="50" placeholder="Renseignez une discipline précise ou le nom d'une structure" type="search" name="name" autocomplete="off" class="one-whole input--large" style="background: white;"></input>
        </div>
    </div>
</div>

