<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Mot clé</strong>
        <i class="push-half--left pointer fa fa-question-circle" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="right" data-content="<p>Indiquez le mot clé correspondant à votre recherche : il peut s'agir d'une discipline précise, mais également du nom d'un profil. Exemples de mots clés :</p><ul><li>Si vous recherchez un cours précis : renseignez précisément la discipline, comme par exemple «Hatha yoga», «Peinture acrylique» ou «Danse orientale» ;</li><li>Si vous recherchez une structure : renseignez le nom du professeur, de l'association ou de l'école, comme par exemple «Ecole de Danse Marine Dubois».</li></ul>"></i>
    </div><!--
  --><div class="grid__item v-middle four-fifths">
        <div class="search-input-wrapper relative" style="display:block;">
            <input id="search-input" size="50" placeholder="Renseignez une discipline précise ou le nom d'une structure" type="search" name="name" autocomplete="off"></input>
        </div>
    </div>
</div>




