<div class="grid--full relative">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Mot clé</strong>
        <i class="push-half--left pointer fa fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Indiquez le mot clé correspondant à votre recherche : il peut s'agir d'une discipline précise, mais également du nom d'un profil"></i>
    </div><!--
  --><div class="grid__item v-middle four-fifths">
        <div class="search-input-wrapper relative" style="display:block;">
            <input id="search-input" size="50" placeholder="Renseignez une discipline précise ou le nom d'une structure" type="search" name="name" autocomplete="off" class="one-whole"></input>
        </div>
    </div>
    <div class="menu hidden four-fifths float--right box orange-border bg-orange absolute east z-index-3 rounded--more">
        <div class="push-half--bottom push--left">
            <span class="white push--right">WHOA</span><!--
         --><span class="white push--right">BOB</span><!--
         --><span class="white push--right">SUCH</span>
        </div>

        <div class="grid__item one-whole soft-half b-white">
            <div class="grid__item one-whole soft">
            This is the content space. OK?
            </div>
        </div>
    </div>
</div>
