<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Mots clés</strong>
    </div><!--
  --><div class="grid__item v-middle four-fifths">
        <input size="50" placeholder="Mots clés (Ex. : Patrick, jack@gmail.com, etc.)" type="search" name="name" autocomplete="off"></input>
    </div>
</div>

