<div class="drop-down__wrapper" data-behavior="drop-down" data-el="> .drop-down__el">
    <div class="btn btn--gray btn--full text-transform-none" data-behavior="clear-filter">
      Niveau
      <i class="fa fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="drop-down__el soft-half on-top">
        <div class="btn-group btn-group--column" data-toggle="buttons">
          <% Level.all.each do |level| %>
              <label class="btn btn--gray text-transform-none nowrap">
                    <input type="checkbox" name="level_ids[]" value="<%= level.id %>"><%= I18n.t(level.name) %>
                </label>
          <% end %>
      </div>
    </div>
</div>
