<div class="grid--full">
    <div class="grid__item one-fifth">
        <h5>Level</h5>
    </div><!--
    --><div class="grid__item four-fifths">
            <div class="grid--full"><!--
                --><div class="grid__item one-fifth">
                    <label class="inline soft-half--right" for="all">Tout niveaux</label>
                    <input id="all" name="level_ids[]" value="0" type="checkbox">
                </div><!--

                --><div class="grid__item one-fifth">
                    <label class="inline soft-half--right" for="initiation">Débutant</label>
                    <input id="initiation" name="level_ids[]" value="1" type="checkbox">
                </div><!--

                --><div class="grid__item one-fifth">
                    <label class="inline soft-half--right" for="beginner">Intermédiaire</label>
                    <input id="beginner" name="level_ids[]" value="2" type="checkbox">
                </div><!--

                --><div class="grid__item one-fifth">
                    <label class="inline soft-half--right" for="confirmed">Avancé</label>
                    <input id="confirmed" name="level_ids[]" value="3" type="checkbox">
                </div><!--

                --><div class="grid__item one-fifth">
                    <label class="inline soft-half--right" for="professional">Professionel</label>
                    <input id="professional" name="level_ids[]" value="4" type="checkbox">
                </div><!--
        --></div>
    </div>
</div>
