<h5>Level</h5>
<label for="all">All</label><input  id="all"          name="level" value="all"          type="radio">

<label for="initiation">Initiation</label><input  id="initiation"   name="level" value="initiation"   type="radio">

<label for="beginner">Beginner</label><input  id="beginner"     name="level" value="beginner"     type="radio">

<label for="confirmed">Confirmed</label><input  id="confirmed"    name="level" value="confirmed"    type="radio">

<label for="professional">Professional</label><input  id="professional" name="level" value="professional" type="radio">
