<div class="filtered-search__location-input palm-one-whole" style="margin-bottom: 2px;">
    <div class="input-with-icon palm-one-whole">
        <input id="address-picker" class="soft-half--left one-whole" size="30" placeholder='Où recherchez-vous un cours ?' type='text' autocomplete='off' name='address_name' data-behavior='address-picker' style="background: white;"></input>
        <i class="fa fa-map-marker delta"></i>
    </div>
</div>
