<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Financements acceptés</strong>
    </div><!--
 --><div class="grid__item v-middle four-fifths">
      <select data-behavior="chosen" multiple style="width: 100%;">
        <% FundingType.all.each do |funding_type| %>
            <option value="<%= funding_type.id %>"><%= I18n.t(funding_type.name) %></option>
        <% end %>
      <select>
    </div>
</div>
