<div class="drop-down__wrapper">
   <div class="btn btn--gray btn--full text-transform-none btn--small soft-half--sides" data-behavior="clear-filter">
      Prix
      <i class="fa fa-times hidden" data-el="clearer"></i>
    </div>
    <div class="drop-down__el on-top">
        <div class="drop-down__el-inner-box soft-half">
            <div class="flexbox">
                <div class="flexbox__item width-auto v-top soft--right text--left">
                    <div class="nowrap push-half--bottom">
                        <input class="v-middle" id="radio-course" type="radio" name="price-type" value="first_course" data-step="5" data-range="5,200"/>
                        <label for="radio-course" class="nowrap v-middle inline">Séance d'essai</label>
                    </div>
                    <div class="nowrap">
                        <input class="v-middle" id="radio-subscription" type="radio" name="price-type" value="training" data-step="10" data-range="10,1000"/>
                        <label for="radio-subscription" class="nowrap v-middle inline">Stage</label>
                    </div>

                </div>
                <div class="flexbox__item v-top soft-half--right">
                    <select class="hidden" data-type="trial-types">
                        <option value="free">Gratuite</option>
                        <option value="not-free">Payante</option>
                    </select>
                </div>
                <div class="flexbox__item v-top soft--sides palm-one-whole hidden" data-type="slider-wrapper">
                    <div data-behavior="slider" style="margin-top: 6px; width: 200px;"></div>
                    <div class="grid soft-half--top"><!--
                     --><div class="grid__item one-half nowrap">
                            Min. :
                            <strong data-behavior="slider-min-value"></strong>
                            €
                        </div><!--
                     --><div class="grid__item one-half text--right nowrap">
                            Max. :
                            <strong data-behavior="slider-max-value"></strong>
                            €
                        </div><!--
                 --></div>
                </div>
            </div>
        </div>
    </div>
</div>
