<strong>Résultats {{ first }} à {{ last }} sur {{ total }}</strong>
<span class="push-half--left gray-light cursor-pointer" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Les profils sont triés selon plusieurs critères : réactivité, nombre d'avis, planning à jour... Vous ne pouvez pas changer le tri, mais vous pouvez jouer avec les filtres ci-dessus."><i class="fa fa-info-circle"></i> tri</span>
