<div class="grid--full">
    <div class="grid__item v-top one-fifth">
        <strong class="gray">Type de structure</strong>
    </div><!--
 --><div class="grid__item v-top four-fifths">
      <select>
        {{#each structure_types}}
          <% Structure::STRUCTURE_TYPES.each do |s| %>
              <option value="<%= s %>"><%= I18n.t(s) %></option>
          <% end %>
        {{/each}}
      <select>
    </div>
</div>

