<div class="grid--full">
    <div class="grid__item v-middle one-fifth palm-one-whole palm-text--center">
        <strong class="gray-light">TYPE DE STRUCTURE</strong>
    </div><!--
 --><div class="grid__item v-middle four-fifths palm-one-whole">
      <select data-behavior="chosen" data-placeholder="Selectionnez une ou plusieurs options" multiple style="width: 100%;" class="input--large">
        <% Structure::STRUCTURE_TYPES.each do |structure_type| %>
            <option value="<%= structure_type.split('.').last %>"><%= I18n.t(structure_type) %></option>
        <% end %>
      <select>
    </div>
</div>

