<div class="grid--full">
    <div class="grid__item v-top one-fifth soft-half--top">
        <strong class="gray">Discipline générale</strong>
        <i class="push-half--left pointer fa fa-question-circle" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<p>Sélectionnez votre discipline générale. Vous pourrez ensuite préciser votre choix dans le champ «Mots clés» ci-dessous.</p><p>Exemple : sélectionnez la discipline générale «Yoga, Bien-être & Santé» pour visualiser tous les profils présents sur la carte géographique, puis précisez dans «Mots clés» la discipline de votre choix (ex. : «Hatha yoga»), ou le nom d'une structure.</p>"></i>
    </div><!--
  --><div class="grid__item v-top four-fifths">
        <div class="grid--full">{{#each subjects}}{{!--
           --}}<div class="grid__item one-quarter very-soft hard--bottom">
              <div data-type="button" data-value="{{slug}}" class="text--center btn one-whole hard--sides">
                <div class="subject_icon subject_icon__{{slug}}"></div>
                {{name}}
              </div>
          </div>{{!--
         --}}{{/each}}{{!--
         --}}<div class="grid__item one-quarter very-soft hard--bottom">
          <div data-type="button" data-value="other" class="text--center btn one-whole subject_icon__other">
            Autres
          </div>
        </div>{{!--
         --}}</div>
    </div>
</div>




