<div class="grid--full">
    <div class="grid__item v-top one-fifth palm-one-whole palm-text--center soft-half--top">
        <strong class="gray">Discipline générale</strong>
        <i class="push-half--left pointer fa fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Sélectionnez votre discipline générale. Vous pourrez ensuite préciser votre choix dans le champ «Mot clé» ci-dessous."></i>
    </div><!--
  --><div class="grid__item v-top four-fifths palm-one-whole">
        <div class="grid--full">
        {{#each subjects}}{{!--
       --}}{{#ifCond slug '==' 'other'}}{{!--
        --}}<div class="grid__item one-quarter very-soft hard--bottom">
                  <div data-type="button" data-value="other" class="text--center btn one-whole subject_icon__other">
                    Autres
                  </div>
              </div>{{!--
         --}}{{else}}{{!--
         --}}<div class="grid__item one-quarter very-soft hard--bottom">
                  <div data-type="button" data-value="{{slug}}" class="text--center btn one-whole hard--sides">
                    <div class="subject_icon subject_icon__{{slug}}"></div>
                    {{name}}
                  </div>
              </div>{{!--
           --}}{{/ifCond}}{{!--
       --}}{{/each}}
        </div>
    </div>
</div>




