<div class="grid--full">
    <div class="grid__item v-top one-fifth palm-one-whole palm-text--center soft-half--top">
        <strong class="gray-light">DISCIPLINE</strong>
        <i class="gray-light push-half--left pointer fa fa-question-circle" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<div style='width: 170px'>Sélectionnez votre discipline générale. Vous pourrez ensuite préciser votre choix dans le champ «Mot clé» ci-dessous.</div>"></i>
    </div><!--
  --><div class="grid__item v-top four-fifths palm-one-whole">
        <div class="grid--full">
            <div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="danse" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__danse"></div>
                  Danse
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="theatre-scene" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__theatre-scene"></div>
                  Théâtre & Scène
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="yoga-bien-etre-sante" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__yoga-bien-etre-sante"></div>
                  Yoga, Bien-être & Santé
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="musique-chant" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__musique-chant"></div>
                  Musique & Chant
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="deco-mode-bricolage" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__deco-mode-bricolage"></div>
                  Déco, Mode & Bricolage
                </div>
            </div>
        </div>
        <div class="grid--full">
            <div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="dessin-peinture-arts-plastiques" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__dessin-peinture-arts-plastiques"></div>
                  Dessin, Peinture & Arts
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="sports-arts-martiaux" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__sports-arts-martiaux"></div>
                  Sports & Arts martiaux
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="cuisine-vins" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__cuisine-vins"></div>
                  Cuisine & Vins
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="photo-video" class="text--center btn one-whole hard--sides">
                  <div class="subject_icon subject_icon__photo-video"></div>
                  Photo & Vidéo
                </div>
            </div><!--
         --><div class="grid__item one-fifth very-soft hard--bottom">
                <div data-type="button" data-value="other" class="text--center btn one-whole subject_icon__other">
                      Autres
                </div>
            </div>
        </div>
    </div>
</div>




