<div class="grid--full">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Cours d'essai</strong>
    </div><!--
--><div class="grid__item v-middle four-fifths">
        <div class="btn-group" data-toggle="buttons"><!--
         --><label class="btn">
                <input type="checkbox" name="trial_course_amount" value="0">Gratuit
            </label><!--
         --><label class="btn">
                <input type="checkbox" name="trial_course_amount" value="20">de 0 à 20 €
            </label><!--
         --><label class="btn">
                <input type="checkbox" name="trial_course_amount" value="100">+ de 20 €
            </label><!--
    --></div>
    </div>
</div>
