<label class="btn btn--yellow nowrap push-half--right">
    <input class="hidden" type="checkbox" name="is_open_for_trial" value="true"><span data-type="button-text">Voir tous les cours d'essai gratuits</span>
</label>
