.panel.center-block{ style: 'max-width: 700px;'}
  .panel__header.soft
    %h3.flush
      Vous avez déjà envoyé un message à ce professeur
  .panel__body.soft
    - if current_user
      %p.epsilon
        Allez dans la rubrique
        = link_to '« Boite de réception »', user_conversations_path(current_user)
        de votre profil pour consulter vos derniers messages.
      %hr
    %h4 Mais ne vous arrêtez pas et contactez d'autres profils !
