.panel.center-block{ style: 'width: 700px;'}
  .panel__header.soft
    .grid
      .grid__item.one-tenth.v-middle>
        %i.fa.fa-close.fa-3x.red
      .grid__item.nine-tenths.v-middle>
        %h3.flush Vous avez déjà envoyé ce message.
