.panel.center-block{ style: 'width: 700px;'}
  .panel__header.soft
    .grid
      .grid__item.one-tenth.v-middle>
        %i.fa.fa-check.fa-3x.green
      .grid__item.nine-tenths.v-middle>
        %h3.flush Message envoyé à #{@structure.name}
  .panel__body.soft
    %h4 Ne vous arrêtez pas et contactez 3 autres profils
    %p.epsilon
      Nous vous conseillons de contacter 3 autres profils pour multiplier vos chances de trouver le cours de votre choix. Voici quelques suggestions pour vous :
    %div{ style: 'height: 20em; overflow-y: scroll; overflow-x: hidden;'}
      - @structure.similar_profiles(12, { medias_count: 1 }).each_with_index do |structure, index|
        - next if structure.medias.empty?
        .inline-block.one-half.very-soft.relative>
          = render partial: "structures/similar_profile", locals: { structure: structure }
