.panel.center-block{ style: 'max-width: 500px;'}
  .panel__header.soft.text--center
    %div.push-half--bottom
      %i.fa-check.fa-3x.green
    %h3.flush.green
      Votre message
      %br
      a bien été envoyée
    %h5.flush
      Retrouvez tous vos message
      = link_to "votre espace perso.", user_conversations_path(@user)

