- content_for :main_navigation do
  %ul.nav.flush--bottom.nav--fit.text--center
    = pro_submenu_link 'Accueil',             root_path,                current: current_tab, class: 'one-quarter'
    = pro_submenu_link 'Présentation',        pages_presentation_path,  current: current_tab, class: 'one-quarter'
    = pro_submenu_link 'Offres & Tarifs',     '#',                      current: current_tab, class: 'one-quarter'
    = pro_submenu_link 'Presse & Partenaires', pages_press_path,        current: current_tab, class: 'one-quarter'
