<td class="text--center hard">
    <input type="checkbox" {{#if checked}}checked{{/if}} data-behavior="select" />
</td>
<td>
  <div data-behavior="editable" data-type="editable-email" data-name="email"></div>
</td>
<td>
  <div data-behavior="editable" data-type="editable-first_name" data-name="first_name"></div>
</td>
<td>
  <div data-behavior="editable" data-type="editable-last_name" data-name="last_name"></div>
</td>
<td>
  <div data-behavior="editable-tag-bar" data-type="editable-tag-bar" data-name="tag_name"></div>
</td>
<td>
  {{#ifCond mobile_phone '||' phone}}
  <span data-content="{{mobile_phone}} {{#ifCond mobile_phone '&&' phone}}/{{/ifCond}} {{phone}}" data-behavior="popover" data-trigger="hover">
    <i class="fa fa-phone"></i>
  </span>
  {{/ifCond}}
</td>
<td class="text--right">
  <div data-behavior="show-info" class="transition-all-linear">
      {{#if id}}
          <a title="Voir les détails" class="btn btn--small nowrap fancybox.ajax" href="{{edit_path}}" data-behavior="modal" data-width="600" data-padding="0">
            <i class="fa-plus"></i> d'info
          </a>
      {{/if}}
  </div>
  <div data-behavior="manage-edits" class="transition-all-linear hidden nowrap">
      <div class="btn btn--small btn--green" data-behavior="save" data-toggle="tooltip" data-title="Enregistrer">
        <i class="fa-check"></i>
      </div>
      <div class="btn btn--small" data-behavior="cancel" data-toggle="tooltip" data-title="Annuler">
        <i class="fa-times"></i>
      </div>
  </div>

</td>
