%table.table--striped.table-responsive
  %thead
    %tr
      %th Nombre d'autocollants ronds
      %th Nombre d'autocollants rectangulaires
      %th Statut
  %tbody
    - @structure.sticker_demands.each do |sticker_demand|
      %tr
        %td{ data: { th: "Nombre d'autocollants ronds" } }
          %div= sticker_demand.round_number
        %td{ data: { th: "Nombre d'autocollants rectangulaires" } }
          %div= sticker_demand.square_number
        %td{ data: { th: "Statut" } }
          %div
            - if sticker_demand.sent?
              Envoyé le
              = l(sticker_demand.sent_at, format: :date)
            - else
              En cours de traitement
