<div class="text--center">
    <a data-action="show-places" href='javascript:void(0)'>Voir les adresses</a>
</div>
<div data-type="container" style="display: none;">
    <ul class="block-list flush" data-type="item-view-container"></ul>
    {{#if has_more_places}}
    <div class="text--center">
        Cet établissement à {{other_places_nb}} {{pluralize other_places 'autre lieu' 'autres lieux'}}
        <br>
        <a data-action="show-all-places" href='javascript:void(0)' class="btn btn--small push-half--bottom">Voir toutes les adresses</a>
    </div>
    {{/if}}
</div>
