<div class="flexbox">
    <div class="flexbox__item width-auto v-middle soft-half--right">
      <div class="map-marker-image center-block"><a></a></div>
    </div>
    <div class="flexbox__item seven-eighths v-middle">
      {{name}}
      <br>
      <i>{{address}}</i>
      <div itemscope=true itemtype='http://schema.org/Place' class="visuallyhidden">
          <div itemprop='geo' itemscope=true itemtype='http://schema.org/GeoCoordinates'}
            <meta itemprop='latitude' content {{latitude}}>
            <meta itemprop='longitude' content {{longitude}}>
          </div>
      </div>
    </div>
</div>
