%table.table--striped.table--data{ id: "course-planning-list-#{course.id}"}
  %thead
    %tr
      %th.one-twelfth Jour
      %th.two-twelfths Horaire
      %th.three-twelfths Niveau
      %th.three-twelfths Public
      %th Lieu
      %th
        %i.lbc-icon-info i
      %th.one-twelfth
  %tbody
    - course.plannings.each do |planning|
      = render partial: 'pro/structures/courses/plannings/lesson_row', locals: { planning: planning, course: course }
