- if course.on_appointment?
  %p.soft-half--sides
    %i Pas de créneau précis, uniquement sur demande.
- else
  .table-striped-like{ id: "course-planning-list-#{course.id}"}
    - course.plannings.ordered_by_day.each do |planning|
      = render partial: 'pro/structures/courses/plannings/private_row', locals: { planning: planning, course: course }
