.table-striped-like{ id: "course-planning-list-#{course.id}"}
  - course.plannings.order('start_date DESC').each do |planning|
    = render partial: 'pro/structures/courses/plannings/training_row', locals: { planning: planning, course: course }
