%ul.tabs.flush.panel__header
  %li{ class: current == 'profile' ? 'active' : '' }
    = link_to edit_user_path(current_user) do
      %i.fa.fa-info
      Mes infos
  %li{ class: current == 'private_infos' ? 'active' : '' }
    = link_to edit_private_infos_user_path(current_user) do
      %i.fa.fa-cogs
      Mon compte
  %li{ class: current == 'notifications' ? 'active' : '' }
    = link_to notifications_user_path(current_user) do
      %i.fa.fa-bullhorn
      Mes notifications
