%h2
  Merci pour votre inscription

%h4.flush--bottom
  Activez votre compte depuis le mail que nous venons de vous envoyer.

%h4.flush--bottom.alert.alert--warning{style: 'max-width: 900px;'}
  %i.fa.fa-warning
  Si vous ne recevez pas votre mail d'activation,
  = link_to 'cliquez ici pour nous contacter', "mailto:contact@coursavenue.com?subject=Je%20n'ai%20pas%20reçu%20mon%20mail%20d'activation&body=Bonjour,%20je%20n'ai%20pas%20reçu%20mon%20mail%20d'activation,%20pouvez-vous%20me%20le%20renvoyer.%20Cordialement."
