%h2
  Merci pour votre inscription

%h4.flush--bottom
  Activez votre compte depuis le mail que nous venons de vous envoyer.
- if params[:email] and (!params[:email].include?('@gmail'))
  %h4.flush--bottom.alert.alert--info{style: 'max-width: 900px;'}
    %i.fa.fa-warning
    Le mail d’activation peut être considéré comme un spam, vérifiez votre boîte «Courrier&nbsp;Indésirable» et indiquez ce message comme valide en cliquant sur : «ce message est sûr».
    = link_to 'Cliquez ici pour voir comment faire', '#how-to', data: { behavior: 'modal' }
%p
  Une fois votre compte activé vous pourrez gérer votre profil.
  %br
  %i
    Si l'email ne vous parvient pas dans les 10 minutes et n'apparaît pas dans vos courriers indésirables,
    = link_to 'contactez-nous.', pages_contact_path, target: '_blank'

.hidden#how-to.text--center
  .delta.push-half--bottom
    %strong 1. Allez dans la boite Courrier indésirable.
  = image_tag "users/tutos/hotmail_spam_1.png"
  %hr
  .delta.push-half--bottom
    %strong 2. Cliquez sur le mail de CoursAvenue puis cliquez sur "Ce message est sûr" sinon vous ne recevrez pas nos futurs messages.
  = image_tag "users/tutos/hotmail_spam_2.png"
