.panel
  .panel__header.soft
    %h4.flush Êtes vous sûr de vouloir supprimer votre compte ?
  .panel__body.soft
    %p.epsilon
      En confirmant la suppression de votre compte, toutes vos données (avis, messages...) seront définitivement supprimées de manière irréversible.
    - if @user.participation_requests.upcoming.any?
      %p.epsilon.weight--semibold
        De plus, nous annulerons vos demandes
        = link_to "d'inscriptions à venir", user_participation_requests_path(@user), target: :_blank
        \.
    .grid
      .grid__item.one-half>
        %a.btn.btn--full{ onclick: '$.fancybox.close();' } Annuler
      .grid__item.one-half>
        = simple_form_for @user, method: :delete do |f|
          = f.submit 'Supprimer mon compte', class: 'btn btn--red btn--full'
