.text--center.white-box.island.push--top
  %h2
    Merci pour votre inscription

  %h4.flush--bottom
    Activez votre compte depuis le mail que nous venons de vous envoyer.
  %p
    Une fois votre compte activé vous pourrez gérer votre profil.
    %br
    %i
      Si l'email ne vous parvient pas dans les 10 minutes et n'apparaît pas dans vos courriers indésirables,
      = link_to 'contactez-nous.', pages_contact_path, target: '_blank'
