.text--center.white-box.island.push--top
  = render 'waiting_for_activation_text'

<!-- Facebook Conversion Code for Inscription compte Portes Ouvertes -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012848889627';
fb_param.value = '0.01';
fb_param.currency = 'EUR';
(function(){
var fpw = document.createElement('script');
fpw.async = true;
fpw.src = '//connect.facebook.net/en_US/fp.js';
var ref = document.getElementsByTagName('script')[0];
ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012848889627&amp;value=0.01&amp;currency=EUR" /></noscript>
