- sponsor = @sponsorship.subscription.structure
.text--center.push--bottom
  .alert.alert--success.soft.one-whole.delta
    Choisissez une offre pour bénéficiez <strong>d'un mois gratuit</strong> grâce au parrainage de #{sponsor.name}
