- sponsor = @sponsorship.subscription.structure
.text--center.push--bottom
  .alert.alert--success.soft
    En vous inscrivant, vous bénéficierez d'une reduction grace au parrainage de
    = link_to sponsor.name, structure_url(sponsor, subdomain: 'www'), target: :_blank
    \.
