%h1.flush Passez au Premium pour recruter plus d'élèves

%h4.flush
  Commencez dès maintenant :
  .inline-block.green.tab-pane.hard--top.monthly-details.active offre sans engagement
  .inline-block.green.tab-pane.hard--top.annual-details 12 mois pour le prix de 10
%p.epsilon
  60 secondes suffisent pour passer au Premium : immédiatement, votre trafic augmente et vous apporte de nouveaux élèves. Vous pouvez interrompre votre abonnement à tout moment, en toute liberté et simplement.

= render 'choose_plans'
