%p.epsilon
  Votre abonnement <strong>#{@subscription.plan.public_name}</strong> est en periode d'essai. Vous pouvez vous abonner ci-dessous, dans l'espace « Gestion de votre abonnement ».

%hr.push--ends
%h3 Historique des factures
= link_to "Voir l'historique des factures.", pro_structure_invoices_path(@structure)

%hr.push--ends
%h3 Gestion de votre abonnement
%p
  = link_to 'Activer mon abonnement', activate_pro_structure_subscription_parth(@structure, @subscription)
  = link_to 'Résilier mon abonnement', cancel_pro_structure_subscription_path(@structure, @subscription), class: 'red fancybox.ajax',  data: { behavior: 'modal', width: '600', padding: 0 }
