%h1 Votre abonnement

%h3 État de votre abonnement
- if @subscription.canceled?
  = render 'subscription_canceled'
- elsif @subscription.in_trial? and @subscription.stripe_subscription_id.nil?
  = render 'subscription_in_trial'
- else
  = render 'subscription_running'
