.panel
  .panel__header.soft
    .delta.line-height-normal
      %h3.flush Souhaitez-vous vous désabonner ?
  .panel__body.soft
    %p
      Nous sommes désolés d'apprendre cette nouvelle.

    .grid
      .grid__item.one-half>
        %a.btn.btn--full.btn--green{ onclick: '$.fancybox.close();' } Ne pas me désabonner
      .grid__item.one-half>
        = link_to 'Me désabonner', confirm_cancellation_pro_structure_subscription_path(@structure, @subscription), class: 'btn btn--full btn--red fancybox.ajax',  data: { behavior: 'modal', width: '600', padding: 0 }
