= side_menu_currently_at 'premium'

= render partial: 'pro/structures/subscriptions/tabs', locals: { current: 'offers' }

- if @subscription.present?
  = render 'subscription_details'
- else
  %h1
    Essayez gratuitement nos offres : 14 jours d'essai gratuits.

  = render 'subscription_plans'
