%ul.tabs.panel__header
  %li{class: current == 'comments' ? 'active' : ''}
    = link_to pro_structure_comments_path(@structure) do
      %i.fa.fa-comment
      Mes avis
  %li{class: current == 'recommandation' ? 'active' : ''}
    = link_to recommendations_pro_structure_path(@structure) do
      %i.fa.fa-bullhorn
      Demander des recommandations
  - if @structure.comment_notifications.any?
    %li{class: current == 'comment_notification' ? 'active' : ''}
      = link_to pro_structure_comment_notifications_path(@structure) do
        %i.fa.fa-group
        Demandes envoyées
