= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'general' ? 'active' : '' }
      = link_to 'Infos', dashboard_pro_structure_url(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
    %li{ class: current == 'statistics' ? 'active' : '' }
      = link_to 'Statistiques', pro_structure_statistics_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
    %li{ class: current == 'communication' ? 'active' : '' }
      = link_to 'Outils de communication', communication_pro_structure_path(@structure), class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends'
