#helper-modal.hidden.text--center.white.bg-cover{ style: "background-image: url(#{asset_path('pro/home_background3.jpg')});" }
  .soft
    %h1.soft-black-text-shadow Bienvenue !

    .inline-block.beta.soft.rounded--circle.orange-box.push--bottom{ style: 'width: 80px; height: 80px; line-height: 40px;'} 7
    %p.line-height-1-5.delta.f-weight-bold
      %span.soft-black-text-shadow rubriques à compléter pour finaliser votre profil :
      %br
      %span.soft-black-text-shadow retrouvez-les à gauche grâce au signe
      %i.fa.fa-plus.orange.v-middle

  %div.soft-black-text-shadow.soft.bg-white-faded
    %a.btn.btn--bigger.btn--blue{ onclick: "$.cookie('modal_info_popup', true); $.fancybox.close()"} Compléter mon profil

  #arrow-helpert.fixed{ style: 'left: 100px; top: 400px;'}
    .flexbox
      .flexbox__item.soft--top.soft--right
        = image_tag 'icons/arrow-white.png', width: 50, class: 'push--top'
      .flexbox__item.text--center.white.soft-black-text-shadow.delta
        Retrouvez à gauche toutes
        %br
        les rubriques à compléter
        %br
        en priorité grâce au signe
        %i.fa.fa-plus.orange.v-middle
