%ul.epsilon.line-height-1-7
  %li
    Suivez les statistiques avancées de votre profil et optimisez son efficacité.
  %li
    Démarquez-vous grâce à vos offres découvertes : cours d'essai gratuit, tarif spécial stages, etc.
  %li
    Obtenez les coordonnées des élèves qui vous envoient des messages ou suivent votre profil.
  %li
    Augmentez votre visibilité : personnalisez et complétez votre profil pour qu'il apparaisse en tête des résultats.
