- short = false if short.nil?
%ul.block-list.epsilon.line-height-1-7
  %li.grid--full
    .grid__item.v-middle{ style: 'width: 40px;'}>
      = image_tag 'icons/visibility.png', width: 30
    .grid__item.nine-tenths.v-middle>
      - if short
        Augmentez votre visibilité
      - else
        Augmentez votre visibilité : votre profil complet et personnalisé remonte dans les résultats.
  %li.grid--full
    .grid__item.v-middle{ style: 'width: 40px;'}>
      = image_tag 'icons/discount.png', width: 30
    .grid__item.nine-tenths.v-middle>
      - if short
        Démarquez-vous grâce à vos offres découvertes
      - else
        Démarquez-vous grâce à vos offres découvertes&nbsp;: cours d'essai gratuits, tarifs spéciaux, etc.
  %li.grid--full
    .grid__item.v-middle{ style: 'width: 40px;'}>
      = image_tag 'icons/contact.png', width: 30
    .grid__item.nine-tenths.v-middle>
      - if short
        Accédez aux coordonnées des élèves
      - else
        Obtenez les coordonnées des élèves qui vous envoient des messages ou suivent votre profil.
  %li.grid--full.border-none--bottom
    .grid__item.v-middle{ style: 'width: 40px;'}>
      = image_tag 'icons/stats.png', width: 30
    .grid__item.nine-tenths.v-middle>
      - if short
        Suivez les statistiques avancées de votre profil
      - else
        Suivez les statistiques avancées de votre profil et optimisez son efficacité.





