:css
  .coursavenue-jpo-widget {
    font-family          : Helvetica, Arial,sans-serif !important;
    font-size            : 12px !important;
    max-width            : 750px !important;
    margin               : auto !important;
    margin-bottom        : 11px !important;
    background-color     : #ea724b !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius   : 2px !important;
    -ms-border-radius    : 2px !important;
    -o-border-radius     : 2px !important;
    border-radius        : 2px !important;
    padding              : 10px 20px !important;
  }
  .coursavenue-jpo-logo-link {
    display   : block!important;
    margin               : auto !important;
  }
  .coursavenue-jpo-logo-link img {
    width    : 90% !important;
    max-width: 350px !important;
    background: none !important;
    border    : none !important;
    padding   : 5px 0 !important;
    box-shadow: none !important;
    display   : block!important;
    margin               : auto !important;
  }
  .coursavenue-jpo-subtitle {
    font-size : 16px !important;
    color     : #FFF !important;
    display   : block!important;
    text-align: center!important;
    padding   : 5px 0px !important;
  }
  .coursavenue-jpo-btn:hover {
    text-decoration : underline !important;
    background-color: #56BC52 !important;
  }
  .coursavenue-jpo-btn {
    font-size            : 14px;
    display              : block !important;
    margin               : 0 !important;
    padding              : 6px !important;
    background-color     : #47b442 !important;
    color                : #FFF !important;
    text-align           : center !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius   : 2px !important;
    -ms-border-radius    : 2px !important;
    -o-border-radius     : 2px !important;
    border-radius        : 2px !important;
  }
