- unless params[:not_ajax]
  = render '/pro/structures/widget_jpo_inline_css'

.coursavenue-jpo-widget
  = link_to jpo_structure_url(@structure, subdomain: 'www', utm_medium: 'referral', utm_campaign: 'widget_jpo', utm_source: @structure.slug.underscore), target: '_blank', title: "Cours de #{@structure.subjects.map{|subj| subj.name.downcase}.join(', ')} sur CoursAvenue", class: 'coursavenue-jpo-logo-link' do
    %img.coursavenue-recommanded{src: asset_path('jpo_2014/logo_1_line.png')}
  .coursavenue-jpo-subtitle
    Les 5-6 avril 2014, c'est gratuit ! Venez découvrir nos cours, les places sont limitées :
  .coursavenue-jpo-button
    = link_to "M'INSCRIRE À UN ATELIER GRATUITEMENT", jpo_structure_url(@structure, subdomain: 'www', utm_medium: 'referral', utm_campaign: 'widget_jpo', utm_source: @structure.slug.underscore), class: 'coursavenue-jpo-btn', target: '_blank'
