:css
  .coursavenue-widget {
    font-family: Helvetica, Arial,sans-serif !important;
    font-size  : 12px !important;
    max-width  : 750px;
    margin     : auto;
  }
  .coursavenue-widget div {
    margin: 0;
  }
  .coursavenue-widget-top-logo-wrapper {
    border          : 12px solid #2AADA3 !important;
    margin-bottom   : 10px !important;
    background-color: white !important;
  }
  .coursavenue-widget-top-logo-inner-wrapper {
    border: 5px solid white !important;
  }
  .coursavenue-widget-top-logo {
    border : 2px solid #2AADA3 !important;
    padding: 10px 3px !important;
  }
  .coursavenue-widget-top-logo a, .coursavenue-widget-top-logo img {
    display   : block !important;
    margin    : auto !important;
    background: white !important;
  }
  .coursavenue-recommanded {
    width    : 70% !important;
    max-width: 250px !important;
  }
  .coursavenue-stars {
    width    : 40% !important;
    max-width: 150px !important;
  }
  .coursavenue-logo {
    width    : 90% !important;
    max-width: 350px !important;
  }
  .coursavenue-recommanded, .coursavenue-stars, .coursavenue-logo {
    background: none !important;
    border    : none !important;
    padding   : 5px 0 !important;
    box-shadow: none !important;
  }
  .coursavenue-widget-wrapper-link {
    display        : block !important;
    padding        : 10px !important;
    margin         : 0 auto 10px auto !important;
    text-align     : center !important;
    border         : 1px solid #DDD !important;
    text-decoration: none !important;
  }
  .coursavenue-widget-title {
    font-size: 16px !important;
    color    : #e9683d !important;
  }
  .coursavenue-link {
    background-color: blue !important;
  }
  .coursavenue-white-box {
    display               : block !important;
    font-family           : Helvetica, Arial,sans-serif !important;
    padding               : 10px !important;
    margin                : 0 0 10px 0 !important;
    background-color      : white !important;
    border                : 1px solid #DDD !important;
    -webkit-border-radius : 2px !important;
    -moz-border-radius    : 2px !important;
    -ms-border-radius     : 2px !important;
    -o-border-radius      : 2px !important;
    border-radius         : 2px !important;
    box-shadow            : none !important;
    text-decoration       : none !important;
    text-align            : left !important;
  }
  .coursavenue-header {
    margin       : 0 0 10px 0 !important;
    font-size    : 14px !important;
  }
  .coursavenue-header a {
    text-decoration: none !important;
  }
  .coursavenue-btn:hover {
    text-decoration: underline !important;
  }
  .coursavenue-btn {
    display                  : block !important;
    margin                   : 0 auto 10px 0 !important;
    padding                  : 5px !important;
    background-color         : white !important;
    border                   : 2px solid #2AADA3!important;
    color                    : black !important;
    text-align               : center !important;
    -webkit-border-radius    : 2px !important;
    -moz-border-radius       : 2px !important;
    -ms-border-radius        : 2px !important;
    -o-border-radius         : 2px !important;
    border-radius            : 2px !important;
  }
  .coursavenue-comment-paragraph{
    font-size      : 13px !important;
    line-height    : 18px !important;
    color          : black !important;
    margin-bottom  : 0 !important;
    margin-top     : 0 !important;
    font-weight    : normal !important;
  }
  .coursavenue-comment-paragraph > p{
    font-size      : 13px !important;
    line-height    : 18px !important;
    color          : black !important;
    margin-bottom  : 0 !important;
    margin-top     : 0 !important;
    font-weight    : normal !important;
  }
  .coursavenue-comment-footer{
    margin-bottom: 0 !important;
    text-align   : right !important;
    font-size    : 12px !important;
    color        : #666 !important;
    font-weight  : normal !important;
  }
  .coursavenue-comment-footer i{
    font-style: italic !important;
  }
  .coursavenue-widget-link:hover {
    color          : #e9683d !important;
    background     : none !important;
    text-decoration: underline !important;
  }
  .coursavenue-widget-link, .coursavenue-widget-link strong {
    color     : #e9683d !important;
    background: none !important;
  }
  .coursavenue-widget-top-logo {
    text-align: center !important;
  }
