- if current_pro_admin.confirmed_at > Date.yesterday and !cookies[:modal_info_popup].present?
  .relative
    = render 'modal_info_popup'

= side_menu_currently_at 'Mes infos'
.panel
  = render partial: 'pro/structures/tabs', locals:{ current: 'établissement'}
  .panel__body= render 'form'
