- if current_pro_admin.confirmed_at > Date.yesterday and current_pro_admin.sign_in_count < 2 and !cookies[:modal_info_popup].present?
  .relative
    = render 'modal_info_popup'

= side_menu_currently_at 'presentation'
.panel
  = render partial: 'pro/structures/tabs', locals:{ current: 'établissement'}
  .panel__body.soft--top= render 'form'
