.panel
  .panel__header.soft
    .delta.line-height-normal
      %h3.flush Réactiver mon compte
  .panel__body.soft
    %p.epsilon
      Vos 3 dernières demandes d'inscription sont restées sans réponse, c'est pourquoi votre profil a été désactivé et n'apparaît plus sur CoursAvenue.
    %p.epsilon
      Si vous êtes de nouveau en mesure de répondre aux demandes d'inscription sous 48h, réactivez votre compte :

    .text--center
      = link_to 'Réactiver mon compte', enable_pro_structure_path, class: 'btn btn--full btn--green', method: :patch
