= side_menu_currently_at 'Communiquer'

= render partial: 'pro/structures/communication_tabs', locals: {current: 'flyer'}

%h5.home-title
  %i.fa.fa-bookmark
  Incitez vos élèves à déposer des avis

.text--center.push
  %a.btn.btn--blue.btn--large{onclick: 'window.print()', href: 'javascript:void(0)'}
    %i.fa.fa-print
    Imprimer

.white-box.text--center.islet
  %h4 Retrouvez-nous sur
  = image_tag 'logo.png', height: 60
  %h4.push-half--top.flush--bottom Vous aimez la qualité de nos cours ? Faites-le savoir !
  %h5= link_to new_structure_comment_url(@structure, subdomain: 'www')
