= side_menu_currently_at 'Structures'
%table.table--striped
  %thead
    %tr
      %th Nom
      %th Nombre de cours
      %th
  %tbody
    - @structures.each do |structure|
      %tr
        %td= link_to structure.name, structure_path(structure)
        %td= structure.courses.length
