= side_menu_currently_at 'premium'

- # Check if last_renewal_failed_at because we renew the subscription on its last day
- # And if the renewal failed, we want to show the section where the user can reactivate his subscription
- if !@structure.premium? or (@structure.subscription_plan.last_renewal_failed_at and @structure.subscription_plan.last_renewal_failed_at.today?)
  = render 'premium_not_subscribed'
- else
  = render 'premium_subscribed'
