.panel
  .panel__header.soft
    .grid
      .grid__item.one-twelfth.v-middle.text--center
        %i.fa.fa-star.fa-4x.yellow
      .grid__item.ten-twelfths.v-middle
        %h4.flush Vous souhaitez #{params[:title] || 'passer au premium'}
  .panel__body
    .soft
      %h3.text--center Les 10 fonctionnalités spéciales Premium
      = render 'pro/shared/premium_advantages'
      .grid
        .grid__item.one-third>
          = link_to 'En savoir plus', premium_pro_structure_path(@structure), class: 'btn btn--full'
        .grid__item.two-thirds>
          = link_to 'Souscrire', choose_premium_pro_structure_path(@structure), class: 'btn btn--green btn--full'

:javascript
    $("[data-behavior=local-tab]").click(function() {
        $('[data-behavior=local-tab-el]').hide();
        $($(this).data('el')).show();
    });
