.panel
  .panel__header.soft
    .grid
      .grid__item.one-twelfth.v-middle.text--center
        %i.fa.fa-star.fa-4x.yellow
      .grid__item.ten-twelfths.v-middle
        %h4.flush Vous souhaitez #{params[:title] || 'passer au premium'}
        %p.flush.epsilon
          - if params[:subtitle].present?
            = params[:subtitle]
          - else
            Devenez membre Premium et recrutez encore plus d'élèves.
  .panel__body
    .soft
      = render 'pro/structures/premium_advantages'
      .text--center
        = link_to 'En savoir plus', premium_pro_structure_path(@structure), class: 'btn btn--yellow'

:javascript
    $("[data-behavior=local-tab]").click(function() {
        $('[data-behavior=local-tab-el]').hide();
        $($(this).data('el')).show();
    });
