= side_menu_currently_at 'premium'
.panel
  .panel__body.soft--ends
    .soft--sides
      %h3.flush Prenez le contrôle de votre profil et recrutez efficacement de nouveaux élèves.
      .epsilon.push--bottom Passez à l'offre Premium à partir de 29€ par mois et optimisez votre communication sur Internet. Fonctionne par abonnement mensuel sans engagement de durée et sans frais cachés.

      %ul.epsilon.line-height-1-7
        %li
          Suivez les statistiques avancées de votre profil et optimisez son efficacité.
        %li
          Démarquez-vous grâce à vos offres découvertes : cours d'essai gratuit, tarif spécial stages, etc.
        %li
          Obtenez les coordonnées des élèves qui vous envoient des messages ou suivent votre profil.
        %li
          Augmentez votre visibilité : personnalisez et complétez votre profil pour qu'il apparaisse en tête des résultats.

      .epsilon
        %strong Choisissez votre abonnement :
        %br
        %input.v-middle.input--lage#annual-pricing{ type: 'checkbox' }
        %label.v-middle.inline-block.label--large{ for: 'annual-pricing' }Annuel : 29 € / mois (économisez 15%)
        %br
        %input.v-middle.input--lage#annual-mensual{ type: 'checkbox' }
        %label.v-middle.inline-block.label--large{ for: 'annual-mensual' } Mensuel : 34 € / mois
      .btn.btn--green Souscrire au profil Premium
      %p
        %strong Le saviez-vous ?
        Vous pouvez annuler votre compte Premium à tout moment, abonnement sans contrat ni commissions.
      -# %hr.push--ends
      -# %h4 Ils ont souscrit au profil Premium
    %hr.push--ends
    .soft--sides
      %h4 Détails du profil Premium
      = render 'pro/home/pricing_details_table'

