.page
  %h1.text--center Accédez à notre logiciel en ligne pour référencer directement vos cours

  .grid
    .grid__item.width-auto>
      %h2.delta Choisissez votre établissement dans la liste :
    .grid__item.width-auto
      = select_tag :structure, options_from_collection_for_select(@structures, :slug, :name), include_blank: true , style: 'max-width: 35em;'
  %div
    Votre établissement n'est pas dans la liste ? Pas de soucis,
    = link_to "cliquez ici !", new_pro_structure_path, onclick: "_gaq.push(['_trackEvent', 'Mon établissement n'est pas dans la liste', 'click'])"

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        new Chosen($('structure'));
        $('structure').addEvent('change', function() {
            window.location = Routes.new_pro_admin_registration_path({structure: this.get('value')});
        });
    });
