.pages
  %h1 Référencez mes cours
  %h2.delta Choisissez votre établissement
  = select_tag :structure, options_from_collection_for_select(@structures, :slug, :name), include_blank: true
  %div= link_to "Mon établissement n'est pas dans la liste", new_pro_admin_registration_path

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        new Chosen($('structure'));
        $('structure').addEvent('change', function() {
            window.location = Routes.new_pro_admin_registration_path({structure: this.get('value')});
        });
    });
