.page
  %h1.text--center Accédez à notre logiciel en ligne pour référencer directement vos cours

  .grid
    .grid__item.width-auto>
      %h2.delta Choisissez votre établissement dans la liste :
    .grid__item.width-auto
      = select_tag :structure, options_from_collection_for_select(@structures, :slug, :name), include_blank: true , style: 'max-width: 35em;'
  %div
    Votre établissement n'est pas dans la liste ? Pas de soucis,
    = link_to "cliquez ici !", inscription_pro_structures_path, onclick: "_gaq.push(['_trackEvent', 'Mon établissement n'est pas dans la liste', 'click'])"

= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
        new Chosen($('structure'));
        var structure_path = "#{new_pro_admin_structure_registration_path('__id__')}";
        $('structure').addEvent('change', function() {
            window.location = structure_path.replace('__id__', this.get('value'));
            //window.location = '/rejoindre-coursavenue-pro' + this.get('value');
        });
    });
