= side_menu_currently_at 'presentation'
= render partial: 'pro/structures/tabs', locals:{ current: 'établissement'}

= link_to edit_pro_structure_path(@structure), class: 'btn btn--orange btn--small push--bottom' do
  %i.fa-pencil
  %span.soft-half--left Modifier mes informations

= render 'pro/structures/structure'
