= side_menu_currently_at 'Communiquer'
-# = render partial: 'pro/structures/communication_tabs', locals: {current: 'sticker'}
.text--center.islet.white-box
  %h2.orange
    %i.icon-warning-sign
    Les autocollants sont en cours d'impression
  %p Nous vous contacterons dès qu'ils seront imprimés, promis !
