- facebook_user = FbGraph::User.me(current_user.oauth_token)
.grid--full
  - facebook_user.friends.each do |facebook_friend|
    .inline-block.one-third.very-soft>
      = link_to share_participation_to_facebook_friend_url(@participation, facebook_friend.identifier), class: 'flexbox white-box white-box--hoverable block muted-link', target: :_blank, data: { behavior: 'send-message-on-facebook'} do
        .flexbox__item.v-middle>
          = image_tag "http://graph.facebook.com/#{facebook_friend.identifier}/picture?height=100&width=100&type=square", class: 'block one-whole', width: 100, height: 100
        .flexbox__item.v-middle.soft-half--left>
          %strong= facebook_friend.name

- content_for :scripts do
  :javascript
    $(function() {
          $('[data-behavior=send-message-on-facebook]').click(function() {
              ga('send', 'event', 'Share on Facebook to friend', 'share');
              return true;
          });
    });
