
#share-on-social-networks.hidden{style: 'max-width: 800px;'}
  .flexbox.alert--success.one-whole.flush
    .flexbox__item.v-middle.soft--right>
      %i.fa-check.fa-3x
    .flexbox__item.v-middle>
      %h2.flush
        Inscription confirmée
        - if @participation.waiting_list?
          sur liste d'attente
      %h4.flush Une confirmation vous a été envoyée par e-mail.

  %h4.push-half--ends.inline-block.v-middle.push--right
    %i.fa-bullhorn
    Parlez-en autour de vous
    %i #JPO14
  .share-on-facebook.btn.btn--facebook.text--left.nowrap.inline-block.v-middle Facebook
  .share-on-twitter.btn.btn--twitter.btn--small.text--left.nowrap.inline-block.v-middle Twitter
  - if current_user.facebook_registered?
    %h4.push-half--ends
      %i.fa-envelope-o.v-middle
      %span.v-middle Invitez vos amis Facebook en 1 clic !
    = render 'users/participations/send_message_to_facebook_friends'

  .grid--full.push--top
    .grid__item.two-twelfths.soft-half--right>
      = link_to 'Non merci', '#inscription-confirmed-popup', class: 'btn btn--full', data: { behavior: 'modal' }
    .grid__item.ten-twelfths>
      = link_to "C'est fait ! Accéder à mon profil", '#inscription-confirmed-popup', class: 'btn btn--full btn--green', data: { behavior: 'modal' }

- content_for :scripts do
  :javascript
    $(function() {
        $.fancybox($('#share-on-social-networks'), {
                afterClose: function() {
                    setTimeout(function() {
                        $.fancybox($('#inscription-confirmed-popup'), {
                            afterShow: function() {
                                var price_of_the_event = $('#places-left');
                                var initial_price = price_of_the_event.text();
                                var random_price = function() {
                                    price_of_the_event.text(Math.floor(Math.random() * 10) + '' + Math.floor(Math.random() * 10) + ' places')
                                }
                                for(var i = 0; i <= 10000; i += 1) {
                                    if (i == 10000) {
                                      setTimeout(function() {
                                        price_of_the_event.text(initial_price);
                                      }, 20);
                                    } else {
                                        setTimeout(random_price, 20);
                                    }
                                }
                            }
                        });

                    }, 50);
                    return;
                }
          });
    });
