%ul.tabs.panel__header.flush.print--hidden
  %li{class: current == 'jpo' ? 'active' : ''}
    = link_to user_participations_path(@user) do
      %i.fa-list
      Mes ateliers
      - if @user.participations.any?
        (#{@user.participations.not_canceled.count})
  %li{class: current == 'invite-jpo' ? 'active' : ''}
    = link_to jpo_new_user_invited_users_path(@user) do
      %i.fa-gift
      Mes invitations
  %li{class: current == 'invite-jpo-list' ? 'active' : ''}
    = link_to jpo_user_invited_users_path(@user) do
      %i.fa-list
      Invitations envoyées
