#inscription-confirmed-popup.hidden
  %h4 Invitez vos amis à participer à l'événement
  .share-on-facebook.btn.btn--facebook Partager sur Facebook
  .share-on-twitter.btn.btn--twitter.btn--small Partager sur Twitter
  .text--center.push-half--top
    = link_to 'Envoyer une invitation par email', jpo_new_user_invited_users_path(current_user), class: 'btn btn--blue'
