<div class="panel">
    <div class="panel__header soft-half--ends soft--sides">
        <h5 class="flush">
          Contacter
          {{ structure.about }}
        </h5>
    </div>
    <div class="panel__body soft">
        <div class="tab-content">
            <article class="tab-message tab-pane active hard">
                <form action="{{url}}">
                    {{!-- Here to stop bots. --}}
                    {{!-- If this is filled, the message won't be sent --}}
                    <div class="visuallyhidden"><input type="text" name='content' /></div>
                    <div class="grid--full push-half--bottom">
                        <div class="grid__item one-half">
                            <div class="push-half--bottom">
                              <input type="checkbox" class="inline-block v-middle" id="more-info-inscription" name='extra_info_ids[]' value="<%= Mailboxer::ExtraInfo::INSCRIPTION.id %>" checked="true">
                              <label for="more-info-inscription" class="inline-block v-middle">Inscription</label>
                            </div>
                            <div>
                                <input type="checkbox" class="inline-block v-middle" id="more-info-planning-info" name="extra_info_ids[]" value="<%= Mailboxer::ExtraInfo::PLANNING_INFO.id %>" checked="false">
                                <label for="more-info-planning-info" class="inline-block v-middle">Infos planning</label>
                            </div>
                        </div>{{!--
                    --}}<div class="grid__item one-half">
                            <div class="push-half--bottom">
                                <input type="checkbox" class="inline-block v-middle" id="more-info-be-called" name="extra_info_ids[]" value="<%= Mailboxer::ExtraInfo::BE_CALLED.id %>">
                                <label for="more-info-be-called" class="inline-block v-middle">Être rappelé</label>
                            </div>
                            <div>
                                <input type="checkbox" class="inline-block v-middle" id="more-info-more-info" name="extra_info_ids[]" value="<%= Mailboxer::ExtraInfo::MORE_INFO.id %>">
                                <label for="more-info-more-info" class="inline-block v-middle">Plus d'infos</label>
                            </div>
                        </div>
                    </div>
                    <div class="input flush">
                        <select name="course_ids[]" id="" class="input--large one-whole"  multiple="true" data-behavior="chosen" data-placeholder="Quels cours vous intéressent ?">
                            {{#if structure.lessons_and_privates}}
                                <optgroup label="Cours réguliers">
                                    {{#each structure.lessons_and_privates}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </optgroup>
                            {{/if}}
                            {{#if structure.trainings_courses}}
                                <optgroup label="Stages & Ateliers">
                                  {{#each structure.trainings_courses}}
                                      <option value="{{this.id}}">{{this.name}}</option>
                                  {{/each}}
                                </optgroup>
                            {{/if}}
                        </select>
                    </div>
                    <textarea name="body" id="" cols="30" rows="10" class="one-whole input--large push-half--bottom" style='height: 170px;' data-behavior='autoresize'>{{ prefilled_body }}</textarea>
                    <div class="input-addon push-half--bottom">
                        <div class="input-prefix">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <input type="text" class="input--large one-whole" name='user[email]' type='text' placeholder='Votre e-mail'>
                    </div>
                    <div class="grid--full push-half--bottom">{{!--
                    --}}<div class="grid__item one-half soft-half--right">
                            <div class="input-addon">
                                <div class="input-prefix">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="input--large one-whole" name='user[first_name]' type='text' placeholder='Votre nom'>
                            </div>
                        </div>{{!--
                    --}}<div class="grid__item one-half v-middle" class="one-whole" data-toggle='popover' data-content="Les professeurs sont souvent en cours, nous vous recommandons donc de laisser votre numéro de téléphone pour être recontacté dans les plus brefs délais. Il ne sera communiqué à personne d'autre." data-trigger='hover' data-placement='bottom'>
                            <div class="input-addon">
                                <div class="input-prefix">
                                    <i class="fa fa-phone-o"></i>
                                </div>
                                <input type="text" class="input--large one-whole hard--right" name='user[phone_number]' type='text' placeholder='Votre téléphone'>
                            </div>
                        </div>{{!--
                --}}</div>
                    <button type="submit" class="btn btn--green btn--full">
                        <i class="fa fa-envelope"></i>
                        Envoyer mon message
                    </button>
                    <p class="text--center flush blue" data-toggle='popover' data-content="Les professeurs sont souvent en cours et difficilement joignables. Notre conseil : envoyez-leur un message et demandez d'être rappelé(e)." data-trigger='hover' data-placement='bottom'>
                      <i>Méthode recommandée</i>
                    </p>
                </form>
                {{#if structure.premium }}{{#if structure.website }}{{#if structure.phone_numbers}}
                  <hr class="push-half--ends">
                {{/if}}{{/if}}{{/if}}
                {{#if structure.phone_numbers}}
                    <a href="javascript:void(0)" class="btn btn--green btn--full" data-behavior="toggleable" data-el=".phone_number">
                        <i class="fa fa-phone v-middle"></i>
                        <span class="v-middle">Téléphone</span>
                    </a>
                    <div class="phone_number hidden">
                        <div class="soft--ends text--center">
                            {{#each structure.phone_numbers}}
                                {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                                <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
                                {{#if structure.premium }}
                                    <i class="soft-half--left v-middle fa fa-check-circle green"></i>
                                    <i class="v-middle green milli">vérifié</i>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{#if structure.premium }}{{#if structure.website }}
                  <a href="{{ structure.website }}" class="btn btn--green btn--full push-half--top" target="_blank">
                    <i class="fa fa-globe v-middle"></i> <span class="v-middle">Site internet</span>
                  </a>
                {{/if}}{{/if}}
            </article>
        </div>
    </div>
</div>
