<div class="panel center-block" style="width: 400px">
    <div class="panel__header soft">
        <h4 class="flush">Le message n'a pas pu être envoyé</h4>
    </div>
    <div class="panel__body soft">
        <p>
            Essayez de vous connecter sur CoursAvenue avant d'envoyer un message, cela réglera peut-êtr ele problème.
        </p>
        <a href="#" onclick="$.magnificPopup.close();" class="btn btn--full btn--green">Valider</a>
    </div>
</div>

