{{#if structure.is_sleeping}}
    <div class="panel__header soft-half--ends soft--sides">
        <h5 class="flush">Cet établissement n'a pas la réservation en ligne</h5>
    </div>

    <div class="panel__body soft">
      <p class="delta push-half--bottom"> Information de contact :</p>
      {{#if structure.phone_numbers}}
          {{#if structure.phone_numbers}}
              <div>
                  {{#each structure.phone_numbers}}
                      {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                      <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
                  {{/each}}
              </div>
          {{/if}}
      {{/if}}
      {{#if structure.website}}
          <div>
              <a class="f-weight-bold epsilon v-middle" href="{{ structure.website }}" target="_blank" itemprop="website"><strong>{{ structure.website }}</strong></a>
          </div>
      {{/if}}
      </div>
  </div>
{{else}}
<div class="panel__header soft-half--ends soft--sides">
    <h5 class="flush">
      Contacter
      {{ structure.about }}
    </h5>
</div>
<div class="panel__body soft">
    {{#if last_message_sent_at}}
        <div class="green text--center"><i class="fa-check"></i> <strong>Dernier message envoyé le {{last_message_sent_at}}</strong></div>
        <div class="text--center">
            <a data-type="user-conversations-path" href="{{ user_conversations_path }}" class="f-weight-500">Voir mes messages</a>
        </div>
        <hr class="push--ends">
    {{/if}}
    {{#if last_message_sent_at}}
      <div class="btn btn--green btn--full" data-behavior="show-long-version" data-long-version="#structure-request-form-wrapper">
        Nouvelle demande d'information
      </div>
    {{/if}}
    <article class="{{#if last_message_sent_at}}hidden{{/if}}" id="structure-request-form-wrapper">
        <form action="{{url}}">
            <div class="input flush--top push-half--bottom">
                <textarea name="body" id="" cols="30" rows="10" class="one-whole input--large" style='height: 170px;' data-behavior='autoresize'>{{#unless errors.body}}{{#if body}}{{ body }}{{/if}}{{/unless}}</textarea>
            </div>
            {{#if errors.body}}
                <div class="input_field_error red f-weight-bold text--right">{{errors.body}}</div>
            {{/if}}
            <div class="one-whole v-middle push-half--bottom" class="one-whole">
                <div class="input-addon">
                    <div class="input-prefix">
                        <i class="fa-phone-o"></i>
                    </div>
                    <input type="text" class="input--large one-whole hard--right" name='user[phone_number]' type='text' placeholder='Votre téléphone (confidentiel)' value="{{#if user.phone_number}}{{ user.phone_number }}{{/if}}">
                </div>
                {{#if errors.user.phone_number}}
                    <div class="input_field_error red f-weight-bold text--right">{{errors.user.phone_number}}</div>
                {{/if}}
            </div>
            <button type="submit" class="btn btn--green btn--full" data-disable-with="Message en cours d'envoi...">
                <i class="fa fa-envelope"></i>
                Envoyer mon message
            </button>
        </form>
    </article>
</div>
{{/if}}
