- params[:start_date] ||= '' # l(Date.today)
- params[:end_date]   ||= '' # l(Date.today + 6.months)

.header-search-bar
  %div.search-input-wrapper>
    .input-with-icon
      %input#search-input{class: 'search-input', placeholder: 'Que voulez-vous faire ?', type: 'search', name: 'name', value: params[:name], autofocus: true, list: 'subject-list', autocomplete: 'off'}
      %i.lbc-subject-icon
      %p#search-help.white-box--noshadow.hidden{style: 'z-index: 2; line-height: 1.3; padding: 5px 10px; width: 100%; position: absolute;'} Recherchez par intitulé de cours, discipline, nom de structure, etc.
  %div.search-input-wrapper>
    .input-with-icon
      %input#adress-picker{class: 'search-input', placeholder: 'Où ?', type: 'text', autocomplete: 'off', name: 'address_name', value: (params[:address_name] || request.location.city || 'Paris'), data: {behavior: 'address-picker', lng: '#address-lng', lat: '#address-lat', city: '#address-city'}}
      %i.icon-map-marker.delta
      %ul#address-list.address-list.hidden
  %input#address-lat{type: 'hidden', name: 'lat', value: (params[:lat] || request.location.try(:latitude))}
  %input#address-lng{type: 'hidden', name: 'lng', value: (params[:lng] || request.location.try(:longitude))}
  %input#address-city{type: 'hidden', name: 'city', value: (params[:city] || request.location.try(:city))}

  = render 'shared/week_day_search'

  = render 'shared/time_slot_search'

  %div.button-wrapper
    %button.nowrap.btn.btn--primary{type: 'submit', id: 'submit_search_form'}
      %i.icon-search
      Rechercher

= content_for :scripts do
  :javascript
    $(function() {
      $('#search-input').typeahead([
        {
          name: 'subjects',
          prefetch: '/subjects.json'
        }
      ]);
      $('#search-input').blur(function(){
          $('#search-help').addClass('hidden');
      });
      $('#search-input').click(function(){
          if (this.value.length === 0) {
              $('#search-help').removeClass('hidden');
          }
      });
    })
