.dropped-options-subject#dropped-options-subject.dropped-options{data: {behavior: 'dropped-options' }}
  .dropped-options-title.chooser-title-wrapper
    %i.lbc-subject-icon.dropped-options-icon
    %span.dropped-title
      - if @subject
        = @subject.name
      - else
        Toutes disciplines
    %i.icon-caret-down.dropped-options-caret-icon
  %ul
    - Subject.roots.order('name ASC').each do |subject|
      %li.subject-element{data: {id: subject.slug, name: subject.name}, class: (params[:id] == subject.slug ? 'selected': '')}
        %label= subject.name
