%header.header
  .main-container.main-container--medium.grid--full.very-soft
    .grid__item.one-half.palm-one-half>
      = link_to root_path, class: 'logo', target: '_blank' do
        - if request.subdomain == 'pro'
          = image_tag 'logos/logo-pro.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo-pro@2x.png') }
        - else
          = image_tag 'logos/logo.png', width: 200, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }
