%header.header
  .main-container.grid--full.very-soft
    .grid__item.one-half.palm-one-half>
      = link_to root_path, class: 'logo', target: '_blank' do
        - if request.subdomain == 'pro'
          = image_tag 'logos/logo-pro@2x.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
        - else
          = image_tag 'logos/logo@2x.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
