%header.header
  .main-container.grid--full
    .grid__item.one-half.palm--one-half>
      = link_to root_path, class: 'logo' do
        = image_tag 'logo.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
