%header.header
  .flexbox
    .flexbox__item.one-half.palm-one-half.v-middle>
      .coursavenue-header-logo-wrapper.v-middle.palm-one-whole
        = link_to '', root_path, target: '_blank', class: 'coursavenue-header-logo'
    .flexbox__item.one-half.v-middle.text--right.soft--right
      = render partial: 'shared/question_dropdown_menu'
