%header.header
  .main-container.grid--full
    .grid__item.one-half.palm--one-half>
      = link_to root_path, class: 'logo' do
        - if request.subdomain == 'pro'
          = image_tag 'logo_pro.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
        - else
          = image_tag 'logo.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'
