:javascript
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));

%footer
  Partagez LeBonCours !
  %input{:type => 'email'}
  %nav
    %ul
      %li
        %a{:href => ''} Pourquoi LeBonCours ?
      %li
        %a{:href => ''} Comment ça marche ?
