.header-search-bar
  .town-chooser.better-select{data: {behavior: 'better-select' }}
    %span.chooser-title-wrapper
      %span.chooser-title Paris
      %i.icon-caret-down
    %select{name: 'city'}
      %option{value: 'paris'} Paris
      %option{value: 'bordeaux'} Bordeaux
      %option{value: 'lille'} Lille
      %option{value: 'lyon'} Lyon
      %option{value: 'marseille'} Marseille
      %option{value: 'montpellier'} Montpellier
      %option{value: 'nantes'} Nantes
      %option{value: 'nice'} Nice
      %option{value: 'strasbourg'} Strasbourg
      %option{value: 'toulouse'} Toulouse
  %div.search-input-wrapper
    %input#search-input{class: 'search-input', placeholder: 'Zumba, Cuisine, Impro, ...', type: 'search', name: 'name', value: params[:name], autofocus: true, list: 'discipline-list', autocomplete: 'off'}
    .aListCon
      %datalist#discipline-list
      <!--[if IE 9]><select disabled><![endif]-->
      - Discipline.all.each do |discipline|
        %option{value: discipline.name}
      <!--[if IE 9]></select><![endif]-->
    = content_for :scripts do
      :javascript
        (function(window, document, undefined) {
          "use strict";

          var myAutocomplete = new Autocomplete("search-input", {
            useNativeInterface : false,
            srcType : "dom"
          });

        })(this, this.document);

  = render 'shared/week_day_search'

  = render 'shared/time_slot_search'

  %div
    Du
    %input{type: 'text', class: 'datepicker-input', value: l(Date.today), name: 'start_date', data: {behavior: 'datepicker'}}
    au
    %input{type: 'text', class: 'datepicker-input', value: l(Date.today + 6.months), name: 'end_date', data: {behavior: 'datepicker'}}

  %div.button-wrapper
    %button.btn.btn__primary{type: 'submit', id: 'submit_search_form'}
      %i.icon-search
      Rechercher
