- is_dark = false if local_assigns[:is_dark].nil?

.header-search-bar
  .town-chooser.better-select{data: {behavior: 'better-select' }}
    %span.chooser-title-wrapper
      %span.chooser-title Paris
      %i.icon-caret-down
    %select{name: 'city'}
      %option{value: 'paris'} Paris
      %option{value: 'bordeaux'} Bordeaux
      %option{value: 'lille'} Lille
      %option{value: 'lyon'} Lyon
      %option{value: 'marseille'} Marseille
      %option{value: 'montpellier'} Montpellier
      %option{value: 'nantes'} Nantes
      %option{value: 'nice'} Nice
      %option{value: 'strasbourg'} Strasbourg
      %option{value: 'toulouse'} Toulouse
  %div.search-input-wrapper
    %input{class: is_dark ? 'search-input search-input--dark' : 'search-input', placeholder: 'Danse, Cuisine, ...', type: 'search', name: 'name', value: params[:name], autofocus: true}
  = render 'shared/week_day_search', is_dark: is_dark

  = render 'shared/time_slot_search', is_dark: is_dark

  %div
    Du
    %input{type: 'text', class: is_dark ? 'datepicker-input datepicker-input--dark' : 'datepicker-input', value: l(Date.today), name: 'start_date', data: {behavior: 'datepicker'}}
    au
    %input{type: 'text', class: is_dark ? 'datepicker-input datepicker-input--dark' : 'datepicker-input', value: l(Date.today + 6.months), name: 'end_date', data: {behavior: 'datepicker'}}

  %div.button-wrapper
    %button.btn.btn__primary{type: 'submit', id: 'submit_search_form'}
      %i.icon-search
      Rechercher
