- params[:start_date] ||= l(Date.today)
- params[:end_date]   ||= l(Date.today + 6.months)

.header-search-bar
  %div.search-input-wrapper
    .input-with-icon
      %input#search-input{class: 'search-input', placeholder: 'Que voulez-vous faire ?', type: 'search', name: 'name', value: params[:name], autofocus: true, list: 'subject-list', autocomplete: 'off'}
      %i.lbc-subject-icon
      .aListCon
        %datalist#subject-list
        <!--[if IE 9]><select disabled><![endif]-->
        - Subject.all.each do |subject|
          %option{value: subject.name}
        <!--[if IE 9]></select><![endif]-->
      %p#search-help.white-box.hidden{style: 'line-height: 1.3; padding: 5px 10px; widht: 100%; position: absolute;'} Recherchez par intitulé de cours, discipline, nom de structure, etc.
      = content_for :scripts do
        :javascript
          (function(window, document, undefined) {
            "use strict";
            var myAutocomplete = new Autocomplete("search-input", {
              useNativeInterface : false,
              srcType : "dom"
            });

          })(this, this.document);
  %div.search-input-wrapper
    .input-with-icon
      %input#location-input{class: 'search-input', placeholder: 'Quelle ville ?', type: 'text', name: 'city', value: @city.try(:name), list: 'location-list', 'data-slug' => @city.try(:slug), autocomplete: 'off'}
      %i.icon-map-marker.delta
    %datalist#location-list
      <!--[if IE 9]><select disabled></select><![endif]-->

  / = render 'shared/subjects_search'

  = render 'shared/week_day_search'

  = render 'shared/time_slot_search'

  %div.button-wrapper
    %button.btn.btn__primary{type: 'submit', id: 'submit_search_form'}
      %i.icon-search
      Rechercher
/ Entrez une discipline, le nom d'une école, d'un professeur ou même d'un plat.
= content_for :scripts do
  :javascript
    window.addEvent('domready', function() {
      $('search-input').addEvent('blur', function(){
          $('search-help').addClass('hidden');
      });
      $('search-input').addEvent('click', function(){
          if (this.value.length === 0) {
              $('search-help').removeClass('hidden');
          }
      });
    })
