- cache "page-header_#{ENV["ETAG_VERSION_ID"]}" do
  %header.header
    .main-container.grid--full
      .grid__item.one-half>
        = link_to root_path, class: 'logo' do
          = image_tag 'logo.png', width: 200, alt: 'Tous les cours et stages autour de vous | CoursAvenue.com'

      %nav.text--right.grid__item.one-half
        %span.espace-pro-wrapper
          %span.espace-pro
          = link_to 'Référencer mes cours', 'http://pro.coursavenue.com', class: 'btn btn__success'
