%header.header
  .main-container.flexbox
    %h1.accessibility
      LeBonCours
    = link_to root_path, class: 'flexbox__item logo' do
      - image_tag 'logo.png'
      - image_tag 'logo-2.png'
      - image_tag 'logo-3.png'
      = image_tag 'logo-4.png'

    %nav.flexbox__item
      %ul.nav.proceed
        %li
          %a.btn Référencez vos cours et stage
        %li
          %a.btn Louez vos espaces
        %li
          %a.btn Une salle pour votre cours ?
    %nav.flexbox__item
      %ul.nav.nav--fit
        %li
          %a.header-link{href: '#'} Le blog
        %li
          %a.header-link{href: '#'} À propos
        %li
          %a.header-link{href: '#'} Contact
