%header.header
  .main-container.flexbox
    %h1.accessibility
      LeBonCours
    = link_to root_path, class: 'flexbox__item logo' do
      = image_tag 'logo.png', width: 200

    %nav.flexbox__item
      %ul.nav.proceed
        %li.espace-pro-wrapper
          .espace-pro
          %a.btn Référencer mes cours et stages
        %li
          %a.btn Louer mes espaces
        %li
          %a.btn Trouver une salle pour mes cours ?
    %nav.flexbox__item
      %ul.nav.nav--fit
        %li
          %a.header-link{href: '#'} Le blog
        %li
          %a.header-link{href: '#'} À propos
        %li
          %a.header-link{href: '#'} Contact
