.home-page-search
  = form_tag structures_path, method: :get, authenticity_token: false, class: 'header-search-bar--dark', id: 'header-search' do
    .header-search-bar
      %div.search-input-wrapper
        %select.one-whole.epsilon{name: 'subject_id'}
          - Subject.stars.each do |subject|
            %option{value: subject.slug}= subject.name
          %option{value: 'other'} Autres
      %div.search-input-wrapper
        %select.one-whole.epsilon{name: 'city'}
          %option{value: 'paris'} Paris
          %option{disabled: true, value: 'marseille'} Marseille (bientôt)
          %option{disabled: true, value: 'lyon'} Lyon (bientôt)
          %option{disabled: true, value: 'toulouse'} Toulouse (bientôt)
          %option{disabled: true, value: 'nice'} Nice (bientôt)
          %option{disabled: true, value: 'nantes'} Nantes (bientôt)
          %option{disabled: true, value: 'strasbourg'} Strasbourg (bientôt)
          %option{disabled: true, value: 'montpellier'} Montpellier (bientôt)
          %option{disabled: true, value: 'bordeaux'} Bordeaux (bientôt)
          %option{disabled: true, value: 'lille'} Lille (bientôt)

      %div.button-wrapper
        %button.nowrap.btn.btn--orange{type: 'submit', id: 'submit_search_form'}
          %i.fa.fa-search
          Rechercher
