.home-page-search
  = form_tag structures_path, method: :get, authenticity_token: false, class: 'header-search-bar--dark', id: 'header-search' do
    .header-search-bar
      %div.search-input-wrapper
        %select.one-whole.epsilon{name: 'subject_id'}
          %option{value: ''} Toutes disciplines
          - cache ['home_page_dropdown', Subject.stars] do
            - Subject.stars.each do |subject|
              %option{value: subject.slug}= subject.name
          %option{value: 'other'} Autres
      %div.search-input-wrapper
        .input-with-icon
          %input#address-picker.soft-half--left{size: 25, placeholder:'Ville / CP / Adresse', type:'text', autocomplete: 'off', name:'address_name', value: 'Paris', data: {behavior:'address-picker', lng:'#address-lng',lat: '#address-lat', city: '#address-city'}}
          %i.fa.fa-map-marker.delta
        %input#address-lat{type: 'hidden', value: '48.8592', name: 'lat'}
        %input#address-lng{type: 'hidden', value: '2.3417', name: 'lng'}
        %input#address-city{type: 'hidden', value: 'Paris', name: 'address_name'}

      %div.button-wrapper
        %button.nowrap.btn.btn--blue{type: 'submit', id: 'submit_search_form'}
          %i.fa.fa-search
          Trouver un cours
