- params[:week_days]   ||= [] # I18n.t('date.day_names')
- params[:time_slots]  ||= [] # CoursAvenue::Application::TIME_SLOTS
- params[:time_range]  ||= {}

.home-page-search
  = form_tag courses_path, method: :get, authenticity_token: false, class: 'header-search-bar--dark', 'data-behavior' => 'course-search-form' do
    = render 'shared/header_search'
