- form_class    = ''                   if form_class.nil?
- lat           = '48.8592'            if lat.nil?
- lng           = '2.3417'             if lng.nil?
- city          = 'Paris'              if city.nil?
- subject_slug  = ''                   if subject_slug.nil?
- wrapper_class = 'header-search-bar'  if wrapper_class.nil?
.home-page-search
  = form_tag root_search_page_without_subject_path('paris'), method: :get, authenticity_token: false, data: { behavior: 'coursavenue-search' }, class: form_class, id: 'home-page-form' do
    .relative.flexbox.rounded{ class: wrapper_class }
      .flexbox__item.v-middle.search-input-wrapper.hard--ends.palm-hard
        .input-with-icon
          %input.palm-one-whole.input--large.one-whole.soft-half--left{ size: 19, placeholder:'Ville', type:'text', autocomplete: 'off', name:'address_name', value: city, data: { type:'address', lng:'#address-lng', lat: '#address-lat', city: '#address-city' , address_name: '#address-name' } }
          %i.cursor-pointer.fa.fa-location-arrow.delta{ data: { behavior: 'locate-me', toggle: 'popover', content: 'Utiliser ma position actuelle.', placement: 'left' } }
        %input#address-lat{ type: 'hidden', value: lat, name: 'lat' }
        %input#address-lng{ type: 'hidden', value: lng, name: 'lng' }
        %input#address-name{ type: 'hidden', value: city, name: 'address_name' }
        %input#address-city{ type: 'hidden', value: city, name: 'city' }
      .flexbox__item.v-middle.palm-text--center
        %button.nowrap.btn.btn--blue-green.btn--full.input--large{ type: 'submit', id: 'submit_search_form' } Trouver

= content_for :scripts do
  :javascript

    var setPosition = function setPosition (position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;

        $('input#address-lat').val(latitude);
        $('input#address-lng').val(longitude);
        $('input[name=address_name]').val('');

        $('form#home-page-form').submit();
    };

    var handleError = function handleError (positionError) {
        if (positionError.code == 1) {
            COURSAVENUE.helperMethods.flash('Vous avez refusé la géolocalisation.');
        } else if (positionError.code == 2) {
            COURSAVENUE.helperMethods.flash("La géolocalisation n'est pas disponible pour votre navigateur.");
        } else {
            COURSAVENUE.helperMethods.flash("La géolocalisation n'est pas disponible pour le moment, veuillez rééssayer dans quelques instants.");
        }
    };

    $(function() {
        $('[data-behavior=locate-me]').click(function(event) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setPosition, handleError);
            } else {
                COURSAVENUE.helperMethods.flash("La géolocalisation n'est pas disponible pour votre navigateur.");
            }
        });
    });

- if Rails.env.production?
  = content_for :scripts do
    :javascript
      $(function() {
          mixpanel.track_forms('#home-page-form', 'Searched on home page', function(form_element) {
              return {
                  referrer: document.referrer,
                  keyword: $(form_element).find('[name=name]').val()
              };
          });
      });
