%nav.proceed.nav-menu
  %ul.nav
    %li
      %a.menu-item{:href => '', :target => '_blank'} LeBonBlog
    %li
      %a.menu-item{:href => '#'} Comment ça marche ?
    %li
      %a.menu-item{:href => '#'} Contact
    %li
      %a.menu-item{:href => '#'} Réservez des salles

