%nav
  %ul
    %li
      %a{:href => '', :target => '_blank'} LeBonBlog
    %li
      %a{:href => '#'} Comment ça marche ?
    %li
      %a{:href => '#'} Contact
    %li
      %a{:href => '#'} Réservez des salles

