= content_for :above_container do
  .orange-box.hidden#join-the-community
    .soft-half.white.text--center.epsilon
      %strong Accédez à des offres exclusives en rejoignant la communauté CoursAvenue :
      = link_to 'Rejoindre gratuitement', '#', data: { behavior: 'sign-up' }, class: 'btn btn--yellow btn--small'
      = link_to '#', class: 'white float--right', data: { behavior: 'closer', el: '#join-the-community' } do
        %i.fa.fa-times
  = content_for :scripts do
    :javascript
        $(function() {
            setTimeout(function() {
                $('#join-the-community').slideDown();
            }, 3000)
        })
