.visuallyhidden--lap.visuallyhidden--palm{class: 'dropped-options', data: {behavior: 'dropped-options'}}>
  .dropped-options-title
    %i.lbc-icon-clock.dropped-options-icon
    %span Toute la journée
    %i.fa.fa-caret-down.dropped-options-caret-icon
  %ul{data: {behavior: 'checkbox-list'}}
    %li.grid--full
      %span.grid__item.one-sixth.text--center>= check_box_tag '', '', params[:time_slots].empty?, id: "search_time_slot_all", data: {value: 'all'}
      = label_tag "search_time_slot_all", 'Toute la journée', class: 'five-sixths grid__item'
    - Planning::TIME_SLOTS.each do |slot_symbole, slot|
      %li.grid--full
        %span.grid__item.one-sixth.text--center>= check_box_tag 'time_slots[]', slot_symbole, params[:time_slots].include?(slot_symbole.to_s), id: "search_time_slot_#{slot_symbole.to_s}"
        = label_tag "search_time_slot_#{slot_symbole.to_s}", slot[:name].html_safe, class: 'five-sixths grid__item'
