.bordered.bordered--dash.bordered--larger.f-weight-500.mega-soft--ends.text--center
  %p.delta.line-height-1-7
    Il n'existe pas encore de guide
  %div
    = link_to new_admin_guide_path, class: 'btn btn--green' do
      %i.fa.fa-plus
      Créer un guide
