= side_menu_currently_at 'Mes infos'

.panel
  = render partial: 'pro/structures/tabs', locals: { current: 'professeurs'}
  .panel__body.soft--ends
    .soft--sides
      .text--center.push--bottom
        = link_to 'Ajouter un professeur', new_pro_structure_teacher_path(@structure), class: 'fancybox.ajax btn btn--green btn--large', data: {behavior: 'modal', width: 700}

    - @teachers.each_with_index do |teacher, index|
      %hr.push--ends
      .soft--sides
        = render partial: 'pro/teachers/teacher', locals: { teacher: teacher }

    - if @teachers.empty?
      %p Aucun professeur n'est renseigné


