= side_menu_currently_at 'presentation'

= render partial: 'pro/structures/tabs', locals: { current: 'professeurs'}
.flexbox.push--bottom
  .flexbox__item.v-middle
    %h1.flush Professeurs
  .flexbox__item.v-middle.text--right
    = link_to new_pro_structure_teacher_path(@structure), class: 'fancybox.ajax btn btn--green', data: { behavior: 'modal', width: 700 } do
      %i.fa.fa-plus
      Ajouter un professeur

.soft--top
  - @teachers.each_with_index do |teacher, index|
    = render partial: 'pro/teachers/teacher', locals: { teacher: teacher }
  - if @teachers.empty?
    %p Aucun professeur n'est renseigné.
