.push-half--ends.center-block{style: 'width: 800px;'}
  .grid--full.visuallyhidden--lap
    .grid__item.text--center.epsilon.soft-half.relative.v-middle{style: 'width: 30%;' }>
      = link_to structures_path, class: 'block muted-link pointer white-box soft-half white-box--rounded', data: { toggle: 'popover', content: "Trouvez le cours correspondant à tous vos critères : discipline, lieu, niveau, horaires, prix, etc.", 'original-title' => 'Trouvez', trigger: 'hover', placement: 'top'} do
        = image_tag "icons/search-geoloc.png", height: 27, class: 'v-middle push-half--right'
        %span.v-middle 1. Trouvez
    .grid__item.text--center.relative.v-middle{style: 'width: 5%;' }>
      %i.fa.fa-chevron-right.alpha.smooth-black-text-shadow.white
    .grid__item.text--center.epsilon.soft-half.relative.v-middle{style: 'width: 30%;' }>
      .pointer.white-box.soft-half.white-box--rounded{data: { toggle: 'popover', content: "Contactez gratuitement le professeur, l’association ou l'école pour un stage, une 1ère séance ou un cours d'essai gratuit.", placement: 'top', 'original-title' => 'Contactez gratuitement', trigger: 'hover' } }
        %i.fa.fa-phone.gamma.v-middle.push-half--right.line-height-normal
        %span.v-middle 2. Contactez
    .grid__item.text--center.relative.v-middle{style: 'width: 5%;' }>
      %i.fa.fa-chevron-right.alpha.smooth-black-text-shadow.white
    .grid__item.text--center.epsilon.soft-half.relative.v-middle{style: 'width: 30%;' }>
      .pointer.white-box.soft-half.white-box--rounded{data: { toggle: 'popover', content: "Une fois inscrit, assistez au cours puis laissez votre témoignage : votre expérience est précieuse pour les prochains élèves !", placement: 'top', trigger: 'hover', 'original-title' => 'Apprenez et recommandez' } }
        %i.fa.fa-check.gamma.v-middle.push-half--right.line-height-normal
        %span.v-middle 3. Assistez au cours
