.main-container.soft
  .push--sides
    %h2.soft--bottom.text--center.f-weight-300 Les avantages de CoursAvenue
    .grid--full
      .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/icon-handshake-circle.png', width: 70
      .grid__item.three-twelfths.palm-one-whole>
        %h4.push-half--bottom Mise en relation gratuite
        %p.epsilon Contactez gratuitement chaque profil&nbsp;: comme vous, nous détestons les numéros surtaxés
      .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/icon-promotion-circle.png', width: 70
      .grid__item.three-twelfths.palm-one-whole>
        %h4.push-half--bottom Essais gratuits & promotions
        %p.epsilon
          Bénéficiez de cours d'essai gratuits
          %br
          et d'offres exclusives
      .grid__item.one-twelfth.palm-one-whole.text--right.palm-text--center.soft--right>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/icon-money-circle.png', width: 70
      .grid__item.three-twelfths.palm-one-whole>
        %h4.push-half--bottom Paiement sur place
        %p.epsilon Payez directement votre professeur lors de votre séance
