- bg_urls = []
- bg_urls << 'https://ppcdn.500px.org/65148449/12019bf663df81338534c0f9a8550d9310cb2727/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/3831514/36c4f7e1d0a562973ac4f8225ea80504b033fb8b/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/61826491/2d5fda16d198912821b3f08995f1c16711b06733/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/73134933/8898dd4b99500e764d650652c1bb02c2fa57c9a9/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/67085727/67bcf53ad53a975f1478308ae5d0964503038dff/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/48157174/e4fb0c6c5b64f4e57cc0aaf8091abedb82427668/2048.jpg'

:css
  #video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
  }
  /* 1. Pas de support d'object-fit */

.full-screen-item.one-whole.relative.overflow-hidden
  -# poster attribute: first image of the video
  %video#video{ preload: 'auto', loop: 'loop', autoplay: true }
    %source{ type: "video/mp4", src: 'http://coursavenue-public.s3.amazonaws.com/public_assets/videos/coursavenue_homepage_video.mp4' }
    %source{ type: "video/mp4", src: 'http://coursavenue-public.s3.amazonaws.com/public_assets/videos/coursavenue_homepage_video.webm' }
    -# %source{ type: "video/mp4", src: asset_path('coursavenue_homepage_video.mp4') }
    -# %source{ type: "video/mp4", src: asset_path('coursavenue_homepage_video.webm') }
    -# %source{ type: "video/mp4", src: 'http://a0.muscache.com/airbnb/static/London-P1-1.mp4' }
    -# %source{ type: "video/webm", src: 'http://a0.muscache.com/airbnb/static/London-P1-0.webm' }
    -# <source type="video/webm" src="mavideo.webm" media="(orientation: landscape)">

  -# %ul.home-slides.no-bullet-list
  -#   - bg_urls.each do |bg_url|
  -#     %li.bg-position-top.relative.full-screen-item.home-screen.soft--top.bg-cover{ style: "background-image: url(#{bg_url});", data: { behavior: 'parallax' } }
  -# .north.west.one-whole.on-top.soft.white
  .relative.full-screen-item.white.soft
    .grid
      .grid__item.one-half>
        = image_tag 'logos/logo.png', width: 250, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }, class: 'v-middle'
      .grid__item.one-half>
        .white.text--right.one-whole.soft--right#user-nav.inline-block.v-middle.user-nav--home
    .text--center.absolute.one-whole{ style: ' top: 30vh;' }
      %h1.f-size-really-big.palm-text--center.soft--top.soft-black-text-shadow.flush
        ARTS. SPORTS. BIEN-ÊTRE.
      %h3.palm-text--center.push--bottom.soft-black-text-shadow
        Trouvez votre cours de loisir idéal.
      .push--bottom.soft--bottom
        .text--center
          = render partial: 'shared/home_page_search_form', locals: { form_class: 'header-search-bar center-block' }
    .text--center.absolute.one-whole{ style: ' top: 85%;' }
      %a.not-outlined.white{ href: '#vivez-passionnement', data: { behavior: 'scroll-to', duration: 900 } }
        %i.fa.fa-chevron-down.fa-4x.smooth-black-text-shadow

- content_for :scripts do
  :javascript
    document.getElementById('video').play()

-# - content_for :scripts do
-#   :javascript
-#     $(function() {
-#         $(".home-slides").responsiveSlides({
-#             timeout      : 7000,
-#             pager        : false,  // Boolean: Show pager, true or false
-#             pauseControls: true    // Boolean: Pause when hovering controls, true or false
-#         });
-#     })
