- bg_urls = []
- bg_urls << 'https://ppcdn.500px.org/65148449/12019bf663df81338534c0f9a8550d9310cb2727/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/3831514/36c4f7e1d0a562973ac4f8225ea80504b033fb8b/2048.jpg'
- bg_urls << 'https://ppcdn.500px.org/83339053/2e51a23781b8588938184d78c7e2be22610ca68e/2048.jpg'

.bg-position-top.has-parallax.relative.full-screen-item.home-screen.soft--top.white.bg-cover{ style: "background-image: url(#{bg_urls.sample});" }
  .text--center.absolute.one-whole{ style: ' top: 13%;' }
    = image_tag 'logos/logo.png', width: 300, alt: 'CoursAvenue.com - Les meilleurs cours de loisirs de votre ville', data: { src2x: asset_path('logos/logo@2x.png') }, class: 'v-middle'
    %h1.f-size-big.palm-text--center.soft--top.soft-black-text-shadow.flush
      ARTS. SPORTS. BIEN-ÊTRE.
    %h4.palm-text--center.push--bottom.soft-black-text-shadow
      TROUVEZ VOTRE COURS DE LOISIR IDÉAL.
    .push--bottom.soft--bottom
      = render partial: 'shared/home_page_search_form', locals: { wrapper_class: 'header-search-bar center-block'}
  .text--center.absolute.one-whole{ style: ' top: 85%;' }
    %a.not-outlined.white{ href: '#content', data: { behavior: 'scroll-to', duration: 900, 'offset-top' => '-45' } }
      %i.fa.fa-chevron-down.fa-4x.smooth-black-text-shadow

- content_for :scripts do
  :javascript
    $(window).scroll(function () {
        var scrollAmount = $(window).scrollTop() / 5;
        scrollAmount = Math.round(scrollAmount);
        $('.has-parallax').css('backgroundPosition', '50% ' + scrollAmount + 'px');
        if ($(window).scrollTop() > 100) {
            $('#coursavenue-header').addClass('sticky-nav--visible');
        } else {
            $('#coursavenue-header').removeClass('sticky-nav--visible');
        }
    });

