.grid
  .grid__item.one-third.palm-one-whole>
    .flexbox
      .flexbox__item.one-fifth.v-middle.soft--right>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/icon-search-circle.png', width: 70
      .flexbox__item.four-fifths.v-middle>
        %h3.push-half--bottom.f-weight-300 Repérez
        %p.epsilon les associations, écoles et professeurs près de vous.
  .grid__item.one-third.palm-one-whole>
    .flexbox
      .flexbox__item.one-fifth.v-middle.soft--right>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/icon-check-circle.png', width: 70
      .flexbox__item.four-fifths.v-middle>
        %h3.push-half--bottom.f-weight-300 Choisissez
        %p.epsilon
          les cours de votre choix.
          %br
          %br
  .grid__item.one-third.palm-one-whole>
    .flexbox
      .flexbox__item.one-fifth.v-middle.soft--right>
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/icons/icon-user-circle.png', width: 70
      .flexbox__item.four-fifths.v-middle>
        %h3.push-half--bottom.f-weight-300 Contactez
        %p.epsilon gratuitement pour une première séance.
