- subdomain          = 'staging' if request.subdomain.include? 'staging'
- participation_link = open_courses_url(subdomain: (subdomain || 'www')) if participation_link.nil?
- know_more_link     = pages_jpo_url(subdomain: (subdomain || 'www'))    if know_more_link.nil?
.jpo-banner-warpper>
  .jpo-banner.soft.relative>
    = link_to 'https://www.youtube.com/watch?v=mIGU39mHc78', id: 'video-strip', class: 'absolute video-strip north text--center visuallyhidden--palm soft-half muted-link', style: 'top;', data: { behavior: 'fancy', height: 560, width: 1000 } do
      %i.fa.fa-play.white.v-middle
      %span.white.v-middle.ff-open-sans.f-weight-300{style: 'margin-left: 3px;'} VOIR LA VIDÉO
    .main-container.soft--top>
      .block.jpo-banner-logo
      .jpo-fanion.relative>
        %p.flush.jpo-fanion__text.ff-open-sans.f-style-italic.text--center.absolute>
          %span.f-weight-300 Week-end
          %br
          des
          %span.f-weight-600 5 et 6 avril
          %br
          %span.f-weight-300 en Île-de-France
      .text--center.relative.jpo-call-to-actions.inline-block{ style: (request.subdomain == 'pro' ? 'margin-left: 200px;' : '')}
        = link_to participation_link, class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides', onclick: "ga('send', 'event', 'Participer', 'click', 'JPO banner')" do
          - if request.subdomain == 'pro'
            Participer
          - else
            Trouver un cours gratuit
        %br>
        = link_to 'En savoir plus', know_more_link, class: 'white f-decoration-underlined milli', target: :_blank
      .jpo-map.absolute
      = link_to '', 'https://www.youtube.com/watch?v=mIGU39mHc78', id: 'show-video',  class: 'jpo-bubble absolute', data: { behavior: 'fancy', height: 560, width: 1000 }
  .jpo-frise>
