.jpo-banner-warpper.visuallyhidden--palm>
  .jpo-banner.soft.relative>
    .main-container.soft--top>
      .jpo-popup-rotation.relative.soft--left.white.f-weight-bold{ style: 'top: -25px; font-size: 40px'} 4 000 cours d'essai Gratuits
      .jpo-fanion.relative.push--top>
        %p.flush.jpo-fanion__text.f-style-italic.text--center.absolute>
          %span.f-weight-300 Essayez autant
          %br
          de
          %span.f-weight-600 cours de loisirs
          %br
          %span.f-weight-300 que vous voulez !
      .text--center.relative.jpo-call-to-actions.inline-block
        = link_to root_search_page_without_subject_path('paris'), class: 'btn btn--yellow btn--bigger soft-half--ends soft--sides' do
          Voir les cours gratuits
        .text--center
          = link_to pages_free_trial_path, class: 'white mixpanel-tracker', data: { info: 'Homepage'} do
            En savoir plus
      .jpo-map.absolute
  .jpo-frise>
