- cache "home_subjects_guide_#{ENV["ETAG_VERSION_ID"]}" do
  - arts    = Subject.fetch_by_id_or_slug('dessin-peinture-arts-plastiques')
  - dance   = Subject.fetch_by_id_or_slug('danse')
  - theatre = Subject.fetch_by_id_or_slug('theatre-scene')
  - music   = Subject.fetch_by_id_or_slug('musique-chant')
  - yoga    = Subject.fetch_by_id_or_slug('yoga-bien-etre-sante')
  - sports  = Subject.fetch_by_id_or_slug('sports-arts-martiaux')
  .text--center
    %h3.push-half--bottom.beta Vivez passionnément
    %h5.epsilon.push--bottom.soft--bottom Des centaines de disciplines pour trouver celle qui vous correspond le mieux
  .flexbox.push--bottom
    .flexbox__item.soft-half--sides.one-third
      .bg-cover{ style: "height: 400px; background-image: url('https://ppcdn.500px.org/38117206/f48450e1b25db94dcde5718ef40226b3c9920f03/5.jpg');" }>
        %a.relative.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page_path(dance.vertical_pages.first), title: "Cours de danse" }>
          .home-screen-gallery__title.text--center
            %h2.beta.flush.soft--sides Danse
            .f-weight-bold.show-on-hover__child.f-size-14 Découvrir
    .flexbox__item.soft-half--sides.one-third
      .bg-cover{ style: "height: 400px; background-image: url('https://ppcdn.500px.org/62708827/68061a5f00835ec010ee02bc23a707a76cd7d5c1/2048.jpg');" }>
        %a.relative.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page_path(music.vertical_pages.first), title: "Cours de musique et chant" }>
          .home-screen-gallery__title.text--center
            %h2.beta.flush.soft--sides Musique & Chant
            .f-weight-bold.show-on-hover__child.f-size-14 Découvrir
    .flexbox__item.soft-half--sides.one-third
      .bg-cover{ style: "height: 400px; background-image: url('https://ppcdn.500px.org/80518949/10268d2e85edcf0458f71cfd879ec8bd9c711f76/5.jpg');" }>
        %a.relative.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page_path(theatre.vertical_pages.first), title: "Cours de théâtre et scène" }>
          .home-screen-gallery__title.text--center
            %h2.beta.flush.soft--sides Théâtre & Scène
            .f-weight-bold.show-on-hover__child.f-size-14 Découvrir

  .flexbox
    .flexbox__item.soft-half--sides.one-third
      .bg-cover{ style: "height: 400px; background-image: url('https://ppcdn.500px.org/73420993/c727f25529f2b164815e00329bab17c623ecc77c/5.jpg');" }>
        %a.relative.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page_path(sports.vertical_pages.first), title: "Cours de danse" }>
          .home-screen-gallery__title.text--center
            %h2.beta.flush.soft--sides Sports & Arts martiaux
            .f-weight-bold.show-on-hover__child.f-size-14 Découvrir
    .flexbox__item.soft-half--sides.one-third
      .bg-cover{ style: "height: 400px; background-image: url('https://ppcdn.500px.org/76231107/4d98c90bfa91b533b7f74711b9f6f2e980082481/5.jpg');" }>
        %a.relative.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page_path(yoga.vertical_pages.first), title: "Cours de musique et chant" }>
          .home-screen-gallery__title.text--center
            %h2.beta.flush.soft--sides Yoga, Bien-être & Santé
            .f-weight-bold.show-on-hover__child.f-size-14 Découvrir
    .flexbox__item.soft-half--sides.one-third
      .bg-cover{ style: "height: 400px; background-image: url('https://ppcdn.500px.org/67085729/3cb59d77a59a9c4f2cac9fa09099b7dde5a8ca9d/5.jpg');" }>
        %a.relative.block.show-on-hover__wrapper.show-on-hover__wrapper--black-curtain{ href: root_vertical_page_path(arts.vertical_pages.first), title: "Cours de théâtre et scène" }>
          .home-screen-gallery__title.text--center
            %h2.beta.flush.soft--sides Dessins, Peinture & Arts plastiques
            .f-weight-bold.show-on-hover__child.f-size-14 Découvrir
