<div class="push--bottom {{#unless is_last}}bordered--bottom{{/unless}}">
    <div class="float--right palm-float-none push-half--bottom">
        {{#if min_price}}
            <div class="text--center push-half--bottom f-weight-500">
                {{#if min_price.is_free}}
                <strong class="green delta v-bottom">Essai gratuit</strong>
                {{else}}
                    <span class="f-weight-500 gray-light v-bottom">À p. de </span>
                    {{#if min_price.readable_promo_amount}}
                        {{#if min_price.readable_amount}}<span class="line-through epsilon">{{{ min_price.readable_amount }}}</span>{{/if}}
                        <span class="green gamma">{{{ min_price.readable_promo_amount }}}</span>
                    {{else}}
                        <span class="gamma v-bottom">{{{ min_price.readable_amount }}}</span>
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
        {{#unless is_sleeping}}
            <div class="text--center">
                {{#if accepts_payment}}
                    <a data-behavior="register-to-course" class="btn btn--green soft--sides btn--full block">Payer par <i class="fa-credit-card"></i></a>
                    <i>Annulation gratuite</i>
                {{else}}
                    <a data-behavior="register-to-course" class="btn btn--green soft--sides btn--full">M'inscrire</a>
                {{/if}}
            </div>
        {{/unless}}
    </div>
    <div class="push-half--bottom">
        <h3 class="v-middle flush--bottom push-half--right inline-block delta">{{ name }}</h3>
    </div>
    <div class="line-height-2"><!--
     -->{{#each details}}<!--
     --><div class="inline-block v-middle push-half--bottom soft-half--right">
            <div class="flexbox push-half--right">
                <div class="flexbox__item v-middle text--center">
                    <i class="fa {{this.icon}} v-middle" title="{{this.alt}}"></i>
                </div>
                <div class="flexbox__item soft-half--left v-middle">
                    {{this.text}}
                </div>
            </div>
        </div><!--
     -->{{/each}}<!--
  --></div>
    <div class="push--bottom">
        <table class="push-half--bottom table--striped table--data table--data-small table-responsive">
            <thead class="gray-light">
                <tr>
                    <th class="one-tenths">Jour</th>
                    <th class="two-tenths">Horaires</th>
                    <th class="two-tenths">Niveau</th>
                    <th class="two-tenths">Public</th>
                    <th class="three-tenths">Lieu</th>
                    <th><i class="fa-info"></i></th>
                </tr>
            </thead>
            <tbody data-type="plannings-container"></tbody>
        </table>
    </div>
    <div class="push--bottom">
        <div>
            <a href="#" data-behavior="show-long-version" data-long-version=".course-{{id}}-know-more">Plus de détails <i class="fa fa-caret-down"></i></a>
        </div>
    </div>
    {{#unlessBlank description}}
        <div class="flexbox push--bottom course-{{id}}-know-more hidden">
            <div class="flexbox__item v-top one-fifth">
                <strong class="gray-light">Description</strong>
            </div>
            <div class="flexbox__item v-top four-fifths">
                {{#ifCond description '!=' description_short}}
                <div id="course-{{id}}-description-short" class="gray last-p-flush">
                    {{{ simple_format_hide_contacts description_short }}}
                </div>
                <a href="#" data-behavior="show-long-version" data-short-version="#course-{{id}}-description-short" data-long-version="#course-{{id}}-description-long">
                + Plus
                </a>
                <div id="course-{{id}}-description-long" class="gray last-p-flush hidden" itemprop="description">
                    {{{ simple_format_hide_contacts description }}}
                </div>
                {{else}}
                <div class="gray last-p-flush" itemprop="description">
                    {{{ simple_format_hide_contacts description }}}
                </div>
                {{/ifCond}}
            </div>
        </div>
    {{/unlessBlank}}
    <div class="flexbox push--bottom course-{{id}}-know-more hidden">
        <div class="flexbox__item v-top one-fifth">
            <strong class="gray-light v-middle">Tarifs</strong>
        </div>
        <div class="flexbox__item v-top four-fifths">
            <div data-type="prices-collection-container"></div>
        </div>
    </div>
    <div class="flexbox push--bottom course-{{id}}-know-more hidden">
        <div class="flexbox__item v-top one-fifth">
            <strong class="gray-light v-middle">Disciplines</strong>
        </div>
        <div class="flexbox__item v-top four-fifths">
            <div class="course-{{id}}-know-more hidden" data-type="subjects-collection-container"></div>
        </div>
    </div>
</div>
