= user_menu_currently_at 'Mes messages'

%ol.nav.breadcrumb.epsilon.push-half--bottom
  %li= link_to 'Tous mes messages', user_conversations_path(current_user)
  %li Nouveau message

.form-white-box
  = render 'form'
