= user_menu_currently_at 'inbox'

.panel
  .panel__header.soft
    %ol.nav.breadcrumb.epsilon.flush
      %li.delta= link_to 'Tous mes messages', user_conversations_path(current_user)
      %li.delta Nouveau message
  .panel__body.soft
    = render 'form'
