= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'subscription_plans' ? 'active' : '' }
      = link_to pro_subscription_plans_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends' do
        Abonnements
    %li{ class: current == 'promotion_codes' ? 'active' : '' }
      = link_to pro_promotion_codes_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends' do
        Code promos
    -# %li{ class: current == 'premium_tracking' ? 'active' : '' }
    -#   = link_to premium_tracking_pro_subscription_plans_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends' do
    -#     Suivi Premium
    -# %li{ class: current == 'unsubscribed_tracking' ? 'active' : '' }
    -#   = link_to unsubscribed_tracking_pro_subscription_plans_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends' do
    -#     Suivi Désabonnés
