- if @tag.persisted?
  - url = pro_structure_tag_path(@structure, @tag)
- else
  - url = pro_structure_tags_path(@structure)

.panel
  .panel__header.soft
    %h3.flush Ajouter une étiquette
  .panel__body.soft
    = simple_form_for [:pro, @structure, @tag], url: url, html: { autocomplete: 'false' }, as: :tag do |f|
      = f.error_notification

      = f.input :name, label: "Nom de l'étiquette", label_html: { class: 'label--large' }, input_html: { class: 'input--large'}

      .push--top.grid
        .grid__item.one-quarter>
          %a.btn.btn--gray.btn--full Annuler
        .grid__item.three-quarters>
          = f.submit 'Enregistrer',  class: 'btn btn--green btn--full', data: { disable_with: "En cours d'enregistrement" }

