%p Bonjour,

%p
  Bienvenue sur CoursAvenue ! Pour commencer, vous devez confirmer votre adresse e-mail :

%p.action
  = link_to 'Valider mon inscription', pro_admin_confirmation_url(confirmation_token: @token, subdomain: 'pro'), class: 'btn btn--green'

%p
  Très bonne journée,
  %br
  L'équipe CoursAvenue
