%p Bienvenue !

%p Nous sommes ravis de vous accueillir sur CoursAvenue qui va vous permettre de gagner la confiance des Internautes grâce aux avis positifs de vos élèves.

%p
  Validez votre inscription en cliquant sur ce lien :
  = link_to 'valider mon inscription', pro_admin_confirmation_url(confirmation_token: @resource.confirmation_token, subdomain: 'pro')

%p À très bientôt,

%p L'équipe de CoursAvenue

