- content_for :email_title do
  - if @resource.sign_in_count > 1
    Nous avons bien pris en compte votre changement d'e-mail.
  - else
    Bienvenue sur CoursAvenue ! Pour commencer, vous devez confirmer votre adresse e-mail.

- @admin      = @resource
- @structure  = @admin.structure
- @structures = @structure.similar_profiles(4)


- if @resource.sign_in_count > 1
  .p Bonjour
  .p
    Nous avons bien pris en compte votre changement d'e-mail. Pour valider ce changement veuillez cliquer sur le lien de validation suivant :

  .p.action
    = link_to pro_admin_confirmation_url(confirmation_token: @token, subdomain: 'pro'), class: 'btn btn--green' do
      Confirmer mon e-mail

- else
  .title
    Bienvenue sur CoursAvenue !

  .p
    Pour nous assurer que vous recevrez correctement les inscriptions d'élèves, vous devez confirmer votre e-mail. Pour cela, il vous suffit de cliquer sur ce lien :


  .p.action
    = link_to pro_admin_confirmation_url(confirmation_token: @token, subdomain: 'pro'), class: 'btn btn--green' do
      Confirmer mon e-mail

  = render 'shared/mailers/footer'

  - if @structures.length == 4
    - content_for :under_content do
      = render 'admin_mailer/similare_profiles'

  - content_for :under_content_gray do
    .title Les étapes pour un profil complet
    %ul.flush--bottom.hard--bottom
      %li Complétez vos informations générales et ajoutez votre logo
      %li Demandez des recommandations à vos élèves
      %li Renseignez votre planning de cours et stages
      %li Mettez en ligne vos photos et vidéos

