%p Bonjour,

%p
  Validez votre inscription en cliquant sur le bouton suivant :

%p.action
  = link_to 'Valider mon inscription', pro_admin_confirmation_url(confirmation_token: @token, subdomain: 'pro'), class: 'btn btn--blue'

%p L'équipe de CoursAvenue

