%p Bienvenue sur CoursAvenue !

%p Nous sommes ravis de vous accueillir sur notre plateforme qui vous aidera à augmenter votre visibilité très rapidement.

%p
  Veuillez cliquer sur le lien suivant pour valider votre inscription :
  = link_to 'valider mon inscription', pro_admin_confirmation_url(confirmation_token: @resource.confirmation_token, subdomain: 'pro')

%p À très bientôt,

%p L'équipe de CoursAvenue

