%p Bonjour,

- if @resource.unconfirmed_email.present?
  %p
    Nous avons bien pris en compte votre changement d'e-mail. Pour valider ce changement veuillez cliquer sur le lien de validation suivant :
- else
  %p
    Bienvenue sur CoursAvenue ! Pour commencer, vous devez confirmer votre adresse e-mail :

%p.action
  = link_to pro_admin_confirmation_url(confirmation_token: @token, subdomain: 'pro'), class: 'btn btn--green' do
    - if @resource.unconfirmed_email.present?
      Valider mon nouvel e-mail
    - else
      Valider mon inscription

%p
  Très bonne journée,
  %br
  L'équipe CoursAvenue
