<p>Bonjour <%= @resource.email %>!</p>

<p>LeBonCours vous invite à vous connecter à l'espace administrateur.</p>

<p>Cliquez sur le lien ci-dessous pour choisir votre mot de passe et accéder à votre espace personnel.</p>

<p><%= link_to "Accepter l'invitation", accept_admin_admin_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

