.panel__body.soft{style: 'max-width: 550px;'}
  %p.delta
    %strong 2. Boostez votre bouche-à-oreille grâce à votre communauté
  .grid
    .grid__item.one-quarter.text--center.giga>
      %i.fa.fa-comment
    .grid__item.three-quarters>
      %p.epsilon
        Entrez les e-mails de tous ceux qui vous connaissent : ils seront alors invités à partager leur expérience et à conseiller des internautes souhaitant venir chez vous pour la 1ère fois. Le bouche-à-oreille va vous apporter de nouvelles inscriptions !
  .text--center
    %a.btn.btn--green{ onclick: '$.fancybox.next();' }
      Suivant : Apparaissez sur CoursAvenue
