.panel__body.soft{style: 'max-width: 550px;'}
  %p.delta
    %strong 1. Affichez sur votre site Internet un planning simple et efficace
  .grid
    .grid__item.one-quarter.text--center.giga>
      %i.fa.fa-calendar
    .grid__item.three-quarters>
      %p.epsilon
        Après avoir renseigné vos activités, équipez votre propre site d'une page planning qui convertit plus d'inscrits, est optimisée pour mobiles et propose l'inscription ligne (avec ou sans paiement).
      %p.epsilon
        = link_to 'Cliquez ici', 'http://www.jazzhip.com/', target: :_blank
        %em puis sur "Voir le planning" pour voir un exemple.
  .text--center
    %a.btn.btn--green{ onclick: '$.fancybox.next();' }
      Suivant : Boostez votre bouche-à-oreille
