.panel__body.soft{style: 'max-width: 550px;'}
  %p.delta
    %i.fa.fa-envelope-o
    %strong 4. Envoyez des newsletters belles et efficaces
  %p.epsilon
    Envoyez une newsletter au minimum une fois par mois grâce à notre outil qui va vous simplifier la vie : il vous suffit d'entrer les emails de vos destinataires, de paramétrer le contenu, et hop c'est envoyé ! Vous allez fidéliser vos membres et augmenter vos inscriptions.
  .text--center
    %a.btn.btn--green{ onclick: '$.fancybox.next();' }
      Suivant : Contactez-nous à tout moment
