.panel__body.soft{style: 'max-width: 550px;'}
  %p.delta
    %strong 3. Apparaissez sur le moteur de recherche CoursAvenue.com
  .grid
    .grid__item.one-quarter.text--center.giga>
      %i.fa.fa-search
    .grid__item.three-quarters>
      %p.epsilon
        Complétez vos informations de profil et apparaissez en tête des résultats du moteur de recherche géolocalisé CoursAvenue.com. Les Internautes intéressés par vos cours pourront alors vous envoyer une demande d'inscription ou interroger votre communauté.
  .text--center
    %a.btn.btn--green{ onclick: '$.fancybox.next();' }
      Suivant : Envoyez de belles newsletters
