.panel__body.soft
  %h2.text--center
    Bienvenue sur CoursAvenue !
  %p.epsilon.text--center
    Découvrez tout sur CoursAvenue en parcourant notre rapide guide&nbsp;:
  .text--center
    %a.btn.btn--green{ onclick: '$.fancybox.next();' }
      Parcourir le guide de démarrage
