.panel__body.soft{style: 'max-width: 550px;'}
  %p.delta
    %strong 5. Contactez-nous quand vous voulez
  .grid
    .grid__item.one-quarter.text--center.giga>
      %i.fa.fa-pencil
    .grid__item.three-quarters>
      %p.epsilon
        Nous aimons ce que nous faisons et nous faisons tout pour le faire au mieux. Si toutefois vous avez des suggestions ou des questions, envoyez-nous votre demande : il vous suffit de cliquer sur le point d'interrogation en bas à droite de l'écran. Nous répondons en général dans la journée !
  .text--center
    %a.btn.btn--green{ onclick: '$.fancybox.close();' } Compléter mon profil
