<div data-type="loader" class="filtered-search__loader" style="display: none;">
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block" height="10">
</div>
<div class="flexbox">
  <section id="widgets-container" class="filtered-search__map-wrapper flexbox__item four-tenths relative visuallyhidden--palm" data-type="google-maps">
      {{#each widget}}
          <div id="{{ id }}" data-type="widget"></div>
      {{/each}}
  </section>

  <section class="filtered-search__list-wrapper flexbox__item six-tenths palm-one-whole">
      <div class="white-box soft-half--bottom">
          <div class="visuallyhidden--lap-and-up soft-half--sides">
              <div class="text--center"><strong>Lieux</strong></div>
              <div id="mobile-location-filter"></div>
              <hr class="push--ends" />
          </div>
          <div class="soft-half--sides push--bottom" data-type="subjects-collection"></div>

          <div class="soft-half--sides" data-type="filters-results">
              <div class="hard--top collapse" id="advanced-filters">
                  <hr/>
                  <div data-type="keyword-filter"></div>
                  <hr class="push--ends" />
                  <div data-type="audience-filter"></div>
                  <hr class="push--ends" />
                  <div data-type="level-filter"></div>
                  <hr class="push--ends" />
                  <div class="one-whole" data-type="trial-course-filter"></div>
                  <hr class="push--ends" />
                  <div class="one-whole" data-type="price-filter"></div>
                  <hr class="push--ends" />
                  <div class="one-whole" data-type="date-filter"></div>
                  <hr class="push--ends" />
                  <div data-type="course-type-filter"></div>
                  <hr class="push--ends" />
                  <div class="one-whole" data-type="discount-filter"></div>
                  <hr class="push--ends" />
                  <div data-type="payment-method-filter"></div>
                  <hr class="push--ends" />
                  <div data-type="structure-type-filter"></div>
                  <hr class="push--ends" />
                  <button class="btn btn--blue-green btn--full text--center" data-toggle="collapse" data-target="#advanced-filters">Voir les résultats</button>
              </div>
          </div>
          <div>
              <div data-behavior="sticky" class="bordered--bottom-on-stick">
                  <div class="flexbox soft-half--sides soft-half--ends bg-white">
                      <div class="flexbox__item palm-one-whole v-middle" data-type="filter-breadcrumbs">
                      </div><!--
                   --><div class="flexbox__item text--right palm-one-whole v-middle" data-type="results-summary">
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="active tab-pane" id="search-results" data-tab="search-results"></div>
      <hr class="push--sides">
      <footer class="push-half--bottom">
          <div class="one-whole" data-type="pagination-bottom"></div>
      </footer>
  </section>
</div>
