<div data-type="loader" class="filtered-search__loader" style="display: none;">
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block" height="10">
</div>
<section id="widgets-container" class="filtered-search__map-wrapper relative" data-type="google-maps">
    {{#each widget}}
        <div id="{{ id }}" data-type="widget"></div>
    {{/each}}
</section>

<section class="filtered-search__list-wrapper">
    <header class="flexbox page-entries-wrapper soft-half">
        <div class="one-whole" data-type="subject-filter"></div>
        <div class="one-whole" data-type="keyword-filter"></div>
        <div data-type="results-summary"></div>
    </header>

    <div id="search-results">
    </div>
    <div class="filtered-search__infinite-scroll text--center" data-type="infinite-scroll-button"></div>

</section>
