<div data-type="loader" class="filtered-search__loader" style="display: none;">
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block" height="10">
</div>
<section id="widgets-container" class="filtered-search__map-wrapper relative" data-type="google-maps">
    {{#each widget}}
        <div id="{{ id }}" data-type="widget"></div>
    {{/each}}
</section>

<section class="filtered-search__list-wrapper">
    <header class="flexbox page-entries-wrapper soft-half">
        <div class="one-whole" data-type="subject-filter"></div>
        <div class="one-whole" data-type="keyword-filter"></div>
        <div data-type="results-summary"></div>
    </header>

    </header class="flexbox">
        <button class="one-eigths" data-toggle="tab" data-target="[data-tab=advanced-filters]">More Filters</button>
        <div class="six-eigths" data-type="filter-breadcrumbs"></div>
    <header>


    <div class="filtered-search__tab-group" data-type="filters-results" data-behaviour="tab-group">
        <div class="tab-pane" data-tab="advanced-filters">
            <h6>Advanced Filters</h6>

            <div class="one-whole" data-type="level-filter"></div>
            <div class="one-whole" data-type="course-type-filter"></div>
            <div class="one-whole" data-type="audience-filter"></div>
            <button class="one-eigths" data-toggle="tab" data-target="[data-tab=search-results]">Less Filters</button>
        </div>
        <div class="active tab-pane" id="search-results" data-tab="search-results"></div>
    <div>

    <div class="filtered-search__infinite-scroll text--center" data-type="infinite-scroll-button"></div>

</section>
