%div.push-half--bottom
  %span.has-tooltip{ data: { toggle: 'popover', content: t('tooltips.pro.participation_requests.dont_send_contact_info'), html: 'true', placement: 'top', trigger: 'hover' } }
    N'échangez aucune information de contact.
    %i.fa.fa-question-circle
