.bg-blue-green.rounded.soft.white.epsilon.push--bottom#pr-confirmation-form
  %h3.push-half--bottom
    Demande d'inscription
    %u annulée
  .delta.line-height-1-7.push-half--bottom
    %strong #{@user.name} n'assistera pas à la séance "#{@participation_request.course.name}" le #{@participation_request.day_and_hour(false)}
    %br
    = link_to 'Modifier', edit_pro_structure_participation_request_path(@structure, @participation_request, show_course_select: true), class: 'btn btn--white-transparent--orange btn--white-transparent btn--small fancybox.ajax', data: { behavior: 'modal', width: 500, padding: 0 }
