= render partial: 'pro/participation_requests/modify_date', locals: { logo_url: @participation_request.user.avatar_url(:thumb), name: @participation_request.user.first_name, simple_form_array: [:pro, @structure, @participation_request], simple_form_url: modify_date_pro_structure_participation_request_path(@structure, @participation_request) }
