= side_menu_currently_at 'inscriptions'

.panel
  .panel__header.soft
    %h3.flush Mes inscriptions
  .panel__body.soft
    %h4 Inscriptions à venir
    %table.table--data.table--striped.table-not-bordered
      %thead
        %tr
          %th Statut
          %th Cours et date
          %th Participant
          %th Détails
      %tbody
        - @upcoming_participation_requests.each do |participation_request|
          = render partial: 'participation_request', locals: { participation_request: participation_request }
    %hr
    %p.flush
      = link_to "Voir tout l'historique des inscriptions", '#', data: { behavior: 'show-long-version', 'long-version' => '#previous-subscriptions'}
    .hidden#previous-subscriptions
      %h4 Inscriptions passées
      %table.table--data.table--striped.table-not-bordered
        %thead
          %tr
          %th Statut
          %th Cours et date
          %th Participant
          %th Détails
        %tbody
          - @past_participation_requests.each do |participation_request|
            = render partial: 'participation_request', locals: { participation_request: participation_request, show_warning: false }
