- simple_form_url = rebook_pro_structure_participation_request_path(@structure, @participation_request)

= render partial: 'pro/participation_requests/modify_date', locals: { simple_form_array: [:pro, @structure, @participation_request], simple_form_url: simple_form_url, new_class: true }
