.p
  #{@structure.name}
.p
  = @structure.subscription.plan.public_name

.p
  = link_to 'URL profil privé', edit_pro_structure_url(@structure, subdomain: 'pro')

- if @structure.website.present?
  .p
    = link_to 'Site web', @structure.website
