.p
  #{@email} a essayé de prendre le contrôle de #{@structure.name} en vain car #{@structure.admin.email || @structure.admin.unconfirmed_email} contrôle déjà cet établissement

- if !@structure.admin.confirmed?
  .p
    Par contre, #{@structure.admin.unconfirmed_email} n'a pas encore confirmé son e-mail...
