= simple_form_for [:pro, @structure, @newsletter, @mailing_list], url: pro_structure_newsletter_mailing_list_path(@structure, @newsletter, @mailing_list), as: :mailing_list do |f|
  = render partial: 'form', locals: { f: f }
