<div class="panel center-block" style="width: 400px">
    <div class="panel__header soft">
        <div class="grid">
            <div class="grid__item one-sixth v-middle">
                <i class="fa fa-check fa-3x green"></i>
            </div>{{!--
         --}}<div class="grid__item five-sixths v-middle">
                <h3 class="flush">Inscription réussie</h3>
            </div>
        </div>
    </div>
    <div class="panel__body soft">
        <h5>Validez l'e-mail que vous avez reçu</h5>
        <p>
            Pour être sûr de bien recevoir les réponses à vos demandes d'informations, validez votre inscription sur CoursAvenue en ouvrant l'e-mail qui vient de vous être envoyé.
        </p>
        {{#if from_hotmail}}
            <p>
                <strong>Remarque importante :</strong> vous utilisez <img class="v-middle" src="<%= asset_path('logos/hotmail-logo.jpg') %>" height="18"/> ? L'e-mail de validation est peut-être dans votre boîte "Courrier indésirable" : ouvrez-le puis cliquez sur "Ce message est sûr" pour recevoir correctement tous les prochains e-mails.
            </p>
        {{/if}}
        {{#if from_gmail}}
            <p>
                <strong>Remarque importante :</strong> vous utilisez <img class="v-middle" src="<%= asset_path('logos/gmail-logo.jpg') %>" height="18"/> ? L'e-mail de validation est peut-être arrivé dans le 3ème onglet "Promotions" de votre boîte de réception : glissez-le dans votre boîte "Principale" pour recevoir correctement tous les prochains e-mails.
            </p>
        {{/if}}
        <a href="#" onclick="$.magnificPopup.close();" class="btn btn--full btn--green">Valider</a>
    </div>
</div>

