<div class="transition-all-300 invisible on-top-of-the-world north west fixed one-whole bg-black-faded height-100-percent text--center flexbox">
   <div class="flexbox__item v-middle">
       <div class="alpha white">
            <strong>{{text}}</strong>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
                <div class="double-bounce3"></div>
            </div>

       </div>
   </div>
</div>
