<div class="on-top-of-the-world north west fixed one-whole bg-black-faded height-100-percent text--center flexbox">
   <div class="flexbox__item v-middle">
       <div class="alpha white">
       <strong>{{text}}</strong>
       </div>
   </div>
</div>
