%h1.blue Comment nous contacter ?
.gw
  .g.one-half
    %p
      Vous pouvez aussi nous écrire directement à l'adresse e-mail ci-dessous.
      %br
      Nous répondons rapidement, presque toujours dans la demi-journée.
      %br
      = image_tag 'pages/email.png', style: 'height: 20px'


    %p
      Vous pouvez aussi nous joindre par téléphone, mais s'il vous plait privilégiez autant que possible l'email, nous sommes une petite équipe !
      %br
      = image_tag 'pages/phone_number.png', style: 'height: 13px'
      %br
      Du lundi au vendredi de 9h30 à 18h30.
