%h1 Service client

%h2 Contactez-nous !

%p Vous aimeriez trouver un cours bien particulier : dites-le nous !
%p Votre professeur était exceptionnel : racontez-nous !
%p Vous voulez faire partie de notre communauté de Partenaires : écrivez-nous !
%p Vous avez besoin d'informations : demandez-nous !
%p Nous serions ravis de vous entendre et d’améliorer nos services.

%p
  Vous pouvez soit directement utiliser l’outil « Donnez votre avis » (le bandeau à droite de votre écran), nous écrire via
  = link_to 'notre formulaire ou par téléphone', pages_contact_path
  \.
