.bg-fixed.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" }
  .main-container.soft
    %h1.flush On veut vous entendre !

.main-container.soft.epsilon
  %ul
    %li Vous aimeriez trouver un cours bien particulier : <b class="brand">dites-le nous !</b>
    %li Votre professeur était exceptionnel : <b class="brand">racontez-nous !</b>
    %li Vous voulez faire partie de notre communauté de Partenaires : <b class="brand">écrivez-nous !</b>
    %li Vous avez besoin d'informations : <b class="brand">demandez-nous !</b>
    %li Nous serions ravis de vous entendre et d’améliorer nos services.

  %p
    Vous pouvez soit directement utiliser l’outil « Donnez votre avis » (le bandeau à droite de votre écran) ou
    = link_to 'nous contacter.', pages_contact_path
