.soft--sides
  %h1.blue On veut vous entendre !

  %ul
    %li Vous aimeriez trouver un cours bien particulier : <b class="brand">dites-le nous !</b>
    %li Votre professeur était exceptionnel : <b class="brand">racontez-nous !</b>
    %li Vous voulez faire partie de notre communauté de Partenaires : <b class="brand">écrivez-nous !</b>
    %li Vous avez besoin d'informations : <b class="brand">demandez-nous !</b>
    %li Nous serions ravis de vous entendre et d’améliorer nos services.

  %p
    Vous pouvez soit directement utiliser l’outil « Donnez votre avis » (le bandeau à droite de votre écran) ou
    = link_to 'nous contacter.', pages_contact_path
