%h1.blue Foire aux questions

.grid
  .grid__item.one-third>
    %h4.zeta Qu’est-ce que CoursAvenue
  .grid__item.two-thirds
    %p CoursAvenue est un service de réservation de cours, stages et formations en ligne gratuit. Notre promesse : vous proposer du choix, des offres promotionnelles et un service ultra fiable pour trouver et réserver un cours en ligne, dans toute la France. Nous sommes une équipe française basée à Paris.

%h2.delta.brand Sur les professeurs et les structures d’enseignement : qu'est-ce que l'on trouve sur ce site ?

.grid
  .grid__item.one-third>
    %h4.zeta Quels cours trouve-t-on sur CoursAvenue ?
  .grid__item.two-thirds
    %p Sur CoursAvenue, vous retrouvez une offre variée de plus 5 000 séances de qualité, du cours de cuisine mets & vins, jusqu’à la salsa pour débutant, en passant par les cours de photographie sur IPhone. Cadre, ambiance, service et bien entendu qualité du cours sont au rendez-vous pour se défouler tous les lundis soir, se reconvertir à une autre profession, ou tout simplement initier son petit de 12 mois aux arts créatifs.

.grid
  .grid__item.one-third>
    %h4.zeta Comment sont-ils sélectionnés ?
  .grid__item.two-thirds
    %p Afin de garantir une offre variée et de qualité, les structures d’enseignement sélectionnées doivent remplir deux critères principaux : être des professionnels, et être des étalissements de qualité. L’offre peut donc aller du professeur indépendant aux grandes écoles renommées. Mais avant tout, sur CoursAvenue, le critique, c'est vous ! En déposant un avis au lendemain de votre session, c'est vous qui guidez les internautes pour les aider à faire leur choix.

%h2.delta.brand Sur la réservation en ligne : pas de stress ! On s'occupe de tout !

.grid
  .grid__item.one-third>
    %h4.zeta Comment être sûr que ma réservation sera bien enregistrée ?
  .grid__item.two-thirds
    %p Lorsque vous réservez un cours sur CoursAvenue, la disponibilité est automatiquement vérifiée en temps réel. A partir du moment où nous vous confirmons la réservation, vous êtes assuré que votre place est réservée. Pas de stress, pas besoin d'appeler le professeur ou l’école ! L'e-mail de confirmation est là pour vous assurer que la réservation est transmise.

.grid
  .grid__item.one-third>
    %h4.zeta Dois-je indiquer que j'ai réservé sur CoursAvenue à mon arrivée au cours ?
  .grid__item.two-thirds
    %p Oui : présentez-vous à l’accueil de l’établissement (ou directement auprès du professeur s’il ne s’agit pas d’un centre) avec votre numéro de réservation (pas besoin d’avoir un imprimé). De son côté, l’établissement été averti automatiquement de votre réservation en ligne, il n’y aura donc aucun problème. Mais vous pouvez toujours présenter votre e-mail de confirmation pour attester de votre réservation.

.grid
  .grid__item.one-third>
    %h4.zeta Pourquoi certaines réservations ne sont-elles pas confirmées immédiatement ? Vais-je recevoir une confirmation à temps ? Dois-je appeler l’établissement pour confirmer la réservation ?
  .grid__item.two-thirds
    %p Pour les grandes structures ou les jours de fortes affluences, nous ne pouvons parfois pas confirmer la disponibilité immédiatement. Votre réservation est alors en attente de confirmation, et nous nous engageons à vous répondre dans les 24 heures (si votre session débute dans le jour qui suit votre réservation, les délais seront plus courts) : vous recevrez alors un e-mail de confirmation.

.grid
  .grid__item.one-third>
    %h4.zeta J'ai une demande spéciale : comment la transmettre ?
  .grid__item.two-thirds
    %p Sur le dernier écran de réservation, utilisez le champ « Demande spéciale à l'intention du professeur » pour préciser votre demande. CoursAvenue ne peut cependant pas vous garantir qu'elle sera respectée par le professeur.

.grid
  .grid__item.one-third>
    %h4.zeta Je n'ai pas reçu mon mail de confirmation. Que faire ?
  .grid__item.two-thirds
    %p Pensez à vérifier dans le dossier SPAM/Courrier indésirable de votre boîte mail. Afin de mieux recevoir nos mails, pensez à ajouter l'adresse contact@coursavenue.com dans votre carnet d'adresses ou dans votre liste d'expéditeurs autorisés.

.grid
  .grid__item.one-third>
    %h4.zeta Que se passe-t-il si le cours n’a finalement pas lieu ?
  .grid__item.two-thirds
    %p Soyez rassuré : si vous avez réservé votre cours en payant par carte bleue, vous ne serez débité qu’après votre cours. Ainsi, si le cours est malheureusement annulé, vous serez automatiquement remboursé et dans les plus brefs délais. Si vous avez réservé sans carte bleue (paiement sur place au moment du cours), vous n’aurez évidemment rien à régler. Nous mettons tout en œuvre pour éviter de telles situations : si cela vous arrive, faites-nous en part afin que cela ne se répète plus.

.grid
  .grid__item.one-third>
    %h4.zeta Est-ce que je peux annuler un cours ?
  .grid__item.two-thirds
    %p C’est la structure d’enseignement ou le professeur qui décide de sa politique d’annulation. Pour chaque cours, vous pouvez trouver le détail des conditions : annulation sans frais avant X jours, retenue de X% si l’annulation se fait quelques heures avant le début du cours, etc. Si les conditions ne sont pas claires ou vous avez des questions à ce sujet, n’hésitez pas à nous contacter.

%h2.delta.brand Sur les promotions :

.grid
  .grid__item.one-third>
    %h4.zeta Qui décide du prix et des promotions ?
  .grid__item.two-thirds
    %p Ce sont nos partenaires (les professeurs et les structures d’enseignement) qui décident eux-mêmes du prix de leurs cours et des promotions. C’est d’ailleurs eux aussi qui choisissent tout le reste : la discipline, le jour, la durée et le nombre de participants.

.grid
  .grid__item.one-third>
    %h4.zeta -50% sur le cours : comment est-ce possible ?
  .grid__item.two-thirds
    %p -70% sur un vêtement pendant les soldes, un voyage acheté sur Internet à moitié prix, ou une réduction sur une séance de massage, c'est très courant. Avec CoursAvenue, c'est le même principe ! Nous vous permettons de bénéficier de réductions que nous négocions directement auprès des structures d’enseignement. Tout le monde y gagne !

.grid
  .grid__item.one-third>
    %h4.zeta Tous les cours sur CoursAvenue sont-ils en promotion ?
  .grid__item.two-thirds
    %p Regardez si la mention « Promotions » figure sur la photo et la fiche du cours. Vous pouvez également sélectionner le critère « Cours avec promotion » dans le moteur de recherche.

.grid
  .grid__item.one-third>
    %h4.zeta Tous les cours en promotion sur CoursAvenue sont-ils à -50% ?
  .grid__item.two-thirds
    %p Non. Nous vous proposons la meilleure offre possible sur une sélection de cours : des -50% bien sûr, mais aussi des -20%, des séances exclusives CoursAvenue et bien d'autres occasions pour réveiller vos talents !

.grid
  .grid__item.one-third>
    %h4.zeta Pour un même et seul cours, la promotion est-elle valable sur toutes les formules ?
  .grid__item.two-thirds
    %p Cela dépend. La promotion peut concerner une ou toutes les formules proposées. Par exemple, pour un même cours, vous pouvez bénéficier de -30% sur le forfait trimestriel, alors que le ticket à la séance pourra ne pas être proposé en promotion. Pour connaître le détail exact de la promotion, cliquez sur le cours concerné depuis la page « Recherche », puis dirigez-vous sur l’onglet « Prix ».

.grid
  .grid__item.one-third>
    %h4.zeta Comment bénéficier de la promotion ?
  .grid__item.two-thirds
    %p Pour bénéficier d'une promotion, il suffit de réserver en ligne en respectant ses critères de validité : formule sélectionnée, jour, heure, nombre de personnes.

.grid
  .grid__item.one-third>
    %h4.zeta Dois-je payer en ligne pour en bénéficier ?
  .grid__item.two-thirds
    %p Pas forcément, cela dépend du mode de réservation choisi par l’établissement. S’il a choisi la réservation en ligne par carte bleue, vous devrez alors payer votre cours pour confirmer votre réservation. S’il a choisi l’option « réservez sans carte bleue », vous réglerez votre cours directement auprès de l’établissement, le jour de votre cours. A noter qu’avec ou sans promotion, toute réservation sur CoursAvenue est gratuite !

.grid
  .grid__item.one-third>
    %h4.zeta Dois-je prévenir que je viens de CoursAvenue pour obtenir la promotion ? Dois-je réclamer la promotion ?
  .grid__item.two-thirds
    %p Non. Au moment de la réservation, la structure d’enseignement est automatiquement avertie que c'est une réservation avec promotion. La promotion est automatiquement appliquée sur votre formule choisie. Vous pouvez donc venir au cours en toute discrétion ! Attention, il peut arriver qu'un établissement oublie d'appliquer la promotion : aucun souci ! Vous pouvez le lui rappeler au moment de payer, ou alors si vous constatez cet oubli une fois sorti du cours, vous pouvez nous le signaler afin que nous contactions ce dernier.

.grid
  .grid__item.one-third>
    %h4.zeta Les élèves bénéficiant d'une promotion reçoivent-ils le même service que les autres ?
  .grid__item.two-thirds
    %p Oui. Par défaut tous les clients reçoivent le même service et suivent le même cours. Il est même probable que les clients CoursAvenue reçoivent un traitement « privilégié » puisque ces derniers peuvent donner leur avis et avoir une vraie influence sur le choix d'autres internautes. La plupart des professeurs sont donc extrêmement vigilants : pas de mauvaise surprise !

%h2.delta.brand Sur les avis :

.grid
  .grid__item.one-third>
    %h4.zeta N'importe qui peut-il déposer un avis sur CoursAvenue ?
  .grid__item.two-thirds
    %p Non. Seuls les internautes ayant réservé par CoursAvenue peuvent déposer un avis. C'est uniquement après chaque cours suivi et réservé sur le site que vous avez la possibilité de donner votre avis sur votre expérience. Un gage de crédibilité sur les commentaires et les notes déposés sur CoursAvenue.com !

.grid
  .grid__item.one-third>
    %h4.zeta Comment déposer un avis ?
  .grid__item.two-thirds
    %p Après votre cours, vous recevez un email vous invitant à déposer votre avis sur votre expérience. Vous pouvez alors remplir le questionnaire directement depuis l'e-mail ou bien depuis le lien à côté de votre réservation dans la page « Mes réservations » lorsque vous êtes connecté à votre compte.

.grid
  .grid__item.one-third>
    %h4.zeta Comment est calculée la note que j'attribue au cours ?
  .grid__item.two-thirds
    %p Lorsque vous déposez un avis, vous pourrez noter 4 critères sur une échelle de 1 à 10 : apprentissage, accueil, rapport qualité/prix et propreté. Pour le moment, vous ne pouvez que déposer un avis, la notation sera disponible dans les prochaines semaines.
    %p La note finale sur 10 qui est attribuée au cours est la moyenne de ces notes pondérée de la manière suivante :
    %ul
      %li Apprentissage 35%
      %li Accueil 15%
      %li Rapport qualité-prix  22.5%
      %li Propreté  22.5%
    %p Seules les notes des 12 derniers mois sont prises en compte.

.grid
  .grid__item.one-third>
    %h4.zeta Toutes les notes sont-elles publiées ?
  .grid__item.two-thirds
    %p Oui à partir du moment où la réservation a été honorée. Si jamais vous ne vous êtes pas présenté au cours, la note n'apparaîtra pas. Si vous avez laissé un commentaire, celui-ci est alors relu par nos équipes avant publication.

.grid
  .grid__item.one-third>
    %h4.zeta Pourquoi mon commentaire écrit n'est-il pas publié ?
  .grid__item.two-thirds
    %p Si la note est automatiquement publiée, CoursAvenue se réserve le droit de ne pas publier votre commentaire écrit, notamment dans le cadre de propos injurieux ou non conformes aux Mentions Légales du site. Priorité aux avis constructifs ! Cependant, votre avis, même non publié, est automatiquement remonté au professeur concerné afin de l'informer.
