%h1.blue Foire aux questions Partenaires

%p Sur cette page, vous trouverez une liste de questions que vous pouvez vous poser sur le statut de Partenaire. Si vous avez une question concernant la réservation d'un cours avec CoursMania.com, veuillez consulter notre « Foire aux questions Utilisateurs ».

.gw.one-whole
  .g.one-third
    %h4.zeta Comment s’inscrire sur CoursMania.com ?
  .g.two-thirds
    %p
      Cliquez sur le lien
      = link_to '« Référencer mes cours et stages »', 'mailto:referencement@leboncours.com?subject=Référencement de mes cours'
      , remplissez le formulaire et appuyez sur le bouton « Envoyer ». Votre établissement sera évalué et vous recevrez un contrat qu’il faudra nous retourner. Nous vous communiquerons ensuite un lien qui vous permettra de finaliser votre inscription et d’enregistrer des informations sur l’extranet de CoursMania.com.

.gw.one-whole
  .g.one-third
    %h4.zeta L’inscription est-elle payante ?
  .g.two-thirds
    %p CoursMania.com ne facture pas de frais pour inscrire votre établissement. Vous ne payez une commission que sur les sessions qui ont été réservées par l’intermédiaire de CoursMania.com.

.gw.one-whole
  .g.one-third
    %h4.zeta Comment mettre à jour les disponibilités, tarifs et autres informations ?
  .g.two-thirds
    %p Vous pouvez facilement actualiser en ligne vos disponibilités et vos tarifs grâce à l’extranet de CoursMania.com. Notre équipe se tient à votre disposition pour vous aider à modifier votre contenu, vos tarifs et/ou la disponibilité de vos cours.

.gw.one-whole
  .g.one-third
    %h4.zeta À quel moment recevons-nous les confirmations de réservation ?
  .g.two-thirds
    %p Vous recevez les confirmations par mail dès qu’une réservation est effectuée en ligne.

.gw.one-whole
  .g.one-third
    %h4.zeta Où et quand le client règle-t-il son cours ?
  .g.two-thirds
    %p Le client règle sa séance (ou ses séances) soit par carte bancaire sur le site CoursMania.com au moment de la réservation, soit directement auprès de l’établissement ou du professeur le jour du cours.  Cela dépend du type de discipline et du choix du Partenaire. Le client doit payer le montant inscrit sur le mail de confirmation de la réservation et indiqué sur le site CoursMania.com.

.gw.one-whole
  .g.one-third
    %h4.zeta Comment pouvons-nous obtenir plus de réservations avec CoursMania.com ?
  .g.two-thirds
    %p Il est important de proposer les meilleurs tarifs et des disponibilités suffisantes. De plus, des descriptions pertinentes et exactes de votre établissement, ainsi que des photos récentes, nous aident à augmenter le nombre de réservations. Notre équipe se tient à votre disposition pour que vous profitiez au mieux du site CoursMania.com.
