.soft--sides
  %h1.blue Foire aux questions Partenaires

  %p Sur cette page, vous trouverez une liste de questions que vous pouvez vous poser sur le statut de Partenaire. Si vous avez une question concernant la réservation d'un cours avec CoursAvenue.com, veuillez consulter notre « Foire aux questions Utilisateurs ».

  .grid
    .grid__item.one-third>
      %h4.zeta Comment apparaître sur CoursAvenue.com ?
    .grid__item.two-thirds
      %p
        Cliquez sur le lien
        = link_to '« Référencer mes cours et stages »', inscription_pro_structures_url(subdomain: 'pro')
        et accédez à votre espace pro. Après avoir renseigné votre email et votre mot de passe, vous accéderez à notre logiciel en ligne qui vous permettra d'ajouter tous vos cours et stages en quelques clics.

  .grid
    .grid__item.one-third>
      %h4.zeta L’inscription est-elle payante ?
    .grid__item.two-thirds
      %p
        Non, CoursAvenue.com ne facture pas de frais pour inscrire votre établissement ou vos cours. Si vous souhaitez avoir accès aux modules plus avancés de notre logiciel en ligne, vous paierez alors un abonnement mensuel
        = link_to '(voir nos offres et nos tarifs)', pro_pages_price_url(subdomain: 'pro')


  .grid
    .grid__item.one-third>
      %h4.zeta Comment mettre à jour les disponibilités, tarifs et autres informations ?
    .grid__item.two-thirds
      %p Vous pouvez facilement actualiser en ligne vos disponibilités et vos tarifs grâce à notre logiciel en ligne de CoursAvenue.com. Notre équipe se tient à votre disposition pour vous aider à modifier votre contenu, vos tarifs et/ou la disponibilité de vos cours.

  .grid
    .grid__item.one-third>
      %h4.zeta À quel moment savons-nous qu'un élève est intéressé par nos cours ou nos stages ?
    .grid__item.two-thirds
      %p Dès qu'un Internaute clique sur le bouton "Assister à ce cours", un email lui est automatiquement envoyé avec toutes vos coordonnées, de manière à ce qu'il puisse facilement réserver directement auprès de vous. En parallèle, nous vous envoyons également un email comportant les coordonnées de l'Internaute intéressé. Libre à vous de le contacter !


  / .grid
  /   .grid__item.one-third>
  /     %h4.zeta Où et quand le client règle-t-il son cours ?
  /   .grid__item.two-thirds
  /     %p Le client règle sa séance (ou ses séances) soit par carte bancaire sur le site CoursAvenue.com au moment de la réservation, soit directement auprès de l’établissement ou du professeur le jour du cours.  Cela dépend du type de discipline et du choix du Partenaire. Le client doit payer le montant inscrit sur le mail de confirmation de la réservation et indiqué sur le site CoursAvenue.com.

  .grid
    .grid__item.one-third>
      %h4.zeta Comment gagner en visibilité et attirer plus d'élèves grâce à CoursAvenue.com ?
    .grid__item.two-thirds
      %p
        Il existe 4 actions rapides et efficaces qui vous permettront de jouer sur la performance de vos annonces :
      %ul.flush--left
        %li <b>Soyez recommandés !</b> : plus d'avis signifie une plus forte confiance de la part des Internautes, et donc plus de réservations pour vous. Depuis notre logiciel en ligne, envoyez facilement et rapidement une demande d'avis à vos clients qui vous connaissent le mieux
        %li <b>Proposez des promotions</b> : boostez vos réservations en proposant des promotions, par exemple pour les cours d'habitude peu remplis, les séances qui arrivent dans les prochains jours, ou pour l'ouverture d'un nouveau stage
        %li <b>Ajoutez des photos</b> : n'oubliez pas d'illustrer vos cours par de belles photos, et votre établissement par votre logo
        %li <b>Dites ce qu'on apprend !</b> : pour chaque cours, votre description doit être complète, et bien préciser les objectifs et la valeur ajoutée de votre enseignement, pour que les Internautes se sentent mieux renseignés et en confiance
