%h1.blue Trouvez une salle

%p
  Notre service est en cours de finalisation, nous allons le mettre ligne dans les prochaines semaines. N’hésitez pas à
  = link_to 'nous contacter', pages_contact_path
  pour toute question à ce sujet !

