%h1.blue Vous cherchez une salle pour vos cours ?

%h4
  Contactez-nous, nous avons des centaines de salles à louer !

.one-half
  %p
    Vous pouvez nous écrire directement à l'adresse e-mail ci-dessous.
    %br
    = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pages/email_contact.png', style: 'height: 20px'

  %p
    Ou alors par téléphone :
    %br
    = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pages/phone_number.png', style: 'height: 13px'
    %br
    Du lundi au vendredi de 9h30 à 18h30.

