%h1 Comment ça marche ?

%h2 Votre réservation en 3 étapes :

%ol
  %li Recherchez un cours, un stage ou une formation : tous les critères sont possibles ! Discipline, créneau horaire, période, jour, niveau, lieu, âge, prix... Trouvez votre bonheur puis cliquez sur « Réserver ».
  %li Choisissez la formule : cours à la session, carnet de plusieurs cours, forfait annuel ou trimestriel, promotions exclusives... Nous vous confirmons la disponibilité de chaque formule en temps réel.
  %li Confirmez : remplissez vos coordonnées et réservez avec ou sans carte bleue. Votre place est réservée, pas besoin d’appeler le professeur ou l’école ! Vous recevrez automatiquement un mail de confirmation avec les détails de votre réservation (adresse exacte, horaires, etc.).

%h2 LeBonCours met tout en œuvre pour rendre votre réservation aussi facile que rapide. C’est pourquoi nous vous promettons :

%ol
  %li De vous assurer une réservation en toute sécurité : notre système de paiement est sécurisé et toutes vos informations sont cryptées ;
  %li De pouvoir réserver en toute confiance : si vous payez en ligne, soyez rassuré, votre argent ne sera débité qu’après votre cours ou votre première séance ;
  %li D’être transparent : ce sont les professeurs et nos partenaires qui décident de leur politique d’annulation et de remboursement ; mais ne vous inquiétez pas, nous vous les détaillerons pour chaque cours et chaque établissement ;
  %li De vous partager l’expérience de chacun : vous aurez accès aux avis d’élèves, comme vous, qui  ont réservé leur cours via LeBonCours. Comme le savons-nous ? Parce que nous avons géré leurs réservations !

%h2 Des promotions exclusives pour en profiter plus et mieux !
%p Nous négocions auprès des professeurs et des structures d’enseignement les meilleures offres pour que tout le monde y gagne : la structure optimise son taux de remplissage, et vous, vous apprenez à prix réduit ! Pour en profiter :

%ol
  %li Repérez les sessions proposant une offre et réservez en ligne en respectant les critères de validité de la promotion.
  %li La promotion est automatiquement appliquée sur la formule que vous avez sélectionnée (cours à l’unité, forfait annuel, etc.).
  %li Vous bénéficiez d'un service équivalent aux autres élèves : même accueil, mêmes conditions, même apprentissage !


%h2 Les avis : le critique, c’est vous !
%p LeBonCours n'est pas un guide et ne prétend pas donner une critique sur les cours. Le seul critère est d'être une structure d’enseignement de qualité. D'ailleurs la plupart des structures figurant sur LeBonCours sont cités ou recommandés dans différents guides ou blogs. Mais sur LeBonCours, le critique, c'est vous :

%ol
  %li Votre avis compte ! Après votre cours, notez-le et laissez un commentaire écrit.
  %li Un avis objectif et détaillé : gardez l’esprit communautaire, et rédigez votre avis dans le but de mieux guider les prochains élèves à faire leur choix. Vous êtes le meilleur bouche-à-oreille !
  %li Fiabilité garantie : seuls les élèves qui ont réellement suivi le cours donnent leur avis !

