.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/home_background5.jpg'})", 'data-stellar-background-ratio' => '0.6' }
  .main-container.soft
    %h1.flush Jobs

.main-container.soft.epsilon
  %p
    Nous sommes sans cesse à la recherche de talents.
    %br
    Vous avez un profil de développeur web Ruby (front et surtout back-end), de commercial, du web en général (community management, web marketing, etc.) : contactez-nous !

  %h4 Pourquoi nous rejoindre ?

  %ul
    %li Vous faites partie des premiers employés, vous rejoignez une petite équipe sympa et réactive. Les choses bougent très vite et vous avez un impact direct sur l'évolution de la Société.
    %li Le secteur des cours et du monde de l’apprentissage est passionnant.
    %li Vos bureaux seront en plein Paris.
