.bg-fixed.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" }
  .main-container.soft
    %h1.flush Mentions légales

.main-container.soft
  %p Mise à jour : 5 février 2013

  %p MENTIONS LEGALES ET CONDITIONS GENERALES D'UTILISATION DES SERVICES PROPOSES SUR LE SITE WWW.coursavenue.com

  %p Le site <a href="https://www.coursavenue.com">CoursAvenue.com</a> est édité par :

  %p
    CoursAvenue
    %br
    Société par actions simplifiée au capital de 19 748 euros
    %br
    Siège social : 39 Boulevard Auguste Blanqui, 75013 Paris
    %br
    RCS PARIS 790 096 101
    %br
    N° tva intracom : FR 01 790 096 101

  %p Le Responsable de la publication est M. Nicolas Lagarde.

  %p Le site https://www.coursavenue.com est hébergé par :

  %p
    HEROKU, Heroku, Inc.
    %br
    321 11th Street
    %br
    San Francisco, CA
    %br
    USA


  %h1 Conditions générales d'utilisation utilisateurs

  %p
    %b A L'ATTENTION DES UTILISATEURS ET TOUTE PERSONNE PHYSIQUE OU MORALE AMENÉE À VISITER ET/OU UTILISER LE SITE WWW.coursavenue.com ET LES SERVICES ASSOCIES

  %p Les présentes conditions générales d’utilisation, qui sont susceptibles d’être modifiées de façon ponctuelle, s’appliquent à tous nos services, disponibles directement ou indirectement (par le biais de nos partenaires) en ligne, par e-mail ou par téléphone. En accédant à notre site Internet ou à toute autre plate-forme (désignés ensemble par « le site Internet »), en y effectuant des recherches, en l’utilisant et/ou en y effectuant une réservation, vous déclarez avoir pris connaissance des présentes conditions générales d’utilisation et de notre charte de confidentialité, en comprendre la portée et les accepter.

  %p Ces pages, leur contenu et leur infrastructure, ainsi que le service de réservation de cours en ligne qui est fourni sur ces pages et par l’intermédiaire de ce site Internet (le « Service ») appartiennent à, sont gérés et sont fournis par CoursAvenue SAS (« CoursAvenue.com », « nous », « notre » ou « nos »). Ils sont uniquement mis à votre disposition pour un usage personnel et non commercial qui demeure soumis aux conditions générales d’utilisation établies ci-dessous.

  %p Attention : Si vous n'êtes pas en accord avec tout ou partie des conditions générales d'utilisation ci-après, il vous est vivement recommandé de ne pas utiliser le site Internet www.CoursAvenue.com.

  %p Les présentes mentions légales et conditions générales ont pour objet de définir les conditions et modalités de la mise à disposition d'un service gratuit de recherche et de réservation en ligne des cours, stages et toutes autres activités proposées. Les présentes conditions générales sont complétées ou modifiées, le cas échéant, par des conditions et modalités d'utilisation spécifiques propres à certaines fonctionnalités. Le service est réservé aux personnes physiques capables de souscrire des contrats en droit français.

  %h4.flush DEFINITIONS

  %p <b>L’Utilisateur :</b> est considérée comme Utilisateur du site accessible à l'adresse https://www.coursavenue.com, toute personne qui visite le site et/ou utilise le site et les services associés ;

  %p <b>Cours ou Activité :</b> désigne tout cours, stage, soirée, spectacle, prestation, événement pour lequel ou laquelle le Partenaire tel que défini ci-après confie l’édition et la commercialisation des réservations à la Société CoursAvenue ;

  %p <b>Réservation : </b>désigne toute réservation de cours effectuée et validée par l’Utilisateur ;

  %p <b>Partenaire ou Prestataire ou Etablissement :</b> désigne toute personne en charge de la création, de la production, de la diffusion ou de la gestion d’un cours ou d’une activité sous CoursAvenue. Dans le cadre du présent contrat, le Partenaire est considéré comme mandant.


  %h4.flush ACCEPTATION DES CONDITIONS GENERALES

  %p Un service gratuit de recherche et de réservation en ligne de cours est proposé par la Société CoursAvenue à l'Utilisateur, sous réserve de son acceptation inconditionnelle des présentes conditions générales.

  %p L'Utilisateur déclare et reconnaît avoir lu l'intégralité des termes des présentes conditions générales. En outre, la connexion à l'un quelconque des services proposés sur le site accessible à l'adresse : "https://www.coursavenue.com" (ci-après le site Internet "CoursAvenue.com") emporte une acceptation sans réserve par l'Utilisateur des présentes conditions générales.

  %p La Société CoursAvenue se réserve la possibilité de modifier à tout moment, en tout ou partie, les présentes conditions générales. Il appartient en conséquence à l'Utilisateur de consulter régulièrement la dernière version des conditions générales affichée dans la page dédiée "Mentions légales". L'Utilisateur est réputé accepter cette dernière version à chaque nouvelle connexion sur le site.

  %p En cas de non-respect par l'Utilisateur des présentes conditions générales, la Société CoursAvenue se réserve le droit de suspendre sans préavis les services et/ou de lui refuser l'accès au service.


  %h4.flush DESCRIPTION DU SERVICE

  %p
    %b Rechercher et réserver un cours en ligne et en temps réel

  %p Le site Internet "CoursAvenue.com" permet à l'Utilisateur, notamment de rechercher et de réserver en ligne et en temps réel un cours.

  %p
    %b Bénéficier de promotions et offres spéciales proposées par les Partenaires référencés sur CoursAvenue

  %p Le site Internet "CoursAvenue.com" permet à l'Utilisateur, si et seulement s'il réserve par le biais de la procédure de réservation prévue à cet effet dans le module de réservation en ligne du site Internet CoursAvenue, de bénéficier de promotions ou offres spéciales proposées par les Partenaires référencés sur le site. Tous les Partenaires ne proposent pas de promotion ou d'offre spéciale. Les conditions de validité de ces promotions sont explicitées sur le site.

  %p
    %b Services personnalisés associés

  %p La création d'un compte sur le site "CoursAvenue.com" permet à l'Utilisateur de prendre des réservations sans avoir à ressaisir ses coordonnées, et dans le cadre des accords commerciaux de la Société CoursAvenue, de bénéficier d'offres exclusives des Partenaires de sa région.

  %p
    %b Avertissement

  %p Il appartient à l'Utilisateur de faire toutes vérifications qui semblent nécessaires ou opportunes avant de procéder à une quelconque réservation auprès de l'un des Partenaires présents sur le site "CoursAvenue.com".

  %p La Société CoursAvenue ne garantit aucunement et de quelque façon que ce soit les produits, services et/ou pratiques commerciales des tiers présents sur son site. En ce sens, la Société CoursAvenue ne garantit pas à l'Utilisateur qu'il soit satisfait des produits, services et/ou pratiques commerciales qu'il a obtenus suite à une réservation par le biais du site "CoursAvenue.com".

  %h4.flush GRATUITE DU SERVICE

  %p Les services, proposés et décrits dans les présentes conditions générales, sont gratuits.

  %p Des tarifs pourront éventuellement être applicables, notamment en fonction de l'évolution des services proposés, l'évolution du réseau, de la technique et/ou des contraintes légales. L'Utilisateur en sera alors dûment informé par la modification des présentes conditions générales ou par l'insertion dans le site "CoursAvenue.com" de conditions particulières relatives aux services payants.

  %p
    %b Avertissement

  %p L'utilisation du site Internet "CoursAvenue.com" conformément aux présentes Conditions Générales est gratuite pour l'Utilisateur.

  %p Toutefois, l'Utilisateur reconnaît que le site "CoursAvenue.com" renvoie à des prestations de services payantes. Notamment et par exemple, suite à une réservation effectuée par le biais du site "CoursAvenue.com", l'Utilisateur reconnaît et accepte que le cours suivi et dispensé par le Partenaire tiers présent sur le site "CoursAvenue.com" soit payante.

  %p Lorsque la Société CoursAvenue fournit sur son site "CoursAvenue.com" des détails concernant des prix ou une gamme de prix concernant un tiers Prestataire présent sur son site et qui ne propose pas de cours à réserver directement en ligne (avec ou sans carte bancaire), ces informations ne sont fournies qu'à titre indicatif et par souci de commodité. En aucun cas la Société CoursAvenue ne garantit l'exactitude de telles informations.

  %p D'autre part, le site "CoursAvenue.com" peut contenir des liens vers des sites Internet de tiers, lesquels sont détenus et exploités par des revendeurs ou des Prestataires de service indépendants et étrangers à la Société CoursAvenue. Il se peut que ces tiers réclament à l'Utilisateur le paiement d'une redevance pour l'utilisation de certains contenus ou certains services fournis sur le site Internet tiers. Il appartient donc à l'Utilisateur d'effectuer, avant de poursuivre une transaction avec un tiers, toute vérification nécessaire et opportune pour vérifier si une rémunération sera due et les modalités de cette rémunération. En aucun cas, la Société CoursAvenue ne saurait être associée aux prestations effectuées par les tiers et/ou aux sites internet des tiers en question.

  %h4.flush OUVERTURE D'UN COMPTE - IDENTIFICATION - PREUVE
  %h5 ECHANGE D'INFORMATIONS

  %p Dès création du compte, l'Utilisateur se voit attribuer un identifiant et un mot de passe (ci-après "Identifiants") lui permettant d'accéder à son compte privé.

  %p
    %b Confidentialité des identifiants

  %p Les identifiants sont personnels et confidentiels. Ils ne peuvent être changés que sur demande de l'Utilisateur ou à l'initiative de la Société CoursAvenue.

  %p L'Utilisateur est seul et entièrement responsable de l'utilisation des identifiants le concernant et s'engage à mettre tout en œuvre pour conserver secret ses identifiants et à ne pas les divulguer, à qui que ce soit, sous quelque forme que ce soit.

  %p En cas de perte ou de vol d'un des identifiants le concernant, l'Utilisateur est responsable de toute conséquence dommageable de cette perte ou de ce vol, et doit utiliser, dans les plus brefs délais, la procédure lui permettant de les modifier, qui peut être consultée sur la page spécifique du site "CoursAvenue.com" dédiée à cet effet.

  %p
    %b Convention sur la preuve

  %p Les parties conviennent expressément que :
  %ul
    %li la présence d'un code d'identification identifie valablement l'auteur d'un document ou d'un message et établit l'authenticité du document ou du message,
    %li un document électronique contenant un code d'identification équivaut à un écrit signé par la personne émettrice,
    %li les parties peuvent se prévaloir de l'impression sur papier d'un message électronique à partir d'un logiciel de messagerie électronique pour prouver le contenu des échanges qu'elles ont au sujet de l'exécution des présentes conditions générales.

  %p
    %b Echange d'informations

  %p L'Utilisateur accepte l'usage de la messagerie électronique pour la transmission des informations qu'il demande concernant la conclusion ou l'exécution du contrat.

  %h4.flush PROTECTION DES DONNEES A CARACTERE PERSONNEL

  %p La Société CoursAvenue, dans le strict respect de la loi et des règlements en vigueur, souhaite recueillir certaines informations. Ces informations sont recueillies conformément aux dispositions relatives à la protection des données personnelles et sont destinées à proposer à l'Utilisateur une utilisation personnalisée et optimale du site "CoursAvenue.com".

  %p Déclaration de traitement automatisé d'informations nominatives auprès de la CNIL

  %p La Société CoursAvenue, amenée à traiter des données à caractère personnel, a déclaré les fichiers clients-prospects (type NS-48) auprès de la CNIL. Les fichiers clients-prospects (type NS-48) sont enregistrés sous le n°1648124 v 0 du 30/01/2013.

  %p
    %b Charte sur la vie privée

  %p La collecte des données à caractère personnel ne permet pas de faire apparaître, directement ou indirectement, les origines ethniques, les opinions politiques, philosophiques ou religieuses ou l'appartenance syndicale des personnes, ni des données relatives à la santé ou à la vie sexuelle de celles-ci.

  %p Les données concernant l'Utilisateur sont collectées et traitées de manière loyale et licite pour des finalités déterminées, explicites et légitimes, sans être traitées ultérieurement de manière incompatible avec ces finalités, sous une forme permettant l'identification des personnes concernées pendant une durée qui n'excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées.

  %p Les données à caractère personnel ne font l'objet d'opérations de traitement par un sous-traitant ou une personne agissant sous l'autorité du responsable du traitement ou de celle du sous-traitant, que sur instruction du responsable du traitement au sein de la Société CoursAvenue.

  %h4.flush Cookies

  %p Le site Internet "CoursAvenue.com" et/ou ses Partenaires peuvent stocker des informations sur l'ordinateur de l'Utilisateur. Ces informations prendront la forme de "Cooky" ou fichier similaire. Les "Cookies" sont des données qui ne contiennent aucune information personnelle et qui sont envoyées via le serveur sur le disque dur de l'ordinateur de l'Utilisateur. Le rôle des cookies est notamment d'identifier plus rapidement l'Utilisateur lors de sa connexion et de faciliter sa participation à certains événements, promotions, activités... présents sur le site "CoursAvenue.com".

  %p La Société CoursAvenue ne peut garantir le fonctionnement optimal du site "CoursAvenue.com" si l'Utilisateur refuse la réception de cookies.

  %p L'Utilisateur reconnaît et accepte que la Société CoursAvenue se réserve la possibilité d'implanter un "Cooky" dans son ordinateur afin d'enregistrer toute information relative à la navigation de son ordinateur sur le site "CoursAvenue.com".

  %p
    %b Utilisation des données

  %p L'Utilisateur est informé par les présentes conditions générales de ce que les données à caractère personnel signalées comme étant obligatoires sur les formulaires et recueillies dans le cadre du service décrit dans les présentes conditions générales sont nécessaires à l'utilisation de ce service, sont utilisées uniquement dans le cadre de ce service et sont destinées exclusivement à la Société CoursAvenue et ses Partenaires clients, qui prennent les précautions utiles afin de préserver, dans la mesure du possible, la sécurité des données.

  %p L'Utilisateur autorise la Société CoursAvenue à fournir certaines informations à ces Prestataires techniques afin de faire bénéficier l'Utilisateur de certaines fonctions du Site (forum, avis, commentaires...).

  %p L'Utilisateur autorise la Société CoursAvenue à fournir toutes les informations le concernant au client Partenaire de la Société CoursAvenue.

  %p En outre, l'Utilisateur autorise la Société CoursAvenue à utiliser et/ou à céder ces informations dans le cadre de partenariats et ce, conformément à la loi, notamment dans le but de faire profiter l'Utilisateur d'informations et services personnalisés ("Points fidélités", "Bon plans", "Invitation gratuite"...).

  %p Les clients de CoursAvenue, dans le cadre de la fonctionnalité « inviter des amis suite à une réservation », sont susceptibles de communiquer à CoursAvenue les adresses emails de tiers.
  %p Les clients de CoursAvenue s'engagent en communiquant ces adresses à avoir obtenu le consentement explicite et informé de leurs propriétaires. En conséquence le client dégage CoursAvenue de toute responsabilité quant à l'utilisation de ces emails dans le cadre des actions listées ci-dessous :
  %ul
    %li Envoi d'invitations pour le compte du client CoursAvenue (email)
    %li Demande de dépôt d'avis suite à une réservation (email)

  %p
    %b CoursAvenue s'engage à ne pas utiliser les adresses emails des tiers pour d'autres utilisations.

  %p Tout e-mail envoyé par CoursAvenue à l'adresse recueillie lors de la première réservation de l'Utilisateur sera en relation avec le service décrit dans les présentes conditions générales.

  %p
    %b Droit de rectification et d'opposition

  %p L'Utilisateur bénéficie d'un droit d'opposition à la cession de ces données qu'il peut exercer en cochant ou en décochant une case à cet effet lors de la souscription du formulaire d'ouverture d'un compte.

  %p L'Utilisateur bénéficie, en outre, d'un droit d'accès et de rectification de ces données qu'il peut exercer en adressant un message à l'adresse électronique suivante : "contact@coursavenue.com".

  %p Les tiers peuvent, par ailleurs, exercer leur droit d'opposition en adressant un message à cette fin à l'adresse électronique suivante : "contact@coursavenue.com".

  %p
    %b Avertissement

  %p L'Utilisateur reconnaît que, d'une manière générale et en l'état de la technique actuelle, chaque fois qu'il fournit des informations personnelles en ligne, ces informations peuvent être collectées et utilisées par des tiers. Par conséquent, l'Utilisateur décharge la Société CoursAvenue de toute responsabilité ou conséquence dommageable de l'utilisation par des tiers des informations échangées par le biais des outils de communication (notamment chat, forum, avis) proposés par le site "CoursAvenue.com".

  %p
    %b Traitement du « Contenu Utilisateur » - Avis

  %p Il désigne le contenu que les Utilisateurs publient sur le site ou transmettent par le biais de ce dernier, notamment les avis (notes et commentaires écrits). Il ne faut pas le confondre avec les données personnelles de l'Utilisateur.

  %p Tout Utilisateur dépose un avis, de préférence suite à une réservation précédente via le site "CoursAvenue.com". L'éventuel commentaire écrit est alors relu par les équipes CoursAvenue. CoursAvenue se réserve alors le droit de ne pas publier ou de supprimer un commentaire écrit, notamment dans le cas de propos injurieux ou non constructifs.

  %p D’une manière générale, les commentaires de l’Utilisateur peuvent être :
  %ul
    %li Affichés sur le site Internet, sur la page de l’établissement concerné, dans le seul but d’informer les (futurs) clients de l’opinion sur le niveau de service et la qualité de l’établissement
    %li Utilisé (partiellement ou dans sa totalité) par CoursAvenue.com à sa seule discrétion (à des fins marketing ou promotionnelles ou pour améliorer ses services) sur le site Internet ou sur des réseaux sociaux, lettres d'information, offres spéciales, applications ou autre moyen utilisé, géré ou contrôlé par CoursAvenue.com

  %p
    %b Utilisation du contenu Utilisateur

  %p Nous sommes susceptibles de supprimer ou de restaurer le contenu Utilisateur de temps en temps et à notre seule discrétion. Nous ne sommes pas dans l'obligation de sauvegarder le contenu Utilisateur ni de vous en fournir de duplicata, et nous ne nous portons aucunement garant de la confidentialité de ce contenu.

  %p Il se peut que nous utilisions le contenu Utilisateur de différentes façons, y compris pour le publier sur le site, en modifier le format, l'incorporer à des publicités ou autres documents, créer des œuvres dérivées de celui-ci, le mettre en valeur, le distribuer, et permettre à d'autres d'agir de même sur leurs sites Internet et plates-formes médiatiques. En conséquence, l'Utilisateur donne par les présentes à CoursAvenue son consentement irrévocable d'utiliser ce contenu pour n'importe quelle utilisation, et il renonce irrévocablement à toute revendication et affirmation relatives aux droits moraux ou patrimoniaux en ce qui concerne ce contenu.

  %h4.flush LIMITATIONS DE RESPONSABILITE

  %p
    %b Fonctionnement du réseau

  %p Compte tenu des spécificités du réseau Internet, la Société CoursAvenue n'offre aucune garantie de continuité du service, n'étant tenue à cet égard que d'une obligation de moyens.

  %p La responsabilité de la Société CoursAvenue ne peut pas être engagée en cas de dommages liés à l'impossibilité temporaire d'accéder à l'un des services proposés par le site Internet "CoursAvenue.com".

  %p
    %b Modification du site

  %p Toutes les informations contenues sur le site "CoursAvenue.com" sont susceptibles d'être modifiées à tout moment, compte tenu de l'interactivité du site, sans que cela puisse engager la responsabilité de la Société CoursAvenue.

  %p
    %b Utilisation du site

  %p La Société CoursAvenue décline toute responsabilité pour tout dommage ou perte lié à l'utilisation ou l'impossibilité d'utiliser le site Internet "CoursAvenue.com" ou son contenu, sauf exception prévue par la loi.

  %p La Société CoursAvenue ne garantit pas que les informations présentées soient détaillées, complètes, vérifiées ou exactes. Les documents, informations, fiches descriptives, et, en général, tout contenu présent sur le site "CoursAvenue.com" sont fournis en "l'état", sans aucune garantie expresse ou tacite de quelque sorte que ce soit.

  %p L'Utilisateur reconnaît expressément que les photos présentes sur le site "CoursAvenue.com" ne soient pas contractuelles.

  %p De façon générale, l'Utilisateur accepte et reconnaît que la réservation ne soit pas garantie. En ce sens, la Société CoursAvenue ne garantit pas l'effectivité du service de réservation. La disponibilité est vérifiée en temps réel informatiquement et une place est réellement bloquée informatiquement. Toutefois, la Société CoursAvenue ne pouvant pas matériellement vérifier l'exactitude des renseignements collectés et/ou donnés par les Prestataires, l'Utilisateur accepte que la responsabilité de la Société CoursAvenue ne puisse être engagée si l'Utilisateur ne parvient pas à bénéficier des prestations du Partenaire. En effet, les paramétrages site "CoursAvenue.com" et/ou du logiciel de réservation en temps réel dépendent pour partie des informations fournies et/ou enregistrées par le Partenaire et peuvent ne pas correspondre à la réalité. Ainsi, par exemple et de façon non exhaustive, l'Utilisateur reconnaît et accepte que la responsabilité de la Société CoursAvenue ne soit en aucun cas recherchée en cas d'annulation de réservation, en cas d'établissement fermé, et ce pour quelque cause que ce soit, ou encore en cas de refus de prestation, et ce pour quelque cause que ce soit.

  %p De même et pour les mêmes raisons, l'Utilisateur accepte que la responsabilité de la Société CoursAvenue ne puisse être engagée si l'Utilisateur ne parvient pas à bénéficier des promotions ou offres spéciales proposées par le Partenaire. L'Utilisateur reconnaît et accepte que la responsabilité de la Société CoursAvenue ne soit en aucun cas recherchée dans le cas où le Partenaire n'honorerait pas une promotion ou une offre spéciale, et ce pour quelque cause que ce soit.

  %p
    %b Garanties de l'Utilisateur

  %p L'Utilisateur déclare qu'il connaît parfaitement les caractéristiques et les contraintes de l'Internet. Il reconnaît notamment qu'il est impossible de garantir que les données que l'Utilisateur aura transmises via Internet seront entièrement sécurisées. La Société CoursAvenue ne pourra être tenue responsable des incidents qui pourraient découler de cette transmission.

  %p L'Utilisateur les communique donc à ses risques et périls. La Société CoursAvenue ne peut qu'apporter l'assurance qu'elle use de tous les moyens mis à sa disposition pour garantir un maximum de sécurité.

  %p L'Utilisateur s'engage à indemniser la Société CoursAvenue à hauteur des coûts que la Société CoursAvenue devrait supporter à la suite de toute réclamation ou contestation, judiciaire ou extrajudiciaire, liées à l'utilisation des services définis dans les présentes par l'Utilisateur et garantit la Société CoursAvenue de toute condamnation à ce titre en cas d'instance judiciaire.

  %p En tout état de cause, l'Utilisateur reconnaît expressément et accepte d'utiliser le site Internet "CoursAvenue.com" à ses propres risques et sous sa responsabilité exclusive.

  %p
    %b Liens hypertextes

  %p Le Site Internet "CoursAvenue.com" contient des liens vers des sites Internet de tiers. Les sites liés ne sont pas sous le contrôle de la Société CoursAvenue, et la Société CoursAvenue n'est pas responsable des contenus de ces sites liés. La Société CoursAvenue fournit ces liens pour convenance et un lien n'implique pas que la Société CoursAvenue parraine ou recommande le site lié en question ni que la Société CoursAvenue soit affiliée à celui-ci. Les sites liés sont détenus et exploités par des revendeurs ou des Prestataires de services indépendants et, de ce fait, la Société CoursAvenue ne peut vous garantir que vous serez satisfaits de leurs produits, services ou pratiques commerciales. Il vous appartient de faire toutes vérifications qui vous semblent nécessaires ou opportunes avant de procéder à une quelconque transaction avec l'un de ces tiers.

  %h4.flush OBLIGATIONS DE L'UTILISATEUR

  %p Accepter sans restriction les présentes conditions générales

  %p En ouvrant un compte, l'Utilisateur accepte, expressément et sans réserve, les termes des présentes conditions générales et aux éventuelles conditions particulières, présentes sur le site.

  %p
    %b Communiquer des informations exactes, sincères et véritables

  %p L'Utilisateur s'oblige à transmettre des renseignements exacts et véritables notamment sur sa civilité, son nom, son ou ses prénoms, son adresse email, son téléphone, nécessaires à sa bonne identification, en vue de l'ouverture d'un compte.

  %p Vérifier les conditions d’annulation et de remboursement

  %p L'Utilisateur s'oblige à vérifier les conditions d’annulation et de remboursement d’un cours avant de réserver sur le site et ne pourra en aucun cas réclamer au Partenaire ou à la Société CoursAvenue n’importe quel dédommagement en dehors des conditions d’annulation ou de remboursement telles qu'explicitées sur le site.

  %p
    %b Conditions d’annulation

  %p En effectuant une réservation auprès d’un partenaire, vous reconnaissez avoir lu et accepté les conditions d’annulation et de non-présentation de l’établissement, ainsi que toutes les conditions supplémentaires dudit établissement pouvant s’appliquer à votre réservation ou pendant votre cours, y compris pour les services rendus et/ou les produits proposés par l’établissement (les conditions générales de vente d’un établissement peuvent être obtenues auprès de l’établissement lui-même). Les conditions générales d’annulation et de non-présentation propres à chaque établissement sont indiquées sur les pages personnelles des établissements sur notre site Internet, ou sur les pages de description des cours à partir de laquelle l’Utilisateur effectue sa réservation. Veuillez noter que certains tarifs ou offres spéciales ne permettent pas d’annuler ou de modifier la réservation. Vous êtes donc invité à prendre connaissance des conditions de chaque offre avant d’effectuer votre réservation.
  %p Si vous souhaitez consulter, modifier ou annuler votre réservation, veuillez vous reporter à l’e-mail de confirmation et suivre les instructions qui y sont indiquées. Veuillez noter que chaque annulation peut entraîner des frais, conformément aux conditions d’annulation et de non-présentation des établissements. Nous vous conseillons de lire attentivement ces conditions d’annulation et de non-présentation avant d’effectuer votre réservation.
  %p D’une manière générale, l'Utilisateur s'oblige à vérifier les conditions d’annulation et de remboursement d’un cours avant de réserver sur le site et ne pourra en aucun cas réclamer au Partenaire ou à la Société CoursAvenue n’importe quel dédommagement en dehors des conditions d’annulation ou de remboursement telles qu'explicitées sur le site.

  %p
    %b Vérifier les conditions de validité des promotions et offres spéciales

  %p L'Utilisateur s'oblige à vérifier les conditions de validité d'une promotion avant de réserver sur le site et ne pourra en aucun cas réclamer au Partenaire une promotion CoursAvenue en dehors des conditions de validité telles qu'explicitées sur le site, et en dehors de la procédure de réservation avec promotion ou offre spéciale.

  %p
    %b Respecter le droit national et international de propriété intellectuelle

  %p L'Utilisateur s'engage à ne pas soumettre, copier, revendre, rééditer, ou, en général, rendre disponible par quelque forme que ce soit toute information ou élément, reçue de la Société CoursAvenue ou disponible sur le site "CoursAvenue.com", à une autre personne physique ou morale, de tous pays. En général, l'Utilisateur s'engage à respecter les dispositions ci-après relatives à la propriété intellectuelle.

  %h4.flush PROPRIETE INTELLECTUELLE

  %p
    %b Propriété des droits

  %p Tous les droits, patrimoniaux et moraux, de propriété intellectuelle, afférents aux contenus et aux éléments d'information du site Internet "CoursAvenue.com" appartiennent en propre à La Société CoursAvenue, sous réserve de tout droit patrimonial pouvant appartenir à un tiers et pour lesquels la Société CoursAvenue a obtenu les cessions de droits ou les autorisations nécessaires.

  %p Les droits conférés à l'Utilisateur en vue de l'utilisation du site "CoursAvenue.com" et des services fournis par la Société CoursAvenue n'emportent aucune cession ni aucune autorisation d'exploiter ou d'utiliser l'un quelconque des éléments du site Internet "CoursAvenue.com".

  %p Protection de tous les éléments : marques, dessins, logos, liens hypertextes, informations, etc.

  %p Tous les éléments (marques, dessins, textes, liens hypertextes, logos, images, vidéos, éléments sonores, logiciels, mise en page, bases de données, codes...) contenus sur le site Internet "CoursAvenue.com" et dans les sites associés sont protégés par le droit national et international de la propriété intellectuelle. Ces éléments restent la propriété exclusive de la Société CoursAvenue et/ou de ses Partenaires.

  %p
    %b Interdiction d'utilisation sans autorisation

  %p Par conséquent, sauf autorisation préalable et écrite de la Société CoursAvenue et/ou de ses Partenaires, l'Utilisateur ne peut procéder à une quelconque reproduction, représentation, réédition, redistribution, adaptation, traduction et/ou transformation partielle ou intégrale, ou un transfert sur un autre site web de tout élément composant et présent sur le Site "CoursAvenue.com".

  %p
    %b Sanctions

  %p L'Utilisateur reconnaît et prend connaissance que le non-respect de cette interdiction est constitutif d'un acte de contrefaçon répréhensible tant civilement que pénalement.

  %h4.flush SANCTION DES MANQUEMENTS CONTRACTUELS

  %p
    %b Suspension ou arrêt définitif du ou des services

  %p En cas d'inexécution ou de non respect par l'Utilisateur de l'une des obligations et stipulations prévues par les présentes conditions générales, la Société CoursAvenue pourra modifier, suspendre, limiter ou supprimer l'accès au service, sans que celui-ci ne puisse réclamer aucune indemnité quelconque.

  %p
    %b Dommages-intérêts

  %p La Société CoursAvenue sera également en droit de réclamer des indemnités destinées à compenser le préjudice subi.

  %h4.flush DISPOSITIONS DIVERSES

  %p
    %b Loi applicable

  %p Les relations qui se nouent entre la Société CoursAvenue et l'Utilisateur, régies notamment par les présentes conditions générales, sont soumises au droit français, à l'exclusion de toute autre législation étatique. En cas de rédaction des présentes conditions générales en plusieurs langues ou de traduction, seule la version française fera foi.

  %p
    %b Compétence juridictionnelle

  %p Toute contestation et/ou difficulté d'interprétation ou d'exécution des présentes conditions générales relèvera des tribunaux compétents de la ville de Paris.

  %p
    %b Nullité partielle - Dissociation - Titres

  %p Dans l'hypothèse où une disposition des présentes conditions générales serait nulle, illégale, inopposable ou inapplicable d'une manière quelconque, la validité, la légalité ou l'application des autres dispositions des présentes conditions générales n'en serait aucunement affectée ou altérée, les autres stipulations des conditions générales demeurant en vigueur et conservant leur plein et entier effet.

  %p La Société CoursAvenue pourra le cas échéant procéder à la rédaction d'une nouvelle clause ayant pour effet de rétablir la volonté commune des Parties telle qu'exprimée dans la clause initiale, et ce, dans le respect du droit en vigueur applicable aux présentes conditions générales.

  %p Les titres des articles des présentes n'ont qu'une valeur indicative et ne doivent pas être considérés comme faisant partie intégrante des conditions générales.

  %p
    %b Absence de renonciation

  %p Sauf stipulation contraire prévue éventuellement dans les présentes conditions générales, aucune tolérance, inaction, abstention ou omission, aucun retard de la Société CoursAvenue pour se prévaloir de l'un quelconque de ses droits conformément aux termes des présentes, ne portera atteinte audit droit, ni ne saurait impliquer une renonciation pour l'avenir à se prévaloir d'un tel droit. Au contraire, ledit droit demeurera pleinement en vigueur.

  %p
    %b Notification et retrait de contenu illicite

  %p La Société CoursAvenue informe tout Utilisateur du site "CoursAvenue.com" qu'il peut notifier une réclamation ou une objection quant à des éléments ou des contenus placés sur le site "CoursAvenue.com".

  %p Si l'Utilisateur pense que des éléments ou des contenus placés sur le site "CoursAvenue.com" contrefont des droits d'auteur qu'il détient, l'Utilisateur doit adresser immédiatement une notification à la Société CoursAvenue par courrier LRAR et contenant tous les éléments justificatifs de titularité des droits. Une fois cette procédure suivie et après vérification de l'exactitude de la notification, la Société CoursAvenue s'efforcera, dans une mesure raisonnable et dans les meilleurs délais, de retirer le contenu illicite. Etant précisé que la responsabilité de la Société CoursAvenue ne peut être engagée pour des contenus présents sur le site "CoursAvenue.com" et modifiables par des tiers (par exemple, fiche des Partenaires, forums, avis...).
