.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})", 'data-stellar-background-ratio' => '0.6' }
  .main-container.soft
    %h1.flush Votre contact presse

.main-container.soft
  %h3{ style: 'margin-bottom: 5px' } Nicolas Lagarde

  %p
    = image_tag 'pages/email_nico.png', height: 13, class: 'push-half--ends'
    %br
    = image_tag 'pages/phone_number.png', height: 13, class: 'push-half--ends'

  -# %h3 Dossier de presse
  -# %p
  -#   %b= link_to 'Télécharger notre dossier de presse !', 'https://s3-eu-west-1.amazonaws.com/coursavenue/docs/Dossier+Presse_CoursAvenue.zip'
