.bg-fixed.home-screen-promotion-wrapper.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" }
  .main-container.soft
    %h1.flush Conditions générales de vente et d'utilisation CoursAvenuePro

.main-container.soft
  %p A L'ATTENTION DES UTILISATEURS ET TOUTE PERSONNE PHYSIQUE OU MORALE AMENÉE À VISITER ET/OU UTILISER LE SITE PRO.coursavenue.com ET LES SERVICES ASSOCIES (DESIGNES AUSSI PAR « CoursAvenuePRO »)

  %p
    Les présentes mentions légales et conditions générales ont pour objet de définir les conditions et modalités de la mise à disposition d'un service gratuit de gestion des réservations en ligne des cours, stages et toutes autres activités. Les présentes conditions générales sont complétées ou modifiées, le cas échéant, par des conditions et modalités d'utilisation spécifiques propres à certaines fonctionnalités. Le service est réservé aux personnes physiques capables de souscrire des contrats en droit français.

  %p
    Attention : si vous n'êtes pas en accord avec tout ou partie des conditions générales d'utilisation ci-après, il vous est vivement recommandé de ne pas utiliser le site Internet pro.coursavenue.com.

  %p
    Il convient de consulter régulièrement la dernière version des présentes conditions générales d’utilisation et de les imprimer.

  %h4 ARTICLE 1 - OBJET DU CONTRAT

  %p
    CoursAvenue SAS édite un service en ligne de référencement de cours, stages et toutes autres activités accessible au public sur le site CoursAvenue.com (ci-après le Portail) et sur les sites de Partenaires de CoursAvenue SAS (ci-après les Sites).

  %p
    Outre son service de référencement, CoursAvenue SAS met à la disposition des Partenaires (ci-après les « Partenaires », désignant toute Structure d’enseignement, les Ecoles, les Professeurs et Formateurs indépendants, les Centres d’enseignement, les Ateliers de formations, et autres établissements similaires) une application accessible en ligne dénommée CoursAvenuePro (ci-après l’Application), hébergée sur ses serveurs et déclinée en versions CoursAvenuePro BASIQUE, PRO ou PRO PLUS.

  %p
    Le module de réservation CoursAvenue.com, partie intégrante de l’Application, peut également être intégré sur le site Internet du Partenaire en « marque grise » aux conditions définies dans les article 3 et 7. Il permet aux internautes d’effectuer des réservations sur le site Internet du Partenaire via le module de réservation CoursAvenue.com.

  %h4 ARTICLE 2 - ACCES A L’APPLICATION

  %p Au titre du présent contrat, CoursAvenue SAS concède au Partenaire un droit d’utilisation personnel, temporaire et non cessible à la formule souscrite de l’Application exclusivement destiné à la gestion de son établissement sur le Portail, sur les Sites Partenaires et, le cas échéant, sur son propre site web.

  %p Le Partenaire est seul responsable de l’utilisation et de la gestion de son droit d'accès à l’Application. Dès notification, par voie postale ou par messagerie électronique à CoursAvenue SAS de la souscription du présent contrat, et validation de ladite notification par le Partenaire, ce dernier pourra se connecter à l’Application via un ordinateur relié à Internet en 24/7 sans assistance des équipes techniques d'exploitation et de maintenance de l’Application.

  %p La souscription à l’Application entraîne l’inscription au service en ligne de référencement édité par CoursAvenue SAS, sous réserve du respect par le Partenaire des critères de sélection et de qualité édictés par CoursAvenue SAS et sous réserve que l’établissement du Partenaire soit situé dans un pays visé par le site CoursAvenue.com. La souscription par un Partenaire à une version de l’Application ne constitue toutefois ni une condition, ni une garantie de référencement sur le Portail ou les Sites Partenaires. La responsabilité de CoursAvenue SAS ne pourra en aucun cas être recherchée en cas de non-référencement d’un Partenaire.

  %p Le Partenaire ayant souscrit à une version de l’Application et qui est par ailleurs référencé par CoursAvenue SAS sur le Portail et sur les Sites Partenaires dispose d’un droit d’accès lui permettant de modifier en ligne les informations et contenus relatifs à son établissement.

  %h4 ARTICLE 3 – INSTALLATION DU MODULE DE RESERVATION SUR LE SITE INTERNET DU PARTENAIRE

  %p CoursAvenue SAS propose de rendre disponible sur le site Internet du Partenaire, le module de réservation CoursAvenue.com, afin que les internautes puissent réserver sur le site Internet du Partenaire.

  %p Le module de réservation en « marque grise » permet aux internautes de faire des réservations via une interface faisant apparaître les marques et/ou logos de CoursAvenue SAS. Cette formule fera l’objet d’une faible commission perçue par CoursAvenue SAS, couvrant principalement les frais bancaires et de carte bleue associés. Cette commission, appliquée à chaque réservation effectuée, est calculée conformément aux dispositions de l’article 7 des présentes conditions d’utilisation.

  %h4 ARTICLE 4 – OBLIGATIONS - AUTORISATIONS DU PARTENAIRE

  %p Le Partenaire s’engage à utiliser l’Application conformément aux conditions définies dans le présent contrat. Le Partenaire s’interdit, de reproduire, extraire, décompiler, réutiliser tout élément de l’Application, par quelque moyen que ce soit, sous quelque forme que ce soit et sur quelque support que ce soit.

  %p Le Partenaire demeure seul responsable de l'utilisation des identifiants le concernant. En cas de perte des identifiants ou de divulgation des identifiants à des tiers non autorisés, le Partenaire s’engage à avertir sans délais CoursAvenue SAS.

  %p Le Partenaire dont l’établissement est présent sur le Portail et les Sites Partenaires s’engage à fournir des informations sincères et exactes sur les services fournis à la clientèle et à toujours tenir à jour lesdites informations. Le Partenaire est entièrement responsable du contenu relatif à son établissement. Le Partenaire intégrant le module de réservation CoursAvenue.com sur son propre site web s’engage à respecter l’ensemble de la législation en vigueur applicable à son activité en ligne.

  %p Le Partenaire autorise CoursAvenue SAS à utiliser les différents éléments visuels ou textuels fournis au moyen de l’Application sur ses différents supports (Portail, newsletters, Sites Partenaires, etc.). Le Partenaire autorise également CoursAvenue SAS à référencer les récompenses et distinctions obtenues auprès d’organismes tiers. En particulier, le Partenaire certifie que les contenus (tels que photographies, vidéos, textes, etc.) accessibles au moyen de l’Application ne portent pas préjudice aux droits des tiers et qu’il est autorisé à les reproduire et/ou les diffuser au public sur Internet. Pour les images du Partenaire incluant le personnel ou la clientèle du Partenaire, le Partenaire déclare avoir recueilli l’accord de la (les) personne(s) photographiée(s) ou filmée(s), en vue de la publication et de la diffusion des images. Le Partenaire déclare être informé de cette contrainte et aucune réclamation sur les photographies ne pourra être effectuée par le Partenaire à ce titre. Le Partenaire garantit dès lors CoursAvenue SAS contre toutes réclamations, revendications de propriété ou toutes actions judiciaires ou extrajudiciaires relatives aux contenus et s’engage à dédommager intégralement CoursAvenue SAS de ses frais et pertes qui pourraient lui être causés de ce fait.

  %p Le Partenaire s’engage à respecter la vie privée des clients et les dispositions de la Loi modifiée n° 78-17 dite « Informatique et Libertés » du 6 janvier 1978. En particulier, le Partenaire s’engage à effectuer toutes les formalités nécessaires auprès de la CNIL pour traiter les données personnelles des clients et respecter en toute circonstance les droits reconnus par la Loi Informatique et Libertés aux personnes dont les données personnelles sont traitées par le Partenaire, notamment dans le cadre de campagnes e-mail ou SMS.

  %h4 ARTICLE 5 – OBLIGATIONS DE CoursAvenue SAS

  %p CoursAvenue SAS s’engage à mettre en œuvre les moyens nécessaires pour assurer la continuité et la qualité d’accès à l’Application conformément aux conditions définies aux articles 1 et 2 du présent contrat. CoursAvenue SAS ne prend aucun engagement quant aux modalités de classement et/ou de référencement des établissements des Partenaires sur le Portail ou sur les Sites Partenaires. CoursAvenue SAS demeure libre de ses choix promotionnels et il ne peut en aucun cas lui être reproché un manque de visibilité d’un établissement par le Partenaire.

  %h4 ARTICLE 6 – PROPRIETE DES DONNEES

  %p Le contenu fourni par le Partenaire ou créé par ce dernier avec l’Application demeure la propriété du Partenaire et reste sous sa responsabilité exclusive. CoursAvenue SAS est en revanche responsable et propriétaire des données collectées sur son Portail, sur les Sites Partenaires, et via le module de réservation en « marque grise » CoursAvenue.com. CoursAvenue SAS est également propriétaire de l’ensemble des informations relatives au classement des Partenaires sur le Portail et sur les Sites.

  %h4 ARTICLE 7 – CONDITIONS FINANCIERES – MODALITES DE PAIEMENT

  %p Les tarifs des abonnements et services fournis par CoursAvenue SAS sont indiqués sur le bon de commande.

  %p L’utilisation de l’Application donne lieu à facturation par CoursAvenue SAS au Partenaire selon le barème des prix en vigueur au jour de l’utilisation de l’Application.

  %p Pour chaque réservation effectuée en ligne (via CoursAvenue.com, le module de réservation sur le site Internet du Partenaire en « marque grise », ou tout autre site partenaire de la Société CoursAvenue SAS) et en rémunération de l'ensemble des prestations rendues, CoursAvenue SAS percevra une rémunération assise sur le prix de l’Activité. En pratique, CoursAvenue SAS reversera à chaque fin de mois ou de trimestre (en fonction du volume de réservations réalisé) la somme totale des réservations déduites des commissions et frais de réservation associés.

  %p Dans le cas où CoursAvenue SAS est débiteur (la somme des réservations réalisées sur Internet déduites des commissions est supérieure à l’abonnement mensuel à l’Application), CoursAvenue SAS procèdera à un virement bancaire directement sur le compte du Partenaire. Dans le cas contraire, CoursAvenue SAS procèdera à l’envoi de factures payables à réception et réglées par prélèvement automatique au plus tard le 15 de chaque mois suivant la date d’émission de facture. Cette facturation est mensuelle ou trimestrielle en fonction du volume de réservations et du montant de la facture. Dans le cas d’un règlement par chèque ou par virement, des frais additionnels de gestion de 5€ HT par facture émise sont appliqués.

  %p Le Partenaire s’engage à fournir des coordonnées bancaires complètes à CoursAvenue SAS et à maintenir à jour lesdites informations aux fins d’éviter tout incident de paiement. Des pénalités de retard sont dues à défaut de règlement le jour suivant la date de paiement figurant sur la facture, et sans qu'un rappel soit nécessaire. Passée la date d'échéance, CoursAvenue SAS entrera en contact avec le Partenaire. En cas d'échec de la démarche de recouvrement amiable une société de recouvrement interviendra et une pénalité de retard de 3 fois le taux d'intérêt légal sera appliquée (Loi n°2008-776 du 4 août 2008 - Article L. 441-6 du code de commerce).

  %h4 ARTICLE 8 – GESTION DES ANNULATIONS

  %p Pour les Partenaires présents sur le Portail ou les Sites Partenaires, dans le cas où une réservation prise sur le Portail ou les Sites Partenaires est annulée, le Partenaire informera CoursAvenue SAS par e-mail, par téléphone ou directement par l’Application dans les 72 heures suivant la réservation.

  Les réservations annulées ne sont pas facturées.

  %h4 ARTICLE 9 - EFFET – DUREE – SUSPENSION - RESILIATION

  %p Le présent contrat est conclu pour une durée indéterminée. Le contrat est résiliable par l’une ou l’autre partie sans indemnité, par lettre recommandée avec accusé de réception adressée avec un préavis de 1 mois. A tout moment, le Partenaire pourra changer, s’il le souhaite, son type d’abonnement sans coût ni préavis. En cas de changement d’abonnement, tout mois entamé est dû, même en cas de résiliation intervenant dans le cours d’exécution du mois. En cas de passage de la version CoursAvenuePro BASIQUE à la version CoursAvenuePro PRO et/ou PRO PLUS, les paiements dus par le Partenaire au titre de l’abonnement sont calculés au prorata des jours du mois passés en version CoursAvenuePro PRO et /ou PRO PLUS. En cas de passage de la version CoursAvenuePro PRO et/ou PRO PLUS à la version CoursAvenuePro BASIQUE, les paiements dus par le Partenaire au titre de l’abonnement à la version CoursAvenuePro PRO et/ou PRO PLUS sont dus pour l’ensemble du mois en cours.

  %p En cas de non-respect par le Partenaire des stipulations du présent contrat, CoursAvenue SAS se réserve le droit de suspendre ou limiter son accès à l’Application le temps nécessaire au respect par le Partenaire des critères de publication et/ou de ses obligations. Pour les Partenaires présents sur le Portail ou les Sites Partenaires, le déréférencement est notifié au Partenaire par CoursAvenue SAS par l’envoi d’une simple lettre ou par email et en cas d’absence d’atteinte des critères de publication (en particulier, note minimum, nombre minimum de réservations, etc.), CoursAvenue SAS se réserve le droit de déréférencer son établissement.

  %p Outre son droit de déréférencement, de suspension ou de limitation d’accès à l’Application, en cas de non-respect par le Partenaire des stipulations du présent contrat, CoursAvenue SAS peut décider de mettre en demeure le Partenaire, par lettre recommandée avec accusé de réception, de se conformer aux stipulations contractuelles dans un délai d’un mois à compter de sa réception. Si à l’expiration de ce délai, le Partenaire ne s’est toujours pas conformé aux exigences de CoursAvenue SAS, celle-ci pourra définitivement mettre fin au présent contrat sans préavis ni indemnité par le simple envoi d’une lettre recommandée avec accusé de réception. En cas de faute grave du Partenaire (diffusion de contenus illicites, non-paiement des frais d’abonnement ou des commissions dues, manquements graves auprès de la clientèle, etc.), CoursAvenue SAS se réserve le droit de résilier sans préavis ni indemnité le présent contrat par simple envoi d’une lettre recommandée avec accusé de réception.

  %h4 ARTICLE 10 – QUALITE

  %p Pour les établissements présents sur le Portail, CoursAvenue SAS souhaite s’assurer de la conformité et de la qualité des prestations proposées par le Partenaire avec les prestations décrites dans le présent contrat. Pour ce faire, le Partenaire autorise CoursAvenue SAS (ou toute personne mandatée par elle) à tester gratuitement les prestations jusqu’à deux fois dans l’année au cours de la validité du contrat. Ce test pourra être effectué de manière anonyme et par deux personnes maximum pour chaque test. Le Partenaire étant en pareil cas informé à l’issue de celle-ci. En outre, le Portail propose une fonctionnalité grâce à laquelle les internautes peuvent poster des avis quant à la qualité des services
  fournis dans un établissement particulier. Cette fonctionnalité est exclusivement réservée aux internautes, aucun Partenaire n’est donc autorisé à faire usage de cette fonctionnalité pour poster un avis sur son propre établissement ou celui d’un autre Partenaire. Tout Partenaire violant la présente stipulation pourra voir son contrat résilié de plein droit par CoursAvenue SAS.

  %h4 ARTICLE 11 – RESPONSABILITE / GARANTIE

  %p L’Application est fournie en l’état. CoursAvenue SAS n’est en aucun cas responsable si, en cas d’indisponibilité liée (i) à des opérations de maintenance, (ii) au réseau Internet ou (iii) pour toute autre raison qui lui sont indépendantes, le Partenaire ne peut accéder à l’Application, au Portail ou aux Sites Partenaires. En toute hypothèse, en cas de faute prouvée de CoursAvenue SAS à l’égard du Partenaire, le montant des dommages-intérêts pouvant lui être réclamé sera limité au montant des rémunérations effectivement perçues par CoursAvenue SAS au titre de la dernière année d’exécution du présent contrat avec le Partenaire.

  %p Le Partenaire reconnaît que pour l’ensemble des contenus qu’il fournit au moyen de l’Application, le rôle de CoursAvenue SAS se limite à celui d’un simple hébergeur. En outre, en sa qualité de simple intermédiaire, la responsabilité de CoursAvenue SAS ne peut pas être recherchée pour des actes découlant de sa prestation de mise en relation. Enfin, dans le cadre de la fourniture d’un accès à l’Application, CoursAvenue SAS agit en simple qualité de prestataire technique et ne pourra en aucun cas voir sa responsabilité engagée pour les actes d’usage ou d’exploitation de l’Application par le Partenaire ou réalisé à partir des identifiants du Partenaire.

  %p Le Partenaire s’engage à utiliser l’Application dans le respect de la législation française en vigueur, notamment en matière de droit de la consommation (prohibition de la publicité trompeuse et des pratiques commerciales déloyales ou agressives), droit des données personnelles, droit de la propriété intellectuelle, droit à l’image et droit du commerce électronique. En conséquence, le Partenaire s’engage à garantir CoursAvenue SAS contre toute réclamation, action ou demande d’indemnisation d’un client, d’un tiers ou d’une autorité publique portant sur une information, un contenu ou un acte du Partenaire pris en violation des stipulations du présent contrat ou des dispositions législatives en vigueur.

  %h4 ARTICLE 12 – UTILISATION DES MARQUES ET LOGOS CoursAvenue

  %p Toutes les marques et tous les logos appartenant à CoursAvenue SAS ne peuvent pas être utilisés par le Partenaire sans le consentement préalable écrit de CoursAvenue SAS ou sauf dans le cadre de la dérogation suivante : CoursAvenue SAS autorise le Partenaire à utiliser, reproduire et diffuser ses marques et/ou logos sur son propre site web dans le strict cadre de l’exploitation du module en « marque grise » de l’Application. Une telle exploitation des marques et logos par le Partenaire devra être effectuée conformément aux instructions, lignes directrices et/ou charte d’usage des marques et logos de CoursAvenue SAS. Tous les autres droits de CoursAvenue SAS relatifs aux marques ou aux logos sont réservés.

  %h4 ARTICLE 13 – DIVERS

  %p Il est expressément convenu entre les parties que, les données conservées sur support électronique dans le système informatique de CoursAvenue SAS ont force probante entre les parties. Dans l'hypothèse où elles seraient produites dans toute procédure contentieuse ou autre, elles seront considérées recevables, valables et opposables entre les parties et de la même manière, dans les mêmes conditions et avec la même force probante que tout document qui serait établi, reçu ou conservé par écrit, sauf erreur manifeste de CoursAvenue SAS. Les parties demeurent des professionnels indépendants et ne sont liées qu’au titre et dans les conditions du présent contrat. Les stipulations du présent contrat ne peuvent nullement être interprétées comme créant une quelconque société entre les parties, ni un quelconque mandat, ni une quelconque subordination, ni une quelconque solidarité. Le contrat est régi par le droit français. En cas de litige entre les parties, compétence exclusive est donnée au Tribunal de commerce de Paris, y compris pour les procédures d’urgence et de référé.

