.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" }
  .main-container.main-container--medium.soft
    %h1.flush
      L'équipe

.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft
    %p.text--center.delta
      Fondée fin 2012 et basée à Paris & Toulouse, CoursAvenue permet de trouver des cours de loisirs uniques à travers toute la France, de les découvrir

    %p.text--center.delta
      CoursAvenue est avant tout une équipe de passionnés qui mettent leurs compétences au service de CoursAvenue. Fondée fin 2012 et basée à Paris & Toulouse, notre motivation principale est de relier chaque Français aux meilleurs cours de loisirs qui l'entourent.

.main-container.soft
  .team-wrapper.text--center
    .inline-block.team.team__nicolas{ data: { el: '#nicolas-description' } }
    .inline-block.team.team__nima{ data: { el: '#nima-description' } }
    .inline-block.team.team__natan{ data: { el: '#natan-description' } }
    .inline-block.team.team__adelaide{ data: { el: '#adelaide-description' } }
    .inline-block.team.team__hugo{ data: { el: '#hugo-description' } }
    .inline-block.team.team__offre{ data: { el: '#offre-description' } }


.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft
    .relative{ style: 'height: 300px;' }
      %div.text--left.push--top.hidden.north.absolute#nicolas-description
        %p.gamma
          %strong Nicolas
          %i.gray-light — Co-fondateur
        %p.delta.line-height-1-7
          Mon rêve, c'était de créer ma boîte. Mais pas n'importe laquelle. Une entreprise avec des valeurs, et utile pour tout le monde. Avant de me lancer, je suis passé par une école de commerce (EM Lyon), puis par la finance et le conseil en stratégie. Selon moi, personne ne doit oublier ses passions : je joue au tennis depuis 20 ans, je prends des cours de steel drum, j'ai mon niveau 2 de plongée, et je viens de me mettre au kyte surf. Et l'année dernière, j'ai passé mon CAP Cuisine en candidat libre. Je suis un touche-à-tout difficilement rassasiable !

      %div.delta.text--left.push--top.hidden.north.absolute#nima-description
        %p.gamma
          %strong Nima
          %i.gray-light — Co-fondateur
        %p.delta.line-height-1-7
          Depuis mon plus jeune âge je me suis interessé à plusieurs types d'activités : karaté, tennis, basket et j'en passe. Mais ce n'est qu'à l'adolescence que je suis tombé amoureux de la musique. J'ai appris à jouer de la guitare par moi-même puis j'ai formé un groupe de musique avec des amis. Aujourd'hui c'est surtout sur mon clavier d'ordinateur que je laisse parcourir mes doigts puisque je suis passionné d'informatique et du Web plus particulièrement. J'adore les innovations technologiques et j'aime pouvoir contribuer à cela.

      %div.delta.text--left.push--top.hidden.north.absolute#natan-description
        %p.gamma
          %strong Natan
          %i.gray-light — Chargée de compte
        %p.delta.line-height-1-7


      %div.delta.text--left.push--top.hidden.north.absolute#adelaide-description
        %p.gamma
          %strong Adelaïde
          %i.gray-light — Chargée de compte

        %p.delta.line-height-1-7
          Bonjour, moi c’est Adelaïde. J’ai toujours été passionnée de danse. J’ai commencé la danse classique quand j’étais petite avant de tester le hip-hop à partir de 14 ans.
        %p.delta.line-height-1-7
          Chez CoursAvenue je suis chargée de compte. Mais qu’est-ce que ça veut dire chargée de compte ? Concrètement, ma mission est de gérer les professeurs et écoles de danse présentes sur le site. Si vous trouvez ici le cours de danse qui vous convient, c’est un peu grâce à moi !

      %div.delta.text--left.push--top.hidden.north.absolute#hugo-description
        %p.gamma
          %strong Hugo
          %i.gray-light — Community Manager

        %p.delta.line-height-1-7
          J’ai commencé le karaté dès l’âge de 5 ans, puis le judo à partir de 10. Un entrainement intensif m’a permis de devenir ceinture noire rapidement. Ca ne rigolait pas à l’époque… ! Aujourd’hui je préfère me défouler en faisant de la boxe thaï. Un jour, j’espère devenir comme Xavier Bastard, triple champion du monde.
        %p.delta.line-height-1-7
          Chez CoursAvenue je m’occupe du blog et des réseaux sociaux. J’essaie d’écrire des articles intéressants et utiles pour nos lecteurs : vous. Si vous avez une question, n’hésitez pas à nous envoyer un tweet ou à laisser un message sur notre page Facebook. C’est moi qui vous répondrai.

      %div.delta.text--left.push--top.hidden.north.absolute#hugo-offre
        %p.gamma
          %strong Vous ?
          %i.gray-light
          — Nous recrutons !

        %p.delta.line-height-1-7
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ullam deserunt enim a error assumenda aliquid earum sunt nostrum expedita! Corporis, quam, ea omnis quos velit id ullam ab officiis.

= content_for :scripts do
  :javascript
      $(function() {
          $('.team').hover(function() {
              $($(this).data('el')).fadeIn('fast');
          }, function() {
              $($(this).data('el')).fadeOut('fast');
          });
      });

