.soft.white.bg-cover.soft-black-text-shadow{ style: "background-image: url(#{asset_path 'pro/home_background5.jpg'})" , 'data-stellar-background-ratio' => '0.6'}
  .main-container.main-container--medium.soft
    %h1.flush
      L'équipe
    %p.delta.line-height-1-7.f-weight-bold
      Basés en plein coeur de la ville lumière et de la ville rose (Paris & Toulouse), nous sommes une équipe de passionnés prêts à tout pour relier chacun de nous aux meilleurs cours de loisirs qui nous entourent. Nos 3 piliers fondateurs ? L'implication, l'humilité, la passion.

.main-container.soft
  .team-wrapper.text--center
    .inline-block.team.team__nicolas{ data: { el: '#nicolas-description' } }
    .inline-block.team.team__nima{ data: { el: '#nima-description' } }
    .inline-block.team.team__nabil{ data: { el: '#nabil-description' } }
    .inline-block.team.team__thanh{ data: { el: '#thanh-description' } }
    .inline-block.team.team__boris{ data: { el: '#boris-description' } }
    .inline-block.team.team__offre{ data: { el: '#offre-description' } }


.home-screen-promotion-wrapper
  .main-container.main-container--medium.soft
    .relative{ style: 'height: 300px;' }
      %div.text--left.push--top.hidden.north.absolute#nicolas-description
        %p.gamma
          %strong Nicolas
          %i.gray-light — Co-fondateur
        %p.epsilon.line-height-1-7
          Mon rêve, c'était de créer une boîte. Mais pas n'importe laquelle. Une entreprise avec des valeurs, et utile pour tous. Avant de me lancer, je suis passé par une école de commerce (EM Lyon), puis par la finance et le conseil en stratégie. Selon moi, personne ne peut oublier ses passions qui doivent accompagner chaque quotidien : je joue au tennis depuis 20 ans, je prends des cours de steel drum, j'ai mon niveau 2 de plongée, et je viens de me mettre au kyte surf. Et l'année dernière, j'ai passé mon C.A.P. Cuisine en candidat libre. "Les loisirs sont vos passions" : j'en suis convaincu ! C'est pourquoi le projet CoursAvenue a sonné pour moi comme une évidence.

      %div.delta.text--left.push--top.hidden.north.absolute#nima-description
        %p.gamma
          %strong Nima
          %i.gray-light — Co-fondateur
        %p.epsilon.line-height-1-7
          Depuis mon plus jeune âge, je me suis interessé à plusieurs types d'activités : karaté, tennis, basket et j'en passe. Mais ce n'est qu'à l'adolescence que je suis tombé amoureux de la musique. J'ai appris à jouer de la guitare par moi-même avant de former un groupe avec des amis. Aujourd'hui, c'est surtout sur mon clavier d'ordinateur que je pratique la gratte : je suis un passionné d'informatique, mais surtout du web. J'adore les innovations technologiques et par-dessus tout le plaisir d'y contribuer.

      %div.delta.text--left.push--top.hidden.north.absolute#nabil-description
        %p.gamma
          %strong Nabil
          %i.gray-light — Relations Partenaires
        %p.epsilon.line-height-1-7
          Selon moi, s'occuper autrement et utilement aide à s'épanouir. Côté sportif, je pratique surtout le football et tennis. L'été, cap vers l'océan avec ma planche pour surfer sur les plus belles vagues du pays basque. Côté artistique, je m'intéresse à tous les arts, en particulier la photo et les expositions d'artistes. Mon rôle chez CoursAvenue ? Vous guider au quotidien !


      %div.delta.text--left.push--top.hidden.north.absolute#thanh-description
        %p.gamma
          %strong Thanh Hang
          %i.gray-light — Chargée de marketing digital

        %p.epsilon.line-height-1-7
          Passionnée de danse, j'ai fait plusieurs années de danse classique : comme toutes les petites filles, je rêvais d'avoir la grâce d'une danseuse étoile ! Mais mon véritable domaine de prédilection, c'est le piano. Pendant mes huit années de conservatoire, j'ai découvert tous les styles qu'offre cet instrument magique : du jazz au classique en passant par la pop, le champ des possibles est large ! De quoi partager des moments de partage privilégiés avec mon entourage.

      %div.delta.text--left.push--top.hidden.north.absolute#boris-description
        %p.gamma
          %strong Boris
          %i.gray-light — Community manager

        %p.epsilon.line-height-1-7
          Cinéphile de la première heure (je tiens un blog !), mes passions se tournent vers la production vidéo, le théâtre, le montage et l'écriture scénaristique. J'ai aussi pratiqué le judo étant plus jeune, mais malheureusement j'ai rapidement arrêté, j'étais un piètre judoka... Hadjimé !

      %div.delta.text--left.push--top.hidden.north.absolute#offre-description
        %p.gamma
          %strong Vous !

        %p.epsilon.line-height-1-7
          Envie de nous rejoindre ? Nous sommes sans cesse à la recherche de talents. Vous avez un profil de développeur web Ruby (front et surtout back-end), de commercial, du web en général (community management, web marketing, etc.) :
          = link_to 'Contactez-nous !', pages_contact_path

= content_for :scripts do
  :javascript
      $(function() {
          $('.team').hover(function() {
              $($(this).data('el')).fadeIn('fast');
          }, function() {
              $($(this).data('el')).fadeOut('fast');
          });
      });

