%h1 LeBonCours, la plateforme de réservation de vos cours

%p Nous nous sommes aperçus du paradoxe suivant :
%ul
  %li D’un côté, les Français n’ont aucun outil pour les aider à trouver et à réserver le cours de leur choix ;
  %li De l’autre, les professionnels du secteur (professeurs, centres, écoles privées ou publiques) n'arrivent pas à remplir leurs cours (le taux de réservation moyen toutes disciplines confondues est de 70%).

%p C’est pourquoi nous avons pensé à lancer LeBonCours.com : la première plateforme de réservation en temps réel des cours aux meilleurs prix.

%p Vous souhaitez suivre un cours ? LeBonCours vous permet de :

%ol
  %li Mieux cibler l’offre de cours autour de vous : LeBonCours.com est un site de référencement clair et exhaustif, et son moteur de recherche multicritère unique sur le marché vous fera gagner beaucoup de temps ;

  %li Comparer les prix et bénéficier de promotions exclusives : en passant par LeBonCours, vous ne paierez jamais plus cher qu’en réservant en direct avec la structure d’enseignement ; mieux encore, vous bénéficierez de promotions exclusives LeBonCours (jusqu’à -70%) ;

  %li Réserver la séance de votre choix via une procédure simple, sécurisée et totalement gratuite : plus de coup de téléphone pour connaître les disponibilités, quelques clics suffisent ;

  %li Connaître la qualité d’un cours grâce à l’avis d’anciens élèves : après votre cours, notez et laissez un commentaire écrit.
