<div data-type="container"></div>
<div data-empty-privates class="hidden">
    <p class="flush--bottom">
        {{ capitalize about }} n'affiche pas de cours particulier.
        <a class="cursor-pointer" data-behavior="show-contact-panel" data-info-planning="true">Contactez-{{ about_genre }} pour demander son planning.</a>
    </p>
</div>
