<div class="{{#unless is_last}}bordered--bottom{{/unless}}">
    <div class="grid soft--ends">
        <div class="grid__item v-top four-twelfths palm-one-whole">
            <h3 data-behavior="excite-markers" class="bg-gray-light text--center bordered line-height-1-7 v-middle flush delta">
                <a data-behavior="register-to-course" class="block muted-link cursor-pointer hoverable soft-half transition-all-300">{{ name }}</a>
            </h3>
        </div><!--
     --><div class="grid__item v-top eight-twelfths palm-one-whole">
            <div class="float--right palm-float-none">
                {{#if min_price.id}}
                    <div class="text--center push-half--bottom f-weight-500">
                        {{#if min_price.is_free}}
                        <strong class="green delta v-bottom">Essai gratuit</strong>
                        {{else}}
                            <span class="f-weight-500 gray-light v-bottom">À p. de </span>
                            {{#if min_price.readable_promo_amount}}
                                {{#if min_price.readable_amount}}<span class="line-through epsilon">{{{ min_price.readable_amount }}}</span>{{/if}}
                                <span class="green gamma">{{{ min_price.readable_promo_amount }}}</span>
                            {{else}}
                                <span class="gamma v-bottom">{{{ min_price.readable_amount }}}</span>
                            {{/if}}
                        {{/if}}
                    </div>
                {{/if}}
                {{#unless is_sleeping}}
                    <div class="text--center">
                        {{#if accepts_payment}}
                            <a data-behavior="register-to-course" class="btn btn--green soft--sides btn--full block">Payer par CB</a>
                            <i>Annulation gratuite</i>
                        {{else}}
                            <a data-behavior="register-to-course" class="btn btn--green soft--sides btn--full">M'inscrire</a>
                        {{/if}}
                    </div>
                {{/unless}}
            </div>
            <div data-behavior="register-to-course" data-behavior="excite-markers" class="cursor-pointer hoverable transition-all-300 very-soft f-weight-600 line-height-1-7">
                <div class="epsilon f-weight-600 line-height-1-7">{{{ course_location }}}</div>
                <div class="gray-light f-weight-500">{{ levels }}, {{ audiences }}</div>
                <div data-type="plannings-container" class="hidden"></div>
            </div>
            <div class="very-soft--left">
              <a href="#" data-behavior="show-long-version" data-long-version=".course-{{id}}-know-more">
                  Plus de détails <i class="fa fa-caret-down"></i>
              </a>
            </div>
        </div>
    </div>

    <div class="course-{{id}}-know-more hidden">
        {{#unlessBlank description}}
          <div class="grid soft-half--ends">
              <div class="grid__item v-top four-twelfths palm-one-whole">
                  <strong class="gray-light">Description</strong>
              </div><!--
           --><div class="grid__item v-top eight-twelfths palm-one-whole">

                    {{#ifCond description '!=' description_short}}
                    <div id="course-{{id}}-description-short" class="gray last-p-flush">
                        {{{ simple_format_hide_contacts description_short }}}
                    </div>
                    <a href="#" data-behavior="show-long-version" data-short-version="#course-{{id}}-description-short" data-long-version="#course-{{id}}-description-long">
                    + Plus
                    </a>
                    <div id="course-{{id}}-description-long" class="gray last-p-flush hidden" itemprop="description">
                        {{{ simple_format_hide_contacts description }}}
                    </div>
                    {{else}}
                    <div class="gray last-p-flush" itemprop="description">
                        {{{ simple_format_hide_contacts description }}}
                    </div>
                    {{/ifCond}}
                </div>
            </div>
        {{/unlessBlank}}
        <div class="grid soft-half--ends">
            <div class="grid__item v-top four-twelfths palm-one-whole">
                <strong class="gray-light">Tarifs</strong>
            </div><!--
         --><div class="grid__item v-top eight-twelfths palm-one-whole">
                <div data-type="prices-collection-container"></div>
            </div>
        </div>
        <div class="grid soft-half--ends">
            <div class="grid__item v-top four-twelfths palm-one-whole">
                <strong class="gray-light">Disciplines</strong>
            </div><!--
         --><div class="grid__item v-top eight-twelfths palm-one-whole">
                <div class="line-height-1-7" data-type="subjects-collection-container"></div>
            </div>
        </div>
    </div>
</div>
