%table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '600' }
  %tr{ valign: 'top' }
    %td.content-block{ width: '300' }
      %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '300' }
        %tr{ valign: 'top' }
          %td.soft-half--top.text--center{ width: '300' }
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/x7.png', alt: 'CoursAvenue', height: '80', width: '80', style: 'width: 80px; height: 80px;'
        %tr{ valign: 'top' }
          %td.content-block.push--bottom{ width: '300', style: 'padding-right: 0; padding-left: 0;' }
            .p.text--center.soft-half--top
              Les profils complétés ont
              %br
              7 fois plus de visites

    %td.content-block{ width: '300' }
      %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '300' }
        %tr{ valign: 'top' }
          %td.soft-half--top.text--center{ width: '300' }
            = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/emails_logo/100k_visites.png', alt: 'CoursAvenue', height: '80', width: '80', style: 'width: 80px; height: 80px;'
        %tr{ valign: 'top' }
          %td.content-block.push--bottom{ width: '300', style: 'padding-right: 0; padding-left: 0;' }
            .p.text--center.soft-half--top
              CoursAvenue.com : plus de
              %br
              100 000 pages vues par mois
