%p Bonjour #{@admin.name}

%p
  Votre compte CoursAvenue Pro a été validé.
  %br
  Vous pouvez maintenant mettre vos cours en ligne à partir de #{link_to 'votre espace pro', pro_structure_url(@admin.structure, subdomain: 'pro')}.

%p À très bientôt,

%p L'équipe de CoursAvenue
