- content_for :no_yield do
  &nbsp;

- content_for :under_content_no_box do
  %table.promo-table{ border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr
      %td.content-block
        = image_tag 'emails_logo/premium/commercial_header_50percents.jpg', alt: "N’attendez pas la fin de l’été", width: 600, height: 189

- content_for :under_content do
  %table{ align: 'center', border: '0', cellpadding: '0', cellspacing: '0', width: '100%' }
    %tr{ valign: 'top' }
      %td.v-middle.content-block{ width: 450 }
        .p Pour vous remercier de faire partie de nos premiers partenaires, nous vous offrons une offre exclusive :
        .p
          %strong Passez au profil Premium maintenant et profitez du tarif spécial de 17€/mois au lieu de 34€ jusqu'à la fin de l'année.
        .p Vous mettrez ainsi toutes les chances de votre côté pour réussir votre rentrée :
      %td.v-middle.content-block{ width: 150 }
        = image_tag 'emails_logo/premium/50percents.png', height: 150, width: 150
    %tr{ valign: 'top' }
      %td.content-block{ colspan: 2 }
        .action
          = link_to "J'en profite", premium_pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--yellow', style: 'padding-left: 30px; padding-right: 30px;'

- content_for :under_content_gray do
  = render 'admin_mailer/premium/premium_advantages'
