%p Bonjour #{@structure.name},

- content_for :promo do
  %h4
    Félicitations ! Votre profil public comporte déjà 5 recommandations.

%p
  %strong Nous vous offrons votre livre d'or
  qui vous permet d'afficher tous les avis de vos élèves directement sur votre propre site Internet ou blog. Le bouche à oreille restant le 1er facteur d'inscription à un cours, vous gagnerez ainsi la confiance des Internautes qui visitent vos pages Internet :

%p.action
  = link_to "Obtenir mon livre d'or", widget_pro_structure_url(@structure, subdomain: 'pro'), class: 'btn btn--blue'

%p À très bientôt,

%p L'équipe de CoursAvenue

- content_for :under_content do
  %table.table{align: 'center', border: '0', cellpadding: '15', cellspacing: '0', width: '600'}
    %tr{valign: 'top'}
      %td.cell.content-block.push--bottom{width: '300'}
        %p
          = link_to "Encore plus d'outils", widget_pro_structure_url(@structure, subdomain: 'pro'), class: 'push-half--bottom'
          %br
          Mettez en avant vos avis sur tous vos supports de communication : flyers, affiches, signature de vos emails, etc. Nos partenaires qui affichent publiquement les témoignages de leurs élèves ont un plus fort taux d'inscription et de fidélisation.
      %td.cell.content-block.push--bottom{width: '300'}
        %p
          = link_to "Allez plus loin", recommendations_pro_structure_url(@structure, subdomain: 'www'), class: 'push-half--bottom'
          %br
          Continuez à développer le bouche à oreille sur CoursAvenue : au delà de 15 recommandations, nous vous envoyons un autocollant "Recommandé sur CoursAvenue".
