%p Bonjour #{@structure.name},

%p
  Félicitation !
  %strong= @comment.author_name
  vient de déposer un avis sur votre profil public CoursAvenue.

%p.action
  = link_to "Voir l'avis de #{@comment.author_name}", pro_structure_comments_url(@structure, subdomain: 'pro'), class: 'btn btn--blue'

%p À très bientôt,

%p L'équipe de CoursAvenue
