%p Bonjour #{@structure.name},

- content_for :promo do
  %h4
    Félicitations ! Votre profil comporte déjà 15 recommandations.

%p
  %strong Nous vous offrons l'autocollant "Recommandé sur CoursAvenue"
  à afficher sur vos lieux de cours : cela signifie que vos cours sont appréciés d'une large partie de vos élèves et que le bouche à oreille participe à votre développement.


%p.action
  = link_to "Recevoir mon autocollant", new_pro_structure_sticker_demand_url(@structure, subdomain: 'pro'), class: 'btn btn--green', utm_source: 'email', utm_campaign: 'sticker', utm_medium: '15_comments'

%p
  %strong Continuez de demander à vos élèves leur avis
  et restez en tête des résultats sur CoursAvenue.


%p N'hésitez pas à nous solliciter si vous avez des questions ! Merci et à très bientôt,

%p L'équipe de CoursAvenue
