- content_for :email_title do
  Votre abonnement Premium arrive à échéance dans 5 jours.

.p Bonjour,

.p
  Votre abonnement Premium arrive à échéance dans
  %strong 5 jours.
  Sans action de votre part, il sera renouvelé.

.p
  Pour toute question, vous pouvez consulter notre
  = link_to "centre d'aide.", pages_faq_partners_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)
  Merci pour votre confiance,

= render 'shared/mailers/footer'

= content_for :under_content_gray do
  = render 'admin_mailer/premium/faq'
