%p Salut les gars !
%p
  = link_to @structure.name, pro_structure_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN)
  est passé premium avec l'offre
  = SubscriptionPlan::PLAN_TYPE_DESCRIPTION[@offer]
  mais a échoué

= debug @params
