- content_for :email_title do
  Une grande nouvelle

.p Chère association,

.p
  Il y a un mois, nous vous annoncions la fin du site CoursAvenue.com. Suite à cette annonce, nous avons reçu beaucoup de mails de soutien, mais aussi de nombreuses propositions pour continuer à faire vivre CoursAvenue. L'une d'elle a retenu notre attention, et nous avons donc le plaisir de vous annoncer que, tel le phoenix,
  %strong CoursAvenue renaît de ses cendres.

.p
  Aujourd’hui, s’ouvre donc une nouvelle page de l’aventure CoursAvenue. Afin de vous  offrir de nouvelles opportunités pour faire connaître vos cours en ligne,
  %strong nous avons choisi de fusionner nos services avec le site HelloAsso, leader de la collecte de fonds pour les associations.

.p
  %strong Ce rapprochement poursuit notre ambition de démocratiser l'usage du numérique pour relier chacun de nous aux associations qui nous entourent


.p.text--center
  %strong Qu'est-ce que cela change pour votre association?

%ul
  %li
    %string Aucune intervention n’est nécessaire de votre part !
    .p Vos cours, stages et la page de votre association restent accessibles, fonctionnels et conservent les mêmes urls.
  %li
    %string Vos élèves peuvent à partir de maintenant régler directement les cours et les stages en ligne, par carte bleue !
    .p 100% des montants collectés sont reversés à votre association. HelloAsso ne prend aucune commission. Les donateurs pourront, s’ils le souhaitent, laisser un pourboire volontaire pour HelloAsso.

  %li
    %string Vous bénéficiez de nouvelles fonctionnalités sur HelloAsso :
    .p  possibilité de lancer un crowdfunding, de gérer vos cotisations, de faire votre billetterie en ligne, etc.


.p
  Vous pouvez retrouver plus de précisions sur les aspects opérationnels de cette intégration
  = link_to 'ici', 'https://aide.helloasso.com/hc/fr/sections/202223203-CoursAvenue-rejoint-HelloAsso-quels-changements-pour-mon-association-'
  et vous recevrez en début de semaine prochaine un mail de HelloAsso comportant le lien vers votre nouvel espace d’administration.

.p
  Nous sommes impatients de vous retrouver sur le site HelloAsso et sommes convaincus que ce rapprochement vous aidera à développer vos projets sur Internet.

.p A très bientôt,
.p Nicolas, Nima et toute l'équipe CoursAvenue

