.p
  #{@structure.name} est sur le point de supprimer son compte CoursAvenue...!

.p
  Voilà les raisons qui ont l'air de le pousser à partir :

.p= @structure.deletion_reasons

= simple_format @structure.deletion_reasons_text
