%p Cher fondateurs,

%p
  #{@structure.name} (#{@admin.email}) vient de s'inscrire !
  %br
  Téléphone : #{@admin.phone_number}

%p.action
  = link_to 'Voir son profil', dashboard_pro_structure_path(@structure), class: 'btn btn--blue'

%p L'équipe de CoursAvenue
