- content_for :promo do
  %h4 Vos cours ne sont pas encore visibles sur votre profil.

%p
  Bonjour #{@structure.name},

%p
  Mettez à jour votre planning de cours et augmentez vos chances d'avoir des réservations grâce à CoursAvenue :

%p.action
  = link_to "Mettre à jour mon planning", pro_structure_courses_url(@structure, subdomain: 'www'), class: 'btn btn--green'

%p
  N'hésitez pas à nous solliciter si vous avez des questions ! Merci et à très bientôt,
%p
  L'équipe de CoursAvenue

- content_for :under_content do
  = render 'footer_info'

- content_for :footer do
  %p= link_to 'Gérer mes préférences e-mails', notifications_pro_structure_admin_url(@structure, @structure.main_contact, subdomain: 'pro')
