- content_for :email_title do
  Votre profil CoursAvenue n'affiche aucun cours : renseignez votre planning en quelques minutes.

.title
  Votre profil CoursAvenue n'affiche aucun cours : renseignez votre planning en quelques minutes

.p
  Bonjour #{@structure.name},

.p
  Dès qu'un utilisateur CoursAvenue utilise les filtres avancés pour rechercher un cours,
  %strong votre profil n'apparaît plus sur notre moteur de recherche.
  Pour ne rater aucune opportunité de mise en relation, renseignez votre planning de cours :

.p.action
  = link_to "Mettre à jour mon planning", pro_structure_courses_url(@structure, subdomain: CoursAvenue::Application::WWW_SUBDOMAIN, utm_source: 'email', utm_campaign: 'update_planning', utm_medium: 'monday'), class: 'btn btn--green'

- content_for :under_content do
  = render 'admin_mailer/free_profile_advantages'
