%p Bonjour #{@structure.name},

= @email_text.html_safe

%p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

%p L'équipe de CoursAvenue

- content_for :under_content do
  = render 'footer_info'
