.p Bonjour #{@structure.name},

- # Keep simple format because text is correctly formatted in comments.yml
= simple_format @email_text

.p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'admin_mailer/shared/footer_info'
