.p Bonjour #{@structure.name},

= simple_format @email_text

.p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

.p L'équipe de CoursAvenue

- content_for :under_content_gray do
  = render 'footer_info'
