%p Bonjour #{@structure.name},

%p
  Vous avez récemment demandé une suppression d'avis : cet avis vient d'être effacé et n'apparaîtra donc pas sur votre profil public CoursAvenue.

%p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

%p L'équipe de CoursAvenue

- content_for :under_content do
  = render 'footer_info'
