.p Bonjour #{@structure.name},

.p
  Vous avez récemment demandé une suppression d'avis : cet avis vient d'être effacé et n'apparaîtra donc pas sur votre profil public CoursAvenue.

.p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

= render 'shared/mailers/footer'

- content_for :under_content_gray do
  = render 'admin_mailer/shared/footer_info'
