- content_for :email_title do
  Vous avez récemment reçu des avis sur votre profil CoursAvenue

.p Bonjour #{@structure.name},

.p
  Vous avez récemment reçu des avis sur votre profil CoursAvenue. Vérifiez qu'il s'agit bien d'élèves que vous connaissez, puis validez-les pour les rendre visibles sur votre profil public :

.p.action
  = link_to "Valider mes avis en attente", pro_structure_comments_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'

.p Si vous avez des questions, n'hésitez pas à nous contacter. Merci et à très bientôt,

= render 'shared/mailers/footer'
