%p Bonjour !

%p
  Nous venons de référencer nos cours sur <a href="http://www.coursavenue.com">CoursAvenue.com</a> : c'est une nouvelle plateforme qui permet de trouver et de comparer n’importe quel cours ou stage autour de vous.

%p
  En tant que fidèle élève, nous serions ravis si vous pouviez prendre un peu de votre temps pour dire ce que vous avez pensé de nos cours.
  C'est très rapide et très simple : cliquez sur le lien ci-dessous, choisissez un cours que vous avez déjà suivi, puis déposez votre avis (si vous ne retrouvez pas votre cours, faites-le directement sur notre fiche établissement).

%p= link_to "Donner mon avis", courses_url(name: @structure.name, subdomain: 'www')

%p Merci énormément pour ce coup de pouce et à très bientôt !

%p= @structure.name
