- content_for :promo do
  %h4 Notre équipe vient d'envoyer vos autocollants.

%p
  Bonjour #{@structure.name},

%p
  Notre équipe vient d'envoyer vos autocollants par la Poste. Vous devriez les recevoir d’ici quelques jours.

%p
  Pour toute question, n’hésitez pas à nous contacter. A très bientôt !
%p
  L’équipe de CoursAvenue

