- content_for :email_title do
  Merci d’avoir rejoint la communauté des professionnels du loisirs de CoursAvenue.

.p Bonjour,

.p
  Notre mission est de vous fournir l’accompagnement dont vous avez besoin en tant que professeur indépendant, association ou école de loisirs afin de vous aider à :
  %br
  - améliorer votre visibilité ;
  %br
  - augmenter le nombre d’inscriptions à vos cours ;
  %br
  - fidéliser vos élèves.

.p
  Pour cela vous recevrez deux fois par mois une newsletter qui regroupera les meilleurs articles de nos experts ainsi que les bonnes pratiques des autres professionnels du loisir qui nous ont fait confiance également.

= render 'shared/mailers/footer'
