- content_for :email_title do
  Un grand merci

.p Très chers professeurs, associations, écoles, partenaires,

.p{ style: 'font-weight: bold' } Triste nouvelle aujourd’hui : nous devons clôturer le site www.CoursAvenue.com

.p Cette décision, difficile à prendre, à été mûrement réfléchie. Durant ces trois dernières années, nous avons construit une équipe solide avec une plateforme efficace (4 000 partenaires, 10 000 inscriptions, 11 000 avis, 25 000 cours). Étendre le fonctionnement collaboratif aux cours de loisirs était une bonne idée, le service rendu aux professeurs et élèves plaisait mais la structure du marché et la faisabilité économique ont eu raison de cette belle initiative.

.p
  Le site fermera donc à la fin du mois : tous les services associés s'arrêteront (page planning avec réservation en ligne, livre d'or, etc.), et toutes les informations de votre profil seront perdues. Cela va peut-être impliquer une mise à jour de votre site, toutes nos excuses pour la gêne occasionnée. Si votre profil contient des avis, vous allez les recevoir dans un second mail personnalisé, vous pourrez ainsi les conserver pour les afficher sur votre site.

.p Nous tenons à vous remercier profondément pour l’intérêt que CoursAvenue a pu susciter chez vous, et pour les nombreux échanges que nous avons pu avoir avec la majorité d'entre vous.

.p{ style: 'font-weight: bold' } Un grand merci,

.p Nicolas, Nima et toute l'équipe de CoursAvenue
