{{#if children}}
    <div class="flexbox">
        <ul class="tabs--stacked flexbox__item v-top one-third">
            {{#each children}}
                <li class="{{#ifCond slug '==' ../selected_slug}}selected{{/ifCond}} {{#ifCond slug '==' ../selected_parent_subject_id}}selected{{/ifCond}}">
                    <a data-subject data-depth="1" data-type="btn" data-toggle="tab" href="#tab-subjects-filter-{{slug}}" data-value="{{slug}}" data-toggle="tab" data-root-subject="{{../slug}}" class="cursor-pointer {{#ifCond slug '==' ../selected_slug}}f-weight-bold{{/ifCond}} {{#ifCond slug '==' ../selected_parent_subject_id}}f-weight-bold{{/ifCond}}">
                        {{name}}
                    </a>
                </li>
            {{/each}}
        </ul>{{!--
    --}}<div class="flexbox__item two-thirds v-top">
            <div class="tab-content text--left">
                {{#each children}}
                    <article id="tab-subjects-filter-{{slug}}" class="tab-pane soft-half">
                        <ul class="no-bullet-list line-height-1-7">
                        {{#each this.children}}
                            <li>
                                <a class="cursor-pointer black {{#ifCond slug '==' ../../selected_slug}}f-weight-bold{{/ifCond}}" data-depth="2" data-subject data-value="{{slug}}" data-parent-subject="{{../slug}}" data-root-subject="{{../../slug}}">{{name}}</a>
                            </li>
                        {{/each}}
                        </ul>
                    </article>
                {{/each}}
            </div>
        </div>
    </div>
{{else}}
<img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-loader>
{{/if}}
