{{#if children}}
    <ul class="soft-half flexbox__item v-top one-third no-bullet-list line-height-1-7 bordered--right">
        {{#each children}}
            <li data-type="tab-li" class="subject-tabs {{#ifCond slug '==' ../selected_slug}}selected{{/ifCond}} {{#ifCond slug '==' ../selected_parent_subject_id}}selected{{/ifCond}}" data-behavior="tab" data-el="#tab-subjects-filter-{{slug}}">
                <a data-subject data-depth="1" data-type="btn" href="{{search_page_path ../slug slug ../city_id}}" data-value="{{slug}}" data-root-subject="{{../slug}}" class="nowrap muted-link cursor-pointer flexbox">
                  <div class="flexbox__item soft-half--right">
                        {{name}}
                  </div>
                  <div class="flexbox__item text--right">
                      <i class="fa fa-chevron-right"></i>
                  </div>
                </a>
            </li>
        {{/each}}
    </ul>{{!--
--}}<div class="flexbox__item two-thirds v-top">
        <div class="tab-content">
            {{#each children}}
                <article id="tab-subjects-filter-{{slug}}" class="tab-pane soft-half {{#ifCond @index '==' 0}}active{{/ifCond}}">
                    <ul class="no-bullet-list line-height-1-7">
                    {{#each this.children}}
                        <li>
                            <a class="nowrap cursor-pointer black {{#ifCond slug '==' ../../selected_slug}}f-weight-bold{{/ifCond}}" data-depth="2" data-subject data-value="{{slug}}" data-parent-subject="{{../slug}}" data-root-subject="{{../../slug}}" href="{{search_page_path ../../slug slug ../../city_id}}">{{name}}</a>
                        </li>
                    {{/each}}
                    </ul>
                </article>
            {{/each}}
        </div>
    </div>
{{else}}
<img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-loader>
{{/if}}
