<div class="grid--full relative">
    <div class="grid__item v-middle one-fifth">
        <strong class="gray">Mot clé</strong>
        <i class="push-half--left pointer fa fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Indiquez le mot clé correspondant à votre recherche : il peut s'agir d'une discipline précise, mais également du nom d'un profil"></i>
    </div><!--
  --><div class="grid__item v-middle four-fifths">
        <div class="search-input-wrapper relative" style="display:block;">
            <input id="search-input" size="50" placeholder="Renseignez une discipline précise ou le nom d'une structure" type="search" name="name" autocomplete="off" class="one-whole"></input>
        </div>
    </div>
    <div data-type="menu" class="hidden four-fifths bordered bordered--orange bg-orange absolute east z-index-3 rounded--double">
        <div class="keyword-subjects push-half--top push--left relative">
            {{#each subjects}}
                <a href="#tab-{{slug}}" class="{{#if is_first}}active{{/if}} inline-block white push--right push-half--bottom" data-type="button" data-value="{{slug}}" data-toggle="tab">
                    <img src="/assets/icons/subjects/{{ slug }}-white.png">
                </a>
            {{/each}}
        </div>

        <div class="grid__item one-whole soft-half b-white tab-content rounded--double"></div>
    </div>
</div>

