{{#each grand_children}}
    <a class="inline-block very-soft hard--ends rounded--double f-decoration-not-underlined hl-orange pointer nowrap" data-subject="{{slug}}">{{name}}</a>
{{/each}}
<img src="<%= asset_path 'gifs/loading-indicator.gif' %>" class='center-block' height="10" data-loader style="display: none;" />
<p data-empty-message class="hidden gray flush"><i>Aucun mot clés. Enlevez des filtres pour avoir plus de résultats.<i></p>
