<div class="grid--full" id="subjects-filter-view">
    <div class="grid--full">
        <div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="danse">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="danse">
                <div class="subject_icon subject_icon__danse"></div>
                <br>
                <span>Danse</span>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="theatre-scene">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="theatre-scene">
                <div class="subject_icon subject_icon__theatre-scene"></div>
                <div><br>Théâtre & Scène</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="yoga-bien-etre-sante">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="yoga-bien-etre-sante">
                <div class="subject_icon subject_icon__yoga-bien-etre-sante"></div>
                <div>
                  Yoga,
                  <br>Bien-être & Santé
                </div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="musique-chant">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="musique-chant">
                <div class="subject_icon subject_icon__musique-chant"></div>
                <br>
                <span>Musique & Chant</span>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="deco-mode-bricolage">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="deco-mode-bricolage">
                <div class="subject_icon subject_icon__deco-mode-bricolage"></div>
                <div>Déco, <br>Mode & Bricolage</div>
              </div>
            </div>
        </div>
    </div>
    <div class="grid--full">
        <div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="dessin-peinture-arts-plastiques">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="dessin-peinture-arts-plastiques">
                <div class="subject_icon subject_icon__dessin-peinture-arts-plastiques"></div>
                <div>Dessin, <br>Peinture & Arts</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="sports-arts-martiaux">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="sports-arts-martiaux">
                <div class="subject_icon subject_icon__sports-arts-martiaux"></div>
                <div>Sports & <br>Arts martiaux</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="cuisine-vins">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="cuisine-vins">
                <div class="subject_icon subject_icon__cuisine-vins"></div>
                <div><br>Cuisine & Vins</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="photo-video">
              <div class="text--center btn subject-btn one-whole hard--sides" data-type="button" data-value="photo-video">
                <div class="subject_icon subject_icon__photo-video"></div>
                <div><br>Photo & Vidéo</div>
              </div>
            </div>
        </div><!--
     --><div class="grid__item one-fifth very-soft hard--bottom">
            <div data-type="button-wrapper" data-value="other">
              <div class="text--center btn subject-btn one-whole subject_icon__other" data-type="button" data-value="other">
                Autres
              </div>
          </div>
        </div>
    </div>
    <ol data-type="subjects-breadcrumb" class="hidden nav breadcrumb epsilon push--top flush--bottom" itemprop='breadcrumb'></ol>
    <div data-type="menu" class="on-top hidden white-box one-whole absolute no-text-shadow no-text-transform" style="margin-top: -1px; max-width: 600px;">
        <div data-type="subject-children-view"></div>
    </div>
</div>
