.push--top
  %h3 Suivi des parrainages envoyés

  %table.table--striped.table--data.table-responsive
    %tbody
      - @sponsorships.each do |sponsorship|
        %tr
          %td
            .f-weight-600.line-height-2.delta= sponsorship.sponsored_email
            .gray
              = sponsorship.redeemed? ? "S'est inscrit et s'est abonné. Bien joué !" : "Ne s'est pas encore inscrit."
          %td{ class: (sponsorship.redeemed? ? 'green f-weight-bold' : '') }
            - if sponsorship.redeemed?
              %i.fa.fa-check Gain
            - else
              En attente
          %td{ class: (sponsorship.redeemed? ? 'green f-weight-bold' : '') }
            = sponsorship.redeemed? ? '1 mois gratuit' : '1 mois offert'
