development:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: coursavenue_development
  pool: 5
  username:
  password:

test:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: coursavenue_test
  pool: 5
  username:
  password:
