{{#unless have_upcoming_plannings}}
    <div class="bordered--top">
        <div class="soft gamma line-height-1-7">
            <strong>Planning</strong>
        </div>
        <div class="panel__body soft--bottom soft--sides">
            <article>
                <p class="flush--bottom">
                    {{ capitalize about }} n'a pas mis à jour son planning.
                    <a class="cursor-pointer" data-logger="phone_number" data-structure-id="{{ id }}" data-behavior="show-contact-panel" data-info-planning="true">Contactez-{{ about_genre }} pour demander son planning.</a>
                </p>
            </article>
        </div>
    </div>
{{/unless}}
<div class="bordered--top" id="stages-ateliers" data-wrapper>
    <div class="soft gamma line-height-1-7">
        <strong>Stages et ateliers</strong>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-trainings-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="trainings-summary"></div>
            </div>
            <div data-type="trainings-collection"></div>
        </article>
    </div>
</div>

<div class="bordered--top" id="cours-collectifs" data-wrapper>
    <div class="soft gamma line-height-1-7">
        <strong>Cours collectifs</strong>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-courses-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="courses-summary"></div>
            </div>
            <div data-type="lessons-collection"></div>
        </article>
    </div>
</div>

<div class="bordered--top" id="cours-particuliers" data-wrapper>
    <div class="soft gamma line-height-1-7">
        <strong>Cours particuliers</strong>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-courses-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="privates-summary"></div>
            </div>
            <div data-type="privates-collection"></div>
        </article>
    </div>
</div>
