= simple_form_for [:pro, @structure], html: { class: 'wizard-form' }, remote: true do |f|
  = f.input :facebook_url, placeholder: 'Ex : https://www.facebook.com/OnDanseLaSalsa', label: 'Avez-vous une page facebook ?'
