%h4
  %i.icon-picture.icon-2x.v-middle.soft-half--right
  %span.v-middle Spécifiez vos lieux d'enseignements
= simple_form_for [:pro, @structure], html: { class: 'wizard-form' }, remote: true do |f|
  = link_to pro_structure_places_path(@structure), class: 'btn' do
    %i.icon-map-marker
    Ajouter un lieu
  = f.input :has_only_one_place, label: "Je n'enseigne que dans un lieu", label_html: {class: 'btn btn--small', id: 'only-one-place'}, input_html: { style: 'position: absolute; left: -9990px', id: 'only-one-place-input'}

= content_for :scripts do
  :javascript
    $(function(){
        $('#only-one-place').click(function() {
            $('#only-one-place-input')[0].checked = true;
            $('#save-wizard').click();
        });
    });
