= simple_form_for [:pro, @structure], html: { class: 'wizard-form' }, remote: true do |f|
  = f.input :website, placeholder: 'Ex : http://www.danse-a-paris.com', label: 'Avez-vous un site internet ?'
