= side_menu_currently_at 'Derniers avis'

- if @waiting_for_deletion_comments.any?
  %h3
    %i.icon-comments-alt
    Avis en attente de suppression

  %ul.comment-list
    = render partial: '/comments/comment', collection: @waiting_for_deletion_comments, locals: {with_link: true}

%h3
  %i.icon-comments-alt
  Derniers avis

%ul.comment-list
  = render partial: '/comments/comment', collection: @comments, locals: {with_link: true}
