= side_menu_currently_at 'Derniers commentaires'
%h3
  %i.icon-comments-alt
  Derniers commentaires

%ul.comment-list
  = render partial: '/comments/comment', collection: @comments, locals: {with_link: true}
