= side_menu_currently_at 'last_comments'
.panel
  - if @waiting_for_deletion_comments.any?
    .panel__header.soft
      %h3.flush Avis en attente de suppression
    .panel__body.soft
      %ul.comment-list
        = render partial: '/comments/comment', collection: @waiting_for_deletion_comments, locals: {with_link: true}

  - if @waiting_for_validation_comments.any?
    .panel__header.soft
      %h3.flush Avis en attente de validation
    .panel__body.soft
      %ul.comment-list
        = render partial: '/comments/comment', collection: @waiting_for_validation_comments, locals: {with_link: true}

  .panel__header.soft
    %h3.flush Derniers avis
  .panel__body.soft
    %ul.comment-list
      = render partial: '/comments/comment', collection: @comments, locals: {with_link: true}
