= side_menu_currently_at 'Derniers commentaires'
%h3
  %i.icon-comments-alt
  Derniers commentaires

%ul.comment-list
  - @comments.each do |comment|
    = link_to commentable_url(comment, subdomain: 'www'), class: 'muted-link' do
      = render partial: '/comments/comment', locals: {comment: comment}
