/*------------------------------------*\
    $Links
\*------------------------------------*/

//a:link, a:visited {
.btn-as-link {
    border    : none;
    background: none;
}
a, .btn-as-link {
    color          : $orange;
    text-decoration: none;
}
a:hover, .btn-as-link:hover {
    text-decoration: underline;
}
.current a {
    text-decoration: none;
}

a.selected, a.active {
    font-weight: bold;
}
.link--white {
    color          : white;
    text-decoration: underline;
}

.comment_link {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.muted-link {
    font-weight: inherit;
    color      : inherit;
    &:hover { text-decoration: none !important; }
}
.semi-muted-link {
    color: inherit;
}

.link-colored-on-hover {
    color: inherit;
    @include transition(all 0.3s ease-in-out);
    &:hover {
        text-decoration: none;
        color          : $orange;
        border-color   : $orange;
    }
}
.link-not-outlined {
    outline: 0;
}
