/*------------------------------------*\
    $Links
\*------------------------------------*/

//a:link, a:visited {
a {
    color          : $brand-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.current a{
    text-decoration: none;
}

a.selected {
    font-weight: bold;
}

.comment_link {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.muted-link {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.semi-muted-link {
    color: inherit;
}
