<ul class="structure-item__comment-list no-bullet-list white-box push-half--sides hard flush--bottom" data-type='container'>
</ul>
<div class="text--center soft--sides">
  {{#if more_than_five_comments }}
    <a href="{{ data_url }}#tab-comments">Voir tous les avis</a>
  {{/if}}
<a href='#' data-type="accordion-control" data-value="comments" class="float--right"><i class="fa fa-arrow-up"></i></a>
</div>
