= simple_form_for [:pro, @structure, @video], url: pro_structure_videos_path(@structure) do |f|
  = f.error_notification
  = f.input :url, wrapper_html: {class: 'flush--bottom'}, as: :string, label: '<i class="fa fa-link"></i>&nbsp;Lien video'.html_safe, input_html: { class: 'input--large' }, label_html: { class: 'label--large' }
  %p.field-form-info.blue-green
    Collez le lien de la page internet de la vidéo provenant de : YouTube, Vimeo ou DailyMotion
  = f.submit 'Enregistrer', class: 'btn--full btn btn--green', data: { disable_with: "En cours d'enregistrement" }

:javascript
  setTimeout(function() {
      $('#media_video_url').focus();
  }, 100);
