= side_menu_currently_at 'Pages verticales'

.push-half--bottom
  = link_to 'Éditer les disciplines', admin_subjects_path, class: 'btn btn--green'

.push-half--bottom
  = link_to 'Éditer Paris', edit_admin_city_path(City.find('paris')), class: 'btn btn--green'

