.text--center
  = image_tag 'icons/404.png', height: 400

.text--center.push--bottom
  %h3 Si le problème persiste, contactez-nous !
  %br
  = link_to "Contacter l'équipe CoursAvenue", pages_contact_url, class: 'btn btn--blue btn--large'
