.text--center
  = image_tag 'icons/404.png', height: 400

.text--center
  %h3 Si le problème perssiste, contactez-nous !
  %br
  = link_to "Contacter l'équipe CoursAvenue", pages_contact_url, class: 'btn btn--blue btn--large'
