%ul.tabs.panel__header
  %li{ class: current == 'all_messages' ? 'active' : '' }
    = link_to "Tous les messages", pro_conversations_path()
  %li{ class: current == 'info_messages' ? 'active' : '' }
    = link_to "Demandes d'infos", pro_conversations_path(info: true)
  %li{ class: current == 'comments' ? 'active' : '' }
    = link_to "Derniers avis", pro_comments_path
