= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'invited_users' ? 'active' : '' }
      = link_to "Invitations élèves", admin_invited_users_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'
    %li{ class: current == 'comment_notifications' ? 'active' : '' }
      = link_to "Demande de recommandations", admin_comment_notifications_path, class: 'muted-link epsilon f-weight-500 soft--sides soft-half--ends'

