%ul.tabs.panel__header
  %li{ class: current == 'blog' ? 'active' : '' }
    = link_to "Blog", pro_blog_articles_path
  %li{ class: current == 'portraits' ? 'active' : '' }
    = link_to "Portraits", list_pro_portraits_path
  %li{ class: current == 'vertical_pages' ? 'active' : '' }
    = link_to "Pages verticales", pro_vertical_pages_path
  %li{ class: current == 'press' ? 'active' : '' }
    = link_to "Presse", pro_press_articles_path
