%h2.text--center.push--bottom.soft--ends.f-weight-300 Le profil Premium : trafic et rentabilité
.grid
  .grid__item.one-half.soft>
    = image_tag 'pro/premium/graph_visits.png', class: 'center-block'
    %h3.text--center.f-weight-300.push-half--ends
      Un trafic plus qualifié et
      %br
      en croissance
    %p.epsilon.text--center
      En passant au Premium, notre équipe communiquera pour vous, votre trafic augmentera et sera de plus en plus qualifié. Nos méthodes ? Nous pilotons plusieurs actions au quotidien, et nous investissons de larges sommes sur
      = image_tag 'pro/logo-adword.png', height: 20, class: 'v-middle'
      et
      = image_tag 'pro/logo-facebook.png', height: 24, class: 'v-middle'
  .grid__item.one-half.soft>
    = image_tag 'pro/premium/graph_profits.png', class: 'center-block'
    %h3.text--center.f-weight-300.push-half--ends
      Un retour sur investissement
      %br
      quasi immédiat
    %p.epsilon.text--center Votre profil Premium est rentable en quelques jours : en moyenne chaque mois, il suffit qu'un élève s'inscrive à 2 de vos séances, ou qu'il prenne un seul abonnement pour que votre retour sur investissement devienne positif.
