%h2.text--center.push--bottom.soft--ends.f-weight-300 Le profil Premium : trafic et rentabilité
.grid--full
  .grid__item.one-half.soft--right>
    = image_tag 'pro/premium/graph_visits.png', class: 'center-block'
    %h3.text--center.f-weight-300.push-half--ends
      Un trafic plus qualifié et
      %br
      en croissance
    %p.epsilon.text--center
      En passant au Premium, votre trafic augmentera et sera de plus en plus qualifié. Nos méthodes ? Nous pilotons au quotidien plusieurs actions de communication très ciblées, et nous investissons de larges sommes sur
      .nowrap
        = image_tag 'pro/logo-adword.png', height: 20, class: 'v-middle'
        et
        = image_tag 'pro/logo-facebook.png', height: 24, class: 'v-middle'
  .grid__item.one-half.soft--left>
    = image_tag 'pro/premium/graph_profits.png', class: 'center-block'
    %h3.text--center.f-weight-300.push-half--ends
      Un retour sur investissement
      %br
      quasi immédiat
    %p.epsilon.text--center En moyenne sur une année, votre profil Premium devient rentable à partir de 2 abonnements annuels (et sur un mois, 2 séances) : plus de 95% de nos partenaires renouvellent leur abonnement.
