%h2.text--center.push--bottom.soft--ends.f-weight-300 Avantages du Premium : trafic supplémentaire ciblé et rentabilité
.grid--full
  .grid__item.one-half.soft--right>
    = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/premium/graph_visits.png', class: 'center-block'
    %h3.text--center.f-weight-300.push-half--ends
      Un trafic plus qualifié et
      %br
      en croissance
    %p.epsilon.text--center
      En passant au Premium, votre trafic augmentera et sera de plus en plus qualifié. Nos méthodes ? Votre profil est mis en avant sur CoursAvenue, dans nos newsletters ciblées par ville et par discipline, et grâce à toutes les autres actions de communication que nous pilotons au quotidien et dans lesquelles nous investissons de larges sommes, notamment sur
      %span.nowrap
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/logo-adword.png', height: 20, class: 'v-middle'
        et
        = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/logo-facebook.png', height: 24, class: 'v-middle'
  .grid__item.one-half.soft--left>
    = image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/premium/graph_profits.png', class: 'center-block'
    %h3.text--center.f-weight-300.push-half--ends
      Un retour sur investissement
      %br
      quasi immédiat
    %p.epsilon.text--center En moyenne sur une année, votre profil Premium devient rentable à partir de 2 abonnements annuels (et sur un mois, 2 séances) : plus de 95% de nos partenaires renouvellent leur abonnement.
