.panel
  .panel__header.soft
    %h3.flush Infos pratiques
  .panel__body.soft.epsilon
    = render partial: 'users/participation_requests/recap', locals: { participation_request: @participation_request }
