<label for="remote-image-url" class='label--large blue'>Bloc texte {{ position }}</label>
<p class="flush">Rédiger un bloc de texte de votre newsletter</p>
<textarea id='content' class='input--large one-whole' name='newsletter[bloc_attributes][0][content]'></textarea>

<hr />
