<!-- TODO: Show the layout image. -->
<!-- TODO: Add a class to the currently selected layout. -->
<div class='layout'>
  <h3>{{ name }}</h3>
  <a href="javascript:void(0)" data-layout="{{ id }}">Choisir ce layout</a>
</div>
