<div class='inline-bloc palm-one-while push--right'>
  <a href='javascript:void(0)'>
    <img src='pro/newsletters/layouts/layout_{{ layout_id }}.png' data-src2x="#{asset_path('pro/newsletters/layouts/layout_{{ layout_id }}@2x.png')}", class="bloc opacity-50 fade-in-on-hover" width="150" />
    <h4 class='active'>
      {{ name }}
    </h4/>
  </a>
</div>
