<div class='inline-block palm-one-while push--right'>
  <a data-layout='true' href='javascript:void(0)'>
    <img src="{{ image }}" data-src2x="{{ image2x }}" class="bloc opacity-50 fade-in-on-hover" width="150" />
    <h4 class='active'>
      {{ name }}
    </h4/>
  </a>
</div>
