<h1>2 méthodes pour Importer vos contacts personnels</h1>

<h3>Méthode 1 : importez vos contacts réunis dans un fichier excel ou csv</h3>

<form>
  <p class='epsilon'>
    Téléchargez votre fichier Excel de contacts puis affectez les colonnes aux champs correspondants :
  </p>

  <label class='btn btn--green' for='user_profile_import_file' for='user_profile_import_file'>
    Choisir mon fichier
    <div class='visuallyhidden'>
      <input type='file' id='user_profile_import_file' data-import-file='true'/>
    </div>
  </label>

  <div class='text--center'>
    <img src="gifs/loading-indicator.gif" height='10' id='loader' class='hidden soft'>
  </div>
</form>

<div class='hidden push' data-file-headers='true'>
</div>

<hr class='push--ends' />

<h3>Méthode 2 : copiez puis collez dans cet espace tous vos e-mails de contacts</h3>
<form>
  <textarea class='push-half--bottom input--large one-whole' name='emails' placeholder='Ex. : maurice@gmail.com, elsa@gmail.com, marie@gmail.com, ...' rows='5' data-behavior='autoresize'></textarea>
  <button class='btn btn--green' type='button' data-disable-with='Import en cours...' data-import-emails='true'>Importer les e-mails</button>
</form>
