{{#if hasElements }}
<div data-type='mailing-list'>
  {{#if showAllProfilesOption}}
    <div class='input'>
      <input type='radio' id='mailing_list_all_profiles' name='mailing_list' value='all' class='input--large one--whole' data-all-contacts='true'/>
      <label for='mailing_list_all_profiles'>Envoyer à tous les contacts du répertoire</label>
    </div>
  {{/if}}
</div>

<div class='soft'>
  <a data-import="true" href="javascript:void(0)">
    Importer mon fichier de contact
</div>

<div class='text--center'>
  <a data-previous='true' class='btn btn--green  two-fifths soft-half--ends'>Étape précédante</a>
  <button type='submit' class='btn btn--green two-fifths soft-half--ends' data-disable-with="En cours d'enregistrement">Étape suivante</button>
</div>
{{else}}
<div data-type='mailing-list'></div>
{{/if}}
