<div class='panel'>
  <div class='panel__body soft'>
    <div class='soft text--center'>
      <h3>Avant d'envoyer une newsletter, importez vos contacts dans votre répertoire.</h3>
      <p>Attention : le ficher d'import doit étre un fichier Excel (format .xls, .xlsx ou .csv) et ne doit contenir qu'une colonne contenant toutes vos adresses emails.</p>

      <a data-import="true" href="javascript:void(0)" class='btn btn--green btn--large'>
        <i class='fa fa-plus'></i>
        Importer mon fichier de contact
      </a>
    </div>
  </div>
</div>
