<div data-behavior="show-import-options" class="push-half--bottom soft-half--ends btn" for='mailing_list_all_profiles_{{ id }}'>
  <i class="fa-plus"></i>
  Importer une liste de contacts
</div>

<div class="hidden" data-type="import-options">
{{!--     <form class="push-half--bottom">
        <p class="inline-block v-middle delta f-weight-600 block line-height-1-3 flush">Importez vos contacts réunis dans un fichier excel ou csv :</p>
      <label class='inline-block v-middle  btn btn--small v-middle' for='user_profile_import_file' for='user_profile_import_file'>
        Choisir mon fichier
        <div class='visuallyhidden'>
          <input type='file' id='user_profile_import_file' data-import-file='true'/>
        </div>
      </label>
    </form>
    <p class="delta f-style-italic f-weight-600 block line-height-1-3 push-half--bottom">— OU —</p>
 --}}
    <p class="delta f-weight-600 block line-height-1-3 push-half--bottom">Copiez puis collez dans cet espace tous vos e-mails de contacts</p>
    <form>
      <textarea class='push-half--bottom input--large one-whole' name='emails' placeholder='Ex. : maurice@gmail.com, elsa@gmail.com, marie@gmail.com, ...' rows='6'></textarea>
      <button class='btn btn--green' type="submit" data-disable-with='Import en cours...' data-import-emails='true'>Importer les e-mails</button>
    </form>
</div>
