<form>
  <div class='input'>
    <label for="sender_name" class="delta f-weight-600 block push-half--bottom">Nom de l'expéditeur</label>
    <input id="title" class='input--large one-whole' name="sender_name" type="text" placeholder=" {{ structure_id }}" value="{{ sender_name }}" required />
    <p class="flush line-height-2 f-style-italic flush">Le nom apparaissant dans la boîte e-mail des élèves</p>
  </div>

  <div class='input'>
    <label for="reply_to" class="delta f-weight-600 block push-half--bottom">E-mail de réponse</label>
    <input id="title" class='input--large one-whole' name="reply_to" type="text" placeholder="Prochains stages à venir !" value="{{ reply_to }}" required />
    <p class="flush line-height-2 f-style-italic flush">L'e-mail sur lequel l'élève pourra vous répondre</p>
  </div>

  <div class='input'>
    <label for="email_object" class="delta f-weight-600 block push-half--bottom">Objet de l'e-mail</label>
    <input id="title" class='input--large one-whole' name="email_object" type="text" placeholder="Prochains stages à venir !" value="{{ email_object }}" required />
    <p class="flush line-height-2 f-style-italic flush">Ce qui s'affichera dans la boîte de réception de l'élève</p>
  </div>
</form>
