<form>
  <label for="sender_name" class='label--large blue'>Titre de votre newsletter</label>
  <p class="flush">Le titre de votre newsletter sera également l'objet de votre email. Pensez à être claire dans sa formulation.</p>
  <input id="title" class='input--large one-whole' name="sender_name" type="text" placeholder="Prochains stages à venir !" value="{{ sender_name }}"/>

  <label for="reply_to" class='label--large blue'>Titre de votre newsletter</label>
  <p class="flush">Le titre de votre newsletter sera également l'objet de votre email. Pensez à être claire dans sa formulation.</p>
  <input id="title" class='input--large one-whole' name="reply_to" type="text" placeholder="Prochains stages
  à venir !" value="{{ reply_to }}"/>

  <label for="email_object" class='label--large blue'>Titre de votre newsletter</label>
  <p class="flush">Le titre de votre newsletter sera également l'objet de votre email. Pensez à être claire dans sa formulation.</p>
  <input id="title" class='input--large one-whole' name="email_object" type="text" placeholder="Prochains stages
  à venir !" value="{{ email_object }}"/>

  <hr />

  <button type='submit' class='btn btn--green btn--full' data-disable-with="En cours d'enregistrement">Enregistrer</button>
</form>
