<div class='flexbox push--bottom'>
  <div class='flexbox__item v-middle'>
    <h3 class='flush'>Dernier paramètres avant l'envoi de votre newsletter</h3>
  </div>
</div>

<form>
  <div class='input'>
    <label for="sender_name" class='label--large blue'>Nom de l'éxpéditeur</label>
    <p class="flush">Le nom apparaissant dans la boite e-mail de l'élève</p>
    <input id="title" class='input--large one-whole' name="sender_name" type="text" placeholder=" {{ structure_id }}" value="{{ sender_name }}" required />
  </div>

  <div class='input'>
    <label for="reply_to" class='label--large blue'>E-mail de réponse</label>
    <p class="flush">L'email où l'élève pourra vous répondre</p>
    <input id="title" class='input--large one-whole' name="reply_to" type="text" placeholder="Prochains stages à venir !" value="{{ reply_to }}" required />
  </div>

  <div class='input'>
    <label for="email_object" class='label--large blue'>Object de l'e-mail</label>
    <p class="flush">Ce qui s'affichera dans la boite de r é ception de l'élève</p>
    <input id="title" class='input--large one-whole' name="email_object" type="text" placeholder="Prochains stages à venir !" value="{{ email_object }}" required />
  </div>

  <div class='text--center'>
    <a data-previous='true' class='btn btn--green  two-fifths soft-half--ends'>Étape précédante</a>
    <button type='submit' class='btn btn--green two-fifths soft-half--ends' data-disable-with="En cours d'enregistrement">Étape suivante</button>
  </div>
</form>
