<div class="bg-white soft-double--sides soft-half--ends grid--full push--bottom bordered--bottom" data-behavior="sticky" data-offset-top="36" data-old-width="true" data-update-on-scroll="true">
    <div class='grid__item v-middle one-third'>
        <a href='javascript:void(0)' data-previous='true'><i class="fa-chevron-left milli"></i> Étape précédente</a>
    </div>{{!--
 --}}<div class='text--center grid__item v-middle one-third'>
        <a class='btn btn--white fancybox.ajax' href="{{ preview_url }}" data-preview="true" data-behavior="modal" data-behavior='modal' data-width='700' data-padding='0'>
            <i class='fa-eye'></i>
            Previsualiser
        </a>
    </div>{{!--
 --}}<div class='text--right grid__item v-middle one-third'>
        <a class="btn btn--small btn--green nowrap" href='javascript:void(0)' data-next='true'>Enregistrer | Étape suivante <i class="fa-chevron-right milli"></i></a>
    </div>
</div>
