<div class='pro-top-menu rounded--top--double soft--left bg-orange'>
  <ul class='nav flush'>

    <li class='active'>
      <a href='javascript:void(0)' class='muted-link epsilon f-weight-600 soft--sides soft-half--ends'>
        Design
      </a>
    </li>

    <li class=''>
      <a href='javascript:void(0)' class='muted-link epsilon f-weight-600 soft--sides soft-half--ends'>
        Remplissage
      </a>
    </li>

    <li class=''>
      <a href='javascript:void(0)' class='muted-link epsilon f-weight-600 soft--sides soft-half--ends'>
        Liste de diffusion
      </a>
    </li>

    <li class=''>
      <a href='javascript:void(0)' class='muted-link epsilon f-weight-600 soft--sides soft-half--ends'>
        Récapitulatif
      </a>
    </li>

    <li class=''>
      <a href='javascript:void(0)' class='muted-link epsilon f-weight-600 soft--sides soft-half--ends'>
        Prévisualisation &amp; Envoi
      </a>
    </li>

  </ul>
</div>

 <div class='bg-white bordered--left bordered--right bordered--right bordered--bottom soft--ends soft-double--sides shadowed--bottom rounded--top min-height-800'>
   <div class='push--top' data-type='edition'></div>
 </div>
