<form>
  <label for="title">Titre de votre newsletter</label>
  <input id="title" name="title" type="text" placeholder="Prochains stages à venir !" />

  <hr />
  <!-- Loop on the layout blocs. -->
</form>
