<div class='panel__body soft'>
  <div class='soft text--center'>
    <a data-import="true" href="{{ preview_url }}" class='btn btn--green btn--large fancybox.ajax' data-behavior='modal' data-width='700' data-padding='0'>
      <i class='fa fa-eye'></i>
      Previsualiser
    </a>

    <a data-import="true" href="{{ send_url }}" class='btn btn--green btn--large'>
      <i class='fa fa-eye'></i>
      Envoyer
    </a>
  </div>

  <div class='or'>
    <span>ou</span>
  </div>

  <div class='text--center'>
    <a href='{{ save_url }}'>
      Enregistrer et envoyer plus tard
    </a>
  </div>

</div>
