<div class='panel__body soft'>
  <iframe data-preview='true' src="about:blank" width='700' height='500'></iframe>

  <div class='soft text--center'>
    <a href="{{ confirmation_url }}" class='btn btn--green btn--large fancybox.ajax' data-behavior='modal' data-width='500' data-padding='0'>
      <i class='fa fa-paper-plane-o'></i>
      Envoyer
    </a>
  </div>

  <div class='or'>
    <span>ou</span>
  </div>

  <div class='text--center'>
    <a href='{{ save_url }}'>
      Enregistrer et envoyer plus tard
    </a>
  </div>
</div>
