<div id="teacher-list" class="white-box islet" data-type="container">
    <article>
        <div class="grid--full">
            <div class="grid__item two-twelfths text--center">
                <img height="60" src="/assets/icons/avatar.png" alt="Avatar">
            </div>{{!--
        --}}<div class="grid__item ten-twelfths">
                <div itemprop="reviewBody" data-behavior="read-more" class="read-more" style="max-height: none;">
                    <p>{{ description }}</p>
                </div>
                <p class="text--right flush">
                    <i itemprop="datePublished" content="{{ created_at }}" class="semi-muted">
                        Par
                        <strong>{{ name }}</strong>
                    </i>
                </p>
            </div>
        </div>
    </article>
</div>
