.white-box.islet
  .grid
    .grid__item.one-fifth>
      - if teacher.image?
        = image_tag teacher.image.url(:normal), class: 'block'
    .grid__item.four-fifths>
      %p
        %b= teacher.name
      = simple_format teacher.description
