-# = pro_menu_currently_at 'Nos convictions'

.grid
  .grid__item.four-tenths>
    .blue-box.islet
      %h3 L’essentiel :
      %ul
        %li Défendre le patrimoine immatériel français
        %li Développer le bouche à oreille
        %li  Accélérer votre développement
  .grid__item.six-tenths>
    .white-box.islet
      %h3 Dans le détail :
      %h5 Défendre le patrimoine immatériel français

      %p La France est une exception en matière d’apprentissage : son réseau de professeurs indépendants, d’artistes, d’écoles et ses associations (plus d’un million) constitue une richesse que l’on doit préserver. Tous ces acteurs contribuent à la prise en compte de l’intérêt général par leurs fonctions de veille, d’innovation et d’animation des territoires. Or, en l’absence de véritable outil de communication, ce patrimoine immatériel risque de ne pas pouvoir continuer à se développer. Pire encore, nous constatons trop de professeurs ou d’associations (proposant des cours d’une exceptionnelle qualité) arrêter leur activité par manque d’élèves.

      %p Notre mission est donc simple : permettre de relier professeurs et élèves par un outil de communication simple favorisant le développement du patrimoine immatériel français de l’apprentissage, toutes disciplines confondues.

      %p C’est exactement pour cela que nous nous sommes lancés dans l’aventure CoursAvenue et avons tout de suite pensé à un moteur de recherche de cours basé sur la géolocalisation et le témoignage des élèves.

      %p
        Pour en savoir plus sur le patrimoine culturel immatériel défini par l’UNESCO,
        = link_to 'cliquez ici.', 'http://www.unesco.org/culture/ich/index.php?lg=fr&pg=00002', target: '_blank', rel: 'nofollow'

      %h5 Développer le bouche à oreille

      %p C’est évident, le meilleur outil de communication reste celui du bouche à oreille. La raison est simple : un élève apprécie vos cours non seulement pour la technique et l’apprentissage qu’il acquiert, mais aussi et surtout pour l’expérience qu’il en retire. Assister à un cours, c’est rencontrer de nouvelles personnes, rejoindre une communauté, partager des passions, s’ouvrir, se défier, se construire personnellement, se développer mentalement et physiquement. C’est trouver un équilibre nécessaire dans sa vie au quotidien.

      %p Tout cela, un élève l’exprimera toujours mieux qu’un professeur.

      %p
        Combien d’élèves sont-ils venus à vous par le simple fait du bouche à oreille ? La majorité sans doute. Or, aujourd’hui, Internet commence à détrôner les moyens de communication traditionnels : plus de 3 élèves sur 4 disent rechercher sur Internet des témoignages avant de réserver un cours. Combien de recommandations d’élèves avez-vous sur Internet ? Affichez-les dès maintenant grâce à nos différents
        = link_to 'outils de communication gratuits', pro_pages_price_path(anchor: 'offre-gratuite')
        et suscitez l’intérêt de nouveaux élèves.

      %p
        Voici
        = link_to '4 bonnes raisons', pro_pages_why_be_recommended_path
        d’afficher les recommandations de vos élèves sur Internet.

      %h5  Accélérer votre développement

      %p En plus des témoignages de vos élèves que nous mettons en avant sur CoursAvenue mais également sur tous vos supports de communication, nous vous proposons différents outils qui ont pour seul objectif d’accélérer votre développement : visualisation optimisée de votre planning de cours, outil d’inscription et de réservation en ligne de vos cours et stages, versement d’acomptes par carte bleue, suivi des inscriptions par élève, outils de communication avancés (newsletters ciblées et emails contenant photos et vidéos), base de données élèves par profils, etc.

      %p
        Tous ces outils sont accessibles en souscrivant à notre
        = link_to 'offre payante', pro_pages_price_path(anchor: 'offre-payante')
        (forfait mensuel sans engagement, 30 jours d’essai offerts).


