- bg_center = false if bg_center.nil?
- hide_menu = false if hide_menu.nil?
- full      = false if full.nil?
- current   = '' if current.nil?
.main-container.relative.hard
  .absolute.north.east.on-top-of-the-world.f-weight-bold.visuallyhidden--palm
    .bg-black-faded.rounded.rounded-top--none.inline-block.push--right
      = link_to pages_contact_url, class: 'inline-block soft--left soft-half--ends muted-link push--right white-faded', subdomain: 'www' do
        = image_tag 'pro/email_image.png', height: 11, width: 163
      %a.inline-block.soft--right.soft-half--ends.muted-link.white-faded{ href: 'tel:09 82 24 27 74' }
        %i.fa.fa-phone
        09 82 24 27 74

.one-whole.relative.overflow-hidden{ class: (full ? 'palm-height-auto height-three-quarters' : '')}
  %div.home-page-fullscreen-video.bg-cover.bg-position-top.header--pro__background{ class: (bg_center ? 'bg-position-center' : '') }
    .black-curtain.north.west.one-whole.absolute
  .push--top.soft--ends.hard--bottom.palm-hard
    .text--right.soft-half--ends.transition-all-linear#sticky-header
      .main-container.relative
        = render partial: 'layouts/pro/home_header', locals: { current: current, hide_menu: hide_menu }
    = yield
  - if full
    .text--center.absolute.one-whole
      %a.block.not-outlined.white{ href: '#en-savoir-plus', data: { behavior: 'scroll-to', duration: 900, offset_top: '-50'} }
        %i.fa-chevron-down.fa-3x.smooth-black-text-shadow.animated-arrow-1.block
        %i.fa-chevron-down.fa-3x.smooth-black-text-shadow.animated-arrow-2.block
- if !hide_menu
  - content_for :scripts do
    :javascript
        $(function() {
            $('#sticky-header').sticky({
                oldWidth: true,
                onUnStick: function onUnStick ($element) {
                    $element.find('a').removeClass('border-color-orange orange');
                    $element.find('a').addClass('white-transparent');
                    $element.find('[data-try]').removeClass('btn--green');
                    $element.find('[data-try]').addClass('btn--white-transparent');
                    $element.find('.header--pro__link.btn').addClass('btn--white-transparent');
                    $element.removeClass('bg-white bordered--bottom');
                    $('#home-logo-dark').fadeOut();
                },
                onStick: function onStick ($element) {
                    $element.find('a').removeClass('white-transparent');
                    $element.find('.header--pro__link').addClass('border-color-orange orange');
                    $element.find('.header--pro__link.btn--white-transparent').removeClass('btn--white-transparent');
                    $element.find('[data-try]').removeClass('btn--white-transparent');
                    $element.find('[data-try]').addClass('btn btn--green');
                    $element.addClass('bg-white bordered--bottom');
                    $('#home-logo-dark').fadeIn();
                }
            });
        });
