= menu_currently_at 'Presse & Partenaires'

%h1.blue Votre contact presse

%h3{style: 'margin-bottom: 5px'} Nicolas Lagarde

%p
  = image_tag 'pages/email_nico.png', style: 'height: 13px'
  %br
  = image_tag 'pages/phone_number.png', style: 'height: 13px'

%h3 Dossier de presse
%p
  %b= link_to 'Télécharger notre dossier de presse !', 'https://s3-eu-west-1.amazonaws.com/leboncours/docs/Dossier+Presse_LeBonCours.zip'
