= menu_currently_at 'Présentation'

.ilb-wrapper
  .three-twelfths{style: 'padding-right: 1em;'}
    .alert--info.flush--right.flush--left
      %p.text--center.flush--bottom.orange
        %b 9 bonnes raisons de nous rejoindre
      %ol.milli{style: 'margin-left: 2em;'}
        %li Vous augmenter votre chiffre d’affaires
        %li Pas de frais d’inscription : l’accès à notre logiciel en ligne est gratuit
        %li Nous gérons vos réservations 7j/7, 24h/24
        %li Notre modèle commissionnable vous profite (pas de frais fixes)
        %li Vous gérez votre propre inventaire de cours
        %li Vous optimisez le taux de remplissage de chaque séance
        %li Votre planning de cours est également accessible directement depuis votre site Internet
        %li Vous touchez de nouveaux clients
        %li Nous investissons en marketing et communication pour vous
  .nine-twelfths.islet
    %h3 CoursManiaPro, c’est quoi ?
    %h5 Savez-vous qu’aujourd’hui, plus de 3 clients sur 4 préfèrent réserver leurs cours sur Internet ?

    %p Grâce à notre logiciel en ligne, vous pourrez :
    %ul
      %li Proposer vos cours sur notre plateforme CoursMania.com, de plus en plus visible chaque jour
      %li Créer en quelques minutes votre propre page dédiée à votre planning, directement accessible via votre site Internet existant : chaque séance pourra alors être réservable en ligne par carte bleue, 24h/24, 7j/7 (si vous n’avez pas de site Internet, nous pouvons aussi le réaliser pour vous !)

    %h5 Est-ce que vos cours sont remplis à plus de 80% ? Tous les jours ? A chaque créneau horaire ? Proposez alors des promotions, pour booster vos réservations !

    %p
      Grâce à notre plateforme de réservation CoursMania.com, vous augmentez considérablement vos chances de remplir vos cours. Faire une promotion sur CoursMania quand on propose des cours, c’est le meilleur moyen de dynamiser sa structure, et d’accueillir une nouvelle clientèle à fidéliser. C’est aussi l’opportunité de bénéficier de la meilleure plateforme de yield management qui puisse exister ! Qu’est-ce que cela veut dire ? C’est très simple, il s’agit de « jouer » sur les prix pour optimiser votre rentabilité. Avec CoursManiaPro, vous allez pouvoir décider des séances pour lesquelles vous souhaitez mettre en place une promotion, mais aussi des heures et enfin du nombre de places réservables avec cette promotion. Vous allez donc pouvoir donner envie à de nouveaux clients de venir apprendre chez vous aux moments qui vous arrangent le plus.

    %h5 Vous souhaiteriez plus communiquer avec vos clients, mieux les connaître, plus les chouchouter ?

    %p
      CoursManiaPro est avant tout orienté clients, et propose de véritables solutions de CRM (Customer Relationship Management), ou GRC en français (Gestion de la Relation Client). Parce que nous savons nous-mêmes à quel point il est important de répondre à leurs besoins, nous vous aidons à mieux les connaître : communiquez facilement (envoi de newsletters, campagnes de communication mails ou SMS, etc.), ayez accès à leurs avis, leurs coordonnées, leur profil, etc.

    %h5 Vous souhaitez améliorer votre service clients ?

    %p
      Pour chaque réservation, notre système s’occupe de tout pour vous assurer le meilleur service client. Vous savez, ce sont tous ces petits détails qui font la différence : tout d’abord au moment de la réservation, votre client peut recevoir un email et/ou un SMS lui confirmant la date, l’heure, le nombre de personnes, l’adresse, le digicode de votre porte d’entrée… Lors de son arrivée, il pourra bénéficier de vos petites attentions qu’il aurait pu spécifier. Enfin, après le cours, le système peut lui adresser une enquête de satisfaction afin de connaître son avis sur la séance. Grâce à tout cela, gagnez en confiance et mettez toutes vos chances pour plaire !
.text--right
  = link_to pages_contact_path, class: 'btn btn__large' do
    %i.icon-phone
    Nous contacter

%h4 Avantages CoursMania :
%p.flush--bottom
  %b
    %i.icon-ok.delta.green
    Modèle commissionnable
%p
  Pas de frais d’inscription, ni de frais fixe : le client règle soit directement son cours par carte bleue sur le site CoursMania.com, ou directement auprès de votre établissement au moment du cours. Nous prélèverons une commission sur le chiffre d’affaires réalisé.

%p.flush--bottom
  %b
    %i.icon-ok.delta.green
    Optimisation du taux de remplissage de vos cours et stages
%p
  Vous gérez vous-même vos disponibilités et vos tarifs. Si votre cours de demain n’est pour l’instant rempli qu’à 60%, renseignez le cours et ajustez le nombre de places disponibles depuis votre espace Partenaire. En proposant une offre promotionnelle, même faible, vous augmentez vos chances de remplir votre cours, et donc d’augmenter chiffre d’affaires et rentabilité. C’est pour cette raison que nos Partenaires sont si fidèles.

%p.flush--bottom
  %b
    %i.icon-ok.delta.green
    Système de suivi en temps réel
%p
  Tous nos Partenaires ont accès au logiciel en ligne CoursManiaPro.com. Celui-ci vous permet d'actualiser en ligne la liste des cours ou des stages à promouvoir, leurs disponibilités, leurs tarifs, les photos associées, les vidéos, les textes... De plus, vous y trouverez des informations sur le nombre de visiteurs, le taux de conversion, le nombre de réservations et la commission due. Ces statistiques peuvent vous aider à optimiser le taux de remplissage de vos cours et, par conséquent, votre chiffre d'affaires.

%p.flush--bottom
  %b
    %i.icon-ok.delta.green
    De la visibilité et des sites partenaires

%p
  Nous investissons pour tous nos Partenaires dans la publicité CPC, le marketing et la communication, et vous garantissons ainsi une visibilité auprès d’une (très) large clientèle. Nous faisons tout pour rester connectés à vos futurs élèves, notamment via les réseaux sociaux, notre blog et nos newsletters. Enfin, nous tissons de véritables liens de partenariats avec d’autres acteurs du marché. Grâce à ce réseau étendu, vous pouvez réellement optimiser au niveau national la promotion de vos cours, sans contrepartie budgétaire.
