= menu_currently_at 'Présentation'

.grid
  .grid__item.four-twelfths{style: 'padding-right: 1em;'}>
    .alert--info.flush--right.flush--left
      %h4.text--center.orange
        8 bonnes raisons de vous référencer
      %ol{style: 'margin-left: 2em;'}
        %li Augmentez votre visibilité sur Internet
        %li C'est gratuit et simple d'utilisation
        %li Faites connaître la qualité de vos cours
        %li Gérez votre propre inventaire de cours, actualisé en temps réel
        %li Touchez de nouveaux clients
        %li Optimisez le taux de remplissage de chaque séance
        %li Soyez connu des comités d'entreprise
        %li Nous investissons en marketing et communication pour vous
  .grid__item.eight-twelfths.islet
    %h3 Pourquoi référencer mes cours sur CoursAvenue ?
    %h5
      %i.icon-ok.delta.green
      Car plus de 3 clients sur 4 vont sur Internet pour trouver un cours

    %p Grâce à notre logiciel en ligne, vous pourrez :
    %ul
      %li Proposer gratuitement vos cours sur notre plateforme CoursAvenue.com, de plus en plus visible chaque jour
      %li Recevoir par mail les coordonnées de chaque Internaute intéressé par vos cours, de manière à pouvoir le contacter rapidement

    %h5
      %i.icon-ok.delta.green
      Est-ce que vos cours sont remplis à plus de 80% ? Tous les jours ? A chaque créneau horaire ?

    %p
      Grâce à notre plateforme de réservation CoursAvenue.com, vous augmentez considérablement vos chances de remplir vos cours. Faire une promotion sur CoursAvenue quand on propose des cours, c’est le meilleur moyen de dynamiser sa structure, et d’accueillir une nouvelle clientèle à fidéliser. C’est aussi l’opportunité de bénéficier de la meilleure plateforme de yield management qui puisse exister ! Qu’est-ce que cela veut dire ? C’est très simple, il s’agit de « jouer » sur les prix pour optimiser votre rentabilité. Décidez vous-même d'ajouter des promotions sur les séances de votre choix, notre logiciel en ligne actualisera alors les informations sur CoursAvenue de manière instantanée.


    %h5
      %i.icon-ok.delta.green
      Êtes-vous sûr que la qualité de vos cours est bien connue de tous ?
    %p L'équipe de CoursAvenue diffuse l'offre de cours présente sur le site auprès du grand public Internet, auprès des entreprises locales par le biais des comités d'entreprise mais aussi auprès des agences de voyage. Grâce à son moteur de recherche innovant, n'importe qui pourra retrouver vos cours selon les différents critères : prix, localisation géographique, niveaux, public, créneau horaire, etc. Les avis déposés par des élèves vous connaissant vous permettront également de gagner en visibilité, grâce à la qualité de vos cours !

.text--center
  = link_to select_pro_structures_path, class: 'btn btn__success btn__large' do
    Référencer mes cours

-#     %h5 Vous souhaiteriez plus communiquer avec vos clients, mieux les connaître, plus les chouchouter ?
-#    %p
-#      CoursAvenuePro est avant tout orienté clients, et propose de véritables solutions de CRM (Customer Relationship Management), ou GRC en français (Gestion de la Relation Client). Parce que nous savons nous-mêmes à quel point il est important de répondre à leurs besoins, nous vous aidons à mieux les connaître : communiquez facilement (envoi de newsletters, campagnes de communication mails ou SMS, etc.), ayez accès à leurs avis, leurs coordonnées, leur profil, etc.

-#    %h5 Vous souhaitez améliorer votre service clients ?

-#    %p
-#      Pour chaque réservation, notre système s’occupe de tout pour vous assurer le meilleur service client. Vous savez, ce sont tous ces petits détails qui font la différence : tout d’abord au moment de la réservation, votre client peut recevoir un email et/ou un SMS lui confirmant la date, l’heure, le nombre de personnes, l’adresse, le digicode de votre porte d’entrée… Lors de son arrivée, il pourra bénéficier de vos petites attentions qu’il aurait pu spécifier. Enfin, après le cours, le système peut lui adresser une enquête de satisfaction afin de connaître son avis sur la séance. Grâce à tout cela, gagnez en confiance et mettez toutes vos chances pour plaire !
-# .text--right
-#   = link_to pages_contact_path, class: 'btn btn__large' do
-#     %i.icon-phone
-#     Nous contacter
-#
-# %h4 Avantages CoursAvenue :
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     Modèle commissionnable
-# %p
-#   Pas de frais d’inscription, ni de frais fixe : le client règle soit directement son cours par carte bleue sur le site CoursAvenue.com, ou directement auprès de votre -# établissement au moment du cours. Nous prélèverons une commission sur le chiffre d’affaires réalisé.
-#
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     Optimisation du taux de remplissage de vos cours et stages
-# %p
-#   Vous gérez vous-même vos disponibilités et vos tarifs. Si votre cours de demain n’est pour l’instant rempli qu’à 60%, renseignez le cours et ajustez le nombre de -# places disponibles depuis votre espace Partenaire. En proposant une offre promotionnelle, même faible, vous augmentez vos chances de remplir votre cours, et donc -# d’augmenter chiffre d’affaires et rentabilité. C’est pour cette raison que nos Partenaires sont si fidèles.
-#
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     Système de suivi en temps réel
-# %p
-#   Tous nos Partenaires ont accès au logiciel en ligne CoursAvenuePro.com. Celui-ci vous permet d'actualiser en ligne la liste des cours ou des stages à promouvoir, -# leurs disponibilités, leurs tarifs, les photos associées, les vidéos, les textes... De plus, vous y trouverez des informations sur le nombre de visiteurs, le taux de -# conversion, le nombre de réservations et la commission due. Ces statistiques peuvent vous aider à optimiser le taux de remplissage de vos cours et, par conséquent, -# votre chiffre d'affaires.
-#
-# %p.flush--bottom
-#   %b
-#     %i.icon-ok.delta.green
-#     De la visibilité et des sites partenaires
-#
-# %p
-#   Nous investissons pour tous nos Partenaires dans la publicité CPC, le marketing et la communication, et vous garantissons ainsi une visibilité auprès d’une (très) -# large clientèle. Nous faisons tout pour rester connectés à vos futurs élèves, notamment via les réseaux sociaux, notre blog et nos newsletters. Enfin, nous tissons -# de véritables liens de partenariats avec d’autres acteurs du marché. Grâce à ce réseau étendu, vous pouvez réellement optimiser au niveau national la promotion de -# vos cours, sans contrepartie budgétaire.
