= content_for :title do
  Offres et Tarifs | CoursAvenue PRO

= content_for :meta_description do
  Optimisez votre visibilité, augmentez votre taux d'inscription et de fidélisation. Trafic supplémentaire ciblé et rentabilité.

= render layout: 'pro/home/header_layout', locals: { current: 'prices' } do
  %h1.f-size-big.text--center.white.relative.main-container.mega-soft--ends
    Essayez CoursAvenue gratuitement.

.main-container.main-container--medium.relative.soft--ends
  .grid--full
    %a.muted-link.grid__item.palm-hard.soft--right.one-third.palm-one-whole.text--center{ href: inscription_pro_structures_path }>
      .soft.rounded.bordered.bg-white.shadowed--bottom
        %h2.flush Basic
        %h4 Gratuit
      .btn.soft--sides.btn--green{ style: 'margin-top: -15px; margin-bottom: -15px;'} Essayer gratuitement
      .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
        -# .text--center.line-height-1-5.v-middle.orange.soft--top>
        -#   .f-weight-bold.gamma Visibilité
        -#   %div Pour recruter de nouveaux élèves grâce à Internet
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
          Profil CoursAvenue
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange>
          Avis & Livre d'Or
      %p.textt--center.soft--sides.epsilon
        %i
          Le minimum pour augmenter votre visibilité
          %br
          et améliorer l'efficacité de votre site Internet
    %a.muted-link.grid__item.palm-hard.soft--right.one-third.palm-one-whole.text--center{ class: 'fancybox.ajax', href: new_pro_call_reminder_path, data: { behavior: 'modal', width: 600, padding: 0 } }>
      .soft.rounded.bordered.bg-white.shadowed--bottom
        %h2.flush Pro
        %h4.flush 49€/mois
        %p.flush 14 jours gratuits. Sans engagement
      .btn.soft--sides.btn--yellow{ style: 'margin-top: -15px; margin-bottom: -15px;'} Rappel immédiat
      .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
        -# .text--center.line-height-1-5.v-middle.orange.soft--top>
        -#   .f-weight-bold.gamma Visibilité
        -#   %div Pour recruter de nouveaux élèves grâce à Internet
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
          Profil CoursAvenue
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange>
          Avis & Livre d'Or
        %hr.push--ends
        .text--center.line-height-1-5.v-middle.green>
          -# .f-weight-bold.gamma Attractivité
          -# %div Pour convertir les visiteurs de votre site en inscrits
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green.soft-half--bottom>
          Page planning sur votre site Internet
          %br
          optimisée mobiles & tablettes
        .text--center.line-height-1-5.v-middle.green.soft-half--bottom>
          .epsilon.f-weight-bold Inscriptions en ligne
          %div avec ou sans paiement en ligne
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
          Bons cadeaux
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
          Statistiques de trafic
        %hr.push--ends
        -# .text--center.line-height-1-5.v-middle.dark-blue>
        -#   .f-weight-bold.gamma Fidélisation
        -#   %div Pour faire revenir plus souvent vos élèves
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
          Newsletters
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
          Multi-postage sur les réseaux sociaux
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
          Questionnaire de satisfaction
      %p.textt--center.soft--sides.epsilon
        %i
          Idéal pour booster le nombre de nouveaux
          %br
          inscrits et fidéliser vos élèves
    %a.muted-link.grid__item.palm-hard.soft--right.one-third.palm-one-whole.text--center{ class: 'fancybox.ajax', href: new_pro_call_reminder_path, data: { behavior: 'modal', width: 600, padding: 0 } }>
      .soft.rounded.bordered.bg-white.shadowed--bottom
        %h2.flush Pro +
        %h4.flush 79€/mois
        %p.flush 14 jours gratuits. Sans engagement
      .btn.soft--sides.btn--yellow{ style: 'margin-top: -15px; margin-bottom: -15px;'} Rappel immédiat
      .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
        -# .text--center.line-height-1-5.v-middle.yellow.soft--top>
        -#   .f-weight-bold.gamma Site Internet
        -#   %div Pour présenter ses activités à tous les internautes
        .text--center.line-height-1-5.v-middle.yellow.soft-half--bottom>
          .f-weight-bold.epsilon Site web & mobile
          %div Optimisé Google
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.yellow>
          Nom de domaine & hébergement
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.yellow>
          Statistiques de trafic avancées
        %hr.push--ends
        -# .text--center.line-height-1-5.v-middle.orange.soft--top>
        -#   .f-weight-bold.gamma Visibilité
        -#   %div Pour recruter de nouveaux élèves grâce à Internet
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
          Profil CoursAvenue
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange>
          Avis & Livre d'Or
        %hr.push--ends
        .text--center.line-height-1-5.v-middle.green>
          -# .f-weight-bold.gamma Attractivité
          -# %div Pour convertir les visiteurs de votre site en inscrits
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green.soft-half--bottom>
          Page planning sur votre site Internet
          %br
          optimisée mobiles & tablettes
        .text--center.line-height-1-5.v-middle.green.soft-half--bottom>
          .epsilon.f-weight-bold Inscriptions en ligne
          %div avec ou sans paiement en ligne
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
          Bons cadeaux
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.green>
          Statistiques de trafic
        %hr.push--ends
        -# .text--center.line-height-1-5.v-middle.dark-blue>
        -#   .f-weight-bold.gamma Fidélisation
        -#   %div Pour faire revenir plus souvent vos élèves
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
          Newsletters
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
          Multi-postage sur les réseaux sociaux
        .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.dark-blue.soft-half--bottom>
          Questionnaire de satisfaction
      %p.textt--center.soft--sides.epsilon
        %i
          Idéal pour tirer le meilleur d'Internet garder
          %br
          le contrôle de sa communication sur Internet

= render partial: 'testimonies_banner', locals: { profile: 'alain'}

.home-screen-promotion-wrapper.soft--sides.relative
  .main-container.main-container--medium.mega-soft--ends.soft--sides
    .grid.push--bottom
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong L'offre Basic est-elle vraiment gratuite&nbsp;?
        %p.epsilon.soft--sides
          Oui, totalement gratuite. Votre profil complet apparaîtra alors sur le moteur de recherche géolocalisé CoursAvenue et vous pourrez même afficher vos avis sur votre Livre d'Or CoursAvenue.
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Les offres Pro et Pro+ incluent-elles une durée d'engagement minimale&nbsp;?
        %p.epsilon.soft--sides
          Non. CoursAvenue est un service à la demande. Il n'y a pas de contrat ni d'engagement de votre part. Vous payez tout simplement chaque mois. En cas de résiliation, vous serez facturé pour le mois en cours, mais vous ne serez pas facturé à nouveau.

    .grid.push--bottom
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Comment vous contacter pour toute aide&nbsp;?
        %p.epsilon.soft--sides
          Nous sommes à votre écoute prêts à vous aider tous les jours du lundi au vendredi, de 9h à 18h. Vous pouvez nous appeler, chatter en temps réel ou nous envoyer un e-mail.
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Quels moyens de paiement acceptez-vous&nbsp;?
        %p.epsilon.soft--sides
          Le paiement se fait en ligne par carte bleue (Visa ou Mastercard) ou via Paypal. Nous n'acceptons pas les paiements traditionnels de type chèques, virements ou espèces.

    .grid.push--bottom
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Existe-t-il d'autres frais cachés&nbsp;?
        %p.epsilon.soft--sides
          Non, vous ne paierez jamais plus que votre abonnement mensuel. Tous les services inclus dans l'offre son illimités, et vous n'aurez aucune mauvaise surprise.
      .grid__item.one-half.palm-one-whole>
        .epsilon.push-half--bottom.soft--sides
          %strong Comment faire pour obtenir mes factures mensuelles&nbsp;?
        %p.epsilon.soft--sides
          Dans votre profil privé, vous accèderez à toutes vos informations de compte, y compris vos factures mensuelles à télécharger en format pdf.

