= pro_menu_currently_at 'Recommandations'

%h2.text--center.blue 4 bonnes raisons de demander des recommandations à vos élèves

.grid
  .grid__item.four-twelfths>
    = image_tag 'pages/recommandations.jpeg'
  .grid__item.eight-twelfths>
    %h4.push-half--bottom Vous faites plaisir à vos élèves

    %p Combien de compliments recevez-vous à la fin de vos cours ? Vos élèves n’attendent que cela : partager leur expérience et vous complimenter. Sollicitez leurs témoignages : ils le feront avec grand plaisir. Vous allez être surpris !
    %hr
    %h4.push-half--bottom Vous augmentez votre taux de fidélisation

    %p Demander à un élève de témoigner, c’est créer du lien prof-élève en dehors du cours : plus vous offrez à vos élèves des occasions de s’exprimer, plus vous gardez contact avec eux, plus vous les fidélisez. Communiquer et créer du lien, c’est aussi instaurer une relation de confiance, élément fondateur de la fidélité d’un élève.

    %hr
    %h4.push-half--bottom Vous multipliez par 3 le bouche à oreille

    %p Plusieurs partenaires nous ont fait part d’un phénomène intéressant : un élève qui vous recommande sur CoursAvenue est souvent très fier d’avoir pu s’exprimer publiquement sur Internet pour défendre la qualité de vos cours : il y a ensuite 3 fois plus de chances que cet élève parle de vous lors d’un rendez-vous entre amis et famille

    %hr
    %h4.push-half--bottom Vous attirez 2 fois plus d’élèves

    %p La meilleure publicité, c’est celle de vos élèves ! Les partenaires qui affichent publiquement les témoignages de leurs élèves ont en moyenne un taux d'inscription et de fidélisation 2 fois supérieur à la moyenne. C’est pour cela qu’au-delà de 5 avis, CoursAvenue vous offre un livre d’or qui vous permet d’afficher toutes vos recommandations sur votre propre site web, blog, flyers, signatures d’emails…
