%script#course-info-template{type: "text/x-handlebars-template"}
  %h4 Informations complémentaires
  %ul
    {{#if is_individual}}
    %li Cours Individuel
    {{else}}
    %li Cours collectif
    {{/if}}

    {{#if teacher_name}}
    %li Professeur : {{teacher_name}}
    {{/if}}

    {{#if cant_be_joined_during_year}}
    %li Ne peut être rejoint en cours d’année
    {{else}}
    %li Peut être rejoint en cours d’année
    {{/if}}

    {{#if planning.recurrence}}
    %li {{planning.recurrence}}
    {{/if}}

    %li Du {{planning.start_date}} au {{planning.end_date}}

    {{#if class_during_holidays}}
    %li Séance de cours pendant les vacances
    {{else}}
    %li Pas de cours pendant les vacances
    {{/if}}

    {{#if is_for_handicaped}}
    %li Cours pour handicapé
    {{/if}}

