%script#price-template{type: "text/x-handlebars-template"}
  %h3 Choissez la formule
  %ul
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
