<div data-type="container" class="push-half--sides white-box--noshadow white-box soft-half--sides">
</div>
<div class="text--center soft--sides">
  <a href="{{ data_url }}#tab-courses">Voir tous les cours</a>
  <a href='#' data-type="accordion-control" data-value="courses" class="float--right"><i class="fa fa-arrow-up"></i></a>
</div>
