<div class='image-chooser'>
  <a class='pointer' data-slide-prev>
    <i class='delta fa-chevron-left v-middle gray-light'></i>
  </a>

  <!-- The images we can chose from. -->
  <!-- By default we choose the first image or the logo. -->
  <!-- We can then change using a list of images. -->
  <img data-current="true" src="{{ media_url }}">
  <table data-type='container'></table>

  <a class='pointer' data-slide-next>
    <i class='delta fa-chevron-right v-middle gray-light'></i>
  </a>
</div>
