{{#unlessEmpty breadcrumbs}}
    <div class="push-half--bottom">
        <span class="v-middle">
            Vos filtres :
        </span>
        {{#each breadcrumbs}}
          <span class="lbl f-color-black v-middle pointer" data-type="clear" data-target="{{target}}" {{#if title}} data-behavior="tooltip" title="{{ title }}"{{/if}}>
            <i class="fa fa-times soft-half--right"></i>{{name}}
          </span>
        {{/each}}
    </div>
{{/unlessEmpty}}
