<article id="presentation">
    <div class="soft">
        <div class="grid--full push-half--bottom">
            {{#if logo_thumb_url}}<!--
             --><div class="grid__item palm-one-whole v-top three-twelfths text--center palm-push--bottom">
                    <div class="media-photo">
                        <img src="{{ logo_thumb_url }}" alt="Image de profil de {{ name }}" class="block palm-one-whole">
                    </div>
                </div><!--
          -->{{/if}}<!--
          --><div class="grid__item soft--left palm-hard palm-one-whole {{#if logo_thumb_url}}nine-twelfths{{else}}one-whole hard{{/if}} v-top">
                <h1 class="beta gray push-half--bottom">{{ name }}</h1>
                <div class="delta f-weight-500 push-half--bottom gray">
                    {{ structure_type }}{{#if structure_type}} - {{/if}}{{ cities_text }}
                </div>
                {{#each subjects}}
                <div>
                    <h3 class="flush very-soft--bottom f-weight-normal f-size-13 text-ellipsis">
                        {{#if_string_length_is_more_than this.child_names 60 }}
                            <a class="relative float--right cursor-pointer" onclick="$(this).parent().removeClass('text-ellipsis'); $(this).remove();">+ Plus</a>
                        {{/if_string_length_is_more_than}}
                        <i class="fa-{{ this.icon }}"></i>
                        <strong>{{this.root_name}}{{#if this.child_names}} : {{/if}}</strong> {{this.child_names}}
                    </h3>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="push-half--bottom">
            {{#if description}}
              {{#ifCond description '!=' description_short}}
              <div id="description-short" class="gray last-p-push-half--bottom">
                  {{{ hide_contacts description_short }}}
                  <a href="#" data-behavior="show-long-version" data-short-version="#description-short" data-long-version=".show-more-description-more-info-long" class="float--right">+ Plus</a>
              </div>
              {{else}}
              <div class="gray" itemprop="description">
                  {{{ simple_format_hide_contacts description }}}
                  <a href="#" data-behavior="show-long-version" data-long-version=".show-more-description-more-info-long">+ Plus</a>
              </div>
              {{/ifCond}}
            {{else}}
              <div class="gray">{{ capitalize about }} n'a pas ajouté sa description.</div>
            {{/if}}
            <div class="show-more-description-more-info-long hidden">
                <div class="gray" itemprop="description">
                    {{{ simple_format_hide_contacts description }}}
                </div>
                <div>
                    <hr class="push--bottom push-half--top">
                    <div class="flexbox">
                        <div class="flexbox__item v-top one-quarter">
                            <strong class="gray-light">Plus d'infos</strong>
                        </div>
                        <div class="flexbox__item v-top three-quarters">
                            <table class="table--data table--striped table--striped-reversed bordered push-half--bottom">
                                <tbody>
                                    {{#if given_funding_type}}
                                    <tr>
                                        <td class="one-third">Financements acceptés</td>
                                        <td class="two-thirds"><strong>{{given_funding_type}}</strong></td>
                                    </tr>
                                    {{/if}}
                                    {{#if audience}}
                                    <tr class="{{#if given_funding_type}}description-more-info-long hidden{{/if}}">
                                        <td class="one-third">Public</td>
                                        <td class="two-thirds"><strong>{{audience}}</strong></td>
                                    </tr>
                                    {{/if}}
                                    {{#if structure_type}}
                                    <tr class="{{#if given_funding_type}}description-more-info-long hidden{{/if}}{{#if audience}}description-more-info-long hidden{{/if}}">
                                        <td class="one-third">Type de structure</td>
                                        <td class="two-thirds"><strong>{{structure_type}}</strong></td>
                                    </tr>
                                    {{/if}}
                                    {{#if given_course_types}}
                                    <tr class="{{#unless has_only_one_more_info}}description-more-info-long hidden{{/unless}}">
                                        <td class="one-third">Cours proposés</td>
                                        <td class="two-thirds"><strong>{{given_course_types}}</strong></td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                            {{#unless has_only_one_more_info}}{{#if given_course_types}}
                            <div>
                                <a href="#" data-behavior="show-long-version" data-long-version=".description-more-info-long">
                                + Plus
                                </a>
                            </div>
                            {{/if}}{{/unless}}
                        </div>
                    </div>
                </div>
                {{#if has_teachers}}
                <hr class="push--ends">
                <div class="flexbox">
                    <div class="flexbox__item v-top one-quarter">
                        <strong class="gray-light">Professeurs</strong>
                    </div>
                    <div data-type="teachers-collection" class="flexbox__item v-top three-quarters">
                        <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-teachers-loader style="display: none;">
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</article>

{{#unless have_upcoming_plannings}}
    <div class="bordered--top">
        <div class="soft gamma line-height-1-7">
            <strong>Planning</strong>
        </div>
        <div class="panel__body soft--bottom soft--sides">
            <article>
                <p class="flush--bottom">
                    {{ capitalize about }} n'a pas mis à jour son planning.
                    <a class="cursor-pointer" data-logger="phone_number" data-structure-id="{{ id }}" data-behavior="show-contact-panel" data-info-planning="true">Contactez-{{ about_genre }} pour demander son planning.</a>
                </p>
            </article>
        </div>
    </div>
{{/unless}}
<div class="bordered--top" id="stages-ateliers" data-wrapper>
    <div class="soft gamma line-height-1-7">
        <strong>Stages et ateliers</strong>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-trainings-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="trainings-summary"></div>
            </div>
            <div data-type="trainings-collection"></div>
        </article>
    </div>
</div>

<div class="bordered--top" id="cours-collectifs" data-wrapper>
    <div class="soft gamma line-height-1-7">
        <strong>Cours collectifs</strong>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-courses-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="courses-summary"></div>
            </div>
            <div data-type="lessons-collection"></div>
        </article>
    </div>
</div>

<div class="bordered--top" id="cours-particuliers" data-wrapper>
    <div class="soft gamma line-height-1-7">
        <strong>Cours particuliers</strong>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-courses-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="privates-summary"></div>
            </div>
            <div data-type="privates-collection"></div>
        </article>
    </div>
</div>
