<div class="panel">
      <ul class="tabs panel__header">
          <li class="active">
              <a href="#tab-description" data-toggle="tab"> Description</a>
          </li>
          <li>
              <a href="#tab-courses" data-toggle="tab" data-view="courses"><i class="fa fa-calendar"></i> Cours</a>
          </li>
          <li>
              <a href="#tab-comments" data-toggle="tab" data-view="comments"><i class="fa fa-comments"></i> Avis</a>
          </li>
          <li>
              <a href="#tab-teachers" data-toggle="tab" data-view="teachers"><i class="fa fa-group"></i> Professeurs</a>
          </li>
      </ul>
    <div class="panel__body">
        <article id="tab-description" class="tab-pane active">
            <div class="island">
               <table class="one-half float--right table--data table--striped bordered">
                 <tbody>
                   {{#if structure_type}}
                     <tr>
                         <td class="nowrap">Type de structure</td>
                         <td class="text--right"><strong>{{structure_type}}</strong></td>
                     </tr>
                    {{/if}}
                     <tr>
                         <td class="nowrap">Cours proposés</td>
                         <td class="text--right"><strong>{{given_course_types}}</strong></td>
                     </tr>
                   {{#if given_funding_type}}
                     <tr>
                         <td class="nowrap">Financements acceptés</td>
                         <td class="text--right"><strong>{{given_funding_type}}</strong></td>
                     </tr>
                    {{/if}}
                    {{#if min_price_libelle}}
                     <tr>
                         <td class="nowrap">Tarifs</td>
                         <td class="text--right">
                            <strong>
                            De
                            <span title="{{min_price_libelle}}" data-behavior='tooltip'>{{min_price_amount}}€</span>
                            à
                            <span title="{{max_price_libelle}}" data-behavior='tooltip'>{{max_price_amount}}€</span>
                            </strong>
                         </td>
                     </tr>
                    {{/if}}
                 </tbody>
               </table>
                <div class="gray">
                    {{{ simple_format description }}}
                </div>
            </div>
        </article>

        <article id="tab-courses"  class="tab-pane" data-type="courses-collection">
            <div data-summary-container class="blue-box soft-half push-half--bottom rounded--none">
                <div data-type="filter-breadcrumbs"></div>
                <div data-type="courses-summary"></div>
            </div>

            <div data-empty-courses class="hidden islet white-box">
                <p>Pas de cours pour cette structure.</p>
            </div>

            <div data-type="courses-collection"></div>
        </article>
        <article id="tab-comments" class="tab-pane" data-type="comments-collection"></article>
        <article id="tab-teachers" class="tab-pane" data-type="teachers-collection"></article>
        <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--bottom" height="10" data-loader style="display: none;">
    </div>
</div>

