<div class="panel push--bottom">
      <ul class="tabs panel__header">
          <li class="active">
              <a href="#tab-description" data-toggle="tab"> Description</a>
          </li>
          <li>
              <a href="#tab-courses" data-toggle="tab" data-view="courses">Cours</a>
          </li>
          <li>
              <a href="#tab-trainings" data-toggle="tab" data-view="trainings">Stages</a>
          </li>
          <li>
              <a href="#tab-teachers" data-toggle="tab" data-view="teachers">Professeurs</a>
          </li>
<!--           <li>
              <a href="#tab-subjects" data-toggle="tab" data-view="subjects"><i class="fa fa-group"></i> Disciplines</a>
          </li> -->
      </ul>
    <div class="panel__body">
        <article id="tab-description" class="tab-pane active">
            <div class="island">
               <table class="one-half float--right table--data table--striped bordered push-half--left push-half--bottom">
                 <tbody>
                   {{#if structure_type}}
                     <tr>
                         <td class="nowrap">Type de structure</td>
                         <td class="text--right"><strong>{{structure_type}}</strong></td>
                     </tr>
                    {{/if}}
                     <tr>
                         <td class="nowrap">Cours proposés</td>
                         <td class="text--right"><strong>{{given_course_types}}</strong></td>
                     </tr>
                   {{#if given_funding_type}}
                     <tr>
                         <td class="nowrap">Financements acceptés</td>
                         <td class="text--right"><strong>{{given_funding_type}}</strong></td>
                     </tr>
                    {{/if}}
                    {{#if min_price_libelle}}
                     <tr>
                         <td class="nowrap">Tarifs</td>
                         <td class="text--right">
                            <strong>
                            De
                            <span title="{{min_price_libelle}}" data-behavior='tooltip'>{{min_price_amount}}€</span>
                            à
                            <span title="{{max_price_libelle}}" data-behavior='tooltip'>{{max_price_amount}}€</span>
                            </strong>
                         </td>
                     </tr>
                    {{/if}}
                 </tbody>
               </table>
                <div class="gray">
                    {{#if description}}
                      {{{ simple_format description }}}
                    {{else}}
                      Pas de description pour cet établissement.
                    {{/if}}
                </div>
            </div>
        </article>

        <article id="tab-courses"  class="tab-pane">
            <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-courses-loader style="display: none;">
            <div data-summary-container class="soft-half hard--top rounded--none">
                <div data-type="courses-summary"></div>
            </div>
            <div data-type="courses-collection"></div>
        </article>
        <article id="tab-trainings" class="tab-pane">
            <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-trainings-loader style="display: none;">
            <div data-summary-container class="soft-half hard--top rounded--none">
                <div data-type="trainings-summary"></div>
            </div>
            <div data-type="trainings-collection"></div>
        </article>
        <article id="tab-teachers" class="tab-pane" data-type="teachers-collection">
          <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-teachers-loader style="display: none;">
        </article>
        <!-- <article id="tab-subjects" class="tab-pane" data-type="subjects-collection"></article> -->
    </div>
</div>
