<article id="tab-description" class="tab-pane active">
    <div class="white-box islet">
       <table class="one-half float--right table--data table--striped bordered">
         <tbody>
           {{#if structure_type}}
             <tr>
                 <td><strong>Type de structure</strong></td>
                 <td>{{structure_type}}</td>
             </tr>
            {{/if}}
             <tr>
                 <td><strong>Cours proposés</strong></td>
                 <td>{{given_course_types}}</td>
             </tr>
           {{#if given_funding_type}}
             <tr>
                 <td><strong>Financements acceptés</strong></td>
                 <td>{{given_funding_type}}</td>
             </tr>
            {{/if}}
            {{#if min_price_libelle}}
             <tr>
                 <td><strong>Tarifs</strong></td>
                 <td>
                    De
                    <span title="{{min_price_libelle}}" data-behavior='tooltip'>{{min_price_amount}}€</span>
                    à
                    <span title="{{max_price_libelle}}" data-behavior='tooltip'>{{max_price_amount}}€</span>
                 </td>
             </tr>
            {{/if}}
         </tbody>
       </table>
        {{{ simple_format description }}}
    </div>
</article>

<article id="tab-courses"  class="tab-pane" data-type="courses-collection">
    <div data-summary-container class="blue-box soft-half push-half--bottom">
        <div data-type="filter-breadcrumbs"></div>
        <div data-type="courses-summary"></div>
    </div>

    <div data-type="courses-collection"></div>
</article>
<article id="tab-comments" class="tab-pane" data-type="comments-collection"></article>
<article id="tab-teachers" class="tab-pane" data-type="teachers-collection"></article>

<img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block" height="10" data-loader style="display: none;">
