<div class="panel push--bottom" id="presentation">
    <div class="panel__header soft-half--ends soft--sides">
        <h4 class="flush">À propos de {{about}}</h4>
    </div>
    <div class="panel__body">
        <article>
            <div class="soft">
                {{#if logo_thumb_url}}
                <div class="float--left push--right push-half--bottom text--center">
                    <div class="media-photo">
                        <img src="{{logo_thumb_url}}" alt="Image de profil de {{name}}" height="200" class="block">
                    </div>
                    <i class="gray-light">Logo {{about_bis}}</i>
                </div>
                {{/if}}
                <div class="push-half--bottom">
                    {{#if description}}
                      {{#ifCond description '!=' description_short}}
                      <div id="description-short" class="gray last-p-push-half--bottom">
                          {{{ simple_format_hide_contacts description_short }}}
                      </div>
                      <a href="#" data-behavior="show-long-version" data-short-version="#description-short" data-long-version="#description-long">
                      + Plus
                      </a>
                      <div id="description-long" class="gray hidden" itemprop="description">
                          {{{ simple_format_hide_contacts description }}}
                      </div>
                      {{else}}
                      <div class="gray" itemprop="description">
                          {{{ simple_format_hide_contacts description }}}
                      </div>
                      {{/ifCond}}
                      <div class="push-half--bottom text--center">
                          <a class="pointer" data-behavior="show-contact-panel">Contacter {{about}}</a>
                      </div>
                    {{else}}
                    <div class="gray">
                        {{ capitalize about }} n'a pas ajouté sa description :
                        <a class="pointer" data-behavior="show-contact-panel" data-info-planning="true" href="#">contactez-{{about_genre}}.</a
                    </div>
                    {{/if}}
                    <a href="#" data-behavior="show-long-version" data-long-version=".show-more-description-more-info-long">
                    En savoir plus <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="show-more-description-more-info-long hidden">
                        <hr class="push--ends flexbox">
                        <div class="flexbox" id="disciplines">
                            <div class="flexbox__item v-top one-quarter">
                                <strong class="gray-light">Disciplines enseignées</strong>
                            </div>
                            <div class="flexbox__item v-top three-quarters">
                                {{#each subjects}}
                                <div class="push-half--bottom {{#ifCond @index '>' 1}}description-more-long hidden{{/ifCond}}">
                                    <h3 class="f-weight-normal inline-block inherit-font-size">
                                      <img src="{{this.icon}}" alt="Disciplines pratiquées : {{this.icon}}" height="16" class="v-middle">
                                      <strong>{{this.root_name}} : </strong>{{this.child_names}}
                                    </h3>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div>
                            <hr class="push--bottom push-half--top">
                            <div class="flexbox">
                                <div class="flexbox__item v-top one-quarter">
                                    <strong class="gray-light">Plus d'infos</strong>
                                </div>
                                <div class="flexbox__item v-top three-quarters">
                                    <table class="table--data table--striped table--striped-reversed bordered push-half--bottom">
                                        <tbody>
                                            {{#if given_funding_type}}
                                            <tr>
                                                <td class="one-third">Financements acceptés</td>
                                                <td class="two-thirds"><strong>{{given_funding_type}}</strong></td>
                                            </tr>
                                            {{/if}}
                                            {{#if audience}}
                                            <tr class="{{#if given_funding_type}}description-more-info-long hidden{{/if}}">
                                                <td class="one-third">Public</td>
                                                <td class="two-thirds"><strong>{{audience}}</strong></td>
                                            </tr>
                                            {{/if}}
                                            {{#if structure_type}}
                                            <tr class="{{#if given_funding_type}}description-more-info-long hidden{{/if}}{{#if audience}}description-more-info-long hidden{{/if}}">
                                                <td class="one-third">Type de structure</td>
                                                <td class="two-thirds"><strong>{{structure_type}}</strong></td>
                                            </tr>
                                            {{/if}}
                                            {{#if given_course_types}}
                                            <tr class="{{#unless has_only_one_more_info}}description-more-info-long hidden{{/unless}}">
                                                <td class="one-third">Cours proposés</td>
                                                <td class="two-thirds"><strong>{{given_course_types}}</strong></td>
                                            </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>
                                    {{#unless has_only_one_more_info}}{{#if given_course_types}}
                                    <div>
                                        <a href="#" data-behavior="show-long-version" data-long-version=".description-more-info-long">
                                        + Plus
                                        </a>
                                    </div>
                                    {{/if}}{{/unless}}
                                </div>
                            </div>
                        </div>
                        {{#if has_teachers}}
                        <hr class="push--ends">
                        <div class="flexbox">
                            <div class="flexbox__item v-top one-quarter">
                                <strong class="gray-light">Professeurs</strong>
                            </div>
                            <div data-type="teachers-collection" class="flexbox__item v-top three-quarters">
                                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block push--ends" height="10" data-teachers-loader style="display: none;">
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="panel push--bottom" id="cours-reguliers">
    <div class="panel__header soft-half--ends soft--sides">
        <div class="flush delta line-height-1-7"><strong>Cours réguliers</strong></div>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-courses-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="courses-summary"></div>
            </div>
            <div data-type="courses-collection"></div>
        </article>
    </div>
</div>

<div class="panel push--bottom" id="stages-ateliers">
    <div class="panel__header soft-half--ends soft--sides">
        <div class="flush delta line-height-1-7"><strong>Stages et ateliers</strong></div>
    </div>
    <div class="panel__body soft--bottom soft--sides">
        <article>
            <div class="one-whole text--center">
                <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="push--ends" height="10" data-trainings-loader style="display: none;">
            </div>
            <div data-summary-container class="text--left epsilon rounded--none">
                <div data-type="trainings-summary"></div>
            </div>
            <div data-type="trainings-collection"></div>
        </article>
    </div>
    </div>
</div>
