.panel
  .panel__body.soft
    .soft.text--center
      %h3 Vous n'avez pas encore envoyé de newsletter.
      = link_to 'Envoyer une newsletter', new_pro_structure_newsletter_path(@structure), class: 'btn btn--green btn--large'
