= content_for :top_menu do
  %ul.nav.flush
    %li{ class: current == 'preview' ? 'active' : '' }
      = link_to '#', class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Avis
    %li{ class: current == 'editing' ? 'active' : '' }
      = link_to '#', class: 'muted-link epsilon f-weight-600 soft--sides soft-half--ends' do
        Remplissage
