%ul.tabs.panel__header
  %li{ class: current == 'preview' ? 'active' : '' }
    = link_to 'Visualisation & Design', '#'
  %li{ class: current == 'editing' ? 'active' : '' }
    = link_to 'Remplissage', '#'
