= side_menu_currently_at 'messages'

= render partial: 'pro/structures/conversations/tabs', locals: { current: 'newsletter' }
.push--bottom
  = link_to '← Retour', pro_structure_newsletters_path(@structure)

%h1 Statistiques d'envoi

- if @newsletter.sent? and @metric
  = render 'metrics_detail'
- else
  %p.delta.text--center
    Les statistiques d'envoi sont en cours de création. Veuillez réessayer dans quelques minutes.
