= side_menu_currently_at 'newsletters'

.flexbox.push--bottom
  .flexbox__item.v-middle
    = link_to pro_structure_newsletters_path(@structure), class: 'btn' do
      %i.fa.fa-chevron-left.v-middle
      Retour

- if @newsletter.sent? and @metric.present?
  = render 'metrics_detail'
- else
  %p.delta
    Les statistiques d'envoi de newsletter sont en cours de création. Veuillez rééssayer dans quelques minutes.
