= side_menu_currently_at 'newsletters'

.panel
  .panel__header.soft
    %h4 Newsletter Etape 1/3 : Création
  = render partial: 'newsletter_edit_tabs', locals: { current: 'editing' }
  .panel__body.soft
    #newsletter{ data: { type: 'newsletters-root' } }

- content_for :scripts do
  :javascript
    window.coursavenue = window.coursavenue || {};
    window.coursavenue.bootstrap = {
        structure: "#{ @structure.slug }",
        models: {
          layouts:  #{ @layouts.to_json }
        }
    };
