.panel.center-block.relative{ style: 'max-width: 550px;'}
  .panel__header.soft
    %h3.flush.palm-text--center
      Demande d'inscription envoyée
  .panel__body.soft
    %p.epsilon
      Nous avons bien reçu votre demande et nous revenons vers vous au plus vite pour confirmer votre inscription.
    %p.epsilon
      %strong Vous allez recevoir dans quelques instants un e-mail contenant le résumé de votre demande
      ainsi qu'un lien pour la modifier ou l'annuler. Pensez à vérifier dans votre dossier SPAM si vous n'avez rien reçu.
    %p.epsilon.flush
      Merci, à très bientôt !
      %br
      = @structure.name
    %hr.push--ends
    .text--center
      = link_to "Voir ma demande d'inscription", structure_website_structure_participation_request_url(@participation_request.structure, @participation_request.token), class: 'btn btn--green', target: :_blank
