
<div class="header-search-bar">
    <div class="search-input-wrapper relative" style="display:block;">
        <input id="search-input" size=50 class="search-input" placeholder="Discipline / Etablissement ou professeur" type="search" name="name" autocomplete="off"></input>
    </div>
    <div class="search-input-wrapper relative">
        <div class="input-with-icon">
            <input id="address-picker" class="search-input" size=50 placeholder='Ville / CP / Adresse' type='text' autocomplete='off' name='address_name' data-behavior='address-picker' data-lng='#address-lng' data-lat='#address-lat' data-city='#address-city'></input>
            <i class="fa fa-map-marker delta"></i>
        </div>
        <p id="specify-location" class="white-box--noshadow hidden" style="z-index:2; line-height:1.3; padding: 5px 10px; position: absolute;">
            Vous devez spécifier un lieu
        </p>
    </div>

    <div class="button-wrapper">
        <button class="nowrap btn btn--orange" type="submit" id="submit_search_form">
            <i class="fa fa-search"></i>
            Rechercher
        </button>
    </div>
</div>
