<ul class="structure-item__comment-list no-bullet-list white-box islet push-half--sides hard flush--bottom" data-type='container'>
</ul>
{{#if more_than_five_comments }}
  <div class="text--center">
    <a href="{{ data_url }}">Voir tous les avis</a>
  </div>
{{/if}}
{{!-- <button data-type="accordion-control" data-value="comments">close</button> --}}
