<ul class="comment-list white-box islet push-half--sides hard" data-type='container'>
</ul>
<button data-type="accordion-control" data-value="comments">close</button>
<a href="{{ data_url }}">See all the comments</a>
