<div class="relative filtered-search__map" data-type="map-container">

  <div class=" visuallyhidden--palm visuallyhidden--lap filtered-search__map-control" data-behavior="bounds-controls">
      <div data-type="location-filter-tool"></div>
      <div class="white-box--noshadow soft-half--left very-soft">
        <input id="filtered-search__map-bounds-controls-checkbox" data-behavior="live-update" type="checkbox" {{#if update_live }}checked{{/if}}></input>
        <label for="filtered-search__map-bounds-controls-checkbox" class="inline soft-half--left milli">
          Rechercher quand je déplace la carte
        </label>
      </div>
  </div>
</div>
