<div class="map-with-slider push-half--top side-search-map" data-type="map-container">
    <div class="grid--full map-slider-container">
        <label class="three-twelfths grid__item v-middle bold">Rayon
            <div class="seven-twelfths grid__item v-middle">
                <div class="noUiSlider">
                </div>
            </div>
        </label>
        <label class="two-twelfths grid__item v-middle text--right bold">
            <span id="radius-label-value">{{ radius }}km</span>
        </label>
    </div>
</div>
