<div class="map-with-slider push-half--top side-search-map" data-type="map-container">
</div>
<div class="bounds-controls" style="display:none">
    <a href="#" class="announce-bounds">Announce Bounds</a>
    <label>live update</label><input class="live-update" type="checkbox"></input>
</div>
