<div data-type="container" class="media-gallery white-box--noshadow push-half--sides"></div>
<div class="text--center soft--sides">
  <a href="{{ data_url }}#tab-medias">Voir toutes les photos et vidéos</a>
  <a href='#' data-type="accordion-control" data-value="medias" class="float--right" data-behavior="fancy"><i class="fa fa-arrow-up"></i></a>
</div>
