<ul class="filtered-search__list no-bullet-list"></ul>
<div data-type="loader" class="filtered-search__loader">
  <!-- <div class='push-half--bottom'>Chargement...</div> -->
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block">
</div>
