<p class="flush--bottom">
Résultat : {{ first }}&nbsp;-&nbsp;{{ last }} sur <b>{{ total }}</b> établissements
</p>
<div class="spoken-form">
    <label>Trier par :</label>
    <a onclick="_gaq.push(['_trackEvent', 'Trier établissement / popularité', 'click'])" href="#" data-type="filter" data-value="rating_desc" class="bold filter-select">Popularité</a>
    /
    <a onclick="_gaq.push(['_trackEvent', 'Trier établissement / pertinence', 'click'])" href="#" data-type="filter" data-value="relevancy" class="filter-select">Pertinence</a>
</div>
