<div class="relative">
    <section id="widgets-container" class="filtered-search__map-wrapper">
        {{#each widget}}
            <div id="{{ id }}" data-type="widget"></div>
        {{/each}}
    </section>

    <section class="filtered-search__list-wrapper">
        <header class="flexbox page-entries-wrapper soft-half">
            <div class="one-whole" data-type="subject-filter-tool"></div>
            <div class="one-whole" data-type="categorical-filter-tool"></div>
            <div class="flexbox">
                <div class="flexbox__item palm-one-whole" data-type="results-summary-tool"></div>
                <div class="flexbox__item visuallyhidden--palm text--right" data-type="top-pagination-tool"></div>
            </div>
        </header>

        <div id="search-results"></div>

        <div class="text--center" data-type="bottom-pagination-tool">
        </div>
    </section>
</div>
