<div class="grid stickem-container relative">
    <section id="widgets-container" class="grid__item four-tenths visuallyhidden--lap visuallyhidden--palm stickem absolute">
        {{#each widget}}
            <div id="{{ id }}" data-type="widget"></div>
        {{/each}}
    </section>

    <section class="filtered-select grid__item six-tenths lap-one-whole palm-one-whole course-list-wrapper">
        <header class="flexbox page-entries-wrapper">
            <div class="flexbox__item palm-one-whole" data-type="results-summary-tool"></div>
            <div class="flexbox__item visuallyhidden--palm text--right" data-type="top-pagination-tool"></div>
        </header>

        <div id="search-results"></div>

        <div class="text--center" data-type="bottom-pagination-tool">
        </div>
    </section>
</div>
