<span>{{ plannings }} cours (YY séances) de 12€ à 320€ correspondent à votre recherche</span>
<span class="bg-gray push--left soft--sides pointer" data-type="button">
    Visualiser les 3 autres cours
</span>

