%ul.tabs.panel__header
  %li{ class: current == 'new' ? 'active' : '' }
    = link_to new_user_sponsorship_path(@user) do
      %i.fa.fa-bullhorn
      Parrainer

  %li{ class: current == 'index' ? 'active' : '' }
    = link_to user_sponsorships_path(@user) do
      %i.fa.fa-comment
      Invitations envoyées
