= user_menu_currently_at 'discovery_pass'

.flexbox
  .flexbox__item.one-fifth.v-top.soft-half--left>
    = render partial: 'users/discovery_passes/side_menu', locals: { current: 'sponsorships' }
  .flexbox__item.four-fifths.v-top.soft-half--left>
    .panel
      = render partial: 'users/sponsorships/tabs', locals: { current: 'index' }
      .panel__header.soft
        %h3.flush Mes parrainages
