%tr
  %td= price.libelle
  - if price.amount == 0
    %td.text-center Gratuit
  - else
    - if price.amount.nil?
      %td.text-center Se renseigner
    - else
      %td.text-center= "#{price.readable_amount}€"
  %td.text-center -
