= side_menu_currently_at 'premium'

.panel
  .panel__header.soft
    = render partial: 'pro/structures/premium_breadcrumb', locals: { current: 'validation', failure: params['EXECCODE'] != '0000' }
  .panel__body.soft
    = render "#{@payer_type}_confirmation"
