%a.block.muted-link.text--center{ href: inscription_pro_structures_path }>
  .soft.rounded.bordered.bg-white.shadowed--bottom
    %h2.flush Basic
    %h4 Gratuit
  .btn.soft--sides.btn--green{ style: 'margin-top: -15px; margin-bottom: -15px;'} Essayer gratuitement
  .bordered.soft.bg-white.shadowed--bottom.push-half--bottom
    .text--center.line-height-1-5.v-middle.soft-half--ends>
      .f-weight-bold.delta Annonce sur CoursAvenue
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
      Profil complet
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange.soft-half--bottom>
      Inscriptions en ligne
    .text--center.epsilon.line-height-1-5.v-middle.f-weight-bold.orange>
      Avis & Livre d'Or
  %p.textt--center.soft--sides.epsilon
    %i
      Augmentez votre visibilité
      %br
      et le bouche-à-oreille sur Internet
