%ul.tabs.panel__header.flush
  %li{class: current == 'offers' ? 'active' : ''}
    = link_to offers_user_passions_path(@user) do
      %i.fa-gift
      Mes offres
  %li{class: current == 'passions' ? 'active' : ''}
    = link_to user_passions_path(@user) do
      %i.fa.fa-heart
      Mes passions
  %li{class: current == 'suggestions' ? 'active' : ''}
    = link_to suggestions_user_passions_path(@user) do
      %i.fa.fa-question-sign
      Mes suggestions
