= user_menu_currently_at 'passions'

.panel
  = render partial: 'users/passions/tabs', locals: { current: 'offers' }
  .panel__body.soft
    %p.alert.alert--info
      Pour recevoir les offres exclusives de nos partenaires (cours d'essai gratuits, promotions, invitations...), renseignez prélablement vos lieux et vos passions dans l'onglet "Mes passions". Vous pourrez gérer le type d'information et la fréquence de nos e-mails depuis la rubrique "Mes infos", onglet "Notifications".

    .text--center
      = link_to 'Renseigner mes passions pour recevoir des offres exclusives', user_passions_path(current_user), class: 'btn btn--green btn--large', onclick: "ga('send', 'event', 'User / Renseigner mes passions', 'click')"
