/*------------------------------------*\
    $Themes
\*------------------------------------*/

a:link{
    color: $brand-color;
}

.pagination {
    border: 1px solid black;
    border-radius: 3px;
    a {

    }
}
