.text--center
  %h3.push--top Aucune séance trouvé
  = link_to 'Chercher par établissement', places_path(name: params[:name]), class: 'btn btn__large btn__success', onclick: "_gaq.push(['_trackEvent', 'Chercher par établissement', 'click', 'Après recherche vide"
