.text--center
  %h4.push--top Aucune séance trouvée pour ces critères
  / %hr
  / %h3 Résultats plus large pouvant correspondre à votre recherche

  = link_to 'Chercher par établissement', places_path(name: params[:name]), class: 'btn btn--large btn--success', onclick: "_gaq.push(['_trackEvent', 'Chercher par établissement', 'click', 'Après recherche vide"
