%ul.tab-titles{data: {behavior: 'tabs'}}
  %li.active{data: { el: 'tab-opinion' }}= t('.opinions')

.tab-content
  %article#tab-opinion.tab-pane.active
    %header
      %h4= t('.last_students_opinion')
      %h5 Espace en cours de lancement
