%table.table--striped.table--data
  %thead
    %tr
      %th Dates
      %th.text-center Durée
      %th Nb de places
  %tbody
    - @plannings.each do |planning|
      %tr{data: {'course-id' => planning.course_id}}
        %td= training_dates planning
        %td.text-center= "#{pluralize(planning.length, 'jour')}"
        %td -
