<div class='image-chooser'>
  <a class='pointer' data-slide-prev>
    <i class='delta fa-chevron-left v-middle gray-light'></i>
  </a>

  <!-- The images are here. -->
  <div data-type='container'></div>

  <a class='pointer' data-slide-next>
    <i class='delta fa-chevron-left v-middle gray-light'></i>
  </a>
</div>
