{{#if structure.is_sleeping}}
  {{#if structure.phone_numbers}}
    {{#if structure.phone_numbers}}
    <a href="javascript:void(0)" class="btn btn--green btn--full" data-behavior="show-phone-numbers">
        <i class="fa fa-phone v-middle"></i>
        <span class="v-middle">Contacter</span>
    </a>
    <div class="phone_number hidden white-box">
        <div class="soft text--center">
            {{#each structure.phone_numbers}}
                {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
                <i class="soft-half--left v-middle fa-check-circle green"></i>
            {{/each}}
        </div>
    </div>
    {{/if}}
  {{/if}}
{{else}}
<div class="panel__header soft-half--ends soft--sides">
    <div class="flexbox">
      <div class="flexbox__item v-middle">
          <h4 class="flush">Demande d'inscription</h5>
      </div>
      <div class="flexbox__item v-middle text--right green f-weight-bold delta" data-pr-total>
      </div>
    </div>
</div>
<div class="panel__body soft--bottom">
    <div class="soft--sides soft--top soft--bottom bordered--bottom {{#unless last_message_sent_at}}hidden{{/unless}}">
        <div data-type="message-sent" class="text--center">
            <div class="green">
                <i class="fa-check"></i>
                <strong>Dernière demande envoyée le {{#if last_message_sent_at}}{{ last_message_sent_at }}{{else}}{{ today }}{{/if}}</strong>
            </div>
            <div>
                <a data-type="user-participation-requests-path" href="{{ user_participation_requests_path }}" class="f-weight-500">Voir mes inscriptions</a>
            </div>
        </div>
    </div>
    {{#if last_message_sent_at}}
      <div class="soft--sides soft--top" id="new-participation-request-wrapper">
          <a class="btn btn--green btn--full" data-behavior="show-long-version" data-short-version="#new-participation-request-wrapper" data-long-version="#structure-request-form-wrapper">Nouvelle demande d'inscription</a>
      </div>
    {{/if}}
    <article class="{{#if last_message_sent_at}}hidden{{/if}}" id="structure-request-form-wrapper">
        <form action="{{participation_request.url}}">
            <div data-element="first-step-form-wrapper">
                <div class="push-half--bottom" data-type="participation-request-form-content"></div>
                <div class="push-half--bottom" data-type="participation-request-participants"></div>
                {{#if in_two_steps}}
                  <div class="soft--sides">
                      <a data-behavior="show-second-step-form" class="btn btn--green btn--full">
                          Valider
                      </a>
                  </div>
                {{/if}}
            </div>
            <div data-element="second-step-form-wrapper" {{#if in_two_steps}}class="hidden"{{/if}}>
                {{#if in_two_steps}}
                  <div class="soft--sides soft-half--top push-half--bottom">
                    <div class="{{#if last_message_sent_at}}soft-half--top{{/if}} soft-half--bottom"><a href="#" data-behavior="show-first-step-form">← Changer les informations</a></div>
                    <div class="epsilon f-weight-500">
                        Envoyez un message personnalisé avec votre inscription
                    </div>
                  </div>
                {{/if}}
                <div class="push-half--bottom soft--sides">
                    <div class="input-addon">
                        <div class="input-prefix">
                            <i class="fa-phone-o"></i>
                        </div>
                        <input type="text" class="input--large one-whole hard--right" name='user[phone_number]' type='text' placeholder='Votre téléphone (confidentiel)' value="{{#if user.phone_number}}{{ user.phone_number }}{{/if}}" data-toggle="popover" data-content="Nous vous recommandons de laisser votre numéro de portable : si la séance est annulée ou modifiée, un SMS pourra vous être envoyé." data-trigger="hover" data-placement="left">
                    </div>

                    <div data-error="user_phone_number" class="{{#unless errors.user.phone_number}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.user.phone_number}}</div>
                </div>
                <div class="input flush--top push-half--bottom soft--sides">
                    <textarea name="message[body]" id="" cols="30" rows="12" class="one-whole input--large" style='height: 185px;' data-behavior='autoresize'>{{#unless errors.body}}{{ participation_request.message.body }}{{/unless}}</textarea>
                </div>
                <div data-error="message_body" class="soft--sides {{#unless errors.body}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.body}}</div>
                <div class="soft--sides">
                    <button type="submit" class="btn btn--green btn--full" data-disable-with="Message en cours d'envoi...">
                        Envoyer ma demande d'inscription
                    </button>
                </div>
            </div>
        </form>
    </article>
</div>
{{/if}}
