{{#if structure.is_sleeping}}
  {{#if structure.phone_numbers}}
    {{#if structure.phone_numbers}}
    <a href="javascript:void(0)" class="btn btn--green btn--full" data-behavior="show-phone-numbers">
        <i class="fa fa-phone v-middle"></i>
        <span class="v-middle">Contacter</span>
    </a>
    <div class="phone_number hidden white-box">
        <div class="soft text--center">
            {{#each structure.phone_numbers}}
                {{#ifCond @index '>' 0}}<br>{{/ifCond}}
                <strong class="epsilon v-middle" itemprop="telephone">{{this}}</strong>
                <i class="soft-half--left v-middle fa fa-check-circle green"></i>
                <i class="v-middle green milli">vérifié</i>
            {{/each}}
        </div>
    </div>
    {{/if}}
  {{/if}}
{{else}}
<div class="panel__header soft-half--ends soft--sides">
    <h5 class="flush">Demande d'inscription</h5>
</div>
<div class="panel__body">
    <div data-type="message-sent" class="{{#unless last_message_sent_at}}hidden{{/unless}} text--center">
        <div class="green">
            <i class="fa fa-check"></i>
            <strong>Dernière demande envoyée le {{#if last_message_sent_at}}{{ last_message_sent_at }}{{else}}{{ today }}{{/if}}</strong>
        </div>
        <div>
            <a data-type="user-participation-requests-path" href="{{ user_participation_requests_path }}" class="f-weight-500">Voir mes inscriptions</a>
        </div>
        <hr class="push--ends">
    </div>
    {{#if last_message_sent_at}}
      <div class="btn btn--green btn--full" data-behavior="show-long-version" data-long-version="#structure-request-form-wrapper">Nouvelle demande d'inscription</div>
    {{/if}}
    <article class="{{#if last_message_sent_at}}hidden{{/if}}" id="structure-request-form-wrapper">
        <form action="{{participation_request.url}}">
            <div class="push-half--ends" data-type="participation-request-form-content"></div>
            <div class="one-whole v-middle push-half--bottom soft--sides" class="one-whole">
                <div class="input-addon">
                    <div class="input-prefix">
                        <i class="fa fa-phone-o"></i>
                    </div>
                    <input type="text" class="input--large one-whole hard--right" name='user[phone_number]' type='text' placeholder='Votre téléphone (confidentiel)' value="{{#if user.phone_number}}{{ user.phone_number }}{{/if}}" data-toggle="popover" data-content="Nous vous recommandons de laisser votre numéro de portable : si la séance est annulée ou modifiée, un SMS pourra vous être envoyé." data-trigger="hover" data-placement="left">
                </div>

                <div data-error="user_phone_number" class="{{#unless errors.user.phone_number}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.user.phone_number}}</div>
            </div>
            <div class="input flush--top push-half--bottom soft--sides">
                <textarea name="message[body]" id="" cols="30" rows="12" class="one-whole input--large" style='height: 185px;' data-behavior='autoresize'>{{#unless errors.body}}{{ participation_request.message.body }}{{/unless}}</textarea>
            </div>
            <div data-error="message_body" class="soft--sides {{#unless errors.body}}hidden{{/unless}} input_field_error red f-weight-bold text--right">{{errors.body}}</div>
            <div class="soft--sides">
                <button type="submit" class="btn btn--green btn--full" data-disable-with="Message en cours d'envoi...">
                    Envoyer ma demande d'inscription
                </button>
            </div>
        </form>
    </article>
</div>
{{/if}}
