// --------------------- Family
.ff-open-sans { font-family: "Open Sans"; }

// --------------------- Weights
.f-weight-100    { font-weight: 100; }
.f-weight-300    { font-weight: 300; }
.f-weight-400    { font-weight: 400; }
.f-weight-500    { font-weight: 500; }
.f-weight-600    { font-weight: 600; }
.f-weight-bold   { font-weight: bold; }
.f-weight-normal { font-weight: 400 !important; }

// --------------------- Styles
.f-style-italic { font-style: italic; }

// --------------------- Decorations
.f-decoration-underlined      { text-decoration: underline; }
.f-decoration-not-underlined  { text-decoration: none !important; &:hover { text-decoration: none !important; } }
.f-white-transparent {
    color: #EEE;
    color: rgba(255, 255, 255, 0.8);
}
.f-color-black { color: black; }

// --------------------- Size
.inherit-font-size { font-size  : inherit; }
.f-size-14 { font-size: 14px; }
.f-size-13 { font-size: 13px; }
.f-size-12 { font-size: 12px; }

.smaller-print {
    font-size: 0.8em;
}

.line-through { text-decoration: line-through; }
.line-through--gray {
    text-decoration: line-through;
    color          : #777;
    font-style     : italic;
}

.base-font-style {
    font-size  : $base-font-size;
    font-weight: 400;
}

// --------------------- Line height
.line-height-normal { line-height: normal !important; }
.line-height-1      { line-height: 1 !important; }
.line-height-2      { line-height: 2 !important; }
.line-height-1-5    { line-height: 1.5 !important; }
.line-height-1-7    { line-height: 1.7 !important; }

.palm-text--center {
    @include media-query(palm) {
        text-align: center !important;
    }
}

.text--muted { color: $gray-muted; }

.break-word { word-wrap: break-word; }

.no-text-shadow    { @include text-shadow(none); }
.no-text-transform { text-transform: none; }
