h1, h2, h3, h4, h5, h6 {
    //font-weight: 600;
    line-height: 1.4;
}
.header-group:first-child {
    margin-top    : 0;
}
.header-group {
    border-bottom : 1px solid darken($beigeDarker, 7%);
    color         : darken($beigeDarker, 60%);
    padding-bottom: 0.5em;
    margin-bottom : 0;
    margin-top    : 1em;
    font-size    : 25px;
}
