.bg-transparent {
    background: transparent;
}
.bg-contain, .bg-cover {
    background-position  : center;
    background-repeat    : no-repeat;
    &[data-stellar-background-ratio] {
        background-position: top;
    }
}
.bg-position-top { background-position: top; }
.bg-fixed { background-attachment: fixed; }
.bg-cover   { @include background-size(cover); }
.bg-contain { @include background-size(contain); }

.icon-question-sign {
    cursor: pointer;
}
.super-muted { @include opacity(0.3); }
.semi-muted  { @include opacity(0.75); }
.invisible   { @include opacity(0); }

.relative          { position   : relative; }
.on-top-of-the-world { z-index    : 100000 !important; }
.on-top            { z-index    : 1000 !important; }
.on-under-top      { z-index    : 900 !important; }
.absolute          { position   : absolute; }
.fixed             { position   : fixed; }
.west              { left       : 0 !important; }
.east              { right      : 0 !important; }
.north             { top        : 0 !important; }
.south             { bottom     : 0 !important; }

.absolute--center {
    top        : 50%;
    left       : 50%;
    width      : 10em;
    height     : 10em;
    line-height: 10em;
    margin-left: -5em;
    margin-top : -5em;
}

.flip {
    @include vendor(transform, scaleX(-1));
    filter: FlipH; /* IE 6/7/8 */
}

.push--east { text-align: right; }

.v-top      { vertical-align: top!important; }
.v-middle   { vertical-align: middle!important; }
.v-bottom   { vertical-align: bottom!important; }

.white              { color: white; }
.black              { color: $text-black; }
.yellow             { color: $yellow; }
.yellow--dark       { color: darken($yellow, 8%); }
.red                { color: $red; }
.green              { color: $green-success; }
.blue               { color: $blue-green !important; }
.blue-darker        { color: darken($blue-green, 10%) !important; }
.fb-blue            { color: $facebook-blue; }
.orange             { color: $orange; }
.brand              { color: $orange !important; }
.gray-light         { color: $gray-light; }
.gray               { color: $gray; }
.gray-very-light    { color: #CCC; }
.bg-blue-green      { background-color: $blue-green; }
.bg-green           { background-color: $green-success; }
.bg-gray            { background-color: $gray-light; }
.bg-orange          { background-color: $orange; }
.bg-red             { background-color: $red; }
.bg-white           { background-color: white; }
.bg-gray-light      { background-color: $gray-light; }
.bg-white-faded     { background-color: white; background-color: rgba(255, 255, 255, 0.65) }
.bg-site-background { background-color: $site-background-color; }
.bg-black-faded     { background-color: black; background-color: rgba(0, 0, 0, 0.65) }
.margin-bottom {
    margin-bottom: 1em;
}
.small-margin-bottom {
    margin-bottom: 0.5em;
}
// Rounded
.rounded--none      { @include border-radius(0!important); }
.rounded-left--none { @include border-left-radius(0!important); }
.rounded-right--none { @include border-right-radius(0!important); }
.rounded-top--none  { @include border-top-radius(0!important); }
.rounded            { @include border-radius($brand-round); }
.rounded--top       { @include border-top-radius($brand-round); }
.rounded--bottom    { @include border-bottom-radius($brand-round); }
.rounded--double    { @include border-radius($brand-round * 2); }
.rounded--thick     { @include border-radius(1em !important); }
.rounded--circle    { @include border-radius(100% !important); }

// Border
.bordered--right     { border-right  : 1px solid $gray-smooth; }
.bordered--left      { border-left   : 1px solid $gray-smooth; }
.bordered--bottom    { border-bottom : 1px solid $gray-smooth; }
.bordered--top       { border-top    : 1px solid $gray-smooth; }
.bordered            { border        : 1px solid $gray-smooth; }
.bordered--blue      { border        : 1px solid $blue; }
.bordered--red       { border        : 1px solid $red; }
.border-none         { border        : none !important; }
.border-none--sides  { border-left   : none !important; border-right: none !important; }
.border-none--bottom { border-bottom : none !important; }
.border-none--left   { border-left  : none !important; }
.border-none--right  { border-right  : none !important; }
.border-none--left   { border-left   : none !important; }
.border-none--top    { border-top    : none !important; }
.bordered--larger    { border-width  : 2px !important; }
.bordered--thick     { border-width  : 4px !important; }
.bordered--orange    { border-color  : $orange; }
.border-color-gray   { border-color  : $gray; }
.border-color-white  { border-color  : white; }

.center-block        { margin-left: auto; margin-right: auto; display: block; }
.block               { display    : block; }
.inline              { display    : inline; }
.inline-block        { display    : inline-block; }
.hidden.inline-block { display    : none; }
.hidden              { display    : none; }
.visibility-hidden   { visibility : hidden; }


.width-auto         { width: auto !important; }
.width-fit-content  {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.or {
    border-bottom: 1px solid #CCC;
    margin       : 0em 0 $base-line-height 0;
    text-align   : center;
    span {
        font-size       : 14px;
        position        : relative;
        bottom          : -10px;
        padding         : 0 1em;
        background-color: white;
    }
}
.nowrap    { white-space : nowrap !important; }
.break-all { word-break : break-all; }
.milli {
    p {
        line-height: 1.5;
    }
}
.word-break-normal { word-break: normal; }
.thin              { font-weight: 300; }
.very-soft         { padding: 5px; }

.pointer        { cursor: pointer !important; }
.cursor-default { cursor: default !important; }
.cursor-help    { cursor: help !important; }

.ie-blocker {
    position   : fixed;
    height     : 100%;
    width      : 100%;
    left       : 0;
    top        : 0;
    background : #EEE;
    z-index    : 100000;
}

.opacity-hidden-on-hover__wrapper {
    .opacity-hidden-on-hover__child         { opacity: 0; @include transition(opacity 200ms linear); }
    &:hover .opacity-hidden-on-hover__child { opacity: 1; }
}
.show-on-hover__wrapper {
    &.show-on-hover__wrapper--black-curtain {
        @include transition(background 200ms linear);
        height    : 100%;
        width     : 100%;
    }
    &.show-on-hover__wrapper--black-curtain:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .show-on-hover__child, .show-on-hover__child-ilb { display: none; }
    &:hover {
        .show-on-hover__child     { display: block; }
        .show-on-hover__child-ilb { display: inline-block; }
    }
}
.z-index-1 { z-index: 1; }
.z-index-3 { z-index: 3; }
.black-box-shadow { @include box-shadow(0px 0px 31px #555555); }
.white-text-shadow { @include text-shadow(0 0 2px #FFF, 0 0 12px #FFF, 0 0 22px #FFF, 0 0 42px #FFF, 0 0 92px #FFF); }
.black-text-shadow { @include text-shadow(0 0 2px #000, 0 0 12px #000, 0 0 22px #000, 0 0 42px #000, 0 0 92px #000); }
.soft-black-text-shadow { @include text-shadow(0px 0px 2px #444, 0px 0px 15px #444); }
.smooth-black-text-shadow { @include text-shadow(0px 0px 2px #444); }

.highlight {
    font-weight     : bold;
    background-color: #FFFFBD;
}

.white-circle {
    border: 2px solid white;
    &.white-circle--thick { border-width: 4px; }
}

.one-seventh {
    width: 14.2857%;
}

.fade-out {
    opacity: 0.4;
    transition: opacity 0.5s ease;
}

.hoverable:hover {
    background-color: $hover-list-element;
}

.hl-orange {
    @include transition(all 150ms ease);
}
.hl-orange:hover {
    color           : white;
    background-color: $orange;
}

.width-30-percent {
    width: 30%;
    @include media-query(palm) {
        width: 100%;
    }
}

.width-27-percent {
    width: 27%;
    @include media-query(palm) {
        width: 100%;
    }
}
.palm-flush {
    @include media-query(palm) {
        margin: 0 !important;
    }
}

.palm-hard {
    @include media-query(palm) {
        padding: 0 !important;
    }
}

.print--visible {
    @media only screen {
        display: none;
    }
}
@media only print {
    .print--hidden {
        display: none !important;
    }
}

.transition-all-linear { @include transition(all 250ms linear); }

.text-shadow-white { @include text-shadow(0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF) }

.premium-banner {
    position   : absolute;
    top        : -8px;
    left       : 50%;
    margin-left: -75px;
    &:before {
        border-bottom: 6px solid #C55300;
        border-left  : 3px solid rgba(0, 0, 0, 0);
        border-right : 3px solid rgba(0, 0, 0, 0);
        transform    : scale(0.99);
        content      : "";
        height       : 0;
        left         : -6px;
        position     : absolute;
        top          : 0;
        width        : 162px;
        z-index      : 0;
    }
}
    .premium-banner__content {
        position        : absolute;
        top             : 0;
        width           : 150px;
        background      : #FA6900;
        background-image: -webkit-linear-gradient(top,#FF973A,#FA6900);
        background-image: linear-gradient(to bottom,#FF973A,#FA6900);
        text-shadow     : 0 1px 0 #7D3F0C;
        text-shadow     : 0 1px 0 rgba(125, 63, 12, 0.5);
        color           : #FFF;
        padding         : 9px 5px 4px;
        &:after {
            content     : '';
            border-style: solid;
            border-color: #FA6900 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            transform   : scale(0.99);
            border-width: 8px 75px 0;
            position    : absolute;
            top         : 100%;
            left        : 0;
            z-index     : 1;
        }
    }

.height-whole {
    height: 100%;
}

.last-p-push-half--bottom {
    p:last-child {
        margin-bottom: $base-line-height / 2;
    }
}

.last-p-flush {
    p:last-child {
        margin-bottom: 0;
    }
}
.zoom-on-hover {
    @include transition(all 100ms ease-in-out);
    &:hover {
        @include transform(scale(1.05, 1.05));
    }
}
.sticky.bordered--bottom-on-stick    { border-bottom : 1px solid $gray-smooth; }

.height-150 {
    height: 150px;
}

.black-curtain {
    @include transition(background 150ms linear);
    background: rgba(0,0,0,.5);
    height    : 100%;
    &.black-curtain__fading-on-hover:hover {
        background: rgba(0,0,0,.1);
    }
}
.black-curtain__fading-on-hover:hover {
    .black-curtain {
        background: rgba(0,0,0,.1);
    }
}
.full-screen-item { height: 100vh; }
