/*------------------------------------*\
    EFFECTS
\*------------------------------------*/
.blur-image-on-hover {
    &:hover img { @include filter(blur(5px)); }
}
.blur { @include filter(blur(10px)); }
/*------------------------------------*\
    WIDTHS & HEIGHTS
\*------------------------------------*/
.width-auto  { width: auto !important; }

.height-100-percent { height: 100% !important; }
.height-150 { height: 150px; }
.height-35vh {
    height: 350px; // Fallback
    height: 35vh;
    @include media-query(palm) { height: 15vh; }
}
.height-70-vh {
    height: 700px; // Fallback
    height: 70vh;
    @include media-query(palm) { height: 40vh; }
}
.height-three-quarters {
    height: 750px; // Fallback
    height: 75vh;
    @include media-query(palm) { height: 50vh; }
}
.height-whole { height: 100%; }
.palm-height-auto {
    @include media-query(palm) { height: auto !important; }
}
.full-screen-item {
    height: 750px; // Fallback
    height: 100vh;
}
.min-height-800 { min-height: 800px; }
.min-height-1000 { min-height: 1000px; }

/*------------------------------------*\
    RADIUS
\*------------------------------------*/
.rounded--none         { @include border-radius(0!important); }
.rounded--left         { @include border-left-radius($brand-round!important); }
.rounded--left--double { @include border-left-radius($brand-round * 2!important); }
.rounded-left--none    { @include border-left-radius(0!important); }
.rounded-right--none   { @include border-right-radius(0!important); }
.rounded-top--none     { @include border-top-radius(0!important); }
.rounded               { @include border-radius($brand-round); }
.rounded--top          { @include border-top-radius($brand-round); }
.rounded--bottom       { @include border-bottom-radius($brand-round); }
.rounded--top--double  { @include border-top-radius($brand-round * 2); }
.rounded--bottom       { @include border-bottom-radius($brand-round); }
.rounded--double       { @include border-radius($brand-round * 2); }
.rounded--thick        { @include border-radius(1em !important); }
.rounded--circle       { @include border-radius(100% !important); }
.rounded--circle-100   {
    @include border-radius(100px !important);
    height: 100px;
    width: 100px;
    &, i { line-height: 100px; }
}

/*------------------------------------*\
    BORDERS
\*------------------------------------*/
.bordered-top--palm {
    @include media-query(palm) { border-top: 1px solid $gray-smooth;  }
}
.bordered                        { border        : 1px solid $gray-smooth; }
.bordered--dash                  { border-style: dashed !important; }
.bordered--ends                  { border-top: 1px solid $gray-smooth; border-bottom: 1px solid $gray-smooth; }
.bordered--sides                 { border-left: 1px solid $gray-smooth; border-right: 1px solid $gray-smooth; }
.bordered--right                 { border-right  : 1px solid $gray-smooth !important; }
.bordered--left                  { border-left   : 1px solid $gray-smooth !important; }
.bordered--right                 { border-right   : 1px solid $gray-smooth !important; }
.bordered--bottom                { border-bottom : 1px solid $gray-smooth !important; }
.bordered--top                   { border-top    : 1px solid $gray-smooth !important; }
.bordered--blue                  { border        : 1px solid $blue !important; }
.bordered--red                   { border        : 1px solid $red !important; }
.border-none                     { border        : none !important; }
.border-none--sides              { border-left   : none !important; border-right: none !important; }
.border-none--bottom             { border-bottom : none !important; }
.border-none--left               { border-left  : none !important; }
.border-none--right              { border-right  : none !important; }
.border-none--left               { border-left   : none !important; }
.border-none--top                { border-top    : none !important; }
.bordered--larger                { border-width  : 2px !important; }
.bordered--thick                 { border-width  : 4px !important; }
.bordered--thicker               { border-width  : 6px !important; }
.bordered--very-thick            { border-width  : 12px !important; }
.bordered--orange                { border-color  : $orange !important; }
.bordered--gray                  { border-color  : $gray !important; }
.bordered--black                 { border-color  : $black !important; }
.border-color-darker             { border-color  : darken($gray-smooth, 5%) }
.border-color-gray               { border-color  : $gray !important; }
.border-color-white              { border-color  : white !important; }
.border-color-orange             { border-color  : $orange !important; }
.border-color-blue-green         { border-color  : $blue-green !important; }
.border-color-blue-green-darker  { border-color  : darken($blue-green, 2%) !important; }
.border-color-green              { border-color  : $green !important; }
.border-color-blue-darker        { border-color  : darken($blue, 5%) !important; }
.border-color-pink-darker        { border-color  : darken($pink, 5%) !important; }
.border-color-dark-blue          { border-color  : $dark_blue !important; }
.border-color-yellow             { border-color  : $yellow !important; }
.border-color-yellow-darker      { border-color  : darken($yellow, 5%) !important; }
.border-color-black-transparent { border-color: rgba(0,0,0,0.2) !important}

/*------------------------------------*\
    ALIGNMENTS
\*------------------------------------*/
.v-top            { vertical-align: top!important; }
.v-middle         { vertical-align: middle!important; }
.v-bottom         { vertical-align: bottom!important; }
.v-super          { vertical-align: super!important; }
.center-block     { margin-left: auto; margin-right: auto; display: block; }
.margin-left-auto { margin-left: auto; }

/*------------------------------------*\
    COLORS
\*------------------------------------*/
.white-links a      { color: white !important; }
.white              { color: white !important; }
.white-transparent  { color: transparentize(white, 0.2); }
.white-faded        { color: #DDDDDD; }
.black              { color: $text-black; }
.yellow             { color: $yellow; }
.yellow--dark       { color: darken($yellow, 8%); }
.red                { color: $red !important; }
.green              { color: $green-success !important; }
.dark-blue          { color: $dark_blue; }
.green              { color: $green; }
.blue-info--darker  { color: $blue-info-darker; }
.blue-green         { color: $blue-green !important; }
.blue-green--slightly-darker { color: darken($blue-green, 3%) !important; }
.blue               { color: $blue !important; }
.blue-darker        { color: darken($blue-green, 10%) !important; }
.fb-blue            { color: $facebook-blue; }
.orange             { color: $orange !important; }
.brand              { color: $orange !important; }
.gray-light         { color: $gray-light; }
.gray               { color: $gray; }
.gray-very-light    { color: #CCC; }
.bg-red             { background-color: $red; }
.bg-blue-info       { background-color: $blue-info; }
.bg-dark-blue       { background-color: $dark-blue; }
.bg-blue            { background-color: $blue; }
.bg-blue-green      { background-color: $blue-green; }
.bg-pink            { background-color: $pink; }
.bg-green           { background-color: $green-success; }
.bg-dark-gray       { background-color: $gray; }
.bg-gray            { background-color: $gray-light; }
.bg-orange          { background-color: $orange; }
.bg-red             { background-color: $red; }
.bg-white           { background-color: white; }
.bg-gray-smooth     { background-color: $gray-smooth; }
.bg-gray-light      { background-color: $gray-lighter; }
.bg-white-faded     { background-color: white; background-color: rgba(255, 255, 255, 0.65) }
.bg-site-background { background-color: $site-background-color; }
.bg-site-background-on-stick.sticky {  background-color: $site-background-color; }
.bg-black-faded     { background-color: black; background-color: rgba(0, 0, 0, 0.65) }
.bg-yellow          { background-color: $yellow }

/*------------------------------------*\
    DISPLAY
\*------------------------------------*/
.block               { display    : block; }
.inline              { display    : inline; }
.inline-block        { display    : inline-block; }
.hidden.inline-block { display    : none; }
// DO NOT ADD !important
// If you do this, we won't be able to show a div with `.show()` in JS afterwards
.hidden              { display    : none; }
.visibility-hidden   { visibility : hidden; }

/*------------------------------------*\
    POSITIONNING
\*------------------------------------*/
.relative          { position   : relative; }
.on-top-of-the-world { z-index    : 100000 !important; }
.on-top            { z-index    : 1000 !important; }
.on-under-top      { z-index    : 900 !important; }
.z-index-1         { z-index    : 1 !important; }
.z-index-under     { z-index    : -1 !important; }
.absolute          { position   : absolute !important; }
.fixed             { position   : fixed !important; }
.west              { left       : 0 !important; }
.east              { right      : 0 !important; }
.north             { top        : 0 !important; }
.down-north        { top        : 1000% !important; }
.south             { bottom     : 0 !important; }
.palm-static { @include media-query(palm) { position: static !important; } }

.bg-transparent {
    background: transparent;
}
.bg-contain, .bg-cover {
    background-position  : center;
    background-repeat    : no-repeat;
}
.bg-position-center { background-position: center !important; }
.bg-position-top    { background-position: top; }
.bg-fixed   { background-attachment: fixed; }
.bg-cover   { @include background-size(cover); }
.bg-contain { @include background-size(contain !important); }

.opacity-30  { @include opacity(0.3);  }
.opacity-50  { @include opacity(0.50); }
.opacity-75  { @include opacity(0.75); }
.invisible   { @include opacity(0);    }

.fade-in-on-hover {
    @include transition(all 150ms linear);
    &:hover { opacity: 1; }
}

.absolute--center {
    top        : 50%;
    left       : 50%;
    width      : 10em;
    height     : 10em;
    line-height: 10em;
    margin-left: -5em;
    margin-top : -5em;
}
.or {
    border-bottom: 1px solid #CCC;
    margin       : 0em 0 $base-line-height 0;
    text-align   : center;
    span {
        font-size       : 14px;
        position        : relative;
        bottom          : -10px;
        padding         : 0 1em;
        background-color: white;
    }
}
/*------------------------------------*\
    SPACING
\*------------------------------------*/
.soft-double--sides {
    padding-left: $base-spacing-unit * 2 !important; padding-right: $base-spacing-unit * 2 !important;
    @include media-query(palm) {
        padding-left: $base-spacing-unit / 2 !important; padding-right: $base-spacing-unit / 2 !important;
    }
}
.soft-double--ends {
    padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important;
    @include media-query(palm) {
        padding-top: $base-spacing-unit / 2 !important; padding-bottom: $base-spacing-unit / 2 !important;
    }
}
.soft-double {
    padding: $base-spacing-unit * 2;
    @include media-query(palm) { padding: $base-spacing-unit / 2; }
}
.soft--sides {
    @include media-query(palm) {
        padding-left: $base-spacing-unit / 2!important; padding-right: $base-spacing-unit / 2!important;
    }
}
.push-double--top   {
    margin-top: $base-spacing-unit * 2;
    @include media-query(palm) { margin-top: $base-spacing-unit; }
}
.very-soft          { padding: 5px !important; }
.very-soft--left    { padding-left: 5px; }
.very-soft--right   { padding-right: 5px; }
.very-soft--top     { padding-top: 5px; }
.very-soft--bottom  { padding-bottom: 5px; }
.island-top { margin-top: $base-spacing-unit * 3.5; }
.mega-soft--top    {
    @include transition(padding 200ms linear);
    @include media-query(desk-wide) { padding-top: $base-spacing-unit * 3.5; }
    @include small-height { padding-top: $base-spacing-unit !important; }
    padding-top: $base-spacing-unit * 3 !important;
}
.mega-soft--bottom {
    @include transition(padding 200ms linear);
    @include media-query(desk-wide) { padding-bottom: $base-spacing-unit * 3.5; }
    @include small-height { padding-bottom: $base-spacing-unit; }
    padding-bottom: $base-spacing-unit * 3 !important;
}
.mega-soft--ends {
    @include transition(padding 200ms linear);
    @include media-query(desk-wide) {
        padding-top   : $base-spacing-unit * 3.5 !important;
        padding-bottom: $base-spacing-unit * 3.5 !important;
    }
    @include small-height {
        padding-top   : $base-spacing-unit !important;
        padding-bottom: $base-spacing-unit !important;
    }
    padding-top   : $base-spacing-unit * 3 !important;
    padding-bottom: $base-spacing-unit * 3 !important;
}
.palm-soft--top         { @include media-query(palm) { padding-top : $base-spacing-unit !important; } }
.palm-soft-half--ends   { @include media-query(palm) { padding-bottom : $base-spacing-unit / 2 !important; padding-top : $base-spacing-unit / 2 !important; } }
.palm-soft-half--top    { @include media-query(palm) { padding-top : $base-spacing-unit / 2 !important; } }
.palm-soft-half--bottom { @include media-query(palm) { padding-bottom : $base-spacing-unit / 2 !important; } }
.palm-push--bottom      { @include media-query(palm) { margin-bottom : $base-spacing-unit !important; } }
.palm-push--top         { @include media-query(palm) { margin-top : $base-spacing-unit !important; } }
.palm-push              { @include media-query(palm) { margin : $base-spacing-unit !important; } }
.palm-flush             { @include media-query(palm) { margin : 0                  !important; } }
.palm-hard              { @include media-query(palm) { padding: 0                  !important; } }
.palm-block             { @include media-query(palm) { display: block              !important; } }
.palm-float-none        { @include media-query(palm) { float  : none              !important; } }
.palm-center-block {
    @include media-query(palm) {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/*------------------------------------*\
    CURSOR
\*------------------------------------*/
.cursor-pointer     { cursor: pointer !important; }
.cursor-default     { cursor: default !important; }
.cursor-help        { cursor: help !important; }
.cursor-disabled    { cursor: not-allowed !important; }

.ie-blocker {
    background : #EEE;
}

.opacity-hidden-on-hover__wrapper {
    .opacity-hidden-on-hover__child         { opacity: 0; @include transition(opacity 300ms ease-in-out); }
    &:hover .opacity-hidden-on-hover__child { opacity: 1; }
}

.show-on-hover__wrapper {
    &.show-on-hover__wrapper--black-curtain {
        @include transition(background 200ms ease-in-out);
        height    : 100%;
        width     : 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    &.show-on-hover__wrapper--black-curtain:hover {
        background: none;
    }
    .show-on-hover__child, .show-on-hover__child-ilb { display: none; }
    &:hover {
        .show-on-hover__child     { display: block; }
        .show-on-hover__child-ilb { display: inline-block; }
    }
}
.shadowed--bottom-on-hover {
    &:hover {
        @include box-shadow(0 2px 3px rgba(56,67,67,0.2));
    }
}
.z-index-1 { z-index: 1; }
.z-index-3 { z-index: 3; }
.shadowed--bottom         { @include box-shadow(0 2px 3px rgba(56,67,67,0.2)); }
.soft-black-box-shadow    { @include box-shadow(rgba(0,0,0,0.25) 0 1px 3px 0); }
.black-box-shadow         { @include box-shadow(0px 0px 31px #555555); }
.white-text-shadow        { @include text-shadow(0 0 2px #FFF, 0 0 12px #FFF, 0 0 22px #FFF, 0 0 42px #FFF, 0 0 92px #FFF); }
.black-text-shadow        { @include text-shadow(0 0 2px #000, 0 0 12px #000, 0 0 22px #000, 0 0 42px #000, 0 0 92px #000); }
.soft-black-text-shadow   { @include text-shadow(0px 2px 2px #444, 0px 2px 15px #444); }
.smooth-black-text-shadow { @include text-shadow(0px 0px 2px #444); }
.image-drop-shadow        {
    @include vendor(filter, drop-shadow(4px 4px 5px #CCCCCC));
}

.highlight {
    font-weight     : bold;
    background-color: #FFFFBD;
}

.white-circle {
    border: 2px solid white;
    &.white-circle--thick { border-width: 4px; }
}

.fade-out {
    opacity: 0.4;
    transition: opacity 0.5s ease;
}

.hoverable:hover { background-color: $beige-dark; }

.print--visible {
    @media only screen {
        display: none;
    }
}
@media only print {
    .print--hidden {
        display: none !important;
    }
}

.transition-all-linear { @include transition(all 250ms linear); }

.text-shadow-white { @include text-shadow(0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF) }

.premium-banner {
    position   : absolute;
    top        : -8px;
    left       : 50%;
    margin-left: -75px;
    &:before {
        border-bottom: 6px solid #C55300;
        border-left  : 3px solid rgba(0, 0, 0, 0);
        border-right : 3px solid rgba(0, 0, 0, 0);
        transform    : scale(0.99);
        content      : "";
        height       : 0;
        left         : -6px;
        position     : absolute;
        top          : 0;
        width        : 162px;
        z-index      : 0;
    }
}
    .premium-banner__content {
        position        : absolute;
        top             : 0;
        width           : 150px;
        background      : #FA6900;
        background-image: -webkit-linear-gradient(top,#FF973A,#FA6900);
        background-image: linear-gradient(to bottom,#FF973A,#FA6900);
        text-shadow     : 0 1px 0 #7D3F0C;
        text-shadow     : 0 1px 0 rgba(125, 63, 12, 0.5);
        color           : #FFF;
        padding         : 9px 5px 4px;
        &:after {
            content     : '';
            border-style: solid;
            border-color: #FA6900 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            transform   : scale(0.99);
            border-width: 8px 75px 0;
            position    : absolute;
            top         : 100%;
            left        : 0;
            z-index     : 1;
        }
    }


.last-p-push-half--bottom {
    p:last-child {
        margin-bottom: $base-line-height / 2;
    }
}
.last-p-flush p:last-child     { margin-bottom: 0; }
.last-div-hard div:last-child  { padding: 0; }
.zoom-on-hover {
    @include transition(all 100ms ease-in-out);
    &:hover {
        @include transform(scale(1.05, 1.05));
    }
}
.sticky.bordered--bottom-on-stick    { border-bottom : 1px solid $gray-lighter; }
.sticky {
    position: fixed !important;
    top     : 0;
    @include media-query(palm) {
        position: static !important;
    }
}
[data-sticky-placeholder] { @include media-query(palm) { display: none; } }


.has-tooltip {
    border-bottom  : dotted 1px #333;
    cursor         : help;
}

// Usage:
// Add the following inside a div that has a background-image
// .black-curtain.north.west.one-whole.absolute
.black-curtain {
    @include transition(background 150ms linear);
    background: rgba(0,0,0,.5);
    &.black-curtain--soft { background: rgba(0,0,0,.2); }
    height    : 100%;
    &.black-curtain__fading-on-hover:hover {
        background: rgba(0,0,0,.1);
    }
}
.black-curtain__fading-on-hover:hover {
    .black-curtain { background: rgba(0,0,0,.1); }
}
.black-curtain__fading-in-on-hover {
            .black-curtain { background: rgba(0,0,0,.1); }
    &:hover .black-curtain { background: rgba(0,0,0,0.5); }
}

.grayscale {
    @include transition(all 200ms linear);
    @include prefix(filter, grayscale(100%));
    &:hover {
        @include prefix(filter, grayscale(0));
    }
}
.overflow-auto     { overflow  : auto; }
.overflow-hidden   { overflow  : hidden; }
.overflow-x-hidden { overflow-x: hidden; }

#filepicker_dialog_container {
  z-index: 99999999 !important
}

@-webkit-keyframes arrow1 {
    0% {
        opacity: 0;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    90% {
        opacity: 0;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,36px);
        -webkit-transform: translate(0,36px);
    }
}
@keyframes arrow1 {
    0% {
        -ms-transform: translate(0,0);
        opacity: 0;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    90% {
        -ms-transform: translate(0,0);
        opacity: 0;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    100% {
        -ms-transform: translate(0,36px);
        opacity: 1;
        transform: translate(0,36px);
        -webkit-transform: translate(0,36px);
    }
}
@-webkit-keyframes arrow2 {
    0% {
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    90% {
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0;
        transform: translate(0,36px);
        -webkit-transform: translate(0,36px);
    }
}
@keyframes arrow2 {
    0% {
        -ms-transform: translate(0,0);
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    90% {
        -ms-transform: translate(0,0);
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
    }
    100% {
        -ms-transform: translate(0,36px);
        opacity: 0;
        transform: translate(0,36px);
        -webkit-transform: translate(0,36px);
    }
}


.animated-arrow-1 {
    -webkit-animation: arrow1 3s infinite ease-out;
    animation       : arrow1 3s infinite ease-out;
    filter          : progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity         : 0;
}
.animated-arrow-2 {
    -webkit-animation: arrow2 3s infinite ease-in;
    animation       : arrow2 3s infinite ease-in;
    filter          : progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity         : 1;
}

.gradient-black-to-white {
    background: transparent;
    @include background-image(linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)));
}
.gradient-black-to-transparent-bottom-up {
    background: transparent;
    @include background-image(linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)));
}

.column-count-2 { @include prefix('column-count', 2); }
.column-count-3 { @include prefix('column-count', 3); }

.top-30vh {
    top: 30vh;
    @include media-query(palm) { top: 20vh; }
}

.top-15vh {
    top: 15vh;
}

/*------------------------------------*\
    TRANSITIONS
\*------------------------------------*/
.transition-all-300 { @include transition(all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)); }
.transition-all-500 { @include transition(all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000)); }
.transition-all-900 { @include transition(all 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000)); }
.animate-to-left {
    left: -1000px !important;
}

.rotate-on-hover__wrapper {
    &:hover .rotate-on-hover__child {
        -webkit-animation: avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
        animation        : avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
}

@-webkit-keyframes avia_pop_small {
    0%   { -webkit-transform:rotate(-175deg) scale(0.2);  }
    100% { -webkit-transform:rotate(0deg) scale(1);  }
}
@keyframes avia_pop_small {
    0%   { transform:rotate(-175deg) scale(0.2);  }
    100% { transform:rotate(0deg) scale(1);   }
}

.flex-center {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}
.vertical-delimiter {
    display       : inline-block;
    vertical-align: middle;
    margin-right  : 1.5em;
    border-right  : 2px solid white;
    padding-right : 1.5em;
    height        : 1.5em;
}

.gray-box {
    .expandable-indicator {
        @include background-image(linear-gradient(top, transparentize($pane-background-color, 1) 0%, transparentize($pane-background-color, 0.1) 50%, transparentize($pane-background-color, 0.1) 50%, $pane-background-color 100%));
    }
}
.expandable-indicator {
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #FFFFFF 100%));
}
