@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

@mixin multiple-media-query($args...){
    @each $media-type in $args{
        @include media-query($media-type) { @content; }
    }
}

@mixin small-height(){
    @media screen and (max-height: 700px) {
        @content;
    }
}

@mixin background-image-retina($image, $image_2x) {
  background-image: image-url($image);
  // If we have a retina image then add styles for it too
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   -moz-min-device-pixel-ratio: 2),
    only screen and (    -ms-min-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      background-image: image-url($image_2x);
    }
}
@mixin user-select($args){
    -webkit-touch-callout: $args;
      -webkit-user-select: $args;
      -khtml-user-select: $args;
        -moz-user-select: $args;
         -ms-user-select: $args;
             user-select: $args;
}
