.bg-cuisine-vins                                      { background-color: $color-cooking; }
.cuisine-vins-color                                   { color: $color-cooking; }
.cuisine-vins-color-on-hover:hover                    { color: $color-cooking; }
.bg-photo-video                                       { background-color: $color-photo; }
.photo-video-color                                    { color: $color-photo; }
.photo-video-color-on-hover:hover                     { color: $color-photo; }
.bg-deco-mode-bricolage                               { background-color: $color-deco; }
.deco-mode-bricolage-color                            { color: $color-deco; }
.deco-mode-bricolage-color-on-hover:hover             { color: $color-deco; }
.bg-theatre-scene                                     { background-color: $color-theatre; }
.theatre-scene-color                                  { color: $color-theatre; }
.theatre-scene-color-on-hover:hover                   { color: $color-theatre; }
.bg-dessin-peinture-arts-plastiques                   { background-color: $color-arts; }
.dessin-peinture-arts-plastiques-color                { color: $color-arts; }
.dessin-peinture-arts-plastiques-color-on-hover:hover { color: $color-arts; }
.bg-danse                                             { background-color: $color-dance; }
.danse-color                                          { color: $color-dance; }
.danse-color-on-hover:hover                           { color: $color-dance; }
.bg-musique-chant                                     { background-color: $color-music; }
.musique-chant-color                                  { color: $color-music; }
.musique-chant-color-on-hover:hover                   { color: $color-music; }
.bg-sports-arts-martiaux                              { background-color: $color-sports; }
.sports-arts-martiaux-color                           { color: $color-sports; }
.sports-arts-martiaux-color-on-hover:hover            { color: $color-sports; }
.bg-yoga-bien-etre-sante                              { background-color: $color-yoga; }
.yoga-bien-etre-sante-color                           { color: $color-yoga; }
.yoga-bien-etre-sante-color-on-hover:hover            { color: $color-yoga; }


