= side_menu_currently_at 'presentation'

.panel
  .panel__body
    .breadcrumb.bordered--bottom.soft-half.delta
      = link_to pro_structure_places_path(@structure) do
        %i.fa.fa-long-arrow-left
        Tous mes lieux
    .soft
      %h3 Nouveau lieu pour mes cours
    = render 'form'
