<div class="grid--full">
    <div class="grid__item one-half very-soft">
        <div class="push-half--bottom">
            <div class="btn btn--small text--center v-middle" data-type="quick-select">
                <i class="fa fa-check"></i>
                <span>Sélectionner la page</span>
            </div>
            <div class="inline-block v-middle" data-behavior="details">
                <div class="hidden" data-target="select-all">
                    <p class="flush">
                        <span data-behavior="selected-count">30</span> élèves sélectionnés.
                        <a href="javascript:void(0)" class="text--center hidden" data-target="deep-select" data-behavior="deep-select">Selectionner le reste</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid--full">
            <div class="grid__item one-fifth v-middle soft-half--right">
                <strong>Filtrer par : </strong>
            </div>{{!--
        --}}<div class="grid__item four-fifths v-middle" data-type="keyword-filter"></div>
        </div>
        <div class="grid--full">
            <div class="grid__item one-fifth milli">&nbsp;</div>{{!--
        --}}<div class="grid__item four-fifths">
                <a href="javascript:void(0);" class="milli" data-behavior="filters">Afficher les filtres avancés</a>
            </div>
        </div>
        <div class="hidden" data-type="filters-wrapper" style="display: none;">
          <div data-type="tag-filter"></div>
        </div>
    </div>{{!--
--}}<div class="grid__item one-half very-soft text--right">

        <div data-behavior="edits-container">
            <div class="btn btn--small text--center push-half--bottom" data-behavior="new">
                <i class="fa fa-plus"></i>
                Ajouter un contact
            </div>
            <div data-behavior="manage-edits">
                <div class="btn btn--small btn--green text--center" data-behavior="save">Enregistrer</div>
                <div class="btn btn--small            text--center" data-behavior="cancel">Annuler</div>
            </div>
        </div>
        <div class="hidden soft-half--top push-half--bottom" data-target="bulk-actions">
            <div class="btn btn--small text--center" data-behavior="manage-tags">
                <i class="fa fa-tags"></i>
                Ajouter un tag à la sélection
            </div>
            <div class="btn btn--red    btn--small text--center" data-behavior="destroy">
                <i class="fa fa-trash-o"></i>
                Supprimer la sélection
            </div>
        </div>
        <div data-behavior="details">
            <form class="hidden text--right" data-target="manage-tags" data-behavior="add-tags-form">
                <label class="inline-block v-middle" for="tag-action">Nom du tag :</label>
                <input class="inline-block v-middle input--small" placeholder="Cours du lundi" type="text" data-value="tag-names"></input>
                <button class="inline-block v-middle btn btn--small btn--small text--center" type="submit">Ajouter</button>
            </form>
        </div>
    </div>
</div>
