<div class="grid">
    <div class="grid__item seven-tenths">
        <div data-type="keyword-filter"></div>
        <div data-type="tag-filter"></div>
    </div>{{!--
 --}}<div class="grid__item three-tenths text--right">
        <div data-behavior="edits-container">
            <div class="btn btn--small btn--green text--center push-half--bottom" data-behavior="new">
                <i class="fa-plus"></i>
                Ajouter un contact
            </div>
        </div>
    </div>
</div>

<div class="hidden soft-half--top push-half--bottom" data-target="bulk-actions">
    <div class="inline-block v-middle" data-behavior="details">
        <div class="hidden" data-target="select-all">
            <label>
                <span data-behavior="selected-count">30</span> contact(s) sélectionné(s) :
            </label>
        </div>
    </div>
    <div class="btn btn--small btn--green text--center" data-behavior="send-message">
        <i class="fa fa-enveloppe-o"></i>
        Envoyer un message
    </div>
    <div class="btn btn--small btn--gray text--center" data-behavior="manage-tags">
        <i class="fa fa-tags"></i>
        Ajouter une étiquette
    </div>
    <div class="btn btn--red btn--small text--center" data-behavior="destroy">
        <i class="fa-trash-o"></i>
        Supprimer
    </div>
</div>
<div class="soft-half--top">
    <a href="javascript:void(0)" class="nowrap" data-type="quick-select">
        <i class="fa-check"></i>
        <span>Sélectionner la page</span>
    </a>
    <span data-target="deep-select">/</span>
    <a href="javascript:void(0)" class="text--center hidden" data-target="deep-select" data-behavior="deep-select">Selectionner tous les contacts</a>
</div>
<div data-behavior="details">
    <form class="hidden" data-target="manage-tags" data-behavior="add-tags-form">
        <label class="inline-block v-middle" for="tag-action">Nom de l'étiquette à ajouter :</label>
        <input class="inline-block v-middle" placeholder="Cours du lundi" type="text" data-value="tag-names"></input>
        <a class="v-middle btn btn--small btn--green text--center" type="submit">Ajouter</a>
    </form>
</div>
