<h3>Découvrez nos prochains stages</h3>
<p>
  Ce mois ci, nous vous proposons de nouveaux stages ! Au programme, des séances faites pour se faire plaisir et cher prise.
</p>
<p>
  En tant que fidèle élève, découvrez en avant-première nos stages sur notre en cliquant sur le lien ci-dessous
</p>
<p class="text--center">
  <a class="btn btn--green white f-decoration-not-underlined" href="{{ url }}" target="_blank"> Voir notre site</a>
</p>
<p>{{ name }}</p>
