<div class="push-half--bottom">
    <label for="content" class='delta f-weight-600 block push-half--bottom'>Bloc texte {{ position_label }}</label>
    {{!-- <p class="flush">Rédiger un bloc de texte de votre newsletter</p> --}}
</div>

<textarea data-type='redactor' id='{{ position }}_content' class='input--large one-whole' name='content'>
  {{ content }}
</textarea>

<input type='hidden' name='position' value='{{ position }}'>
<input type='hidden' name='type' value='Newsletter::Bloc::Text'>

<hr class="push--ends">
