<h3>Découvrez nos prochains cours et stages</h3>

<p>Ce mois-ci, nous vous proposons de nouvelles activités ! Au programme, des séances faites pour se faire plaisir et lâcher prise.</p>

<p>Découvrez en avant-première nos stages sur notre site :</p>
<p class="text--center">
  <a class="btn btn--green white f-decoration-not-underlined" href="{{ url }}" target="_blank"> Voir notre site</a>
</p>

<p>A très bientôt !</p>
