%p Bonjour !

%p
  #{@structure.name} vous a récemment demandé de déposer votre avis sur son profil public CoursAvenue, le 1er moteur de recherche de cours. Pour l'aider à proposer des cours encore plus passionnants grâce à vos commentaires, cliquez sur ce lien :

%p
  = link_to 'Déposer mon avis en 20 secondes', new_structure_comment_url(@structure, email: @email)

%p
  Merci pour votre confiance et à très bientôt,

%p
  L'équipe de CoursAvenue
