.panel
  .panel__header.soft
    .grid
      .grid__item.one-twelfth>
        %i.fa.fa-times.fa-2x.red
      .grid__item.eleven-twelfths>
        %h4.flush Vous ne pouvez pas renseigner le même email
  .panel__body
    .soft
      %p Veuillez réessayer.
