.panel
  .panel__header.soft
    .grid
      .grid__item.one-twelfth>
        %i.fa-check.fa-2x.green
      .grid__item.eleven-twelfths>
        %h4.flush Confirmation envoyée à #{@admin.unconfirmed_email}
  .panel__body
    .soft
      %p
        Un message vous a été envoyé à votre nouvelle adresse e-mail : ouvez-le et cliquez sur le lien d'activation. Votre nouvel e-mail sera alors confirmé.
      %p.flush
        %strong Important :
        si vous n'avez rien reçu, vérifiez dans vos courriers indésirables ou dans vos spams et spécifiez que le message est sûr.
