// Grays
// -------------------------
$black:                          #000000 !default;
$text-black:                     #393C3D !default;
$gray-darkerer:                  #181818 !default;
$gray-darker:                    #222222 !default;
$gray-dark:                      #333333 !default;
$gray:                           #555555 !default;
$gray-muted:                     #959595!default;
$gray-light:                     #999999 !default;
$gray-smooth:                    #DBDBDB !default;
$gray-lighter:                   #eeeeee !default;
$white:                          #ffffff !default;

$light-grey:                     #f1f1f1 !default;
$dark-white:                     #FBFBFB !default;


// Accent colors
// -------------------------
// $blue:                           #049cdb !default;
$facebook-blue:                  #4c66a4 !default;
$twitter-blue:                   #4099FF !default;
$dark_blue:                      #515e78 !default;
$green-success:                  #47b442 !default;
$green:                          #27ae60 !default;
$old_blue:                       #00B0FF !default;
$blue:                           #3AB8AE !default;
$blue-green:                     #3AB8AE !default;
$light-blue:                     #6bbeb4 !default;
$green-light:                    #62BC62 !default;
$red:                            #e2493c !default;
$red-light:                      #ff493a !default;
$yellow:                         #f3b700 !default;
$yellow_bg:                      #ffc30d !default;
$yellow_premium:                 #fee185 !default;
$orange:                         #e9683d !default;
$orange_pale:                    #ea724b !default;
$dark_orange:                    #9e5841 !default;
$pink:                           #c3325f !default;
$purple:                         #843d60 !default;
// $purple:                         #7a43b6 !default;
// $beige-darker:                   #e3dcd4 !default;
$beige-darker:                   #E3E3E3 !default;
// $beige-dark:                     #f7f5f3 !default;
$beige-dark:                     #F7F7F7 !default;
// $beige:                          #f1eeec !default;
$beige:                          #F1F1F1 !default;

$alert-info-background-color:    #7CD1EF !default;
$alert-info-text-color:          #105166 !default;
$alert-info-border-color:        #4FC1E9 !default;

$alert-warning-background-color: #FFDD87 !default;
$alert-warning-text-color:       #8A6D3B !default;
$alert-warning-border-color:     #FFCE54 !default;

$alert-error-background-color:   #F2838F !default;
$alert-error-text-color:         #8E2422 !default;
$alert-error-border-color:       #ED5565 !default;

$alert-success-background-color: #B9DF90 !default;
$alert-success-text-color:       #3C763D !default;
$alert-success-border-color:     #A0D468 !default;

$brand-color:                    $orange !default;
//$alternative-background: lighten($brand-color, 35%) !default;
$alternative-background: #F5F5F5;
$homescreen-background:  $beige !default;
$site-background-color:  $beige-dark;

// Links
// -------------------------
$link-color:             #0088cc !default;
$link-colorHover:        darken($link-color, 15%) !default;
$hover-list-element:     lighten($brand-color, 30%);

// Buttons
// -------------------------
$btn--green:               #45C445 !default;
$btn--blue:                #049cdb !default; //#0499D6!default;
$btn--red:                 #e2493c !default;

// Boxes & Panes
// -------------------------
$pane-border-color:        #DBDBDB !default;
$pane-background-color:    #EFEFEF !default;

$pro-header-color:         #575A5D !default;
