//
// Icon Font: CoursAvenueIconFont
//

@font-face {
  font-family: "CoursAvenueIconFont";
  src: url("CoursAvenueIconFont_47e47bd2894c64ab52049a8475412ff0.eot");
  src: url("CoursAvenueIconFont_47e47bd2894c64ab52049a8475412ff0.eot?#iefix") format("embedded-opentype"),
       url("CoursAvenueIconFont_47e47bd2894c64ab52049a8475412ff0.woff") format("woff"),
       url("CoursAvenueIconFont_47e47bd2894c64ab52049a8475412ff0.ttf") format("truetype"),
       url("CoursAvenueIconFont_47e47bd2894c64ab52049a8475412ff0.svg#CoursAvenueIconFont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "CoursAvenueIconFont";
    src: url("CoursAvenueIconFont_47e47bd2894c64ab52049a8475412ff0.svg#CoursAvenueIconFont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-audiences:before,
.fa-avatar:before,
.fa-bar-chart-o:before,
.fa-bars:before,
.fa-book:before,
.fa-bullhorn:before,
.fa-calendar:before,
.fa-check:before,
.fa-chevron-down:before,
.fa-chevron-left:before,
.fa-chevron-right:before,
.fa-chevron-up:before,
.fa-circle-o:before,
.fa-clock:before,
.fa-close:before,
.fa-cogs:before,
.fa-comment:before,
.fa-contact:before,
.fa-credit-card:before,
.fa-cuisine-vins:before,
.fa-danse:before,
.fa-dashboard:before,
.fa-deco-mode-bricolage:before,
.fa-dessin-peinture-arts-plastiques:before,
.fa-dot-circle-o:before,
.fa-download:before,
.fa-ear:before,
.fa-eiffel-tower:before,
.fa-envelope-o:before,
.fa-eur:before,
.fa-eye:before,
.fa-face-happy:before,
.fa-face-neutral:before,
.fa-face-sad:before,
.fa-facebook:before,
.fa-flag:before,
.fa-forbidden:before,
.fa-gift:before,
.fa-group:before,
.fa-handshake:before,
.fa-heart:before,
.fa-heart-o:before,
.fa-house:before,
.fa-info:before,
.fa-instagram:before,
.fa-levels:before,
.fa-lightbulb-o:before,
.fa-list:before,
.fa-lock:before,
.fa-map-marker:before,
.fa-menu:before,
.fa-musique-chant:before,
.fa-pencil:before,
.fa-pencil-o:before,
.fa-phone-o:before,
.fa-photo-video:before,
.fa-plus:before,
.fa-pulse-rate:before,
.fa-question-circle:before,
.fa-quote:before,
.fa-quotes:before,
.fa-reload:before,
.fa-repeat:before,
.fa-right-to-left:before,
.fa-rugby-ball:before,
.fa-search:before,
.fa-send:before,
.fa-share:before,
.fa-shopping-cart:before,
.fa-sign-out:before,
.fa-signal:before,
.fa-sports-arts-martiaux:before,
.fa-star:before,
.fa-tag:before,
.fa-theatre-scene:before,
.fa-thumb-tack:before,
.fa-ticket:before,
.fa-times:before,
.fa-trash-o:before,
.fa-twitter:before,
.fa-user:before,
.fa-walk:before,
.fa-yoga-bien-etre-sante:before,
.fa-youtube-play:before {
  display: inline-block;
  font-family: "CoursAvenueIconFont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-audiences:before { content: "\f100"; }
.fa-avatar:before { content: "\f101"; }
.fa-bar-chart-o:before { content: "\f102"; }
.fa-bars:before { content: "\f103"; }
.fa-book:before { content: "\f104"; }
.fa-bullhorn:before { content: "\f105"; }
.fa-calendar:before { content: "\f106"; }
.fa-check:before { content: "\f107"; }
.fa-chevron-down:before { content: "\f108"; }
.fa-chevron-left:before { content: "\f109"; }
.fa-chevron-right:before { content: "\f10a"; }
.fa-chevron-up:before { content: "\f10b"; }
.fa-circle-o:before { content: "\f10c"; }
.fa-clock:before { content: "\f10d"; }
.fa-close:before { content: "\f10e"; }
.fa-cogs:before { content: "\f10f"; }
.fa-comment:before { content: "\f110"; }
.fa-contact:before { content: "\f111"; }
.fa-credit-card:before { content: "\f112"; }
.fa-cuisine-vins:before { content: "\f113"; }
.fa-danse:before { content: "\f114"; }
.fa-dashboard:before { content: "\f115"; }
.fa-deco-mode-bricolage:before { content: "\f116"; }
.fa-dessin-peinture-arts-plastiques:before { content: "\f117"; }
.fa-dot-circle-o:before { content: "\f118"; }
.fa-download:before { content: "\f119"; }
.fa-ear:before { content: "\f11a"; }
.fa-eiffel-tower:before { content: "\f11b"; }
.fa-envelope-o:before { content: "\f11c"; }
.fa-eur:before { content: "\f11d"; }
.fa-eye:before { content: "\f11e"; }
.fa-face-happy:before { content: "\f11f"; }
.fa-face-neutral:before { content: "\f120"; }
.fa-face-sad:before { content: "\f121"; }
.fa-facebook:before { content: "\f122"; }
.fa-flag:before { content: "\f123"; }
.fa-forbidden:before { content: "\f124"; }
.fa-gift:before { content: "\f125"; }
.fa-group:before { content: "\f126"; }
.fa-handshake:before { content: "\f127"; }
.fa-heart:before { content: "\f128"; }
.fa-heart-o:before { content: "\f129"; }
.fa-house:before { content: "\f12a"; }
.fa-info:before { content: "\f12b"; }
.fa-instagram:before { content: "\f12c"; }
.fa-levels:before { content: "\f12d"; }
.fa-lightbulb-o:before { content: "\f12e"; }
.fa-list:before { content: "\f12f"; }
.fa-lock:before { content: "\f130"; }
.fa-map-marker:before { content: "\f131"; }
.fa-menu:before { content: "\f152"; }
.fa-musique-chant:before { content: "\f132"; }
.fa-pencil:before { content: "\f133"; }
.fa-pencil-o:before { content: "\f134"; }
.fa-phone-o:before { content: "\f135"; }
.fa-photo-video:before { content: "\f136"; }
.fa-plus:before { content: "\f137"; }
.fa-pulse-rate:before { content: "\f138"; }
.fa-question-circle:before { content: "\f139"; }
.fa-quote:before { content: "\f13a"; }
.fa-quotes:before { content: "\f13b"; }
.fa-reload:before { content: "\f13c"; }
.fa-repeat:before { content: "\f13d"; }
.fa-right-to-left:before { content: "\f13e"; }
.fa-rugby-ball:before { content: "\f13f"; }
.fa-search:before { content: "\f140"; }
.fa-send:before { content: "\f141"; }
.fa-share:before { content: "\f142"; }
.fa-shopping-cart:before { content: "\f143"; }
.fa-sign-out:before { content: "\f144"; }
.fa-signal:before { content: "\f145"; }
.fa-sports-arts-martiaux:before { content: "\f146"; }
.fa-star:before { content: "\f147"; }
.fa-tag:before { content: "\f148"; }
.fa-theatre-scene:before { content: "\f149"; }
.fa-thumb-tack:before { content: "\f14a"; }
.fa-ticket:before { content: "\f14b"; }
.fa-times:before { content: "\f14c"; }
.fa-trash-o:before { content: "\f14d"; }
.fa-twitter:before { content: "\f14e"; }
.fa-user:before { content: "\f14f"; }
.fa-walk:before { content: "\f153"; }
.fa-yoga-bien-etre-sante:before { content: "\f150"; }
.fa-youtube-play:before { content: "\f151"; }

$font-CoursAvenueIconFont-audiences: "\f100";
$font-CoursAvenueIconFont-avatar: "\f101";
$font-CoursAvenueIconFont-bar-chart-o: "\f102";
$font-CoursAvenueIconFont-bars: "\f103";
$font-CoursAvenueIconFont-book: "\f104";
$font-CoursAvenueIconFont-bullhorn: "\f105";
$font-CoursAvenueIconFont-calendar: "\f106";
$font-CoursAvenueIconFont-check: "\f107";
$font-CoursAvenueIconFont-chevron-down: "\f108";
$font-CoursAvenueIconFont-chevron-left: "\f109";
$font-CoursAvenueIconFont-chevron-right: "\f10a";
$font-CoursAvenueIconFont-chevron-up: "\f10b";
$font-CoursAvenueIconFont-circle-o: "\f10c";
$font-CoursAvenueIconFont-clock: "\f10d";
$font-CoursAvenueIconFont-close: "\f10e";
$font-CoursAvenueIconFont-cogs: "\f10f";
$font-CoursAvenueIconFont-comment: "\f110";
$font-CoursAvenueIconFont-contact: "\f111";
$font-CoursAvenueIconFont-credit-card: "\f112";
$font-CoursAvenueIconFont-cuisine-vins: "\f113";
$font-CoursAvenueIconFont-danse: "\f114";
$font-CoursAvenueIconFont-dashboard: "\f115";
$font-CoursAvenueIconFont-deco-mode-bricolage: "\f116";
$font-CoursAvenueIconFont-dessin-peinture-arts-plastiques: "\f117";
$font-CoursAvenueIconFont-dot-circle-o: "\f118";
$font-CoursAvenueIconFont-download: "\f119";
$font-CoursAvenueIconFont-ear: "\f11a";
$font-CoursAvenueIconFont-eiffel-tower: "\f11b";
$font-CoursAvenueIconFont-envelope-o: "\f11c";
$font-CoursAvenueIconFont-eur: "\f11d";
$font-CoursAvenueIconFont-eye: "\f11e";
$font-CoursAvenueIconFont-face-happy: "\f11f";
$font-CoursAvenueIconFont-face-neutral: "\f120";
$font-CoursAvenueIconFont-face-sad: "\f121";
$font-CoursAvenueIconFont-facebook: "\f122";
$font-CoursAvenueIconFont-flag: "\f123";
$font-CoursAvenueIconFont-forbidden: "\f124";
$font-CoursAvenueIconFont-gift: "\f125";
$font-CoursAvenueIconFont-group: "\f126";
$font-CoursAvenueIconFont-handshake: "\f127";
$font-CoursAvenueIconFont-heart: "\f128";
$font-CoursAvenueIconFont-heart-o: "\f129";
$font-CoursAvenueIconFont-house: "\f12a";
$font-CoursAvenueIconFont-info: "\f12b";
$font-CoursAvenueIconFont-instagram: "\f12c";
$font-CoursAvenueIconFont-levels: "\f12d";
$font-CoursAvenueIconFont-lightbulb-o: "\f12e";
$font-CoursAvenueIconFont-list: "\f12f";
$font-CoursAvenueIconFont-lock: "\f130";
$font-CoursAvenueIconFont-map-marker: "\f131";
$font-CoursAvenueIconFont-menu: "\f152";
$font-CoursAvenueIconFont-musique-chant: "\f132";
$font-CoursAvenueIconFont-pencil: "\f133";
$font-CoursAvenueIconFont-pencil-o: "\f134";
$font-CoursAvenueIconFont-phone-o: "\f135";
$font-CoursAvenueIconFont-photo-video: "\f136";
$font-CoursAvenueIconFont-plus: "\f137";
$font-CoursAvenueIconFont-pulse-rate: "\f138";
$font-CoursAvenueIconFont-question-circle: "\f139";
$font-CoursAvenueIconFont-quote: "\f13a";
$font-CoursAvenueIconFont-quotes: "\f13b";
$font-CoursAvenueIconFont-reload: "\f13c";
$font-CoursAvenueIconFont-repeat: "\f13d";
$font-CoursAvenueIconFont-right-to-left: "\f13e";
$font-CoursAvenueIconFont-rugby-ball: "\f13f";
$font-CoursAvenueIconFont-search: "\f140";
$font-CoursAvenueIconFont-send: "\f141";
$font-CoursAvenueIconFont-share: "\f142";
$font-CoursAvenueIconFont-shopping-cart: "\f143";
$font-CoursAvenueIconFont-sign-out: "\f144";
$font-CoursAvenueIconFont-signal: "\f145";
$font-CoursAvenueIconFont-sports-arts-martiaux: "\f146";
$font-CoursAvenueIconFont-star: "\f147";
$font-CoursAvenueIconFont-tag: "\f148";
$font-CoursAvenueIconFont-theatre-scene: "\f149";
$font-CoursAvenueIconFont-thumb-tack: "\f14a";
$font-CoursAvenueIconFont-ticket: "\f14b";
$font-CoursAvenueIconFont-times: "\f14c";
$font-CoursAvenueIconFont-trash-o: "\f14d";
$font-CoursAvenueIconFont-twitter: "\f14e";
$font-CoursAvenueIconFont-user: "\f14f";
$font-CoursAvenueIconFont-walk: "\f153";
$font-CoursAvenueIconFont-yoga-bien-etre-sante: "\f150";
$font-CoursAvenueIconFont-youtube-play: "\f151";
