//
// Icon Font: GlyphAvenue
//

@font-face {
  font-family: "GlyphAvenue";
  src: font-url("GlyphAvenue.eot");
  src: font-url("GlyphAvenue.eot?#iefix") format("embedded-opentype"),
       font-url("GlyphAvenue.woff") format("woff"),
       font-url("GlyphAvenue.ttf") format("truetype"),
       font-url("GlyphAvenue.svg#GlyphAvenue") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "GlyphAvenue";
    src: font-url("GlyphAvenue.svg#GlyphAvenue") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-audiences:before,
.fa-audiences-old:before,
.fa-avatar:before,
.fa-bar-chart-o:before,
.fa-bars:before,
.fa-book:before,
.fa-bullhorn:before,
.fa-calendar:before,
.fa-check:before,
.fa-chevron-down:before,
.fa-chevron-left:before,
.fa-chevron-right:before,
.fa-chevron-up:before,
.fa-circle-o:before,
.fa-clock:before,
.fa-close:before,
.fa-cogs:before,
.fa-comment:before,
.fa-contact:before,
.fa-credit-card:before,
.fa-cuisine-vins:before,
.fa-danse:before,
.fa-dashboard:before,
.fa-deco-mode-bricolage:before,
.fa-dessin-peinture-arts-plastiques:before,
.fa-dot-circle-o:before,
.fa-download:before,
.fa-ear:before,
.fa-eiffel-tower:before,
.fa-envelope-o:before,
.fa-eur:before,
.fa-eye:before,
.fa-face-happy:before,
.fa-face-neutral:before,
.fa-face-sad:before,
.fa-facebook:before,
.fa-flag:before,
.fa-forbidden:before,
.fa-gift:before,
.fa-group:before,
.fa-handshake:before,
.fa-heart:before,
.fa-heart-o:before,
.fa-house:before,
.fa-info:before,
.fa-instagram:before,
.fa-levels:before,
.fa-lightbulb-o:before,
.fa-list:before,
.fa-lock:before,
.fa-map-marker:before,
.fa-musique-chant:before,
.fa-pencil:before,
.fa-pencil-o:before,
.fa-phone-o:before,
.fa-photo-video:before,
.fa-plus:before,
.fa-pulse:before,
.fa-question-circle:before,
.fa-quote:before,
.fa-quotes:before,
.fa-reload:before,
.fa-repeat:before,
.fa-right-to-left:before,
.fa-rugby-ball:before,
.fa-search:before,
.fa-share:before,
.fa-shopping-cart:before,
.fa-sign-out:before,
.fa-signal:before,
.fa-sports-arts-martiaux:before,
.fa-star:before,
.fa-tag:before,
.fa-theatre-scene:before,
.fa-thumb-tack:before,
.fa-ticket:before,
.fa-times:before,
.fa-trash-o:before,
.fa-twitter:before,
.fa-user:before,
.fa-yoga-bien-etre-sante:before,
.fa-youtube-play:before {
  display: inline-block;
  font-family: "GlyphAvenue";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-audiences:before { content: "\f194"; }
.fa-audiences-old:before { content: "\f195"; }
.fa-avatar:before { content: "\f1a1"; }
.fa-bar-chart-o:before { content: "\f196"; }
.fa-bars:before { content: "\f190"; }
.fa-book:before { content: "\f191"; }
.fa-bullhorn:before { content: "\f192"; }
.fa-calendar:before { content: "\f193"; }
.fa-check:before { content: "\f18c"; }
.fa-chevron-down:before { content: "\f18d"; }
.fa-chevron-left:before { content: "\f18e"; }
.fa-chevron-right:before { content: "\f18f"; }
.fa-chevron-up:before { content: "\f189"; }
.fa-circle-o:before { content: "\f18a"; }
.fa-clock:before { content: "\f18b"; }
.fa-close:before { content: "\f186"; }
.fa-cogs:before { content: "\f187"; }
.fa-comment:before { content: "\f188"; }
.fa-contact:before { content: "\f182"; }
.fa-credit-card:before { content: "\f183"; }
.fa-cuisine-vins:before { content: "\f1b2"; }
.fa-danse:before { content: "\f1ad"; }
.fa-dashboard:before { content: "\f184"; }
.fa-deco-mode-bricolage:before { content: "\f1bb"; }
.fa-dessin-peinture-arts-plastiques:before { content: "\f1b0"; }
.fa-dot-circle-o:before { content: "\f185"; }
.fa-download:before { content: "\f17a"; }
.fa-ear:before { content: "\f1a7"; }
.fa-eiffel-tower:before { content: "\f19c"; }
.fa-envelope-o:before { content: "\f17b"; }
.fa-eur:before { content: "\f17c"; }
.fa-eye:before { content: "\f17d"; }
.fa-face-happy:before { content: "\f17e"; }
.fa-face-neutral:before { content: "\f17f"; }
.fa-face-sad:before { content: "\f180"; }
.fa-facebook:before { content: "\f181"; }
.fa-flag:before { content: "\f148"; }
.fa-forbidden:before { content: "\f11a"; }
.fa-gift:before { content: "\f131"; }
.fa-group:before { content: "\f11b"; }
.fa-handshake:before { content: "\f16a"; }
.fa-heart:before { content: "\f157"; }
.fa-heart-o:before { content: "\f155"; }
.fa-house:before { content: "\f11d"; }
.fa-info:before { content: "\f153"; }
.fa-instagram:before { content: "\f165"; }
.fa-levels:before { content: "\f163"; }
.fa-lightbulb-o:before { content: "\f15d"; }
.fa-list:before { content: "\f159"; }
.fa-lock:before { content: "\f1a5"; }
.fa-map-marker:before { content: "\f11e"; }
.fa-musique-chant:before { content: "\f1af"; }
.fa-pencil:before { content: "\f150"; }
.fa-pencil-o:before { content: "\f152"; }
.fa-phone-o:before { content: "\f12a"; }
.fa-photo-video:before { content: "\f1b7"; }
.fa-plus:before { content: "\f140"; }
.fa-pulse:before { content: "\f179"; }
.fa-question-circle:before { content: "\f1bc"; }
.fa-quote:before { content: "\f1a6"; }
.fa-quotes:before { content: "\f1ab"; }
.fa-reload:before { content: "\f1a9"; }
.fa-repeat:before { content: "\f125"; }
.fa-right-to-left:before { content: "\f19e"; }
.fa-rugby-ball:before { content: "\f19d"; }
.fa-search:before { content: "\f14e"; }
.fa-share:before { content: "\f15e"; }
.fa-shopping-cart:before { content: "\f144"; }
.fa-sign-out:before { content: "\f16c"; }
.fa-signal:before { content: "\f14d"; }
.fa-sports-arts-martiaux:before { content: "\f1ae"; }
.fa-star:before { content: "\f121"; }
.fa-tag:before { content: "\f122"; }
.fa-theatre-scene:before { content: "\f1b1"; }
.fa-thumb-tack:before { content: "\f149"; }
.fa-ticket:before { content: "\f197"; }
.fa-times:before { content: "\f16d"; }
.fa-trash-o:before { content: "\f14f"; }
.fa-twitter:before { content: "\f15f"; }
.fa-user:before { content: "\f123"; }
.fa-yoga-bien-etre-sante:before { content: "\f1b3"; }
.fa-youtube-play:before { content: "\f12e"; }
