//
// Icon Font: GlyphAvenue
//

@font-face {
  font-family: "GlyphAvenue";
  src: font-url("GlyphAvenue.eot");
  src: font-url("GlyphAvenue.eot?#iefix") format("embedded-opentype"),
       font-url("GlyphAvenue.woff") format("woff"),
       font-url("GlyphAvenue.ttf") format("truetype"),
       font-url("GlyphAvenue.svg#GlyphAvenue") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "GlyphAvenue";
    src: font-url("GlyphAvenue.svg#GlyphAvenue") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-audiences:before,
.fa-audiences-old:before,
.fa-bar-chart-o:before,
.fa-bars:before,
.fa-book:before,
.fa-bullhorn:before,
.fa-calendar:before,
.fa-check:before,
.fa-chevron-down:before,
.fa-chevron-left:before,
.fa-chevron-right:before,
.fa-chevron-up:before,
.fa-circle-o:before,
.fa-clock:before,
.fa-close:before,
.fa-cogs:before,
.fa-comment:before,
.fa-contact:before,
.fa-credit-card:before,
.fa-dashboard:before,
.fa-dot-circle-o:before,
.fa-envelope-o:before,
.fa-eur:before,
.fa-eye:before,
.fa-facebook:before,
.fa-flag:before,
.fa-forbidden:before,
.fa-gift:before,
.fa-group:before,
.fa-handshake:before,
.fa-heart:before,
.fa-heart-o:before,
.fa-house:before,
.fa-info:before,
.fa-instagram:before,
.fa-levels:before,
.fa-lightbulb-o:before,
.fa-list:before,
.fa-lock:before,
.fa-map-marker:before,
.fa-pencil:before,
.fa-pencil-o:before,
.fa-phone-o:before,
.fa-plus:before,
.fa-repeat:before,
.fa-search:before,
.fa-share:before,
.fa-shopping-cart:before,
.fa-signal:before,
.fa-star:before,
.fa-tag:before,
.fa-thumb-tack:before,
.fa-trash-o:before,
.fa-twitter:before,
.fa-user:before,
.fa-youtube-play:before {
  display: inline-block;
  font-family: "GlyphAvenue";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-audiences:before { content: "\f112"; }
.fa-audiences-old:before { content: "\f162"; }
.fa-bar-chart-o:before { content: "\f145"; }
.fa-bars:before { content: "\f126"; }
.fa-book:before { content: "\f142"; }
.fa-bullhorn:before { content: "\f12f"; }
.fa-calendar:before { content: "\f113"; }
.fa-check:before { content: "\f135"; }
.fa-chevron-down:before { content: "\f114"; }
.fa-chevron-left:before { content: "\f12b"; }
.fa-chevron-right:before { content: "\f116"; }
.fa-chevron-up:before { content: "\f117"; }
.fa-circle-o:before { content: "\f15a"; }
.fa-clock:before { content: "\f118"; }
.fa-close:before { content: "\f14c"; }
.fa-cogs:before { content: "\f13f"; }
.fa-comment:before { content: "\f169"; }
.fa-contact:before { content: "\f130"; }
.fa-credit-card:before { content: "\f13b"; }
.fa-dashboard:before { content: "\f137"; }
.fa-dot-circle-o:before { content: "\f15c"; }
.fa-envelope-o:before { content: "\f129"; }
.fa-eur:before { content: "\f139"; }
.fa-eye:before { content: "\f127"; }
.fa-facebook:before { content: "\f160"; }
.fa-flag:before { content: "\f148"; }
.fa-forbidden:before { content: "\f11a"; }
.fa-gift:before { content: "\f131"; }
.fa-group:before { content: "\f11b"; }
.fa-handshake:before { content: "\f16a"; }
.fa-heart:before { content: "\f157"; }
.fa-heart-o:before { content: "\f155"; }
.fa-house:before { content: "\f11d"; }
.fa-info:before { content: "\f153"; }
.fa-instagram:before { content: "\f165"; }
.fa-levels:before { content: "\f163"; }
.fa-lightbulb-o:before { content: "\f15d"; }
.fa-list:before { content: "\f159"; }
.fa-lock:before { content: "\f16b"; }
.fa-map-marker:before { content: "\f11e"; }
.fa-pencil:before { content: "\f150"; }
.fa-pencil-o:before { content: "\f152"; }
.fa-phone-o:before { content: "\f12a"; }
.fa-plus:before { content: "\f140"; }
.fa-repeat:before { content: "\f125"; }
.fa-search:before { content: "\f14e"; }
.fa-share:before { content: "\f15e"; }
.fa-shopping-cart:before { content: "\f144"; }
.fa-signal:before { content: "\f14d"; }
.fa-star:before { content: "\f121"; }
.fa-tag:before { content: "\f122"; }
.fa-thumb-tack:before { content: "\f149"; }
.fa-trash-o:before { content: "\f14f"; }
.fa-twitter:before { content: "\f15f"; }
.fa-user:before { content: "\f123"; }
.fa-youtube-play:before { content: "\f12e"; }
