//$brand-face: "Raleway" !default;
$brand-face: Helvetica, Arial,sans-serif !default;
//$brand-face: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// Grays
// -------------------------
$black:                 #000 !default;
$grayDarkerer:          #181818 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$graySmooth:            #ccc !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #39aa82 !default;
$blue-green:            #2AADA3 !default;
$greenLight:            #62BC62 !default;
$red:                   #9d261d !default;
$redLight:              #EC1706 !default;
$yellow:                #ffc40d !default;
$orange:                #e9683d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;
$beige:                 #f7f5f3 !default;

$brand-color:           $orange !default;
$alternativeBackground: lighten($brand-color, 35%) !default;
$homescreenBackground:  $beige !default;


// Links
// -------------------------
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;


// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              #e65e34 !default;
$btnPrimaryBackgroundHighlight:     #eb7045 !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              #62c462 !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;
