$siteHeaderHeight: 40px;
$siteMaxWidth    : 1080px;
$siteMinWidth    : 1024px;

/* Forms */
$left-form-margin: 250px;
$label-width     : 25%; // Not in em to ensure title margins and paddings

$header-height: 60px;
