// Bootstrap plugins
//*= require libs/jquery.fileupload/jquery.fileupload-ui

@import "font-awesome";
// @import "CoursAvenueIconFont";
@import "Fontello";

.cf { clear: both; } // Here to prevent sass fail compilation

// Compass mixins
@import "compass/css3/filter";
@import "compass/css3/background-size";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/images";
@import "compass/css3/transform";

@import "defaults";
@import "widths";
@import "partials/inuit";
@import "colors";

/**
* Theme objects
* Overrides of Inuit.css
*/
@import "partials/base/links";
@import "partials/base/lists";

@import "partials/generic/headings";
@import "partials/generic/mixins";
@import "partials/generic/grid";
@import "partials/generic/helpers";
@import "partials/generic/font_helpers";


@import "partials/objects/alerts";
@import "partials/objects/block-list";
@import "partials/objects/blog";
@import "partials/objects/boxes";
@import "partials/objects/breadcrumbs";
@import "partials/objects/buttons";
@import "partials/objects/closer";
@import "partials/objects/comments";
@import "partials/objects/datepicker-input";
@import "partials/objects/drop-down";
@import "partials/objects/emphasis";
@import "partials/objects/filtered_search";
@import "partials/objects/flashs";
@import "partials/objects/footer";
@import "partials/objects/forms";
@import "partials/objects/header";
@import "partials/objects/home-screen";
@import "partials/objects/icons";
@import "partials/objects/infobox";
@import "partials/objects/inputs";
@import "partials/objects/labels";
@import "partials/objects/lists";
@import "partials/objects/loading-indicator";
@import "partials/objects/main-container";
@import "partials/objects/map";
@import "partials/objects/markers";
@import "partials/objects/media";
@import "partials/objects/menu";
@import "partials/objects/message";
@import "partials/objects/pagination";
@import "partials/objects/panel";
@import "partials/objects/progress-bar";
@import "partials/objects/read_more";
@import "partials/objects/search";
@import "partials/objects/share_buttons";
@import "partials/objects/sliders";
@import "partials/objects/slideshow";
@import "partials/objects/structure-item";
@import "partials/objects/social";
@import "partials/objects/tables";
@import "partials/objects/tables_responsive";
@import "partials/objects/tabs";
@import "partials/objects/tags";
@import "partials/objects/team";
@import "partials/objects/toggler";
@import "partials/objects/vertical_page";
@import "partials/objects/website";
@import "partials/objects/wizard";

@import "libs/autocomplete";
@import "libs/simplemodal";
@import "libs/chosen";
@import "libs/fancybox/jquery.fancybox";
@import "libs/fancybox/jquery.fancybox-overrides";
@import "libs/fancybox/helpers/jquery.fancybox-buttons";
@import "libs/fancybox/helpers/jquery.fancybox-thumbs";
@import "libs/typeahead";
@import "libs/jquery.Jcrop";
@import "libs/responsiveslides";
@import "libs/jquery-editable";
@import "libs/add_this_event";
@import "libs/magnific-popup";
@import "libs/magnific-popup-effects";
@import "libs/redactor";
@import "libs/masonry";

@import "libs/bootstrap/bootstrap.animation-component";
@import "libs/bootstrap/bootstrap.datepicker";
@import "libs/bootstrap/bootstrap.tooltip";
@import "libs/bootstrap/bootstrap.popover";
@import "libs/bootstrap/bootstrap.collapse";

html, body {
  height: 100%;
}

html, pre {
  font-family : $brand-face;
  font-weight : 400;
  background  : $site-background-color;
  color       : #393C3D;
  overflow    : auto;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: transparentize($orange, .25); /* Safari */
  color     : white;
  }
::-moz-selection {
  background: $orange; /* Firefox */
  color     : white;
}

#___plus_0 {
  vertical-align: middle !important;
}

// For seo purpose?
@media print {
  .lala { display: none; }
}
