@import "compass/css3/text-shadow";
@import "compass/css3/background-size";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/images";


@import "defaults";
@import "colors";
@import "compass-inuit/generic/mixins";
@import "compass-inuit/generic/helper";

@import "partials/base/links";
@import "partials/objects/emphasis";

@import "partials/objects/boxes";
@import "partials/objects/buttons_email";

@import "partials/generic/helpers";
@import "partials/generic/font_helpers";

.white-box{
    border: 1px solid #DBDBDB !important;
    @include border-radius(4px);
}

.coursavenue-email-body {
    width                   : 100% !important;
    background              : #f8f8f8;
    -webkit-font-smoothing  : antialiased;
    -webkit-text-size-adjust: none;
    font-family             : 'Helvetica Neue',Helvetica,Arial,sans-serif;
    td {
        border: none;
        height: auto;
    }
}
    .soft-td {
        font-size: 14px;
        padding: 1.35em 1.35em 0 1.35em;
    }
    .soft       { padding: 1.35em; }
    .soft--left { padding-left: 1.35em; }
    .email-title, .email-title {
        font-size: 9px;
        color    : #f8f8f8;
        a {
            background: none;
            color     : #f8f8f8;
            padding   : 0;
            border    : none;
        }
    }
    p.logo-subtitle {
        color            : #333;
        font-size        : 12px;
        line-height      : 19px;
        font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
        margin-bottom    : 5px;
        padding-top      : 0;
        padding-bottom   : 0;
        padding-left     : 10px;
        font-weight      : normal;
    }
    .promo-table {
        .content-block{
            h4 {
                margin: 0;
                padding-bottom: 0.5em;
            }
        }
    }
    .content-block {
        h4 {
            color            : #333 !important;
            font-size        : 16px;
            line-height      : 24px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin-top       : 0;
            margin-bottom    : 10px;
            padding-top      : 0;
            padding-bottom   : 0;
            font-weight      : bold;
        }

        .action {
            text-align   : center;
            line-height  : 35px;
            a {
                display: inline-block;
            }
        }
        p, ul, li{
            color            : #333;
            font-size        : 14px;
            line-height      : 19px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin-top       : 0;
            margin-bottom    : 1.35em;
            padding-top      : 0;
            padding-bottom   : 0;
            font-weight      : normal;
            &.blue-tip {
                font-size: 12px;
            }
        }
        a {
            color: #006cdb;
            &.btn {
                color: black;
            }
            &.btn.btn--blue, &.btn.btn--green {
                color: white;
            }
            &.btn.btn--yellow {
                color: darken($yellow, 35%);
            }
            &.muted-link {
                color: inherit;
            }
            text-decoration: none;
        }
        li{
            margin: 3px;
        }
    }
    .under-content {
        .content-block {
            p {
                font-size: 13px;
            }
        }
    }
    .footer {
        div {
            color            : #959595;
            font-size        : 12px;
            line-height      : 19px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin           : 0;
            padding          : 0;
            font-weight      : normal;
            a {
                color          : darken($beige, 40%);
                text-decoration: underline;
            }
        }
    }

