@import "compass/css3/filter";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/background-size";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/images";
@import "partials/generic/mixins";


@import "defaults";
@import "widths";
@import "colors";
@import "compass-inuit/generic/mixins";
@import "compass-inuit/generic/helper";
@import "compass-inuit/base/headings";
@import "compass/css3/flexbox";

@import "partials/base/links";
@import "partials/objects/emphasis";
@import "partials/objects/media";
@import "partials/objects/boxes";
@import "partials/objects/buttons_email";
@import "partials/objects/tables";
@import "partials/objects/forms";
@import "partials/objects/inputs_email";
@import "partials/generic/helpers";
@import "partials/generic/font_helpers";

th, td { padding: 0; }
table { margin-bottom: 0; }
div {
    color: #333333!important;
}
.white-box{
    border: 1px solid #DBDBDB!important;
    @include border-radius(4px);
}

.coursavenue-email-body {
    width                   : 100%!important;
    background              : #f8f8f8;
    -webkit-font-smoothing  : antialiased;
    -webkit-text-size-adjust: none;
    font-family             : 'Helvetica Neue',Helvetica,Arial,sans-serif;
    td {
        border: none;
        height: auto;
    }
}
    .email-title {
        padding-top: 10px;
        font-size  : 12px;
        color      : #AAAAAA!important;
        a {
            text-decoration: underline;
            background     : none;
            color          : #AAAAAA!important;
            padding        : 0;
            border         : none;
        }
    }
    p.logo-subtitle {
        color            : #333333!important;
        font-size        : 12px;
        line-height      : 19px;
        font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
        padding-bottom    : 5px;
        padding-top      : 0;
        padding-bottom   : 0;
        padding-left     : 10px;
        font-weight      : normal;
    }
    .title {
        font-size        : 16px;
        line-height      : 25px;
        color            : #333!important;
        font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
        margin-top       : 0;
        padding-bottom    : 1em;
        font-weight      : bold;
    }
    .title--large {
        line-height      : 26px;
        font-size        : 19px;
    }
    .content-block {

        .action {
            text-align   : center;
            line-height  : 35px;
            a {
                display: inline-block;
            }
        }
        li {
            padding-bottom: 5px;
        }
        p, ul, .p {
            color            : #333333!important;
            font-size        : 14px;
            line-height      : 19px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            padding-bottom   : 1.35em;
            margin-bottom    : 0;
            font-weight      : normal;
            &.blue-tip {
                font-size: 12px;
            }
        }
        a {
            text-decoration: none;
        }
        a.btn {
            color: black;
        }
        a.btn.btn--blue, a.btn.btn--green {
            color: white!important;
        }
        a.btn.btn--yellow {
            color: darken($yellow, 35%)!important;
        }
        a.muted-link {
            color: inherit!important;
        }
    }
    .under-content {
        .content-block {
            p {
                font-size: 13px;
            }
        }
    }
    .email-footer {
        div {
            color            : #959595!important;
            font-size        : 12px;
            line-height      : 19px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin           : 0;
            padding          : 0;
            font-weight      : normal;
        }
        a {
            font-size      : 12px;
            color          : darken($beige, 40%)!important;
            text-decoration: underline;
        }
    }
    h1, h2, h3, h4, h5 {
        margin-top: 0;
    }
    h1 { font-size: $h1-size; }
    h2 { font-size: $h2-size; }
    h3 { font-size: $h3-size; }
    h4 { font-size: $h4-size; }
    h5 { font-size: $h5-size; }
    h6 { font-size: $h6-size; }

.fix-class {
    overflow-x: inherit;
}

.visuallyhidden--palm {
    position: static !important;
    clip    : auto !important;
    height  : auto !important;
    width   : auto !important;
    margin  : inherit !important;
}
