@import "compass/css3/background-size";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/images";


@import "defaults";
@import "colors";
@import "compass-inuit/generic/mixins";
@import "compass-inuit/generic/helper";
@import "partials/theme_mixins";

@import "partials/base/links";

@import "partials/objects/boxes";
@import "partials/objects/buttons";

.body {
    width                   : 100% !important;
    background              : $beige;
    -webkit-font-smoothing  : antialiased;
    -webkit-text-size-adjust: none;
    font-family             : 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
    p.logo-subtitle {
        color            : darken($beige, 50%);
        font-size        : 12px;
        line-height      : 19px;
        font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
        margin-top       : 0;
        margin-bottom    : 5px;
        padding-top      : 0;
        padding-bottom   : 0;
        padding-left     : 10px;
        font-weight      : normal;
    }
    .promo-table {
        .content-block{
            h4 {
                margin-bottom: 0px;
            }
        }
    }
    .content-block {
        h4 {
            color            : #444444 !important;
            font-size        : 16px;
            line-height      : 24px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin-top       : 0;
            margin-bottom    : 10px;
            padding-top      : 0;
            padding-bottom   : 0;
            font-weight      : bold;
        }
        p, ul, li{
            color            : #666;
            font-size        : 14px;
            line-height      : 19px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin-top       : 0;
            margin-bottom    : 12px;
            padding-top      : 0;
            padding-bottom   : 0;
            font-weight      : normal;
            &.action {
              text-align: center;
              margin    : 30px auto;
            }
            a {
                color: #006cdb;
                &.btn {
                    color: white;
                }
                &.btn.btn--blue {
                    color: white;
                }
                text-decoration: none;
            }
        }
        li{
            margin: 3px;
        }
    }
    .under-content {
        .content-block {
            p {
                font-size: 13px;
            }
        }
    }
    .footer {
        p {
            color            : darken($beige, 50%);
            font-size        : 12px;
            line-height      : 19px;
            font-family      : 'Helvetica Neue',Helvetica,Arial,sans-serif;
            margin-top       : 0;
            margin-bottom    : 12px;
            padding-top      : 0;
            padding-bottom   : 0;
            font-weight      : normal;
            a {
                color          : darken($beige, 40%);
                text-decoration: underline;
            }
        }
    }

