.coursavenue-widget {
  font-family: Helvetica, Arial,sans-serif;
  font-size  : 12px;
}
.coursavenue-widget-wrapper-link {
  display        : block;
  padding        : 10px;
  margin         : 0 auto 10px auto;
  text-align     : center;
  border         : 1px solid #DDD;
  text-decoration: none;
}
.coursavenue-widget-title {
  font-size: 16px;
  color    : #e9683d;
}
.coursavenue-link {
  background-color: blue;
}
.coursavenue-white-box {
  display               :block;
  font-family           :Helvetica, Arial,sans-serif;
  padding               :10px;
  margin                :0 0 10px 0;
  background-color      :white;
  border                :1px solid #DDD;
  -webkit-border-radius :2px;
  -moz-border-radius    :2px;
  -ms-border-radius     :2px;
  -o-border-radius      :2px;
  border-radius         :2px;
  -webkit-box-shadow    :1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE;
  -moz-box-shadow       :1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;
  box-shadow            :1px 1px 3px #DDD, 2px 2px 9px #EEE, 4px 4px 24px #EEE;
  text-decoration       :none;
}
.coursavenue-image{
  background: none;
  border    : none;
  padding   : 0;
}
.coursavenue-header {
  margin       : 0 0 10px 0;
  font-size    : 14px;
}
.coursavenue-btn:hover {
  text-decoration: underline;
}
.coursavenue-btn {
  display                  : block;
  margin                   : auto;
  padding                  : 5px;
  background-color         : white;
  border                   : 1px solid #DDD;
  color                    : black;
  -webkit-border-radius    : 2px;
  -moz-border-radius       : 2px;
  -ms-border-radius        : 2px;
  -o-border-radius         : 2px;
  border-radius            : 2px;
}
.coursavenue-comment-paragraph{
  font-size      : 13px;
  line-height    : 18px;
  color          : black;
  margin-bottom  : 0;
  margin-top     : 0;
}
.coursavenue-comment-footer{
  margin-bottom: 0;
  text-align   : right;
  font-size    : 12px;
  color        : #666;
}
.coursavenue-comment-footer i{
  font-style: italic;
}
.coursavenue-widget-link:hover {
  color          : #e9683d;
  background     : none;
  text-decoration: underline;
}
.coursavenue-widget-link {
  color     : #e9683d;
  background: none;
}
.coursavenue-widget-top-logo {
  text-align: center;
}
