<div data-type="container"></div>
<div data-empty-trainings class="hidden">
    <p class="flush--bottom push--top">
        __about__ n'affiche pas de stage ou atelier.
        <a class="pointer" data-behavior="show-contact-panel" data-info-planning="true" href="#">Contactez-__about_genre__ pour demander son planning.</a>
    </p>
</div>
