<div data-type="container"></div>
{{#unless has_courses}}
<div data-empty-courses>
    <p class="flush--bottom push--top">
        {{ capitalize about }} n'affiche pas de stage ni d'atelier.
        <a class="pointer" data-behavior="show-contact-panel" data-action="log-action" data-info-planning="true" href="#">Contacter-{{ about_genre }} pour demander son planning.</a>
    </p>
</div>
{{/unless}}
