<strong>
{{#if plannings_not_shown}}
    {{#ifCond plannings_not_shown '!=' '0'}}
        {{ plannings_count }} seances correspondent a votre recherche
        <a href="{{ data_url }}" data-action="show-all-courses">Visualiser les {{ plannings_not_shown }} autres seances</a>
    {{/ifCond}}
{{else}}
    {{ plannings_count }} {{ pluralize plannings_count 'seance correspond' 'seances correspondent' }} a votre recherche
    {{#ifCond plannings_count '==' '0'}}
        <a href="{{ data_url }}" data-action="show-all-courses">Voir toutes les autres seances</a>
    {{/ifCond}}
{{/if}}
</strong>
<img src="<%= asset_path 'gifs/loading-indicator.gif' %>" class="center-block push-half--top" height="10" data-loader style="display: none;">

