%h4 Étape 1 : Créez un appel à l'action
= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/guides/facebook-call-to-action/step_1.jpg', class: 'one-whole block'

%hr.push--ends

%h4.push-half--bottom Étape 2 : Associez le lien de votre page planning
.push--bottom
  %input.f-weight-bold.bg-gray-light.push-half--top#link-input.text--center.one-whole.input--large{ value: structure_website_structure_url(@structure) }
= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/guides/facebook-call-to-action/step_2.jpg', class: 'one-whole block'
%hr.push--ends

%h4 Étape 3 : Suivant.
= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/guides/facebook-call-to-action/step_3.jpg', class: 'one-whole block'
%hr.push--ends

%h4 Étape 4 : C'est terminé !
= image_tag 'https://coursavenue-public.s3.amazonaws.com/public_assets/pro/guides/facebook-call-to-action/step_4.jpg', class: 'one-whole block'
