.price-badge {
    margin          : 0;
    position        : absolute;
    left            : 0;
    top             : 1em;
    background-color: $blue;
    padding         : 0.5em 1em 0.5em 0.5em;
    color           : white;
    font-weight     : bold;
}
