.banner {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 150px;
    height  : 135px;
    z-index : 1000;
}

.beta {
    background-image    : image-url('beta.png');
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : 100%;
}
