/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn a:hover{
    text-decoration:none;
}

.btn {
    font-family     : 'Gotham-Medium';
    background-color: $light-grey;
    border          : 1px solid #DBD9D9;
    text-shadow     : 0 1px 0 white;
    padding         : 0.8em 0.9em;
    color           : #555;
    @include border-radius(3px);
    @include box-shadow(inset 0 0 4px #fff ,0 1px 1px rgba(0,0,0,0.12));
    @include background-image(linear-gradient(top, #fefefe,#f2f2f2));
}

.btn:active, .btn--active {
    background-color: #ebebeb;
    @include background-image(linear-gradient(top, #dad9d9, #ebebeb));
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.22),0 1px 0 rgba(255,255,255,0.4));
}

.btn.disabled, .btn:disabled{
    opacity: 0.55;
}

.btn__primary {
  text-transform: uppercase;
  color       : white;
  text-shadow : -1px -1px 0 #a34c30;
  border-color: darken($btnPrimaryBackground, 3%);
  @include background-image(linear-gradient(top, $btnPrimaryBackgroundHighlight, $btnPrimaryBackground));
  @include box-shadow(inset 0 0 4px $btnPrimaryBackgroundHighlight ,0 1px 1px transparentize($btnPrimaryBackground, 0.12));
  &:active, &.btn--active {
    background-color: $btnPrimaryBackgroundHighlight;
    border-color: darken($btnPrimaryBackground, 25%);
    border-bottom: none;
    @include background-image(linear-gradient(top, darken($btnPrimaryBackgroundHighlight, 5%), lighten($btnPrimaryBackgroundHighlight, 5%)));
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.5),0 1px 0 transparentize($btnPrimaryBackgroundHighlight, 0.6));
  }
}
// Warning appears are orange
.btn-warning {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}
// Danger and error appear as red
.btn-danger {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}
