/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn a:hover{
    text-decoration:none;
}

.btn.btn__large {
  font-size: 20px;
  padding  : 0.6em 2.5em;
}
.btn {
    font-weight     : bold;
    background-color: $light-grey;
    border          : 1px solid #DBD9D9;
    text-shadow     : 0 1px 0 white;
    //padding         : 0.8em 0.9em;
    //padding         : 11px;
    padding         : 0.8em;
    color           : #555;
    font-size       : 12px;
    @include border-radius($brand-round);
    @include background-image(linear-gradient(top, #fefefe,#f2f2f2));
    &:hover {
      @include background-image(linear-gradient(top, lighten(#fefefe, 3%), lighten(#f2f2f2, 3%)));
    }
}

.btn:active, .btn--active, .btn--active:hover {
    background-color: #ebebeb;
    @include background-image(linear-gradient(top, #dad9d9, #ebebeb));
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.22),0 1px 0 rgba(255,255,255,0.4));
}

.btn.disabled, .btn:disabled{
    opacity: 0.55;
}

.btn__primary {
  text-transform: uppercase;
  color       : white;
  text-shadow : -1px -1px 0 #a34c30;
  border-color: darken($btnPrimaryBackground, 3%);
  background-color: $orange;
  @include background-image(linear-gradient(top, $btnPrimaryBackgroundHighlight, $btnPrimaryBackground));
  //@include box-shadow(inset 0 0 4px $btnPrimaryBackgroundHighlight ,0 1px 1px transparentize($btnPrimaryBackground, 0.12));
  &:hover {
    @include background-image(linear-gradient(top, lighten($btnPrimaryBackgroundHighlight, 6%), lighten($btnPrimaryBackground, 6%)));
  }
  &:active, &.btn--active, &.btn--active:hover {
    background-color: $btnPrimaryBackgroundHighlight;
    border-color: darken($btnPrimaryBackground, 25%);
    border-bottom: none;
    @include background-image(linear-gradient(top, darken($btnPrimaryBackgroundHighlight, 5%), lighten($btnPrimaryBackgroundHighlight, 5%)));
    //@include box-shadow(inset 0 1px 5px rgba(0,0,0,0.5),0 1px 0 transparentize($btnPrimaryBackgroundHighlight, 0.6));
  }
}
.btn__danger {
  text-transform: uppercase;
    @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
  &:hover {
    @include buttonBackground(lighten($btnDangerBackground, 6%), lighten($btnDangerBackgroundHighlight, 6%));
  }
}
// Warning appears are orange
.btn-warning {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}
// Danger and error appear as red
// Success appears as green
.btn-success {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}
