/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.btn a:hover{
    text-decoration:none;
}

.btn.btn__large {
  font-size: 20px;
  padding  : 0.6em 2.5em;
}

.btn.btn__small {
    padding: 0.5em;
}

.btn.btn__plus {
    font-size: 16px;
    padding  : 5px 8px;
}
.btn {
    line-height     : 1;
    font-weight     : bold;
    background-color: $light-grey;
    border          : 1px solid #DBD9D9;
    text-shadow     : 0 1px 0 white;
    //padding         : 0.8em 0.9em;
    //padding         : 11px;
    padding         : 0.8em;
    color           : #555;
    font-size       : 12px;
    @include border-radius($brand-round);
    @include background-image(linear-gradient(top, #fefefe,#f2f2f2));
    &:hover {
      @include background-image(linear-gradient(top, lighten(#fefefe, 3%), lighten(#f2f2f2, 3%)));
    }
}

.btn:active, .btn--active, .btn--active:hover {
    background-color: #ebebeb;
    @include background-image(linear-gradient(top, #dad9d9, #ebebeb));
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.22),0 1px 0 rgba(255,255,255,0.4));
}

.btn.disabled, .btn:disabled{
    opacity: 0.55;
}

.btn__primary {
    text-transform: uppercase;
    color       : white;
    text-shadow : -1px -1px 0 #a34c30;
    border-color: darken($btnPrimaryBackground, 3%);
    background-color: $orange;
    @include background-image(linear-gradient(top, $btnPrimaryBackgroundHighlight, $btnPrimaryBackground));
    //@include box-shadow(inset 0 0 4px $btnPrimaryBackgroundHighlight ,0 1px 1px transparentize($btnPrimaryBackground, 0.12));
    &:hover {
        @include background-image(linear-gradient(top, lighten($btnPrimaryBackgroundHighlight, 6%), lighten($btnPrimaryBackground, 6%)));
    }
    &:active, &.btn--active, &.btn--active:hover {
        background-color: $btnPrimaryBackgroundHighlight;
        border-color: darken($btnPrimaryBackground, 10%);
        border-bottom: none;
        @include background-image(linear-gradient(top, darken($btnPrimaryBackgroundHighlight, 5%), lighten($btnPrimaryBackgroundHighlight, 5%)));
        //@include box-shadow(inset 0 1px 5px rgba(0,0,0,0.5),0 1px 0 transparentize($btnPrimaryBackgroundHighlight, 0.6));
    }
}
.btn__danger {
    text-transform: uppercase;
    font-weight: bold;
    @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
    &:hover {
        @include buttonBackground(lighten($btnDangerBackground, 6%), lighten($btnDangerBackgroundHighlight, 6%));
    }
}
// Warning appears are orange
.btn__warning {
    font-weight: bold;
    @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
    &:hover {
        @include buttonBackground(lighten($btnWarningBackground, 6%), lighten($btnWarningBackgroundHighlight, 6%));
    }
}
// Danger and error appear as red
// Success appears as green
.btn__success {
    text-transform: uppercase;
    @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
    &:hover {
        @include buttonBackground(lighten($btnSuccessBackground, 6%), lighten($btnSuccessBackgroundHighlight, 6%));
    }
    &.disabled, &[disabled] {
        cursor: default;
        @include buttonBackground(lighten($btnSuccessBackground, 15%), lighten($btnSuccessBackgroundHighlight, 15%));
    }
}
// Success appears as green
.btn__blue {
    text-transform: uppercase;
    @include buttonBackground($btnBlueBackground, $btnBlueBackgroundHighlight);
    &:hover {
        @include buttonBackground(lighten($btnBlueBackground, 6%), lighten($btnBlueBackgroundHighlight, 6%));
    }
    &.disabled, &[disabled] {
        cursor: default;
        @include buttonBackground(lighten($btnBlueBackground, 15%), lighten($btnBlueBackgroundHighlight, 15%));
    }
}

.btn__facebook {
    text-transform  : uppercase;
    text-shadow     : -1px -1px 0 darken($facebookBlue, 10%);
    color           : white;
    border-color    : darken($facebookBlue, 3%);
    background-color: $facebookBlue;
    padding         : 1em;
    vertical-align  : middle;
    display         : inline-block;
    @include background-image(none);
    &:hover {
        @include background-image(none);
        background-color: lighten($facebookBlue, 5%);
    }
    &:before {
        content         : 'f';
        text-transform  : lowercase;
        display         : inline-block;
        padding-left    : 15px;
        font-size       : 25px;
        vertical-align  : middle;
        margin-right    : 15px;
        padding-right   : 15px;
        margin-top      : -2px;
        border-right    : 1px solid darken($facebookBlue, 8%);
    }
}
