.course-element.selected {
    background-color: $grayLighter;
}

.course-element:hover {
    .book-online-button{
        visibility: visible;
    }
}
.course-element {
    .book-online-button{
        visibility: hidden;
    }
    font-weight     : 200;
    padding         : 1em 0.5em;
    display         : table;
    background-color: $white;
    margin-bottom   : 1em;
    @include box-shadow(1px 1px 3px $graySmooth);
    @include box-sizing(border-box);
    @include transition(background-color 250ms linear);
    &:hover {
        text-decoration : none !important;
        background-color: $beige;
    }
    > div, article {
        display: table-cell;
        @include vendor(box-sizing, border-box);
        margin: 0;
    }
    p, ul {
        color: $grayDarker;
    }
    @include font-size(14px);
    img {
        @include box-sizing(border-box);
    }

    ul, p, .hN {
        margin-bottom: 0;
    }
}
    .course-content{
        vertical-align: top;
    }

    .course-image{
        padding       : 0.3em;
        vertical-align: middle;
        position      : relative;
        margin-right  : 1em;
        max-width     : 10em;
        img {
            display: block;
        }
    }

    .search-list-info {
        margin-bottom: 0;
    }

    .subject {
        display: inline;
    }

    .week_days {
        li:first-child {
            text-transform: capitalize;
        }
    }

    .course-element-structure-name {
        margin-bottom: 0;
        display      : inline;
        font-size    : 13px;
    }
