.lesson-element, .training-element {
    font-weight: 200;
    p, ul {
        color: $grayDarker;
    }
    @include font-size(14);
    img {
        @include box-sizing(border-box);
    }
    a:hover {
        text-decoration: none;
        background-color: $light-grey;
    }
    a {
        padding: 0.5em;
        display: table;
        > div {
            display: table-cell;
            vertical-align: top;
            @include vendor(box-sizing, border-box);
            margin: 0;
        }
    }
    ul, p, .hN {
        margin-bottom: 0;
    }
    .hN span {
        vertical-align: middle;
    }
}
.lesson-price, .training-price {
    text-align: right;
    color: $grayDarker;
    @include font-size(12);
}


.lesson-image, .training-image {
    padding       : 0.3em;
    vertical-align: middle;
}

.search-list-info {
    margin-bottom: 0;
}

.discipline {
    display: inline;
}
