.course-header-badge {
    position: relative;
    .map, .map_container {
        width : 15em;
        height: 15em;
    }
}
// .course-header-badge-image {

// }

.course-header-title {
    position        : absolute;
    left            : 0;
    top             : 1em;
    background-color: $blue;
    padding         : 0.5rem;
    color           : white;
}
