.course-header-map {
    position: relative;
    .map_container {
        margin: 0;
    }
}
    .course-header-structure-name {
        position        : absolute;
        bottom          : 0;
        width           : 100%;
        padding         : 0.3em;
        background-color: $brandColor;
        color           : white;
        margin-bottom   : 0;
        font-size       : 12px;
    }

.course-header-badge {
    font-size: 0;
    > div {
        display  : inline-block;
        overflow : hidden;
        margin   : 0;
        width    : 50%;
        height   : 215px;
        font-size: 12px;
    }
}

.course-header-image {
    position    : relative;
}

.course-title {
    margin-bottom: 0;
    > span {
        vertical-align: middle;
        font-weight   : normal;
    }
    .map-marker-image {
        position       : static;
        font-size      : 12px;
        display        : inline-block;
        vertical-align : middle;
    }
}
.course-price {
    position        : relative;
    color           : $grayDarker;
    vertical-align  : middle;
    text-align      : right;
    font-size       : 0.75em;
    line-height     : 1;
    p {
        margin-bottom: 10px;
    }
    .map-marker-image {
        top  : 0;
        right: 0;
    }
}

.course-block-wrapper {
    margin-bottom: 1em;
}
    .course-block:after {
        position            : absolute;
        bottom              : -1em;
        left                : 0;
        width               : 100%;
        height              : 1em;
        background          : url(image-path('home-page/course-bottom.png'));
        background-position : top;
        background-size     : 100%;
        background-repeat   : no-repeat;
        content             : '';
    }
    .course-block {
        @include box-shadow(0 -1px 3px $grayLighter);
        @include box-sizing(border-box);
        position        : relative;
        display         : inline-block;
        margin          : 0 1em 1em 0;
        padding         : 0.5em;
        background-color: white;
        &:hover {
            text-decoration: none;
        }
    }
    .course-block-title {
        margin-bottom: 0;
        color: $blueGreen;
    }
    .course-block-caption {
        @extend .milli;
        margin-bottom: 0;
        color        : $grayLight;
    }
