.dropped-options{
    position: relative;
    width   : 15em;
    color   : $grayDarker;
    > ul, > div {
        width: 15em;
        @include box-sizing(border-box);
    }
    ul {
        z-index     : 15;
        position    : absolute;
        list-style  : none;
        margin      : 0;
        margin-top  : -2px;
        border      : 1px solid $grayLighter;
        border-top  : none;
        display     : none;
        @include border-bottom-radius($brand-round + 1);
        li:last-child {
            @include border-bottom-radius($brand-round);
        }
        li {
            cursor          : pointer;
            background-color: $white;
            padding         : 0;
            > input {
                margin-left: 0.5em;
                width: 15%;
            }
            > label { width: 75%; }
            > label, > input {
                display: inline-block;
                padding         : 0.5em 0;
            }
        }
        li:nth-of-type(odd) {
            background-color: $alternativeBackground;
        }
        li:hover {
            background-color: $brand-color;
            color           : white;
        }
    }
}
    .dropped-options-title:after {
        @extend  .icon-caret-down;
    }
    .dropped-options-title {
        position        : relative;
        overflow        : hidden;
        text-overflow   : ellipsis;
        white-space     : nowrap;
        cursor          : pointer;
        background-color: $white;
        padding         : 5px 2em 5px 1em;
        border          : 1px solid $graySmooth;
        @include border-radius(3px);
    }
    .dropped-options-icon {
        margin-right: 5px;
    }
    .dropped-options-caret-icon {
        right   : 10px;
        position: absolute;
    }
