quote {
    font-style: italic;
}
u {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.red {
    color: $redLight;
}

hr {
    border       : none;
    border-bottom: 1px inset $beigeDarker;
}
