.main-footer {
    background-color: $homescreenBackground;
    padding-top     : 1em;
    padding-bottom  : 2em;
    color           : $grayLight;
    @extend .milli;
    .flexbox__item {
        vertical-align: top;
    }
    .nav li {
        margin-right: 3em;
    }
    @include media-query(palm) {
        .nav {
            text-align: center;
        }
        .flexbox, .flexbox__item {
            padding: 0 1em;
            @include box-sizing(border-box);
        }
        .flexbox__item .flexbox__item {
            padding: 0;
        }
        .flexbox, .flexbox .flexbox {
            display: block;
        }
        .flexbox__item, .flexbox__item .flexbox__item { display: inline-block; }
    }
}
