.main-footer {
    background-color: $homescreenBackground;
    padding-top     : 1em;
    padding-bottom  : 2em;
    color           : $grayLight;
    @extend .milli;
    .flexbox__item {
        vertical-align: top;
    }
    .nav li {
        margin-right: 3em;
    }
}
