.inline-form {
    display: inline;
}

.simple_form {
    .input {
        margin: 10px 0;
        @extend .ilb-wrapper;
        @extend .align-middle;
        select {
            width: auto;
        }
        input, textarea {
            @extend .two-thirds;
            //width : 70%;
        }
        .control-label {
            @extend .one-third;
            //width         : 30%;
        }
    }
        .control-label {
            // display       : inline-block;
            // vertical-align: middle;
            //width         : 20em;
            text-align    : right;
            padding-right : 1em;
        }
    .form-header-group {
        border-bottom: solid 1px $graySmooth;
        text-align   : right;
        @extend .one-third;
    }
    .label--header{
        font-weight: bold;
        width      : auto;
    }
    textarea.text {
        height: 5em;
        width : 24.5em;
        &.textarea-description {
            height: 20em;
            width : 100%;
        }
    }
    .required {
        abbr {
            border: none;
        }
    }
    .input.boolean {
        @extend .cf;
        label {
            float: left;
        }
        input {
            margin-top: 0.5em;
        }
    }
}
.form-actions {
    padding-left: 30%;
}

.field-form-info {
    font-style: italic;
    color     : $grayLight;
    text-align: right;
}

.helper-label:after {
    content             : '?';
    display             : inline-block;
    vertical-align      : middle;
    width               : 25px;
    height              : 25px;
    text-align          : center;
    font-weight         : bold;
    margin-left         : 3px;
    background-image    : image-url('icons/bulle.png');
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : 100%;
    color               : white;
    text-shadow         : $gray;
    @media \0screen {
        background: none;
        filter    : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image-path('icons/bulle.png')}',sizingMethod='scale')";
    }
}
