.header {
    background-color: #efeff1;
    @include background-image(linear-gradient(top, #fefefe,#efeff1));
    padding         : 1em 0.5em;
    @include font-size(12);
    .nav {
        margin-bottom: 0;
        margin-left  : 1em;
    }
}

a.header-link:link {
    color       : $grayLight;
    //text-shadow : 0 1px 0 $grayLight;
    font-weight: bold;
}
