.header {
    @include media-query(palm) { text-align: center; };
    @include media-query(lap) { text-align: center; };
    background-color: #efeff1;
    padding         : 0;
    border-bottom   : 1px solid darken($beigeDark, 10%);
    overflow        : hidden;
    display         : table;
    width           : 100%;
    &, .main-container {
        height     : 60px;
    }
    @include background-image(linear-gradient(top, $beige, darken($beigeDark, 7%)));
    @include font-size(12px);
    .nav {
        margin-bottom: 0;
        margin-left  : 1em;
    }
    .logo {
        height  : 40px;
        width   : 200px;
        display : block;
        img {
            width         : 100%;
        }
    }
}
.header--pro {
    &, .main-container {
        line-height: 1;
        height     : auto;
    }
    .logo {
        display: block;
        height : 50px;
        width  : 262px;
    }
}
a.header-link {
    color       : $grayLight;
    font-weight : bold;
    margin-left : 0.5em;
    font-size   : 13px;
}
.nav-links-wrapper {
    @include media-query(palm) { display: none!important; };
    @include media-query(lap) { display: none!important; };
    .active {
        font-weight: bold;
    }
}
.espace-pro-nav {
    padding-left: 100px;
    @include media-query(palm) { padding-left: 0; };
}
    .espace-pro-wrapper {
        position: relative;
    }
        .espace-pro {
            @include media-query(palm) { background-image: none; };
            background-image    : image-url('header/espace-pro.png');
            background-repeat   : no-repeat;
            background-position : center center;
            background-size     : 100%;
            position            : absolute;
            top                 : -10px;
            left                : -90px;
            width               : 75px;
            height              : 40px;
        }
