.header {
    background-color: #efeff1;
    padding         : 0;
    border-bottom   : 1px solid $graySmooth;
    @include background-image(linear-gradient(top, #fefefe,#efeff1));
    @include font-size(12px);
    .nav {
        margin-bottom: 0;
        margin-left  : 1em;
    }
    .logo img {
        height   : 4.3em;
        max-width: 100%;
    }
}

a.header-link:link {
    color       : $grayLight;
    font-weight: bold;
}
