.flip {
    @include vendor(transform, scaleX(-1));
    filter: FlipH; /* IE 6/7/8 */
}

.ilb-wrapper {
    font-size: 0;
    > i, > p, > div, > ul, > span, > a, > img {
        font-size     : $base-font-size;
        display       : inline-block;
        vertical-align: top;
    }
    &.align-middle {
        > p, > div, > ul, > span, > a, > img {
            vertical-align: middle;
        }
    }
}

.blue {
    color: $blueGreen !important;
}
.orange {
    color: $orange;
}

.small-margin-bottom {
    margin-bottom: 0.5em;
}

.no-margin {
    margin: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.smaller-print {
    font-size: 0.8em;
}
