/*------------------------------------*\
    $Input
\*------------------------------------*/

input[type=search] {
    -webkit-appearance: none;
}
input {
    cursor        : text;
    border        : 1px solid #ccc;
    padding       : 5px;
    vertical-align: middle;
    @include vendor(border-box, box-sizing);
    @include border-radius(3px);
    @include font-size(16px);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 #000);
    //@include transition(border linear 0.2s, box-shadow linear 0.2s);

}
input:focus {
    border-color: opacify($brandColor, 0.8);
    outline     : 0;
    @include box-shadow(0 0 4px opacify($brandColor, 0.8),0 0 0 #000);
}
