/*------------------------------------*\
    $Links
\*------------------------------------*/

//a:link, a:visited {
a {
    color          : $brandColor;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.current a{
    text-decoration: none;
}

a.selected {
    font-weight: bold;
}
