/*------------------------------------*\
    $Links
\*------------------------------------*/

a:link, a:visited {
    color  : $brandColor;
}

.current a{
    text-decoration: none;
}

a.selected {
    font-weight: bold;
}
