.main-container {
    max-width: $siteMaxWidth;
    margin   : auto;
    padding  : 1em 0;
    @include media-query(lap-and-up) {
        min-width: $siteMaxWidth;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1185px;
    }
}
