.main-container {
    max-width: $siteMaxWidth;
    margin   : auto;
    padding  : 1em 0;
    min-width: $siteMaxWidth;
    //@include media-query(lap-and-up) {
    //}
    @media screen and (min-width: 1200px) {
        max-width: 1185px;
    }
}
