.map-marker {
    display         : inline-block;
    padding         : 2px;
    background-color: $brand-color;
    border          : solid 1px darken($brand-color, 10%);
    border-radius   : 2px;
    text-align      : center;
    &, a {color: white;}
}
.map-paris {
    position: relative;
    .map-marker {
        position: absolute;
    }
}

.paris-1  { left: 43% ; top: 46% ; }
.paris-2  { left: 43% ; top: 38% ; }
.paris-3  { left: 54% ; top: 43% ; }
.paris-4  { left: 47% ; top: 50% ; }
.paris-5  { left: 45% ; top: 59% ; }
.paris-6  { left: 40% ; top: 54% ; }
.paris-7  { left: 30% ; top: 48% ; }
.paris-8  { left: 29% ; top: 33% ; }
.paris-9  { left: 42% ; top: 29% ; }
.paris-10 { left: 51% ; top: 31% ; }
.paris-11 { left: 60% ; top: 48% ; }
.paris-12 { left: 65% ; top: 65% ; }
.paris-13 { left: 50% ; top: 73% ; }
.paris-14 { left: 34% ; top: 72% ; }
.paris-15 { left: 23% ; top: 64% ; }
.paris-16 { left: 13% ; top: 43% ; }
.paris-17 { left: 28% ; top: 25% ; }
.paris-18 { left: 45% ; top: 16% ; }
.paris-19 { left: 64% ; top: 25% ; }
.paris-20 { left: 73% ; top: 41% ; }
