/*------------------------------------*\
    $PAGINATION override
\*------------------------------------*/
.page-entries-wrapper {
    margin        : 1em 0;
    padding-bottom: 1em;
    border-bottom : 1px solid $beigeDarker
}
.page-entries {
    text-align: center;
    @include font-size(14px);
}

.pagination {
    margin-bottom: 0;
    margin-left  : 0;
}
.text--right .pagination {
    text-align: right;
}
