.slideshow {
    margin: 0;
    text-align: center;
    &{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
        .caption {
            position        : absolute;
            bottom          : 0;
            z-index         : 4;
            width           : 100%;
            padding         : 1em;
            &, a {
                color: $graySmooth;
                b {
                    color: $grayLighter;
                }
            }
            a:hover {
                text-decoration: none;
            }
            span {
                margin: 0 0.5em;
            }
            span:last-child {
                margin-right: 4em;
            }
            @include background-image(linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.7)));
        }
    }
}

.slideshow-controller {
    position: absolute;
    bottom  : 1em;
    right   : 2em;
    margin  : 0;
    z-index: 15;
    li.active {
        background-color: $graySmooth;
    }
    li {
        margin-left     : 0.3em;
        cursor          : pointer;
        display         : inline-block;
        width           : 0.75em;
        height          : 0.75em;
        background-color: $gray;
        @include border-radius(2px);
    }
}
