.summary {
    border       : 1px solid $graySmooth;
    margin-bottom: 1em;
    @include border-radius(4px);
}
    .summary-title {
        text-align   : center;
        margin-bottom: 0;
        border-bottom: 1px solid #CCC;
        padding      : 1em 0;
    }
    .summary-list {
        li:last-child {
            border: none;
        }
        margin-bottom: 0;
    }
