.tab-titles {
    @extend .nav;
    border-bottom: 1px solid $graySmooth;
    margin-top   : 1em;
    margin-bottom: 0em;
}
    .tab-el {
        padding     : 0.4em 1em;
        margin-right: 0.2em;
        color        : $brandColor;
        border       : 1px solid $beigeDark; // To prevent size to change on hover
        //border-bottom-color: $graySmooth;
        border-bottom: none;
        @include border-top-radius(3px);
        &:hover {
            background-color: $beige;
            cursor          : pointer;
            border          : 1px solid darken($grayLighter, 5%);
        }
        &.active:hover {
            background-color: $siteBackgroundColor;
            cursor       : default;
        }
        &.active {
            color               : black;
            border              : 1px solid $graySmooth;
            position            : relative;
            top                 : 1px;
            border-bottom-color : $siteBackgroundColor;
        }
    }


.tab-pane {
    display    : none;
    padding-top: 1em;
    &.active{
        display: block;
    }
}
