/**
 * Selectable table
 */
 table.table--selectable tbody tr {
    @extend .selectable;
}

/**
 * Striped tables
 */
.table--striped{
    tbody {
        tr:nth-of-type(odd){
            background-color: $alternativeBackground;
        }
        tr.selectable:nth-of-type(odd){
            @extend .selectable;
        }
    }
}

/**
 * Data table
 */
.table--data{
    @include font-size(13px);
    td {
        padding: 0.8em;
    }
}
