<div class="grid--full">
    <div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn one-whole text--center" data-behavior="select-all"><i class="fa fa-check"></i></div>
    </div>{{!--

--}}<div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn one-whole text--center" data-behavior="manage-tags"><i class="fa fa-tags"></i></div>
    </div>{{!--

--}}<div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn one-whole text--center" data-behavior="rotate"><i class="fa fa-undo"></i></div>
    </div>{{!--

--}}<div class="grid__item eight-twelfths very-soft"></div>{{!--

--}}<div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn--red one-whole text--center" data-behavior="unlock"><i class="fa fa-cogs"></i></div>
    </div>
<div>
<div data-behavior="details">
    <div class="grid--full very-soft hidden" data-target="select-all">
        <div class="grid__item three-twelfths">
            <p>You've selected 30 records.</p>
        </div>{{!--
    --}}<div class="grid__item two-twelfths">
            <p>Select the rest?</p>
        </div>{{!--
    --}}<div class="grid__item one-twelfth">
            <div class="outlined-btn one-whole text--center" data-behavior="add-tags">SELECT</div>
        </div>
    </div>

    <div class="grid--full very-soft hidden" data-target="manage-tags">
        <div class="grid__item one-twelfth">
            <label for="tag-action"><strong>Tag:</strong></label>
        </div>{{!--
    --}}<div class="grid__item four-twelfths">
            <input id="tag-action" type="text" data-value="tag-names"></input>
        </div>{{!--
    --}}<div class="grid__item one-twelfth">
            <div class="outlined-btn one-whole text--center" data-behavior="add-tags">ADD</div>
        </div>
    </div>
</div>

<table class="white-box table--striped table--data">
  <thead>
    <tr>
      <th width='5%' class="text--center hard">Action</th>
      <th width='40%'>Email</th>
      <th width='15%'>Prénom</th>
      <th width='15%'>Nom</th>
      <th width='25%'>Tags</th>
      <th width='5%'></th>
      <th width='5%'></th>
    </tr>
  </thead>
  <tbody data-type="container">

  </tbody>
</table>
<div class="additional-actions">
    <div class="btn btn--small btn--green btn--round" data-behavior="commit"><i class="fa fa-check"></i></div>
    <div class="btn btn--small btn--red   btn--round" data-behavior="cancel"><i class="fa fa-times"></i></div>
</div>
