<div data-type="loader" class="text--center" style="display: none;">
  <img src="<%= asset_path 'gifs/loading-indicator.gif' %>"/ class="center-block" height="10">
</div>

<table class="table--striped table--data">
  <thead>
    <tr>
      <th style="width :5%" class="text--center hard"><input type="checkbox" data-behavior="bulk-select"></input></th>
      <th class="pointer nowrap" style="width: 26%" data-sort="email">Email</th>
      <th class="pointer nowrap" style="width: 17%" data-sort="first_name">Prénom</th>
      <th class="pointer nowrap" style="width: 17%" data-sort="last_name">Nom</th>
      <th style="width: 30%">Étiquettes</th>
      <th style="width: 5%" class="text--center"><i class="fa fa-phone"></i></th>
      <th style="width: 5%"></th>
    </tr>
  </thead>
  <tbody data-type="container">

  </tbody>
</table>
