<div class="grid--full">
    <div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn one-whole text--center" data-behavior="select-all"><i class="fa fa-check"></i></div>
    </div>{{!--

--}}<div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn one-whole text--center" data-behavior="tag"><i class="fa fa-tags"></i></div>
    </div>{{!--

--}}<div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn one-whole text--center" data-behavior="rotate"><i class="fa fa-undo"></i></div>
    </div>{{!--

--}}<div class="grid__item eight-twelfths very-soft"></div>{{!--

--}}<div class="grid__item one-twelfth very-soft">
        <div class="outlined-btn--red one-whole text--center" data-behavior="unlock"><i class="fa fa-cogs"></i></div>
    </div>
<div>
<div data-behavior="details">
    <div class="grid--full">
        <div>
            <label for="tag-action">Tag:</label><input id="tag-action" type="text" data-value="tag-name"></input>
        </div>
    </div>
</div>

<table class="white-box table--striped table--data">
  <thead>
    <tr>
      <th width='5%' class="text--center hard">Action</th>
      <th width='40%'>Email</th>
      <th width='15%'>Prénom</th>
      <th width='15%'>Nom</th>
      <th width='25%'>Tags</th>
      <th width='5%'></th>
      <th width='5%'></th>
    </tr>
  </thead>
  <tbody data-type="container">

  </tbody>
</table>
<div class="additional-actions">
    <div class="btn btn--small btn--green btn--round" data-behavior="commit"><i class="fa fa-check"></i></div>
    <div class="btn btn--small btn--red   btn--round" data-behavior="cancel"><i class="fa fa-times"></i></div>
</div>
