<table class="white-box table--striped table--data">
  <thead>
    <tr>
      <th class="text--center hard">Action</th>
      <th>Email</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-type="container">

  </tbody>
</table>
