<div class="grid__item v-middle one-fifth">
    <strong class="gray">Mots clés</strong>
</div><!--
--><div class="grid__item v-middle four-fifths">
    <div class="search-input-wrapper relative" style="display:block;">
        <input id="search-input" size=50 placeholder="Mots clés (Ex. : Bob, gmail.com, jk)" type="search" name="name" autocomplete="off"></input>
    </div>
</div>

