<div class="grid push-half--bottom">
    <div class="grid__item v-middle four-tenths text--right soft-half--right">
        <label class="label--large">Rechercher un contact : </label>
    </div><!--
    --><div class="grid__item v-middle six-tenths palm-one-whole">
        <input class="one-whole input--large" size="50" placeholder="Mot clé (Ex. : Patrick, jack@gmail.com, etc.)" type="search" name="name" autocomplete="off"></input>
    </div>
</div>
