<div class="grid">
    <div class="grid__item v-middle four-tenths text--right soft-half--right">
        <label class="label--large">Filtrer par étiquette :</label>
    </div><!--
    --><div class="grid__item v-middle six-tenths palm-one-whole">
        <div class="editable-tag-bar active">
            <div class="taggies-container v-middle" data-type="taggies-container">
            {{#each tags}}
                {{!-- we need zero space around the tag text --}}
                <span class="taggy--tag nowrap" data-value="{{ this }}">{{!--
                --}}{{ this }}{{!--
                --}}<i class="fa-times cursor-pointer" data-behavior="destroy"></i>
                </span>
            {{/each}}
            </div>
            <input class="taggy--input input--small" type="text" style="display:none;"></input>
        </div>
    </div>

</div>
