{{#if total }}
<div class="grid__item one-half">
    <strong class="gray">{{ total }} établissements</strong>
</div><div class="grid__item one-half text--right">
    <label class="gray inline">Trier par :</label>
    <a onclick="_gaq.push(['_trackEvent', 'Trier établissement / popularité', 'click'])" href="{{ popularity_query }}" data-type="filter" data-value="rating_desc" class="{{#if sort_by_popularity}}bold{{/if}} filter-select">Popularité</a>
    /
    <a onclick="_gaq.push(['_trackEvent', 'Trier établissement / pertinence', 'click'])" href="{{ relevancy_query }}" data-type="filter" data-value="relevancy" class="{{#if sort_by_relevance}}bold{{/if}} filter-select">Pertinence</a>
</div>
{{else}}
    <p class="brand epsilon text--center">Aucun résultat ne correspond à vos critères.</p>
{{/if}}
