

<header class="push-half--bottom">
    <div class="one-whole" data-type="pagination-top"></div>
</header>

<div id="search-results">
</div>

<footer class="push-half--bottom">
    <div class="one-whole" data-type="pagination-bottom"></div>
</footer>

