<header class="push-half--bottom">
    <div class="one-whole" data-type="pagination-top"></div>
</header>

<div class="white-box white-box--noshadow islet" data-behavior="sticky-controls">
    <div data-type="bulk-action-controls"></div>
    <div data-type="keyword-filter"></div>
    <div data-type="tag-filter"></div>
</div>

<div id="search-results">
</div>

<footer class="push-half--bottom">
    <div class="one-whole" data-type="pagination-bottom"></div>
</footer>

