
<section class="filtered-search__list-wrapper">

    <header class="flexbox page-entries-wrapper soft-half">
        <div class="one-whole" data-type="pagination-tool"></div>
    </header>

    <div id="search-results">
    </div>

</section>
