<header class="push-half--bottom">
    <div class="one-whole" data-type="pagination-top"></div>
</header>

<div class="border-none--sides white-box islet" data-behavior="sticky-controls">
    <div data-type="bulk-action-controls"></div>
</div>

<div id="search-results">
</div>

<footer class="push-half--bottom">
    <div class="one-whole" data-type="pagination-bottom"></div>
</footer>

