- failure = false if failure.nil?
.grid--full.text--center
  .grid__item.text--center.v-middle.relative{ style: 'width: 20%;' }>
    %a.muted-link.blue-box.soft-half.block.word-break-normal.epsilon.f-weight-bold{ href: pro_structure_subscription_plans_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN) }
      %i.fa-shopping-cart.fa.fa-2x.block.soft-half--bottom
      Formule Premium
  .grid__item.one-twelfth.text--center.v-middle{ style: 'width: 6%;' }>
    %i.fa-chevron-right.fa.fa-2x
  .grid__item.text--center.v-middle.relative{ style: 'width: 20%;' }>
    %a.muted-link.soft-half.block.word-break-normal.epsilon{ href: new_pro_structure_subscription_plan_url(@structure, subdomain: CoursAvenue::Application::PRO_SUBDOMAIN, premium_type: params[:premium_type]), class: ( ['recap', 'payment', 'validation'].include?(current) ? 'blue-box f-weight-bold' : 'white-box')}
      %i.fa-eye.fa.fa-2x.block.soft-half--bottom
      Récapitulatif
  .grid__item.one-twelfth.text--center.v-middle{ style: 'width: 6%;' }>
    %i.fa-chevron-right.fa.fa-2x
  .grid__item.text--center.v-middle.relative{ style: 'width: 20%;' }>
    %a.muted-link.soft-half.block.word-break-normal.epsilon{ class: ( ['payment', 'validation'].include?(current) ? 'blue-box f-weight-bold' : 'white-box')}
      %i.fa-credit-card.fa-2x.block.soft-half--bottom
      Paiement
  .grid__item.one-twelfth.text--center.v-middle{ style: 'width: 6%;' }>
    %i.fa-chevron-right.fa.fa-2x
  .grid__item.text--center.v-middle.relative{ style: 'width: 20%;' }>
    %a.muted-link.soft-half.block.word-break-normal.epsilon.white-box{ class: ( current == 'validation' ? 'blue-box f-weight-bold' : 'white-box')}
      - if failure
        %i.fa-times.fa.fa-2x.block.soft-half--bottom
      - else
        %i.fa-check.fa.fa-2x.block.soft-half--bottom
      Activation
