.panel
  .panel__header.soft
    .delta.line-height-normal
      %h3.flush Souhaitez-vous vous désabonner ?
  .panel__body.soft
    %p
      Nous sommes désolés d'apprendre cette nouvelle. Pour faire le point et comprendre ensemble les raisons de votre résiliation, contactez l'un nos conseillers au 09 82 24 27 74 (du lundi au vendredi de 9h30 à 18h) qui analysera le trafic apporté grâce à nos campagnes de communication ciblées, notamment sur
      = image_tag 'pro/logo-adword.png', height: 20, class: 'v-middle'
      et
      = image_tag 'pro/logo-facebook.png', height: 24, class: 'v-middle'
      Pour rappel, voici les fonctionnalités que vous allez perdre si vous vous désabonnez :
    %p
      %strong Apport de trafic supplémentaire ciblé -
      Pour nos profils Premium, nous pilotons au quotidien plusieurs actions de communication très ciblées, et nous investissons de larges sommes sur Google AdWords et Facebook. Ainsi, votre trafic augmente et devient de plus en plus qualifié.
    %p
      %strong Visibilité accrue -
      Votre profil apparaît en tête de liste et sur tous les profils proposant les mêmes disciplines que vous et situés à quelques kilomètres de vos lieux de cours.

    %p
      %strong Mise en avant de vos offres découvertes -
      Recrutez efficacement de nouveaux élèves en leur proposant des offres spéciales : cours d'essai gratuits, tarifs spéciaux sur des stages... Vous remplissez ainsi vos cours et fidélisez de nouveaux élèves tout au long de l'année. Les profils proposant des offres découvertes apparaissent en tête de liste sur CoursAvenue.
    %p
      %strong Statistiques avancées -
      Avec CoursAvenue Premium, vous suivez les performances de votre profil de manière à l'optimiser et à toujours mieux répondre aux attentes des élèves.

    .grid
      .grid__item.one-half>
        %a.btn.btn--full.btn--green{ onclick: '$.fancybox.close();' } Ne pas me désabonner
      .grid__item.one-half>
        = link_to 'Me désabonner', confirm_cancellation_pro_structure_subscription_plan_path(@structure, @subscription_plan), class: 'btn btn--full btn--red fancybox.ajax',  data: { behavior: 'modal', width: '600', padding: 0 }
