= side_menu_currently_at 'Clicks'

%table.white-box.table--data.table--striped
  %thead
    %tr
      %th Nom
      %th # clicks
  %tbody
    - @click_logs.each do |structure_id, count|
      - structure = Structure.find(structure_id)
      %tr
        %td= link_to structure.name, structure_url(structure)
        %td= count

