:javascript
  $('#save-and-leave').click(function() {
      $('#save-and-add-planning-input').val('false');
  });
  $('textarea').textareaResizer();
  setTimeout(function() {
      $('#loader').hide();
      $('#content').show();
  }, 400);
  $('[data-trial-select]').change(function() {
      $('#course_no_trial').val('0')
      switch($(this).val()) {
          case 'not-free':
              $('[data-trial-price-input]').removeClass('hidden');
              break;
          case 'free':
              $('[data-amount]').val(0);
              $('[data-trial-price-input]').addClass('hidden');
              break;
          case 'none':
              $('#course_no_trial').val('1')
              $('[data-trial-price-input]').addClass('hidden');
              break;
      }
  });
  $('[data-behavior=show-more-on-demand]').showMoreOnDemand();

- if @course.is_private?
  :javascript
    if ($('[name="course[audience_ids][]"]').length > 0) {
        $('[name="course[audience_ids][]"]').change(function(event) {
            if (event.target.value == '1') {
                if (event.target.checked) {
                    $('#children-ages').removeClass('hidden');
                } else {
                    $('#children-ages').addClass('hidden');
                }
            }
        });
    }
    $('#course_place_id').change(function() {
        $('#course_place_id_checkbox')[0].checked = (this.value != '');
        if (this.value != '') { $('#delete_course_place_id').val(''); }
    });
    $('#course_place_id_checkbox').change(function() {
        if (this.checked == false) {
            $('#delete_course_place_id').val('true');
            $('#course_place_id').val('');
        } else {
            $('#delete_course_place_id').val('');
        }
    });
    $('#course_on_appointment').change(function() {
        if (this.value == 'true') {
            $('#save-and-add-planning-input').val('false');
            $('#save-and-add-planning').val('Enregistrer');
        } else {
            $('#save-and-add-planning-input').val('true');
            $('#save-and-add-planning').val('Enregistrer et ajouter mes disponibilités');
        }
    });
    $('#course_on_appointment').change()
