%h3.line-height-2.gamma.soft-half--bottom.push-half--bottom.f-weight-bold
  Tous les articles avec le tag :
  = params[:tag]

%hr

- @articles.each_with_index do |article, index|
  = render partial: 'blog/articles/article', locals: { article: article }
  %hr
.text--center.push-half--ends= paginate @articles, window: 1, outer_window: 3
