.push--bottom
  %h3.flush.inline-block.v-middle Tous les articles avec le tag :
  .inline-block.v-middle.lbl= params[:tag]

- @articles.each do |article|
  = render partial: 'blog/articles/article', locals: { article: article }

.text--center.push-half--ends= paginate @articles, window: 1, outer_window: 3
