.text--center
  %h3.push--top Aucune séance trouvé
  = link_to 'Chercher par cours', courses_path(name: params[:name]), class: 'btn btn__large btn__success', onclick: "_gaq.push(['_trackEvent', 'Chercher par cours', 'click', 'Après recherche établissement vide"
