.text--center
  %h3.push--top Aucun établissement trouvé
  = link_to 'Chercher par cours', courses_path(name: params[:name]), class: 'btn btn--large btn--success', onclick: "_gaq.push(['_trackEvent', 'Chercher par cours', 'click', 'Après recherche établissement vide"
