.text--center.ie-blocker<
  .text--center.soft--top<
    = image_tag 'logo.png', height: 70
  %h1.push--top.soft--top< Bonjour cher visiteur,
  %p<
    Votre navigateur est obsolète et ne permet pas une navigation correcte sur CoursAvenue.
    %br<
    Veuillez mettre à jour votre navigateur ou installez une version récente d'un autre navigateur.
  = link_to 'Mettre à jour votre navigateur', 'http://windows.microsoft.com/fr-fr/internet-explorer/download-ie', class: 'btn btn--blue btn--large'
