<!DOCTYPE PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
  <html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta content="text/html; charset=utf-8" httpequiv="Content-Type">
      <title>Les élèves recommandent leurs meilleurs cours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
    <body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important">
        <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important">
          <td width="100%" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f1f1f1;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;width:100% !important">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
              <tr>
                <td width="700">
                  <table border="0" cellpadding="0" cellspacing="0" width="700" style="margin-bottom: 10px;">
                    <tr valign="bottom">
                      <td width="350">
                        <img border="0" height="20" src="" width="1" />
                        <br>
                        <a href="https://www.coursavenue.com" target="_blank" style="color:#049CDB;text-decoration:none"><img alt="Gagnez en visibilité gratuitement sur Google et développez votre bouche à oreille" height="50" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/logo_com.png" style="-ms-interpolation-mode:bicubic;" width="294" />
                        </a>
                      </td>
                      <td width="350">
                      <p style="font-size: 12px; text-align: right; margin-bottom: 5px">
                        <a target="_blank" href="https://pro.coursavenue.com/pages/livre-d-or" style="font-size: 12px; color:#049CDB;text-decoration:none">Votre livre d'Or</a>
                        <span style="color: #555; font-size: 12px;">|</span>
                        <a target="_blank" href="https://pro.coursavenue.com/pages/offre-et-tarifs" style="font-size: 12px; color:#049CDB;text-decoration:none">Nos offres</a>
                        <span style="color: #555; font-size: 12px;">|</span>
                        <a target="_blank" href="https://pro.coursavenue.com/pages/journees-portes-ouvertes" style="font-size: 12px; color:#049CDB;text-decoration:none">Journées Portes Ouvertes</a>
                      </p>
                      </td>
                    </tr>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="700">
                    <tr>
                      <td width="700" style="box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;border:1px solid #DDD;-webkit-border-radius:2px;-moz-border-radius:2px;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;-ms-border-radius:2px;margin-bottom:22px !important">
                        <table border="0" cellpadding="15" cellspacing="0" width="700">
                          <tr>
                            <td valign="middle" width="520">
                              <h4 style="display: inline; font-weight:bold;padding-bottom:0;font-size:18px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:0;margin-top:0;margin-bottom:0px;color:#444444 !important">
                                Gagnez en visibilité gratuitement sur Google
                              </h4>
                              <h5 style="display: inline; font-weight:normal;padding-bottom:0;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:0;margin-top:0;margin-bottom:0px;color:#444444 !important">
                                et développez votre bouche à oreille grâce à votre profil CoursAvenue, le 1er moteur de recherche de cours basé sur les recommandations des élèves :
                              </h5>
                              <p style="color:#666;font-size:14px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;font-weight:normal;padding-top:0;padding-bottom:0;text-align:left;margin:20px auto 0px auto">
                                <a target="_blank" href="https://pro.coursavenue.com/etablissements/inscription?email=[[EMAIL_TO]]" style="-o-border-radius:2px;line-height:1;font-weight:bold;border:1px solid #DBD9D9;padding:0.5em 0.8em;font-size:12px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;white-space:normal;border-radius:2px;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.5);-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.5);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.5);text-transform:uppercase;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#47b442;background-repeat:repeat-x;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#47b442;background-image:linear-gradient(top, #fefefe, #f8f8f8);text-decoration:none;color:white">
                                Créer mon profil gratuit
                                </a>
                              </p>
                              <p style="margin: 20px 0 0 0;">
                                <a target="_blank" href="https://pro.coursavenue.com/pages/journees-portes-ouvertes" style="font-size: 12px; color:#049CDB;text-decoration:none">
                                  Inscrivez-vous avant le 10/02/14 pour participer à nos Journées Portes Ouvertes 2014.
                                </a>
                              </p>
                            </td>
                            <td align="center" style="padding-right: 15px;" valign="middle" width="75">
                              <a href="https://www.coursavenue.com" target="_blank" style="color:#049CDB;text-decoration:none">
                              <img alt="CoursAvenue" width="120" height="120" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/100k_visites.png" style="-ms-interpolation-mode:bicubic;" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <img border="0" height="15" src="http://coursavenue.com" width="1" />
                  <br>
                </td>
              </tr>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
              <tr>
                <td width="700" style="box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;border:1px solid #DDD;-webkit-border-radius:2px;-moz-border-radius:2px;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;-ms-border-radius:2px;margin-bottom:22px !important">
                  <table align="center" border="0" cellpadding="10" cellspacing="0" width="700">
                    <tr valign="top">
                      <td colspan="4">
                        <h4 style="font-weight:bold;padding-bottom:0;font-size:18px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:0;margin-top:0;margin-bottom:0px;color:#444444 !important">CoursAvenue à Paris : + de 1 000 profils déjà créés</h4>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 15%; text-align: right">
                        <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/compagnie-self-retorik">
                          <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/structure_logos/self_retorik.jpg" style="-ms-interpolation-mode:bicubic;" width="100" height="100"/>
                        </a>
                      </td>
                      <td style="width: 35%;">
                        <p style="color:#666;font-size:12px;line-height:18px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/compagnie-self-retorik">
                            <strong style="font-size: 14px">Compagnie Self-Retorik</strong>
                            <br />
                            <i>Clown</i>
                            <br />
                            <span style="font-size: 14px">« Grande générosité sur le plateau ! »</span>
                          </a>
                          <br />
                          <a target="_blank" href="https://www.coursavenue.com/etablissements/compagnie-self-retorik" style="font-size: 12px; color:#049CDB;text-decoration:none">Lire les 60 avis</a>
                        </p>
                      </td>
                      <td style="width: 15%;">
                        <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/cours-peyran-lacroix">
                          <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/structure_logos/cours_peyran_lacroix.jpg" style="-ms-interpolation-mode:bicubic;" width="100" height="100"/>
                        </a>
                      </td>
                      <td style="width: 35%;">
                        <p style="color:#666;font-size:12px;line-height:18px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-top:0;padding-bottom:0;font-weight:normal">
                          <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/cours-peyran-lacroix">
                            <strong style="font-size: 14px">Cours Peyran Lacroix</strong>
                            <br />
                            <i>Formation d'acteurs</i>
                            <br />
                            <span style="font-size: 14px">« Un cours qu'on ne veut pas quitter! »</span>
                          </a>
                          <br />
                          <a target="_blank" href="https://www.coursavenue.com/etablissements/cours-peyran-lacroix" style="font-size: 12px; color:#049CDB;text-decoration:none">Lire les 14 avis</a>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 15%;; text-align: right">
                        <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/studio-muller">
                          <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/structure_logos/studio_muller.jpg" style="-ms-interpolation-mode:bicubic;" height="100" width="100" />
                        </a>
                      </td>
                      <td style="width: 35%;">
                        <p style="color:#666;font-size:12px;line-height:18px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/studio-muller">
                            <strong style="font-size: 14px">Studio Muller</strong>
                            <br />
                            <i>Formation d'acteurs</i>
                            <br />
                            <span style="font-size: 14px">« Un enseignement concret, technique ! »</span>
                          </a>
                          <br />
                          <a target="_blank" href="https://www.coursavenue.com/etablissements/studio-muller" style="font-size: 12px; color:#049CDB;text-decoration:none">Lire les 14 avis</a>
                        </p>
                      </td>
                      <td style="width: 15%;; text-align: right">
                        <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/benarso">
                          <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/structure_logos/benarso.jpg" style="-ms-interpolation-mode:bicubic;" height="100" width="100" />
                        </a>
                      </td>
                      <td style="width: 35%;">
                        <p style="color:#666;font-size:12px;line-height:18px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          <a target="_blank" style="text-decoration: none; color: inherit;" href="https://www.coursavenue.com/etablissements/benarso">
                            <strong style="font-size: 14px">Benarso</strong>
                            <br />
                            <i>Théâtre amateurs, improvisation</i>
                            <br />
                            <span style="font-size: 14px">« Une expérience inoubliable ! »</span>
                          </a>
                          <br />
                          <a target="_blank" href="https://www.coursavenue.com/etablissements/benarso" style="font-size: 12px; color:#049CDB;text-decoration:none">Lire les 11 avis</a>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <a target="_blank" style="font-size: 12px; color:#049CDB;text-decoration:none" href="https://www.coursavenue.com/etablissements?utf8=%E2%9C%93&subject_id=theatre-scene&address_name=Paris&lat=48.8592&lng=2.3417&page=1&sort=rating_desc">Voir tous les profils de théâtre & scène à Paris.</a>
                      </td>
                    </tr>
                   </table>
                </td>
              </tr>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="700" style="margin-top:22px !important">
              <tr>
                <td width="700" style="box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;background:white;border:1px solid #DDD;-webkit-border-radius:2px;-moz-border-radius:2px;-moz-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 3px #dddddd, 2px 2px 9px #eeeeee, 4px 4px 24px #eeeeee;-ms-border-radius:2px;margin-bottom:22px !important">
                  <table align="center" border="0" cellpadding="10" cellspacing="0" width="700">
                    <tr valign="top">
                      <td colspan="4" style="margin-bottom:22px !important">
                        <h4 style="font-weight:bold;padding-bottom:0;font-size:18px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:0;margin-top:0;margin-bottom:0px;color:#444444 !important">Avantages du profil gratuit</h4>
                      </td>
                    </tr>
                    <tr valign="middle">
                      <td style="width: 10%; margin-bottom:22px !important">
                        <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/referencement.png" style="-ms-interpolation-mode:bicubic;" width="75" height="75"/>
                      </td>
                      <td style="width: 40%; margin-bottom:22px !important">
                        <p style="color:#666;font-size:14px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          Référencement Internet optimisé grâce à vos avis
                        </p>
                      </td>
                      <td style="width: 10%; margin-bottom:22px !important">
                        <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/enveloppe.png" style="-ms-interpolation-mode:bicubic;" width="75" height="75"/>
                      </td>
                      <td style="width: 40%; margin-bottom:22px !important">
                        <p style="color:#666;font-size:14px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          Mise en relation gratuite avec les élèves CoursAvenue
                        </p>
                      </td>
                    </tr>
                    <tr valign="middle">
                      <td style="width: 10%; margin-bottom:22px !important">
                        <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/book.png" style="-ms-interpolation-mode:bicubic;" width="75" height="75"/>
                      </td>
                      <td style="width: 40%; margin-bottom:22px !important">
                        <p style="color:#666;font-size:14px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          <a target="_blank" style="font-size: 14px; color:#049CDB;text-decoration:none" href="https://pro.coursavenue.com/pages/livre-d-or">
                          Livre d'Or
                          </a>
                          sur votre propre site Internet
                        </p>
                      </td>
                      <td style="width: 10%; margin-bottom:22px !important">
                        <img alt="CoursAvenue" src="https://s3-eu-west-1.amazonaws.com/coursavenue-public/icons/door.png" style="-ms-interpolation-mode:bicubic;" width="75" height="75"/>
                      </td>
                      <td style="width: 40%; margin-bottom:22px !important">
                        <p style="color:#666;font-size:14px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;;padding-top:0;padding-bottom:0;font-weight:normal">
                          Participation à nos
                          <a target="_blank" style="font-size: 14px; color:#049CDB;text-decoration:none" href="https://pro.coursavenue.com/pages/journees-portes-ouvertes">Journées Portes Ouvertes</a>
                          (avril 2014)
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table align="center" border="0" cellpadding="5" cellspacing="0" width="700">
              <tr>
                <td width="700">
                  <p style="color:#717171;font-size:12px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:normal">
                  Vous recevez cet email car un élève vous a recommandé à notre équipe CoursAvenue.</p>
                  <a style="color:#717171;font-size:12px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal" href="[[UNSUB_LINK_FR]]">Cliquez ici pour vous désabonner</a>
                  <br>
                  <img border="0" height="10" src="http://coursavenue.com" width="1" />
                  <br>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
  </html>
