!!!
%html.no-js{ lang: 'fr' }
  %head
    %meta{ charset: 'utf-8' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Raleway:500,400,300,600,700', rel: 'stylesheet', type: 'text/css' }
    = wicked_pdf_stylesheet_link_tag "application", media: 'all'
  %body
    = yield
