!!!
%html.no-js{ lang: 'fr' }
  %head
    %meta{ charset: 'utf-8' }
    = wicked_pdf_javascript_include_tag "modernizr" # MUST BE In the Head and before CSS
    = wicked_pdf_stylesheet_link_tag "application", media: 'all'
  %body
    = yield
    = wicked_pdf_javascript_include_tag 'application.pro'
