- content_for :email_title do
  Bienvenue sur CoursAvenue ! Pour commencer, vous devez confirmer votre adresse e-mail.

.p Bonjour,

.p
  Pour commencer, vous devez confirmer votre adresse e-mail :

.p.action
  = link_to 'Confirmer mon e-mail', user_confirmation_url(confirmation_token: @token), class: 'btn btn--green'

.p.blue.blue-tip
  Trucs & astuces : depuis votre profil, renseignez vos passions pour recevoir des invitations à des cours d'essai gratuits.

= render 'shared/mailers/footer'

= content_for :under_content do
  = render 'user_mailer/footer_info'
