.panel
  .panel__header
    = image_tag 'texts/student_teacher_registration.png', height: 55, class: 'block center-block'
  .panel__body.soft
    .grid
      .grid__item.one-half>
        %h3.text--center.f-decoration-underlined Élèves
      .grid__item.one-half>
        %h3.text--center.flush.f-decoration-underlined Pro
        %h5.flush.text--center
          %i Profs, Associations, Écoles
    .grid
      .grid__item.one-half.bordered--right.soft-half--right>
        #form.soft-half--top
          = render 'users/registrations/form'
        #other_form.hidden
          = render 'users/sessions/form'

      .grid__item.one-half>
        .text--center.soft-half--top
          = link_to 'Créer mon profil pro', inscription_pro_structures_url(subdomain: CoursAvenue::Application::PRO_SUBDOMAIN), class: 'btn btn--green'


:javascript
  $('#new_user').submit(function(){
    if ($('#user_first_name').val().length === 0 ||
        $('#user_last_name').val().length === 0 ||
        $('#user_password').val().length === 0 ||
        $('#user_email').val().length === 0 ||
        $('#user_password').val().length === 0) {
      COURSAVENUE.helperMethods.flash('Tous les champs ne sont pas remplis', 'alert');
      return false
    }
    return true;
  });

  $('#show_new_session_form').click(function(){
      $('#other_form').removeClass('hidden');
      $('#form').addClass('hidden');
      $('#facebook_button').text("Se connecter avec Facebook");
  });

  $('#show_new_registration_form').click(function(){
      $('#form').removeClass('hidden');
      $('#other_form').addClass('hidden');
      $('#facebook_button').text("S'inscrire avec Facebook");
  });
