.text--center
  %div= link_to "S'enregistrer avec Facebook", user_omniauth_authorize_path('facebook'), class: 'btn btn__facebook', id: 'facebook_button'
  .or
    %span ou

#form
  = render 'form'

#other_form.hidden
  = render 'users/sessions/form'


:javascript
  $('new_user').addEvent('submit', function(){
    if ($('user_first_name').get('value').length === 0 ||
        $('user_last_name').get('value').length === 0 ||
        $('user_password').get('value').length === 0 ||
        $('user_email').get('value').length === 0 ||
        $('user_password').get('value').length === 0) {
      new GLOBAL.Objects.Flash('Tous les champs ne sont pas remplis').showAndHide();
      return false
    }
    return true;
  });

  $('show_new_session_form').addEvent('click', function(){
    $('other_form').removeClass('hidden');
    $('form').addClass('hidden');
    $('facebook_button').set('text', "Se connecter avec Facebook")
  });

  $('show_new_registration_form').addEvent('click', function(){
    $('form').removeClass('hidden');
    $('other_form').addClass('hidden');
    $('facebook_button').set('text', "S'enregistrer avec Facebook")
  });

