- if @user and @user.errors.any?
  - # Just show the form if the users try to subscribe and there are errors
  .white-box.center-block.islet{ style: 'max-width: 500px;' }
    = render 'users/registrations/form'
- else
  - content_for :above_container do
    .relative
      .main-container
        .grid.absolute.z-index-1
          .grid__item.one-half.soft>
            %h1.white-text-shadow Rejoignez notre communauté et accédez à tous nos cours gratuits.
          .grid__item.one-half.soft>
            .white-box.soft{ style: 'width: 400px;' }
              #form
                = render 'users/registrations/form'
              #other_form.hidden
                = render 'users/sessions/form'


    = content_for :scripts do
      :javascript
        $(function() {
            // For registration
            $('#new_user').submit(function(){
              if ($('#user_first_name').val().length === 0 ||
                  $('#user_last_name').val().length === 0 ||
                  $('#user_password').val().length === 0 ||
                  $('#user_email').val().length === 0 ||
                  $('#user_password').val().length === 0) {
                COURSAVENUE.helperMethods.flash('Tous les champs ne sont pas remplis', 'alert');
                return false
              }
              return true;
            });
            $('#show_new_session_form').click(function(){
              $('#other_form').removeClass('hidden');
              $('#form').addClass('hidden');
              $('#facebook_button').text("Se connecter avec Facebook");
            });
            $('#show_new_registration_form').click(function(){
              $('#form').removeClass('hidden');
              $('#other_form').addClass('hidden');
              $('#facebook_button').text("S'inscrire avec Facebook");
            });
        });

  .main-container
    %h1.text--center.blue.push
      Rejoignez les 10 000 élèves déjà inscrits sur CoursAvenue

    .push--bottom.soft--bottom
      .delta.soft-half
        %i.fa-check.green
        Visualisez tous les cours d'essai gratuits autour de chez vous ;
      .delta.soft-half
        %i.fa-check.green
        100% gratuit, simple, sans engagement ;
      .delta.soft-half
        %i.fa-check.green
        Communiquez avec votre professeur et gérez vos avis ;
      .delta.soft-half
        %i.fa-check.green
        Découvrez de nouvelles passions et suivez l'actualité de toutes vos disciplines préférées (événements, expositions, stages, etc.) ;
      .delta.soft-half
        %i.fa-check.green
        Bénéficiez d'offres uniquement offertes aux membres CoursAvenue ;
      .delta.soft-half
        %i.fa-check.green
        Participez à nos "Journées Portes ouvertes des cours de loisirs".
